<h1>Table of Contents (Everything in Python is an Object)<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Variables-&amp;-Data-Types-In-Python" data-toc-modified-id="Variables-&amp;-Data-Types-In-Python-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Variables &amp; Data Types In Python</a></span><ul class="toc-item"><li><span><a href="#Data-Types" data-toc-modified-id="Data-Types-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Data Types</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#You-can-perform-Airthmatic-Operations-between-Numerical-datas-including-Complex-data" data-toc-modified-id="You-can-perform-Airthmatic-Operations-between-Numerical-datas-including-Complex-data-1.1.0.1"><span class="toc-item-num">1.1.0.1&nbsp;&nbsp;</span>You can perform Airthmatic Operations between Numerical datas including Complex data</a></span></li></ul></li></ul></li><li><span><a href="#Data-types-Conversion" data-toc-modified-id="Data-types-Conversion-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Data types Conversion</a></span></li></ul></li><li><span><a href="#Variables" data-toc-modified-id="Variables-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Variables</a></span><ul class="toc-item"><li><span><a href="#Lists" data-toc-modified-id="Lists-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Lists</a></span><ul class="toc-item"><li><span><a href="#Perform-Insert,-Remove-&amp;-Replace-task-at-a-time" data-toc-modified-id="Perform-Insert,-Remove-&amp;-Replace-task-at-a-time-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Perform Insert, Remove &amp; Replace task at a time</a></span></li></ul></li><li><span><a href="#Tuples" data-toc-modified-id="Tuples-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Tuples</a></span></li><li><span><a href="#Set" data-toc-modified-id="Set-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Set</a></span></li><li><span><a href="#Dictionary" data-toc-modified-id="Dictionary-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Dictionary</a></span></li><li><span><a href="#Range" data-toc-modified-id="Range-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Range</a></span></li></ul></li></ul></div>

# Variables & Data Types In Python

## Data Types
#### You can perform Airthmatic Operations between Numerical datas including Complex data
1. Integer
2. Float
3. Complex
4. Bool
5. String

In [3]:
Integer = 10        # Integer
print(10)
print(type(10))       # Check the type
10

10
<class 'int'>

10

In [5]:
print(10 + 10) # Expression got calculated & printed by print() command
24 + 23 # Expression got calculated but thrown away
30 + 30 # Last line expression got printed by default

20

60

In [6]:
print(False + False)
print(True + True)
print(True, "True", False, "False", bool("True"), bool("False"), str(True), str(False), int(True), int(False))
print(10 + 22.5 + False + 12+9j) # Addition of Integer, Float, Boolean, Complex
print(10 + 22.5 + True + 12+9j) # Addition of Integer, Float, Boolean, Complex
print(0 * 12+9j) # 0 will be multiplied with 12 Real part
print(12+9j * 0) # 0 will be multiplied with 9j imaginary part
print(10 * 22.5 * False + 12+9j * True)
print(10 * 22.5 * False + 12+9j * False)

0
2
True True False False True True True False 1 0
(44.5+9j)
(45.5+9j)
9j
(12+0j)
(12+9j)
(12+0j)

## Data types Conversion

In [7]:
# Complex data is convertible to boolean only
# You can't Convert the complex into Integer
print(int(10+10j)) # Complex is not convertible to Integer

# Complex data is not convertible to any other data type except Boolean
# You can't Convert the complex into float
Complex = 10+10j
Float = float(10+10j)  # Complex is not convertible to Float
print(Float)

TypeError: can't convert complex to int

In [16]:
print(bool(10+10j)) # Complex is convertible to boolean data only
print(bool(0-0j))   # When both real & imaginary part will have Zero 0

# Converting Complex into Boolean
Complex = 10+10j
Boolean = bool(Complex)
print(Boolean)

# Converting Integer into Boolean
Boolean1 = bool(23)
print(Boolean1)

# Converting Float into Boolean
Boolean2 = bool(17.78)
print(Boolean2)

# Converting Float into Complex
Complex3 = complex(79.33)
print(Complex3)

print(complex(98), complex(78.67), complex(True), complex(False)) # Integer 98 got converted into complex

True
False
True
True
True
(79.33+0j)
(98+0j) (78.67+0j) (1+0j) 0j

In [17]:
print(bool(""))  # Converting blank string into boolean resulting False
print(bool(" ")) # Converting string with space into boolean resulting True

False
True

In [18]:
print(bool(10+10j), bool(0+0j), bool(0+0j))       # Complex data has been transformed into boolean
# To be transferred into False, both Real & imaginary part must be in 0 zero format

True False False

In [19]:
print(12.33, int(12.33))     # Convert the float into integer
print(66.77, int(66.77)) # 66.77 has been transformed into integer 66

12.33 12
66.77 66

In [20]:
print(12.33, int(12.33), complex(12.33)) # 12.33 has been converted into integer 12

12.33 12 (12.33+0j)

In [21]:
print(37, float(37), complex(37), bool(37))  # Convert the Integer 37 into float 37.00
print(22, float(22), complex(22), bool(22))  # Convert the Integer 22 into float 22.00
print(int(99.55), complex(99.55), bool(99.55))     # Convert float into Integer
print(67, float(67), int(67.67), complex(67.67), bool(67.67)) # 67 has been converted into float 67.0 & 67.67 has been converted into integer 67

37 37.0 (37+0j) True
22 22.0 (22+0j) True
99 (99.55+0j) True
67 67.0 67 (67.67+0j) True

In [22]:
# You can Convert the complex into Boolean
Complex = 10+10j
Boolean = bool(Complex)
print(Boolean)

# Converting Integer into Complex
Complex1 = complex(89)
print(Complex1)

# Converting Float into Complex
Complex2 = complex(89.33)
print(Complex2)
print(89-5j, bool(89+5j), bool(0-0j)) # Complex data has been transformed into boolean True
                                      # To be transferred into False, both Real & imaginary part must be in 0 zero format

True
(89+0j)
(89.33+0j)
(89-5j) True False

In [23]:
# Integer, Float & Boolean has been converted into Complex
print(complex(34), complex(45.56), complex(True), complex(False))

(34+0j) (45.56+0j) (1+0j) 0j

In [24]:
# False means 0, True means 1
Bool1 = False   #Bool
Bool2 = True
print(Bool1), print(Bool2)
print(int(Bool1)), print(int(Bool2)) # Converting Boolean into Integer
type(Bool1), type(Bool2)
print(int(True), int(False))

False
True
0
1
1 0

In [27]:
# Integer, Float, Boolean has been converted into Complex
print(complex(22.33), complex(67), complex(22.33), complex(False), complex(True), float(True), float(False), int(True), int(False))

(22.33+0j) (67+0j) (22.33+0j) 0j (1+0j) 1.0 0.0 1 0

In [28]:
# Int value of False is always 0, and True is 1
# Convert Bool into int
Integer1 = int(False)
Integer2 = int(True)
print(Integer1), print(Integer2)
type(Integer1), type(Integer2)

0
1

(int, int)

In [29]:
# Boolean can be converted into string
print(str(True), str(False), "True", "False")

True False True False

In [30]:
# Convert Integer, Float, Complex, String, Empty String, String with Space.... into boolean

print(bool(67), bool(0.00), bool(67.89), bool(-89+7j), bool(0+0j), bool("String"), bool(""), bool(" "))

Integer1 = 18
Integer2 = -18
Integer3 = 0
Float1 = 25.55
Float2 = -25.55
Float3 = 0.00
print(bool(18))
print(bool(-18))
print(bool(0))
print(bool(25.55))
print(bool(-25.55))
print(bool(0.00))
print(bool(10-10j))
# Converting Complex into Boolean
Complex = 10+10j
Boolean = bool(Complex)
print(Boolean)
print(bool(10-10j))

True False True True False True False True
True
True
False
True
True
False
True
True
True

In [31]:
print(bool(18))
print(bool(-18))
print(bool(0))  # Converting 0 into Boolean will always be False
print(bool(-0)) # Converting 0 into Boolean will always be False
print(bool(18.88))
print(bool(-18.88))
# integer, float, boolean has been converted into complex data
print(complex(-18), complex(0), complex(-0), complex(18.88), complex(-18.88), complex(True), complex(False))

True
True
False
False
True
True
(-18+0j) 0j 0j (18.88+0j) (-18.88+0j) (1+0j) 0j

In [32]:
String1 = 'Animesh'    # String
String2 = "Anwesh"   # String
print(String1), print(String2)

# Converting String into Boolean
Boolean = bool('Boolean')
print(Boolean)

type(String1), type(String2), type(Boolean)
print(int(bool("Anwesh")))

Animesh
Anwesh
True
1

In [33]:
# No of letters/alphabets in a "string" element
len(String1), len(String2)

(7, 6)

In [34]:
# Type the Element value & you will get its frequency/repeatation
# Here the Single String is "AnwneAnshA"
# Type any sigle alphabet/part of the String inside String.count() and you will get the repeatation of that alphabet/part
String = "AnwneAnshA"
# String.count("An")   How many times "An" is within the word "AnwneAnshA"
print(String.count("An"), String.count("n"), String.count("A"), String.count("A"), len(String))

2 3 3 3 10

### String indexing & Slicing
1. Strings are immutable, you can't add(Element), append([E1, E2, E3)) []List format, extend([E1, E2, E3]), pop(Index), remove(Element), discard(Element), insert(Index, [E1, E2, E3]) []List format, swap, sort(), shuffle() & replace letters of string
2. Additionaly add(Element), discard(Element) is applicable for Sets only
3. remove(Element) is applicable for List & Set only.

In [35]:
String = "AnwneAnshA"
print(String.index("A"), String.index("s"), String.index("h"))  # Index of first appearance. It doesn't include repeatations.
print(String[0:len(String)])                                    # Index of one letter at at time, single element
print(String[0::2])                    # print from index 0 to last by Hopping 2 elements cycle
print(String[0:4])                   # print from index 0 to 4 excluding upperbound
print(String[2:7:2])                 # print from index 2 to 7 excluding upperbound by Hopping 2 elements cycle
print(String[:4])                    # print from start index to 4 excluding upperbound
print(String[3::2])                    # print from 3rd index to last by hopping 2 elements cycle

0 7 8
AnwneAnshA
Awenh
Anwn
wen
Anwn
nAsA

In [36]:
print(String.index("An"))
print(String.count("An"))
print(String.index("n"))
print(String.count("n"))

0
2
1
3

In [37]:
StringSlice1 = String[0:7]       # Slicing from String from index 0 to 7 excluding upperbound
print(StringSlice1)

StringSlice2 = String[0:7:2]    # Slicing from String from index 0 to 7 excluding upperbound by hopping 2 elements cycle
print(StringSlice2)

print(String[0:len(String)])

AnwneAn
Awen
AnwneAnshA

In [38]:
String2 = "SpiderMan"

StringConcat = String[3:5] + String[2:4] + String[-3] + String2[6:9]    # Concationg indivisual letters of strings to form a new string

print(StringConcat)

newnsMan

In [39]:
Spider = "SpiderMan"
Concat = Spider[1:7:2] + Spider[2:8:3]
print(Spider[1:7:2], Spider[2:8:3])
print(Concat)

pdr ir
pdrir

In [40]:
print(String2[:6])                  # print from staring 0th index to 6 excluding upperbound
print(String2[6:])                  # print from 6th index to last
print(String2[6:len(String2)])

Spider
Man
Man

In [24]:
import random

Name = "SpiderMan"
print(Name)

RandSam = random.sample(Name, len(Name))     # Randomly pick any 9 letters from String2, create list of it
print(RandSam)                               # You need to create seperate variable RandSam to store the Sample
RandSamJoin = "".join(RandSam)               # Rejoin the list
print(RandSamJoin)

SpiderMan
['n', 'i', 'd', 'r', 'a', 'p', 'M', 'S', 'e']
nidrapMSe

In [25]:
# This is way to shuffle a String
Name = "SpiderMan"
Splitter = list(Name)     # list() will convert & split the String into indivisual letters
print(Splitter)
random.shuffle(Splitter)
print(Splitter)
ShuffleJoin = "".join(Splitter)
print(ShuffleJoin)

['S', 'p', 'i', 'd', 'e', 'r', 'M', 'a', 'n']
['p', 'd', 'r', 'i', 'e', 'n', 'a', 'M', 'S']
pdrienaMS

In [39]:
# This is way to sort a String
Name = "7eAF1cB3d5GCb4Eg2aDf6"
Splitter = list(Name)
print(Splitter)
SortJoin = "".join(sorted(Splitter)) # first sort() sequence priority to the Integers -> Uppercase alphabets -> lowercase alphabets
print(SortJoin)

['7', 'e', 'A', 'F', '1', 'c', 'B', '3', 'd', '5', 'G', 'C', 'b', '4', 'E', 'g', '2', 'a', 'D', 'f', '6']
1234567ABCDEFGabcdefg

In [40]:
# This is way to sort a String
Name = "7eAF1cB3d5GCb4Eg2aDf6"
Splitter = list(Name)
print(Splitter)
Splitter.sort()
SortJoin = "".join(Splitter) # first sort() sequence priority to the Integers -> Uppercase alphabets -> lowercase alphabets
print(SortJoin)

['7', 'e', 'A', 'F', '1', 'c', 'B', '3', 'd', '5', 'G', 'C', 'b', '4', 'E', 'g', '2', 'a', 'D', 'f', '6']
1234567ABCDEFGabcdefg

In [38]:
Spider = "SpiderMan"
StringConcat = Spider[3:5] + Spider[2:4] + Spider[-3] + Spider[6:9]
print(StringConcat)

deidMMan

In [69]:
# Swap/interchange index location of the element letters in a String
Spider = "SpiderMan"
print(Spider)
Concat = Spider[6] + Spider[1:6] + Spider[0] + Spider[7:9] # Concat index string element letters
print(Concat)
Splitter = list(Spider) # Convert "SpiderMan" string into list()
print(Splitter)
Splitter[0], Splitter[6] = Splitter[6], Splitter[0] # Swap list() index string element letters 1,2 with 2,1
print(Splitter)
type(Splitter), len(Splitter)                 # Swap index string element letters 1,2 with 2,1
Swap = "".join(Splitter) # join() individual list() index string element letters without space ""
print(Swap)

SpiderMan
MpiderSan
['S', 'p', 'i', 'd', 'e', 'r', 'M', 'a', 'n']
['M', 'p', 'i', 'd', 'e', 'r', 'S', 'a', 'n']
MpiderSan

In [70]:
Spider = "SpiderMan"
print(Spider.replace("Spider", "Super")) # String "Spider" has been replaced by "Super"

SuperMan

In [71]:
String = "As above so below"
String[3:0] = "Chipmunk"   # Strings are immutable Object, you can't plugin new letters
print(String)

TypeError: 'str' object does not support item assignment

In [ ]:
String[2:5] = "Munukunu"   # You can't replace string letters with new ones
print(String)

In [72]:
String.append(["L", "M", "N"])         # [] List format in the end
print(String)

AttributeError: 'str' object has no attribute 'append'

In [73]:
String.add("H")           # add() works for Set only, One element at a time
print(String)

AttributeError: 'str' object has no attribute 'add'

In [74]:
String.extend(["P", "Y", "z"])   # Add multiple indivisual elements to the end
print(String)

AttributeError: 'str' object has no attribute 'extend'

In [75]:
String.pop()         # Delete last index element by default
print(String)

AttributeError: 'str' object has no attribute 'pop'

In [76]:
String.remove("n")       # remove() is applicable for List & Set only. Remove the mentioned string letter
print(String)

AttributeError: 'str' object has no attribute 'remove'

In [77]:
String.insert(2, "B")      # Plugin new string letter at the place of mentioned index
print(String)

AttributeError: 'str' object has no attribute 'insert'

In [78]:
String2.discard("M")           # discard() works for Set only
print(String2)

AttributeError: 'str' object has no attribute 'discard'

In [79]:
random.shuffle(String2)
print(String2)

NameError: name 'random' is not defined

In [80]:
String2.sort() # "String" is immutable
print(String2)

AttributeError: 'str' object has no attribute 'sort'

In [81]:
SingleQT = 'This is single quote string'
print(SingleQT)

DoubleQT = "This is double quote string"
print(DoubleQT)

InsideQT = "This is 'Single Quote' inside 'double' quote"
print(InsideQT)

Backlash = "Hello! \"I am Jaspreet\". How's is your Mother?"
print(Backlash)

Multi_Line = """This is Multi-Line paragraph.
It starts with "Triple Quotes" symbol &
also end's with the same.
Thanking you Anwesh!!!"""
print(Multi_Line)
len(SingleQT), len(DoubleQT), len(InsideQT), len(Backlash), len(Multi_Line)

This is single quote string
This is double quote string
This is 'Single Quote' inside 'double' quote
Hello! "I am Jaspreet". How's is your Mother?
This is Multi-Line paragraph.
It starts with "Triple Quotes" symbol &
also end's with the same.
Thanking you Anwesh!!!

(27, 27, 44, 45, 118)

In [82]:
# String is not convertible to any other data type except boolean
# You can't Convert the "String" into Integer
Integer1 = int(String1)
Integer2 = int(String2)
type(Integer1), type(Integer2), print(Integer1), print(Integer2)
print(bool(String1), bool(String2))

ValueError: invalid literal for int() with base 10: 'Animesh'

In [ ]:
A = String.count("An") # Count repeatation of "An" in string "AnwneAnshA" & save in A
B = String.count("n") # Count repeatation of "n" in string "AnwneAnshA" & save in B
C = String.count("A") # Count repeatation of "A" in string "AnwneAnshA" & save in C
print(A), print(B), print(C)
type(A), type(B), type(C)

In [83]:
X = String.count("An")
Float = 33.33
Complex = complex(real=X, imag=Float)             # Combine Integer & Float into Complex
print(Complex)                                    # Float will come into the imaginery part if you place it after comma

Comp1 = complex(real=10, imag=-23.44)
print(Comp1)

Comp2 = complex(real=-23, imag=-45)
print(Comp2)

Comp3 = complex(real=23, imag=99)
print(Comp3)

Comp4 = 67-8j
print(Comp4)

33.33j
(10-23.44j)
(-23-45j)
(23+99j)
(67-8j)

In [84]:
Integer = 67
Complex = complex(real=Float, imag=Integer)                     # Combine Integer & Float into Complex
print(Complex)                                  # Integer will come into the imaginery part if you place it after comma

(33.33+67j)

In [85]:
# Assign different data type values to different variables at once/at a time
Integer, Float, Complex, Bool, String = 10, 10.10, 10+10j, True, "Anwesh"
print(Integer, Float, Complex, Bool, String)
type(Integer), type(Float), type(Complex), type(Bool), type(String)

10 10.1 (10+10j) True Anwesh

(int, float, complex, bool, str)

# Variables
1. Lists
2. Dictionaries
3. Tuple
4. Sets
5. Range

## Lists
1. List.index(Element) #See the Index of mentioned element. One element at a time.
2. List[:] #List Indexing
3. List[::3] #List Indexing from start to end by hopping 3 elements cycle
4. List.append([e1, e2, e3])   #append in List[] format at the end position
5. List.insert(index, [e1, e2, e3, e4]) #insert new elements in List[] format at the place of mentioned index
6. List[Index:0] = e1, e2, e3, e4 #Plugin new elements at the place of mentioned index
7. List[Index:0] = [e1] #While plugging in single element e1 as array
8. List[index] = e1, e2, e3, e4 #Mentioned index element got replaced by e1, e2, e3, e4 elements. () tuple format
9. List[index] = e1 #Mentioned index element got replaced by single alone e1 element
10. List[index] = [e1, e2, e3, e4] #Mentioned index element got replaced by e1, e2, e3, e4 elements. [] list format
11. List[4:8] = e1, e2, e3, e4 #While replacing elements from index 4 to index 7
12. List[4:8] = [e1] # From 4 to 8 exclusive upperbound multiple index elements will be replaced by single element e1 as array
13. List.extend([e1, e2, e3, e4]) #Add multiple indivisual elements to the end position
14. List[len(List):0] = e1, e2, e3, e4 #Plugin new elements at the end position
15. List[len(List):0] = [e1]    # While plugging in single element e1
16. List3 = List1 + List2 #List Concatination
17. random.shuffle(List) #Shuffle the list elements Randomly
18. RandSam = random.sample(List, k=5) #Pick randomly 5 sample elements
19. List.pop() #By default delete the last Index element
20. List.pop(index) #delete the mentioned Index element
21. List.count(Element) #Count the mentioned Element frequency
22. List.remove(Element) #delete the mentioned Element, remove() is applicable for List & Set only
23. Additionally add(), discard() only works for Set #They don't work for List
24. List.sort() #When the List element data types are Integer, Float, Bool
25. min(List), max(List), sum(List) #When the List element data types are Integer, Float, Bool

In [86]:
# You can't perform Arithmatic operations between lists, only concatination is possible
# Creation of list ---- [], all elements of list come inside square bracket
# [] Write everything inside Square bracket, which creates list
# Whenever you want to fetch any specific value from List, mention the positional/location/index val inside List[] square bracket
# You can't perform Arithmatic operations between 2 or more Lists
# Homogenous list ----- list following only one datatype
# Nested List----- When you create multiple List inside a List
# You can't perform advanced indexing with List
# List is mutable variable, you can add, remove, insert, swap, sort, shuffle & replace elements of List

Homo1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] # List containing only integers
print(Homo1)

MixValues = ["KESHAV", 45+9j, True, 39.69, 39] # List containing all type of datas
print(MixValues)

NestList = ["KESHAV", 45+9j, True, 39.69, 39, Homo1] # Homo1 list has been taken inside NestList
print(NestList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['KESHAV', (45+9j), True, 39.69, 39]
['KESHAV', (45+9j), True, 39.69, 39, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]

In [87]:
MixValues[len(MixValues):0] = NestList   # Plugin new elements at the last end position index as indivisual elements
# EndPlugin = MixValues
print(MixValues)
len(MixValues)

['KESHAV', (45+9j), True, 39.69, 39, 'KESHAV', (45+9j), True, 39.69, 39, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]

11

In [88]:
print(MixValues[10])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [89]:
print(MixValues[-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [90]:
MixValues[len(MixValues):0] = [89]
print(MixValues)

['KESHAV', (45+9j), True, 39.69, 39, 'KESHAV', (45+9j), True, 39.69, 39, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 89]

In [91]:
MixValues[len(MixValues):0] = ["Ghajini"]               # Plugin string as an single array element
print(MixValues)

['KESHAV', (45+9j), True, 39.69, 39, 'KESHAV', (45+9j), True, 39.69, 39, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 89, 'Ghajini']

In [92]:
MixValues[4] = "Michiko" # 4th index element 39 got replaced by "Michiko"
print(MixValues)

['KESHAV', (45+9j), True, 39.69, 'Michiko', 'KESHAV', (45+9j), True, 39.69, 39, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 89, 'Ghajini']

In [93]:
MixValues[len(MixValues):0] = "Zoom", 45                # At the end position plugin "Zoom", 45
print(MixValues)

['KESHAV', (45+9j), True, 39.69, 'Michiko', 'KESHAV', (45+9j), True, 39.69, 39, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 89, 'Ghajini', 'Zoom', 45]

In [94]:
MixValues[4:0] = ["4th Index"]
print(MixValues)             # string "4th Index" got pluggedin at the place of 4th index position as array

['KESHAV', (45+9j), True, 39.69, '4th Index', 'Michiko', 'KESHAV', (45+9j), True, 39.69, 39, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 89, 'Ghajini', 'Zoom', 45]

In [95]:
# Creation of list ---- [] (inside square brackets)
# Homogenous list ----- list following only one datatype integer

List1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(List1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [96]:
# len() function tells about how many number of elements a variable/List have
len(List1), len(Homo1), len(MixValues), len(NestList)

(10, 10, 16, 6)

In [97]:
# List with heterogenous datatype elements
# Heterogenous list ---- list following multiple different datatype elements

Hetero1 = [10.10, 'Prashant', 10+10j, False, 10]
Hetero2 = ["KESHAV", 45+9j, True, 39.69, 39]
print(Hetero1)
print(Hetero2)
len(Hetero1), len(Hetero2)

[10.1, 'Prashant', (10+10j), False, 10]
['KESHAV', (45+9j), True, 39.69, 39]

(5, 5)

In [98]:
# Concatination of two lists Elements
Hetero3 = Hetero1 + Hetero2
print(Hetero3)
type(Hetero3), len(Hetero3)

[10.1, 'Prashant', (10+10j), False, 10, 'KESHAV', (45+9j), True, 39.69, 39]

(list, 10)

### List Indexing

In [99]:
# provide index locations of the elements and you will get the element datatypes

print(Hetero3[0], Hetero3[1], Hetero3[2], Hetero3[3], Hetero3[4])
type(Hetero3[0]), type(Hetero3[1]), type(Hetero3[2]), type(Hetero3[3]), type(Hetero3[4]) # Shows data types of each index

10.1 Prashant (10+10j) False 10

(float, str, complex, bool, int)

In [100]:
# Lets say you want to access single or multiple elements from the list 
# List1 --- Accessing Single Element
# To extract element in the list you will be using indexes Location

print(Hetero3[4])
type(Hetero3[4]) # Shows the 4th index element

10

int

In [101]:
print(Hetero3[2], Hetero3[4]) #shows 2nd and 4th index elements

(10+10j) 10

In [102]:
Hetero3[2,4] # Multiple/Advanced indexing doesnt work here with List, it works with Arrays
Hetero3[[2,4]]
Hetero3[[2],[4]]

TypeError: list indices must be integers or slices, not tuple

In [ ]:
# In Hetero3 3rd index element is False which is boolian data type
# False is not a "String" element
# 0th index letter of 3rd index element False is not possible

Hetero3[3][0]

In [103]:
# 1st index of Hetero3 List element "Prashant" and 0th index of it is P
print(Hetero3)
Hetero3[1][0]

[10.1, 'Prashant', (10+10j), False, 10, 'KESHAV', (45+9j), True, 39.69, 39]

'P'

In [104]:
# 1st index of Hetero3 List element "Prashant" and 0th index of it is P
print(Hetero3)
Hetero3[1][2:5]
Hetero3[5][2:5:2] # 5th Index. From 2nd to 5th exclusive Upperbound range element by hopping 2 elements cycle

[10.1, 'Prashant', (10+10j), False, 10, 'KESHAV', (45+9j), True, 39.69, 39]

'SA'

In [105]:
Hetero3.index("Prashant"), Hetero3.index(True) #Type the Element data value & you will get the index value of it

(1, 7)

In [106]:
Hetero3.index("KESHAV"), Hetero3.index(39.69), Hetero3.index(45+9j) #Type the Element data value & you will get the index value of it

(5, 8, 6)

In [107]:
# One element index at a time should be taken, multiple elements are not allowed

Hetero3.index("KESHAV", "Prashant")            #It doesn't work with Multiple elements at a time
Hetero3.index(["KESHAV", "Prashant"])
Hetero3.index(["KESHAV"], ["Prashant"])

TypeError: slice indices must be integers or have an __index__ method

In [108]:
print(Hetero3[1], Hetero3[2], Hetero3[3]) #shows 1st, 2nd and 3rd index elements
print(Hetero3[1:4]) #shows from 1st to 4th exclusive upperbound range elements
print(Hetero3)

Prashant (10+10j) False
['Prashant', (10+10j), False]
[10.1, 'Prashant', (10+10j), False, 10, 'KESHAV', (45+9j), True, 39.69, 39]

In [109]:
# To Extract the series of elements from a list or any other variable provide index range inside [:]
# [start_index:upperbound] -----> where upperbound = end_index + 1

print(Hetero3)
Hetero3[2:5] # shows from 2nd to 5th exclusive upperbound range elements

[10.1, 'Prashant', (10+10j), False, 10, 'KESHAV', (45+9j), True, 39.69, 39]

[(10+10j), False, 10]

In [110]:
print(Hetero3[2:len(Hetero3):2])   # print from 2nd to excluding upperbound length index by skipping 2 elements cycle

[(10+10j), 10, (45+9j), 39.69]

In [111]:
print(Hetero3[2::2])

[(10+10j), 10, (45+9j), 39.69]

### Perform Insert, Remove & Replace task at a time

In [112]:
Hetero3 = [10.1, "Prashant", 10+10j, False, 10, "KESHAV", 45+9j, True, 39.69, 39]
print(Hetero3)
type(Hetero3), len(Hetero3)

[10.1, 'Prashant', (10+10j), False, 10, 'KESHAV', (45+9j), True, 39.69, 39]

(list, 10)

In [113]:
#Hetero3.sort()
#print(Hetero3)
import random

RandSam = random.sample(Hetero3, k=len(Hetero3))       # Random sample size of same length without repeatation
print(RandSam)

random.shuffle(Hetero3)            # Randomly shuffle the Hetero3 elements
print(Hetero3)

[10, 'Prashant', False, (10+10j), 10.1, 39, 'KESHAV', True, 39.69, (45+9j)]
[(45+9j), (10+10j), 'Prashant', True, 10.1, 39.69, 'KESHAV', 10, False, 39]

In [114]:
# Perform Change/Replace a List element value with new one
# Provide index value [] = provide new value

print(Hetero3)
print(Hetero3[2])
Hetero3[2] = True                            # 2nd index element 10+10j got replaced by True
Hetero3[2:0] = 33+19j, "Khoja", "Goja"          # Plugin 3 new indivisual elements at the place of 2nd index
print(Hetero3[2])
print(Hetero3)
type(Hetero3)

Hetero3[2:0] = "Plugin", "New", "3Elements"   # Plugin 3 new indivisual elements at the place of 2nd index element 33+19j
print(Hetero3)

[(45+9j), (10+10j), 'Prashant', True, 10.1, 39.69, 'KESHAV', 10, False, 39]
Prashant
(33+19j)
[(45+9j), (10+10j), (33+19j), 'Khoja', 'Goja', True, True, 10.1, 39.69, 'KESHAV', 10, False, 39]
[(45+9j), (10+10j), 'Plugin', 'New', '3Elements', (33+19j), 'Khoja', 'Goja', True, True, 10.1, 39.69, 'KESHAV', 10, False, 39]

In [115]:
Hetero3[4:0] = [93+19j] # Plugging single element 93+19j as array
print(Hetero3)

[(45+9j), (10+10j), 'Plugin', 'New', (93+19j), '3Elements', (33+19j), 'Khoja', 'Goja', True, True, 10.1, 39.69, 'KESHAV', 10, False, 39]

In [224]:
print(Hetero3)
Hetero3[3:4] = 75, 78+7j, 45.98       # 3rd index element 'New' got replaced by 75, 48+7j, 45.98
print(Hetero3)

[(10+10j), False, 'Plugin', 'New', (93+19j), '3Elements', (33+19j), 'Khoja', 'Goja', True, 'Prashant', 39.69, (45+9j), 10, 10.1, 'KESHAV', 39]
[(10+10j), False, 'Plugin', 75, (78+7j), 45.98, (93+19j), '3Elements', (33+19j), 'Khoja', 'Goja', True, 'Prashant', 39.69, (45+9j), 10, 10.1, 'KESHAV', 39]

In [225]:
print(Hetero3)
Hetero3[3:7] = [45]   # In this case from 3 to 7 exclusive upperbound index elements got replaced by 45 as an array
print(Hetero3)        # From 3rd index element to 7th exclusive upperbound index elements got replaced by 45

[(10+10j), False, 'Plugin', 75, (78+7j), 45.98, (93+19j), '3Elements', (33+19j), 'Khoja', 'Goja', True, 'Prashant', 39.69, (45+9j), 10, 10.1, 'KESHAV', 39]
[(10+10j), False, 'Plugin', 45, '3Elements', (33+19j), 'Khoja', 'Goja', True, 'Prashant', 39.69, (45+9j), 10, 10.1, 'KESHAV', 39]

In [226]:
print(Hetero3)
Hetero3[3:7] = 99, 67.89-8j # From index 3 to 7 exclusive uppedbound index elements got replaced by 99, 67.89-8j
print(Hetero3)

[(10+10j), False, 'Plugin', 45, '3Elements', (33+19j), 'Khoja', 'Goja', True, 'Prashant', 39.69, (45+9j), 10, 10.1, 'KESHAV', 39]
[(10+10j), False, 'Plugin', 99, (67.89-8j), 'Goja', True, 'Prashant', 39.69, (45+9j), 10, 10.1, 'KESHAV', 39]

In [227]:
# Perform Change/Replace & Insert in a List element values with new values
# Provide index value range [:] = provide Replace value, provide Insert value
# 2nd index element 20+20j has been replace by 30+30j
# True has got Inserted/placed between 2nd index (30+30j) & 4th index (False) elements
# True has got Inserted/placed/has taken at 3rd index position/location
# Now total no of elements in the list Hetero3 is 11, got increased by 1 element

print(Hetero3[2:5])
Hetero3[2:5] = 30+30j, True, "Naruto"   # 2nd, 3rd & 4th index elements got replaced by 30+30j, True, "Naruto"
print(Hetero3[2:5])
print(Hetero3)
len(Hetero3)

['Plugin', 99, (67.89-8j)]
[(30+30j), True, 'Naruto']
[(10+10j), False, (30+30j), True, 'Naruto', 'Goja', True, 'Prashant', 39.69, (45+9j), 10, 10.1, 'KESHAV', 39]

14

In [228]:
print(Hetero3)
Hetero3[4] = "Reymundo", 78+9j # Index 4 'Naruto' has been replaced by "Reymundo", 78+9j
print(Hetero3)
type(Hetero3[2]), type(Hetero3[4])

[(10+10j), False, (30+30j), True, 'Naruto', 'Goja', True, 'Prashant', 39.69, (45+9j), 10, 10.1, 'KESHAV', 39]
[(10+10j), False, (30+30j), True, ('Reymundo', (78+9j)), 'Goja', True, 'Prashant', 39.69, (45+9j), 10, 10.1, 'KESHAV', 39]

(complex, tuple)

In [229]:
print(Hetero3)
print(Hetero3[4])
Hetero3[5] = "Pikachu" # 5th index element True has been replaced by "Pikachu"
print(Hetero3)

[(10+10j), False, (30+30j), True, ('Reymundo', (78+9j)), 'Goja', True, 'Prashant', 39.69, (45+9j), 10, 10.1, 'KESHAV', 39]
('Reymundo', (78+9j))
[(10+10j), False, (30+30j), True, ('Reymundo', (78+9j)), 'Pikachu', True, 'Prashant', 39.69, (45+9j), 10, 10.1, 'KESHAV', 39]

In [230]:
print(Hetero3)
Hetero3[3:5] = "Vinod", "Sharma" # 3rd & 4th index elements has been replaced by "Vinod", "Sharma"
print(Hetero3)

[(10+10j), False, (30+30j), True, ('Reymundo', (78+9j)), 'Pikachu', True, 'Prashant', 39.69, (45+9j), 10, 10.1, 'KESHAV', 39]
[(10+10j), False, (30+30j), 'Vinod', 'Sharma', 'Pikachu', True, 'Prashant', 39.69, (45+9j), 10, 10.1, 'KESHAV', 39]

In [231]:
print(Hetero3)
Hetero3[4:6] = ["Suraj"]
print(Hetero3)              # 4th & 5th Index element got replaced by single element "Suraj" as an array

[(10+10j), False, (30+30j), 'Vinod', 'Sharma', 'Pikachu', True, 'Prashant', 39.69, (45+9j), 10, 10.1, 'KESHAV', 39]
[(10+10j), False, (30+30j), 'Vinod', 'Suraj', True, 'Prashant', 39.69, (45+9j), 10, 10.1, 'KESHAV', 39]

In [232]:
print(Hetero3)
Hetero3[3] = "Health", 56, 78.57 # 3rd index element 'Vinod' has been replaced by "Health", 56, 78.57
print(Hetero3)
type(Hetero3[2]), type(Hetero3[3])

[(10+10j), False, (30+30j), 'Vinod', 'Suraj', True, 'Prashant', 39.69, (45+9j), 10, 10.1, 'KESHAV', 39]
[(10+10j), False, (30+30j), ('Health', 56, 78.57), 'Suraj', True, 'Prashant', 39.69, (45+9j), 10, 10.1, 'KESHAV', 39]

(complex, tuple)

In [233]:
Hetero5 = [33+7j, "Tandav", 55, 87.99, True, False, 10.7, 88]
print(Hetero5)

print(Hetero5[2:5])
Hetero5[2:0] = 77, "Pixie", "Hexie"                         # Plugin 77, "Pixie", "Hexie at the place of 2nd index
print(Hetero5[2:5])
print(Hetero5)

print(Hetero5[4:8])
Hetero5[4:0] = "OOP", 33, "Cubix", "Latex"                  # Plugin "OOP", 33, "Cubix", "Latex" at the place of 4th index
print(Hetero5[4:8])
print(Hetero5)

[(33+7j), 'Tandav', 55, 87.99, True, False, 10.7, 88]
[55, 87.99, True]
[77, 'Pixie', 'Hexie']
[(33+7j), 'Tandav', 77, 'Pixie', 'Hexie', 55, 87.99, True, False, 10.7, 88]
['Hexie', 55, 87.99, True]
['OOP', 33, 'Cubix', 'Latex']
[(33+7j), 'Tandav', 77, 'Pixie', 'OOP', 33, 'Cubix', 'Latex', 'Hexie', 55, 87.99, True, False, 10.7, 88]

In [234]:
print(Hetero5)
print(Hetero5[2:5])
Hetero5[2:5] = "Two", "Five" # Replace 2nd to 5th exclusive upperbound range elements with "Two", "Five"
print(Hetero5[2:5])
print(Hetero5)

[(33+7j), 'Tandav', 77, 'Pixie', 'OOP', 33, 'Cubix', 'Latex', 'Hexie', 55, 87.99, True, False, 10.7, 88]
[77, 'Pixie', 'OOP']
['Two', 'Five', 33]
[(33+7j), 'Tandav', 'Two', 'Five', 33, 'Cubix', 'Latex', 'Hexie', 55, 87.99, True, False, 10.7, 88]

In [235]:
# Perform Change/Replace & Insert in a List element values with new values
# Provide index value range [:] = provide Replace value, provide Insert value
# Between 8th index element "KESHAV" & exclusive upperbound 11th index element 39.69 all elements (3 elements) got removed/killed by 40, "Morphine"
# Now total no of elements in the list Hetero3 is 12
print(Hetero3)
print(Hetero3[8:11])
Hetero3[8:11] = 40, "Morphine"    # Replace 8th to exclusive upperbound 11th exclusive upperbound range elements with 40, "Morphine"
print(Hetero3[8:11])
print(Hetero3)
type(Hetero3), len(Hetero3)

[(10+10j), False, (30+30j), ('Health', 56, 78.57), 'Suraj', True, 'Prashant', 39.69, (45+9j), 10, 10.1, 'KESHAV', 39]
[(45+9j), 10, 10.1]
[40, 'Morphine', 'KESHAV']
[(10+10j), False, (30+30j), ('Health', 56, 78.57), 'Suraj', True, 'Prashant', 39.69, 40, 'Morphine', 'KESHAV', 39]

(list, 12)

In [236]:
# Perform Change/Replace,Insert & Remove in a List element values with new values
# Provide index value range [:]= provide Replace value, provide Insert value
# 2nd index element 30+30j has been replace by 40+40j
# Between 2nd index element (40+40j) & 9th index element (39) all elements (6 elements) got removed/killed by "John-Wick"
# Now total no of elements in the list Hetero3 is 5
print(Hetero3[2:9])
Hetero3[2:9] = 40+40j, "John-Wick"   # Replace 2nd to 9th exclusive upperbound range elements with 40+40j, "John-Wick"
print(Hetero3[2:6])
Hetero3, len(Hetero3)

[(30+30j), ('Health', 56, 78.57), 'Suraj', True, 'Prashant', 39.69, 40]
[(40+40j), 'John-Wick', 'Morphine', 'KESHAV']

([(10+10j), False, (40+40j), 'John-Wick', 'Morphine', 'KESHAV', 39], 7)

In [237]:
# List is mutable variable, you can add, remove, insert, swap, shuffle & replace elements of List

Hetero3 = [10.1, "Prashant", 10+10j, False, 10, "KESHAV", 45+9j, True, 39.69, 39]
print(Hetero3[2])
Hetero3[2] = 20+20j
print(Hetero3[2])
print(Hetero3)           # 2nd index element 10+10j has been replaced by 20+20j

(10+10j)
(20+20j)
[10.1, 'Prashant', (20+20j), False, 10, 'KESHAV', (45+9j), True, 39.69, 39]

In [238]:
Hetero3.append(["Alpha", "Beta", "Gamma"]) #append in List[] format at the end position
print(Hetero3)

[10.1, 'Prashant', (20+20j), False, 10, 'KESHAV', (45+9j), True, 39.69, 39, ['Alpha', 'Beta', 'Gamma']]

In [239]:
Hetero3.insert(4, [89-7j, 56, 78.99, True, False]) # Plugin new elements in List[] format at the place of mentioned index
print(Hetero3)

[10.1, 'Prashant', (20+20j), False, [(89-7j), 56, 78.99, True, False], 10, 'KESHAV', (45+9j), True, 39.69, 39, ['Alpha', 'Beta', 'Gamma']]

In [240]:
Hetero3[3:0] = "E1", "E2", "E3", "E4" # Plugin new elements at the place of mentioned 3rd index
print(Hetero3)

[10.1, 'Prashant', (20+20j), 'E1', 'E2', 'E3', 'E4', False, [(89-7j), 56, 78.99, True, False], 10, 'KESHAV', (45+9j), True, 39.69, 39, ['Alpha', 'Beta', 'Gamma']]

In [241]:
Hetero3.extend([False, 67, 89.56, 78-5j, "London"]) #Add multiple indivisual elements to the end position
print(Hetero3)

[10.1, 'Prashant', (20+20j), 'E1', 'E2', 'E3', 'E4', False, [(89-7j), 56, 78.99, True, False], 10, 'KESHAV', (45+9j), True, 39.69, 39, ['Alpha', 'Beta', 'Gamma'], False, 67, 89.56, (78-5j), 'London']

In [242]:
Hetero3[len(Hetero3):0] = "L1", "L2", "L3", "L4" #Plugin new elements at the end position
print(Hetero3)

[10.1, 'Prashant', (20+20j), 'E1', 'E2', 'E3', 'E4', False, [(89-7j), 56, 78.99, True, False], 10, 'KESHAV', (45+9j), True, 39.69, 39, ['Alpha', 'Beta', 'Gamma'], False, 67, 89.56, (78-5j), 'London', 'L1', 'L2', 'L3', 'L4']

In [243]:
len(Hetero3)
Hetero3.append(["25th", "26th", "27th", "28th"]) #append in List[] format at the end position
print(Hetero3)

Hetero3.insert(12, ["Occult", 87.69, 67, False]) #Plugin new elements in List[] format at the place of mentioned index
print(Hetero3)

Hetero3[14:0] = "14th Index"        # "14th Index" element has been pluggied in at the place of 14th index position
print(Hetero3)

Hetero3[4:8] = "4th", "5th", "6th", "7th"           # 4th, 5th, 6th, 7th index elements got replaced by "4th", "5th", "6th", "7th" string
print(Hetero3)

Hetero3.extend(["End1", "End2", "End3"])       #Add multiple indivisual elements to the end position
print(Hetero3)

Hetero3[len(Hetero3):0] = "Last1", "Last2"     #Plugin new elements at the end position
print(Hetero3)

print(Hetero3.pop())                          #By default delete the last Index element

print(Hetero3.pop(12))                        # Delete the one mentioned index element at a time

print(Hetero3.count(False))              # Count the frequency of mentioned element

print(Hetero3.remove("London"))        # Delete the mentioned string element "London"
print(Hetero3)

[10.1, 'Prashant', (20+20j), 'E1', 'E2', 'E3', 'E4', False, [(89-7j), 56, 78.99, True, False], 10, 'KESHAV', (45+9j), True, 39.69, 39, ['Alpha', 'Beta', 'Gamma'], False, 67, 89.56, (78-5j), 'London', 'L1', 'L2', 'L3', 'L4', ['25th', '26th', '27th', '28th']]
[10.1, 'Prashant', (20+20j), 'E1', 'E2', 'E3', 'E4', False, [(89-7j), 56, 78.99, True, False], 10, 'KESHAV', (45+9j), ['Occult', 87.69, 67, False], True, 39.69, 39, ['Alpha', 'Beta', 'Gamma'], False, 67, 89.56, (78-5j), 'London', 'L1', 'L2', 'L3', 'L4', ['25th', '26th', '27th', '28th']]
[10.1, 'Prashant', (20+20j), 'E1', 'E2', 'E3', 'E4', False, [(89-7j), 56, 78.99, True, False], 10, 'KESHAV', (45+9j), ['Occult', 87.69, 67, False], True, '1', '4', 't', 'h', ' ', 'I', 'n', 'd', 'e', 'x', 39.69, 39, ['Alpha', 'Beta', 'Gamma'], False, 67, 89.56, (78-5j), 'London', 'L1', 'L2', 'L3', 'L4', ['25th', '26th', '27th', '28th']]
[10.1, 'Prashant', (20+20j), 'E1', '4th', '5th', '6th', '7th', [(89-7j), 56, 78.99, True, False], 10, 'KESHAV', (45+9j), ['Occult', 87.69, 67, False], True, '1', '4', 't', 'h', ' ', 'I', 'n', 'd', 'e', 'x', 39.69, 39, ['Alpha', 'Beta', 'Gamma'], False, 67, 89.56, (78-5j), 'London', 'L1', 'L2', 'L3', 'L4', ['25th', '26th', '27th', '28th']]
[10.1, 'Prashant', (20+20j), 'E1', '4th', '5th', '6th', '7th', [(89-7j), 56, 78.99, True, False], 10, 'KESHAV', (45+9j), ['Occult', 87.69, 67, False], True, '1', '4', 't', 'h', ' ', 'I', 'n', 'd', 'e', 'x', 39.69, 39, ['Alpha', 'Beta', 'Gamma'], False, 67, 89.56, (78-5j), 'London', 'L1', 'L2', 'L3', 'L4', ['25th', '26th', '27th', '28th'], 'End1', 'End2', 'End3']
[10.1, 'Prashant', (20+20j), 'E1', '4th', '5th', '6th', '7th', [(89-7j), 56, 78.99, True, False], 10, 'KESHAV', (45+9j), ['Occult', 87.69, 67, False], True, '1', '4', 't', 'h', ' ', 'I', 'n', 'd', 'e', 'x', 39.69, 39, ['Alpha', 'Beta', 'Gamma'], False, 67, 89.56, (78-5j), 'London', 'L1', 'L2', 'L3', 'L4', ['25th', '26th', '27th', '28th'], 'End1', 'End2', 'End3', 'Last1', 'Last2']
Last2
['Occult', 87.69, 67, False]
1
None
[10.1, 'Prashant', (20+20j), 'E1', '4th', '5th', '6th', '7th', [(89-7j), 56, 78.99, True, False], 10, 'KESHAV', (45+9j), True, '1', '4', 't', 'h', ' ', 'I', 'n', 'd', 'e', 'x', 39.69, 39, ['Alpha', 'Beta', 'Gamma'], False, 67, 89.56, (78-5j), 'L1', 'L2', 'L3', 'L4', ['25th', '26th', '27th', '28th'], 'End1', 'End2', 'End3', 'Last1']

In [244]:
import random
RandSam = random.sample(Hetero3, len(Hetero3))
print(RandSam)

random.shuffle(Hetero3)
print(Hetero3)

#print(Hetero3.sort())

#print(min(Hetero3)), max(Hetero3), sum(Hetero3))

['KESHAV', True, 'L4', 'L3', [(89-7j), 56, 78.99, True, False], 39, 'n', 'Prashant', 'Last1', (78-5j), 'L1', '4th', 'End2', 89.56, False, 'End1', '4', ' ', 67, 10, 't', 10.1, 'I', 'x', 'e', ['Alpha', 'Beta', 'Gamma'], '1', 'L2', (20+20j), 'End3', '5th', ['25th', '26th', '27th', '28th'], 'h', '7th', 39.69, (45+9j), 'd', '6th', 'E1']
['1', 89.56, [(89-7j), 56, 78.99, True, False], (45+9j), 'L3', 'End3', 'L2', '5th', 67, '4th', 39.69, 'E1', 'End1', 't', 'L4', 'e', (78-5j), ['Alpha', 'Beta', 'Gamma'], '7th', True, 'Prashant', 'n', ['25th', '26th', '27th', '28th'], (20+20j), 'Last1', 'd', 39, 10, ' ', 10.1, 'End2', 'L1', '6th', False, '4', 'h', 'KESHAV', 'I', 'x']

In [245]:
L1 = [10.5, 10, 29+9j, True]                   # Addition of Integer, Float, Boolean, Complex
L2 = [55.7, 99, True, False]
print(sum(L1))                        # Addition of Integer, Float, Boolean, Complex
print(min(L2))                        # min() works with Integer, Float & Boolean data types
print(max(L2))                        # max() works with Integer, Float & Boolean data types
L2.sort()                             # sort() works with Integer, Float & Boolean data types
print(L2)
type(L1), type(L2)
random.shuffle(L1)
print(L1)
SamL1 = random.sample(L1, k=len(L1))
SamL2 = random.sample(L2, k=len(L2))
print(SamL1)
print(SamL2)

(50.5+9j)
False
99
[False, True, 55.7, 99]
[(29+9j), True, 10, 10.5]
[10, (29+9j), True, 10.5]
[False, True, 55.7, 99]

In [246]:
Hetero3.append("Append")
print(Hetero3)

Hetero3.append([15+15j, 22])       # [] List format Add new List [15+15j,22] to the end location of Hetero3 by using append function
                                                        # append always increses a single element
print(Hetero3)

['1', 89.56, [(89-7j), 56, 78.99, True, False], (45+9j), 'L3', 'End3', 'L2', '5th', 67, '4th', 39.69, 'E1', 'End1', 't', 'L4', 'e', (78-5j), ['Alpha', 'Beta', 'Gamma'], '7th', True, 'Prashant', 'n', ['25th', '26th', '27th', '28th'], (20+20j), 'Last1', 'd', 39, 10, ' ', 10.1, 'End2', 'L1', '6th', False, '4', 'h', 'KESHAV', 'I', 'x', 'Append']
['1', 89.56, [(89-7j), 56, 78.99, True, False], (45+9j), 'L3', 'End3', 'L2', '5th', 67, '4th', 39.69, 'E1', 'End1', 't', 'L4', 'e', (78-5j), ['Alpha', 'Beta', 'Gamma'], '7th', True, 'Prashant', 'n', ['25th', '26th', '27th', '28th'], (20+20j), 'Last1', 'd', 39, 10, ' ', 10.1, 'End2', 'L1', '6th', False, '4', 'h', 'KESHAV', 'I', 'x', 'Append', [(15+15j), 22]]

In [247]:
print(Hetero3)

['1', 89.56, [(89-7j), 56, 78.99, True, False], (45+9j), 'L3', 'End3', 'L2', '5th', 67, '4th', 39.69, 'E1', 'End1', 't', 'L4', 'e', (78-5j), ['Alpha', 'Beta', 'Gamma'], '7th', True, 'Prashant', 'n', ['25th', '26th', '27th', '28th'], (20+20j), 'Last1', 'd', 39, 10, ' ', 10.1, 'End2', 'L1', '6th', False, '4', 'h', 'KESHAV', 'I', 'x', 'Append', [(15+15j), 22]]

In [248]:
Hetero3.add("Add")
print(Hetero3)                    # add() is applicable for Set only, one element at a time

AttributeError: 'list' object has no attribute 'add'

In [249]:
print(Hetero3[2])
Hetero3[2] = "A", "B", "C"      # [] List format Replace 2nd index element (20+20j) with list ["A", "B", "C"]
print(Hetero3[2])
print(Hetero3)
type(Hetero3[2])

[(89-7j), 56, 78.99, True, False]
('A', 'B', 'C')
['1', 89.56, ('A', 'B', 'C'), (45+9j), 'L3', 'End3', 'L2', '5th', 67, '4th', 39.69, 'E1', 'End1', 't', 'L4', 'e', (78-5j), ['Alpha', 'Beta', 'Gamma'], '7th', True, 'Prashant', 'n', ['25th', '26th', '27th', '28th'], (20+20j), 'Last1', 'd', 39, 10, ' ', 10.1, 'End2', 'L1', '6th', False, '4', 'h', 'KESHAV', 'I', 'x', 'Append', [(15+15j), 22]]

tuple

In [250]:
print(Hetero3)
Hetero3[6] = ["Six", "Sigma"]  # Replace 6th index element with ["Six", "Sigma"] as list
print(Hetero3)
type(Hetero3[6])

['1', 89.56, ('A', 'B', 'C'), (45+9j), 'L3', 'End3', 'L2', '5th', 67, '4th', 39.69, 'E1', 'End1', 't', 'L4', 'e', (78-5j), ['Alpha', 'Beta', 'Gamma'], '7th', True, 'Prashant', 'n', ['25th', '26th', '27th', '28th'], (20+20j), 'Last1', 'd', 39, 10, ' ', 10.1, 'End2', 'L1', '6th', False, '4', 'h', 'KESHAV', 'I', 'x', 'Append', [(15+15j), 22]]
['1', 89.56, ('A', 'B', 'C'), (45+9j), 'L3', 'End3', ['Six', 'Sigma'], '5th', 67, '4th', 39.69, 'E1', 'End1', 't', 'L4', 'e', (78-5j), ['Alpha', 'Beta', 'Gamma'], '7th', True, 'Prashant', 'n', ['25th', '26th', '27th', '28th'], (20+20j), 'Last1', 'd', 39, 10, ' ', 10.1, 'End2', 'L1', '6th', False, '4', 'h', 'KESHAV', 'I', 'x', 'Append', [(15+15j), 22]]

list

In [251]:
print(Hetero3[3:7])
Hetero3[3:0] = 1, 2, 3, 4       # Plugin new indivisual List elements 1, 2, 3, 4 at the place of 3rd index
print(Hetero3[3:7])
print(Hetero3)

[(45+9j), 'L3', 'End3', ['Six', 'Sigma']]
[1, 2, 3, 4]
['1', 89.56, ('A', 'B', 'C'), 1, 2, 3, 4, (45+9j), 'L3', 'End3', ['Six', 'Sigma'], '5th', 67, '4th', 39.69, 'E1', 'End1', 't', 'L4', 'e', (78-5j), ['Alpha', 'Beta', 'Gamma'], '7th', True, 'Prashant', 'n', ['25th', '26th', '27th', '28th'], (20+20j), 'Last1', 'd', 39, 10, ' ', 10.1, 'End2', 'L1', '6th', False, '4', 'h', 'KESHAV', 'I', 'x', 'Append', [(15+15j), 22]]

In [252]:
Fruit = ["apple", "banana", "cherry"]
Car = ["Ford", "BMW", "Volvo"]
Fruit.append(Car)                    # [] List format Add new List ["Ford", "BMW", "Volvo"] to the end location
Fruit                                           # List Car has been added at the end of Fruit as a single index element

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]

In [253]:
NewFruits = Fruit + Car       # Concatination
print(NewFruits)

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo'], 'Ford', 'BMW', 'Volvo']

In [254]:
fruit = ["apple", "banana", "cherry", "Mango"]
car = ["Ford", "BMW", "Volvo", "Thief"]
fruit.append(car)          # [] List format Add new List ["Ford", "BMW", "Volvo", "Thief"] to the end location
fruit                                 # [] List Car has been added at the end of Fruit as a single index element

['apple', 'banana', 'cherry', 'Mango', ['Ford', 'BMW', 'Volvo', 'Thief']]

In [255]:
Fruit1 = ["apple", "banana", "cherry"]
Car1 = ["Ford", "BMW", "Volvo"]
Fruit1_Car1 = Fruit1 + Car1        # Indivisual elements Concatination of two Lists by using Addition
Fruit1_Car1                        # Take elements of two Lists into one New List

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [256]:
Fruit.index(Car)    # index value of Car is 3 in Fruit, Car is nestd list inside Fruit list

3

In [257]:
Fruit.index(["Ford", "BMW", "Volvo"])     # index value of ["Ford", "BMW", "Volvo"]

3

In [258]:
print(Fruit)

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]

In [259]:
Hetero3.index([15+15j, 22])        # index value of nested list [15+15j,22] is 10 in Hetero3 List

44

In [260]:
print(Hetero3)

['1', 89.56, ('A', 'B', 'C'), 1, 2, 3, 4, (45+9j), 'L3', 'End3', ['Six', 'Sigma'], '5th', 67, '4th', 39.69, 'E1', 'End1', 't', 'L4', 'e', (78-5j), ['Alpha', 'Beta', 'Gamma'], '7th', True, 'Prashant', 'n', ['25th', '26th', '27th', '28th'], (20+20j), 'Last1', 'd', 39, 10, ' ', 10.1, 'End2', 'L1', '6th', False, '4', 'h', 'KESHAV', 'I', 'x', 'Append', [(15+15j), 22]]

In [261]:
Hetero3.append([17+25j, 92])        # [] List format append() this include at the end in [] List format
print(Hetero3)

['1', 89.56, ('A', 'B', 'C'), 1, 2, 3, 4, (45+9j), 'L3', 'End3', ['Six', 'Sigma'], '5th', 67, '4th', 39.69, 'E1', 'End1', 't', 'L4', 'e', (78-5j), ['Alpha', 'Beta', 'Gamma'], '7th', True, 'Prashant', 'n', ['25th', '26th', '27th', '28th'], (20+20j), 'Last1', 'd', 39, 10, ' ', 10.1, 'End2', 'L1', '6th', False, '4', 'h', 'KESHAV', 'I', 'x', 'Append', [(15+15j), 22], [(17+25j), 92]]

In [262]:
Hetero3.extend(['Komal', 36-8j, True, 33.33,36-8j])       # Add multiple indivisual elements to the end of Hetero3 by using extend function
print(Hetero3)

['1', 89.56, ('A', 'B', 'C'), 1, 2, 3, 4, (45+9j), 'L3', 'End3', ['Six', 'Sigma'], '5th', 67, '4th', 39.69, 'E1', 'End1', 't', 'L4', 'e', (78-5j), ['Alpha', 'Beta', 'Gamma'], '7th', True, 'Prashant', 'n', ['25th', '26th', '27th', '28th'], (20+20j), 'Last1', 'd', 39, 10, ' ', 10.1, 'End2', 'L1', '6th', False, '4', 'h', 'KESHAV', 'I', 'x', 'Append', [(15+15j), 22], [(17+25j), 92], 'Komal', (36-8j), True, 33.33, (36-8j)]

In [263]:
Hetero3.append([15+15j, 22])      # [] List format append() always work in [] List format
print(Hetero3)

['1', 89.56, ('A', 'B', 'C'), 1, 2, 3, 4, (45+9j), 'L3', 'End3', ['Six', 'Sigma'], '5th', 67, '4th', 39.69, 'E1', 'End1', 't', 'L4', 'e', (78-5j), ['Alpha', 'Beta', 'Gamma'], '7th', True, 'Prashant', 'n', ['25th', '26th', '27th', '28th'], (20+20j), 'Last1', 'd', 39, 10, ' ', 10.1, 'End2', 'L1', '6th', False, '4', 'h', 'KESHAV', 'I', 'x', 'Append', [(15+15j), 22], [(17+25j), 92], 'Komal', (36-8j), True, 33.33, (36-8j), [(15+15j), 22]]

In [264]:
Hetero3.insert(2, 'Amol')   # At the Place of 2nd index before 3rd index location plugin new string element 'Amol'
                           # 'Amol' will get the 2nd index location/positon
print(Hetero3)

Hetero3.insert(3, ["New", "Plugin"])   # [] List format Add new List ["New", "Plugin"] to the given index location
print(Hetero3)

['1', 89.56, 'Amol', ('A', 'B', 'C'), 1, 2, 3, 4, (45+9j), 'L3', 'End3', ['Six', 'Sigma'], '5th', 67, '4th', 39.69, 'E1', 'End1', 't', 'L4', 'e', (78-5j), ['Alpha', 'Beta', 'Gamma'], '7th', True, 'Prashant', 'n', ['25th', '26th', '27th', '28th'], (20+20j), 'Last1', 'd', 39, 10, ' ', 10.1, 'End2', 'L1', '6th', False, '4', 'h', 'KESHAV', 'I', 'x', 'Append', [(15+15j), 22], [(17+25j), 92], 'Komal', (36-8j), True, 33.33, (36-8j), [(15+15j), 22]]
['1', 89.56, 'Amol', ['New', 'Plugin'], ('A', 'B', 'C'), 1, 2, 3, 4, (45+9j), 'L3', 'End3', ['Six', 'Sigma'], '5th', 67, '4th', 39.69, 'E1', 'End1', 't', 'L4', 'e', (78-5j), ['Alpha', 'Beta', 'Gamma'], '7th', True, 'Prashant', 'n', ['25th', '26th', '27th', '28th'], (20+20j), 'Last1', 'd', 39, 10, ' ', 10.1, 'End2', 'L1', '6th', False, '4', 'h', 'KESHAV', 'I', 'x', 'Append', [(15+15j), 22], [(17+25j), 92], 'Komal', (36-8j), True, 33.33, (36-8j), [(15+15j), 22]]

In [265]:
Hetero3[3:0] = "OPPO", 33, "CUBIX", "LATEX"   # Pluin new elements "OPPO", 33, "CUBIX", "LATEX"
print(Hetero3)

['1', 89.56, 'Amol', 'OPPO', 33, 'CUBIX', 'LATEX', ['New', 'Plugin'], ('A', 'B', 'C'), 1, 2, 3, 4, (45+9j), 'L3', 'End3', ['Six', 'Sigma'], '5th', 67, '4th', 39.69, 'E1', 'End1', 't', 'L4', 'e', (78-5j), ['Alpha', 'Beta', 'Gamma'], '7th', True, 'Prashant', 'n', ['25th', '26th', '27th', '28th'], (20+20j), 'Last1', 'd', 39, 10, ' ', 10.1, 'End2', 'L1', '6th', False, '4', 'h', 'KESHAV', 'I', 'x', 'Append', [(15+15j), 22], [(17+25j), 92], 'Komal', (36-8j), True, 33.33, (36-8j), [(15+15j), 22]]

In [266]:
Hetero3[3:0] = "VIETNAAM", "PAINKILLER"   # Pluin new elements "OPPO", 33, "CUBIX", "LATEX"
print(Hetero3)

['1', 89.56, 'Amol', 'VIETNAAM', 'PAINKILLER', 'OPPO', 33, 'CUBIX', 'LATEX', ['New', 'Plugin'], ('A', 'B', 'C'), 1, 2, 3, 4, (45+9j), 'L3', 'End3', ['Six', 'Sigma'], '5th', 67, '4th', 39.69, 'E1', 'End1', 't', 'L4', 'e', (78-5j), ['Alpha', 'Beta', 'Gamma'], '7th', True, 'Prashant', 'n', ['25th', '26th', '27th', '28th'], (20+20j), 'Last1', 'd', 39, 10, ' ', 10.1, 'End2', 'L1', '6th', False, '4', 'h', 'KESHAV', 'I', 'x', 'Append', [(15+15j), 22], [(17+25j), 92], 'Komal', (36-8j), True, 33.33, (36-8j), [(15+15j), 22]]

In [267]:
type(Hetero3[0]), type(Hetero3[1]), type(Hetero3[2]), type(Hetero3[3]), type(Hetero3[4]), type(Hetero3[5]) # Shows data types of each index

(str, float, str, str, str, str)

In [268]:
Hetero3[1][2]   # 0th index value of the 6th index string element "KESHAV"

TypeError: 'float' object is not subscriptable

In [269]:
len(Hetero3)   # How many elements are there inside the Hetero3 List

60

In [270]:
List1 = [33+22j, "Vivek", True, False, 45.89, 20]
List2 = ["AAM", 46-77j, ["Mitocondriya", "Mitosis", "Miyosis"], False, 77, 89.45]
List3 = ["Shivalry", 67-7j, False, True, 56, 75.89]
Homo1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]    # List containing only integers
MixValues = ["MADHAV", 45+9j, True, 39.69, 39]   # List containing all type of datas
NestList = ["KESHAV", 45+9j, True, 39.69, 39, Homo1]   # Homo1 list has been taken inside NestList

In [271]:
MixValues.insert(3, ["Enigma", 67-9j, False])     # [] List format At the place of 3rd index, Plugin new elements in [] List format
print(MixValues)

['MADHAV', (45+9j), True, ['Enigma', (67-9j), False], 39.69, 39]

In [272]:
List1[6:0] = "Vivaldy", "Hermis"      # Plugin new elements "Vivaldy", "Hermis" at the 6th index end position
print(List1)

List1.insert(8, ["Saturn", "Oracle"])      # [] List format Plugin new elements in List [] format at 8th index position
print(List1)

MixValues.insert(3, ["Enigma", 67-9j, False])      # [] List format Plugin new elements in List [] format at 3rd index position
print(MixValues)

List2.insert(len(List2)+1, List3)     # [] List format insert in List [] format at 7th index position
print(List2)

List1.append(List2)     # [] List format Plugin new elements in List [] format at end position
print(List1)

List1.extend(List3)       # Plugin new elements at the end position
print(List1)

Concat = List2 + List3       # Join two or more different lists in sequence and make it one
print(Concat)

Extend = MixValues.extend(NestList)      # Plugin new elements at the end position
print(Extend)

MixValues[len(MixValues):0] = NestList     # Plugin new elements at the end position
EndPlugin = MixValues
print(EndPlugin)

[(33+22j), 'Vivek', True, False, 45.89, 20, 'Vivaldy', 'Hermis']
[(33+22j), 'Vivek', True, False, 45.89, 20, 'Vivaldy', 'Hermis', ['Saturn', 'Oracle']]
['MADHAV', (45+9j), True, ['Enigma', (67-9j), False], ['Enigma', (67-9j), False], 39.69, 39]
['AAM', (46-77j), ['Mitocondriya', 'Mitosis', 'Miyosis'], False, 77, 89.45, ['Shivalry', (67-7j), False, True, 56, 75.89]]
[(33+22j), 'Vivek', True, False, 45.89, 20, 'Vivaldy', 'Hermis', ['Saturn', 'Oracle'], ['AAM', (46-77j), ['Mitocondriya', 'Mitosis', 'Miyosis'], False, 77, 89.45, ['Shivalry', (67-7j), False, True, 56, 75.89]]]
[(33+22j), 'Vivek', True, False, 45.89, 20, 'Vivaldy', 'Hermis', ['Saturn', 'Oracle'], ['AAM', (46-77j), ['Mitocondriya', 'Mitosis', 'Miyosis'], False, 77, 89.45, ['Shivalry', (67-7j), False, True, 56, 75.89]], 'Shivalry', (67-7j), False, True, 56, 75.89]
['AAM', (46-77j), ['Mitocondriya', 'Mitosis', 'Miyosis'], False, 77, 89.45, ['Shivalry', (67-7j), False, True, 56, 75.89], 'Shivalry', (67-7j), False, True, 56, 75.89]
None
['MADHAV', (45+9j), True, ['Enigma', (67-9j), False], ['Enigma', (67-9j), False], 39.69, 39, 'KESHAV', (45+9j), True, 39.69, 39, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'KESHAV', (45+9j), True, 39.69, 39, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]

In [273]:
MixValues = ["MADHAV", 45+9j, True, 39.69, 39]            # List containing all type of datas
NestList = ["KESHAV", 45+9j, True, 39.69, 39, Homo1]          # Homo1 list has been taken inside NestList
MixValues[len(MixValues):0] = NestList
print(MixValues)

['MADHAV', (45+9j), True, 39.69, 39, 'KESHAV', (45+9j), True, 39.69, 39, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]

In [274]:
NewList = [34.89j, "Cuba", "Coffee"]
print(NewList)
NewList[len(NewList):0] = "Volcano", "Mint", 67-78j
print(NewList)
NewList[len(NewList):0] = 57.89j, "Stealth"
print(NewList)

[34.89j, 'Cuba', 'Coffee']
[34.89j, 'Cuba', 'Coffee', 'Volcano', 'Mint', (67-78j)]
[34.89j, 'Cuba', 'Coffee', 'Volcano', 'Mint', (67-78j), 57.89j, 'Stealth']

In [275]:
print(List1)
List1[len(List1):0] = "Amoeba", "Zodiac", 67-78j
print(List1)

[(33+22j), 'Vivek', True, False, 45.89, 20, 'Vivaldy', 'Hermis', ['Saturn', 'Oracle'], ['AAM', (46-77j), ['Mitocondriya', 'Mitosis', 'Miyosis'], False, 77, 89.45, ['Shivalry', (67-7j), False, True, 56, 75.89]], 'Shivalry', (67-7j), False, True, 56, 75.89]
[(33+22j), 'Vivek', True, False, 45.89, 20, 'Vivaldy', 'Hermis', ['Saturn', 'Oracle'], ['AAM', (46-77j), ['Mitocondriya', 'Mitosis', 'Miyosis'], False, 77, 89.45, ['Shivalry', (67-7j), False, True, 56, 75.89]], 'Shivalry', (67-7j), False, True, 56, 75.89, 'Amoeba', 'Zodiac', (67-78j)]

In [276]:
import random
random.shuffle(Hetero3)
print(Hetero3) # All elements of Hetero3 list has been shuffled randomly

['L1', 'Append', ['Alpha', 'Beta', 'Gamma'], ['25th', '26th', '27th', '28th'], 'L3', 'OPPO', 'VIETNAAM', [(17+25j), 92], 'End2', 4, (45+9j), 'PAINKILLER', 't', 'n', 10.1, [(15+15j), 22], True, 'L4', 1, 10, 'KESHAV', True, 'x', 'Komal', 67, '7th', (78-5j), '5th', ' ', ['New', 'Plugin'], (36-8j), 'I', 'End1', (20+20j), False, 33.33, 89.56, 'Last1', '4th', 'd', 'CUBIX', 'e', 'Amol', 3, '6th', ['Six', 'Sigma'], 39, (36-8j), 33, 'LATEX', '1', 'End3', '4', 'h', 'E1', 'Prashant', ('A', 'B', 'C'), [(15+15j), 22], 2, 39.69]

In [277]:
Randsam3 = random.sample(Hetero3, k=len(Hetero3)) # randomly pick any 5 elements as a sample from List Hetero3
print(Randsam3)
type(Randsam3), len(Randsam3)

['VIETNAAM', 10, 'KESHAV', 'OPPO', ['Six', 'Sigma'], 'h', True, ['New', 'Plugin'], ['25th', '26th', '27th', '28th'], True, 'd', '6th', 10.1, (36-8j), ['Alpha', 'Beta', 'Gamma'], (36-8j), '4', 'Last1', [(15+15j), 22], 'LATEX', 39, 'I', '5th', 'Prashant', 'E1', 33, 't', False, (78-5j), (20+20j), 'x', 1, ' ', 89.56, 'Komal', 'Amol', 'End3', ('A', 'B', 'C'), [(15+15j), 22], [(17+25j), 92], 67, 'n', (45+9j), 'L3', '4th', 'PAINKILLER', 'Append', '7th', 'e', 2, 'L4', 'L1', 'CUBIX', 'End1', 4, '1', 'End2', 3, 33.33, 39.69]

(list, 60)

In [278]:
# Swap/interchange index location of the elements in a List
Hetero3[1], Hetero3[2] = Hetero3[2], Hetero3[1]
print(Hetero3)
type(Hetero3), len(Hetero3)                 # Swap index elements 1,2 with 2,1

['L1', ['Alpha', 'Beta', 'Gamma'], 'Append', ['25th', '26th', '27th', '28th'], 'L3', 'OPPO', 'VIETNAAM', [(17+25j), 92], 'End2', 4, (45+9j), 'PAINKILLER', 't', 'n', 10.1, [(15+15j), 22], True, 'L4', 1, 10, 'KESHAV', True, 'x', 'Komal', 67, '7th', (78-5j), '5th', ' ', ['New', 'Plugin'], (36-8j), 'I', 'End1', (20+20j), False, 33.33, 89.56, 'Last1', '4th', 'd', 'CUBIX', 'e', 'Amol', 3, '6th', ['Six', 'Sigma'], 39, (36-8j), 33, 'LATEX', '1', 'End3', '4', 'h', 'E1', 'Prashant', ('A', 'B', 'C'), [(15+15j), 22], 2, 39.69]

(list, 60)

In [279]:
print(Hetero3[-1], Hetero3[len(Hetero3)-1])            # last element from backward

39.69 39.69

In [280]:
print(Hetero3)
Hetero3.pop()                 # Bydefault delete the last index Element
print(Hetero3)

['L1', ['Alpha', 'Beta', 'Gamma'], 'Append', ['25th', '26th', '27th', '28th'], 'L3', 'OPPO', 'VIETNAAM', [(17+25j), 92], 'End2', 4, (45+9j), 'PAINKILLER', 't', 'n', 10.1, [(15+15j), 22], True, 'L4', 1, 10, 'KESHAV', True, 'x', 'Komal', 67, '7th', (78-5j), '5th', ' ', ['New', 'Plugin'], (36-8j), 'I', 'End1', (20+20j), False, 33.33, 89.56, 'Last1', '4th', 'd', 'CUBIX', 'e', 'Amol', 3, '6th', ['Six', 'Sigma'], 39, (36-8j), 33, 'LATEX', '1', 'End3', '4', 'h', 'E1', 'Prashant', ('A', 'B', 'C'), [(15+15j), 22], 2, 39.69]
['L1', ['Alpha', 'Beta', 'Gamma'], 'Append', ['25th', '26th', '27th', '28th'], 'L3', 'OPPO', 'VIETNAAM', [(17+25j), 92], 'End2', 4, (45+9j), 'PAINKILLER', 't', 'n', 10.1, [(15+15j), 22], True, 'L4', 1, 10, 'KESHAV', True, 'x', 'Komal', 67, '7th', (78-5j), '5th', ' ', ['New', 'Plugin'], (36-8j), 'I', 'End1', (20+20j), False, 33.33, 89.56, 'Last1', '4th', 'd', 'CUBIX', 'e', 'Amol', 3, '6th', ['Six', 'Sigma'], 39, (36-8j), 33, 'LATEX', '1', 'End3', '4', 'h', 'E1', 'Prashant', ('A', 'B', 'C'), [(15+15j), 22], 2]

In [281]:
print(Hetero3)
Hetero3.pop()                # Bydefault delete the last index Element
print(Hetero3)

['L1', ['Alpha', 'Beta', 'Gamma'], 'Append', ['25th', '26th', '27th', '28th'], 'L3', 'OPPO', 'VIETNAAM', [(17+25j), 92], 'End2', 4, (45+9j), 'PAINKILLER', 't', 'n', 10.1, [(15+15j), 22], True, 'L4', 1, 10, 'KESHAV', True, 'x', 'Komal', 67, '7th', (78-5j), '5th', ' ', ['New', 'Plugin'], (36-8j), 'I', 'End1', (20+20j), False, 33.33, 89.56, 'Last1', '4th', 'd', 'CUBIX', 'e', 'Amol', 3, '6th', ['Six', 'Sigma'], 39, (36-8j), 33, 'LATEX', '1', 'End3', '4', 'h', 'E1', 'Prashant', ('A', 'B', 'C'), [(15+15j), 22], 2]
['L1', ['Alpha', 'Beta', 'Gamma'], 'Append', ['25th', '26th', '27th', '28th'], 'L3', 'OPPO', 'VIETNAAM', [(17+25j), 92], 'End2', 4, (45+9j), 'PAINKILLER', 't', 'n', 10.1, [(15+15j), 22], True, 'L4', 1, 10, 'KESHAV', True, 'x', 'Komal', 67, '7th', (78-5j), '5th', ' ', ['New', 'Plugin'], (36-8j), 'I', 'End1', (20+20j), False, 33.33, 89.56, 'Last1', '4th', 'd', 'CUBIX', 'e', 'Amol', 3, '6th', ['Six', 'Sigma'], 39, (36-8j), 33, 'LATEX', '1', 'End3', '4', 'h', 'E1', 'Prashant', ('A', 'B', 'C'), [(15+15j), 22]]

In [282]:
print(Hetero3)
Hetero3.pop(10)                  # Delete the mentioned 10th Index Element, one element at a time
print(Hetero3)

['L1', ['Alpha', 'Beta', 'Gamma'], 'Append', ['25th', '26th', '27th', '28th'], 'L3', 'OPPO', 'VIETNAAM', [(17+25j), 92], 'End2', 4, (45+9j), 'PAINKILLER', 't', 'n', 10.1, [(15+15j), 22], True, 'L4', 1, 10, 'KESHAV', True, 'x', 'Komal', 67, '7th', (78-5j), '5th', ' ', ['New', 'Plugin'], (36-8j), 'I', 'End1', (20+20j), False, 33.33, 89.56, 'Last1', '4th', 'd', 'CUBIX', 'e', 'Amol', 3, '6th', ['Six', 'Sigma'], 39, (36-8j), 33, 'LATEX', '1', 'End3', '4', 'h', 'E1', 'Prashant', ('A', 'B', 'C'), [(15+15j), 22]]
['L1', ['Alpha', 'Beta', 'Gamma'], 'Append', ['25th', '26th', '27th', '28th'], 'L3', 'OPPO', 'VIETNAAM', [(17+25j), 92], 'End2', 4, 'PAINKILLER', 't', 'n', 10.1, [(15+15j), 22], True, 'L4', 1, 10, 'KESHAV', True, 'x', 'Komal', 67, '7th', (78-5j), '5th', ' ', ['New', 'Plugin'], (36-8j), 'I', 'End1', (20+20j), False, 33.33, 89.56, 'Last1', '4th', 'd', 'CUBIX', 'e', 'Amol', 3, '6th', ['Six', 'Sigma'], 39, (36-8j), 33, 'LATEX', '1', 'End3', '4', 'h', 'E1', 'Prashant', ('A', 'B', 'C'), [(15+15j), 22]]

In [283]:
Hetero3.remove("Prashant")          # Directly type the Element value which you want to remove
print(Hetero3)                                  # Element "Prashant" has been Removed

['L1', ['Alpha', 'Beta', 'Gamma'], 'Append', ['25th', '26th', '27th', '28th'], 'L3', 'OPPO', 'VIETNAAM', [(17+25j), 92], 'End2', 4, 'PAINKILLER', 't', 'n', 10.1, [(15+15j), 22], True, 'L4', 1, 10, 'KESHAV', True, 'x', 'Komal', 67, '7th', (78-5j), '5th', ' ', ['New', 'Plugin'], (36-8j), 'I', 'End1', (20+20j), False, 33.33, 89.56, 'Last1', '4th', 'd', 'CUBIX', 'e', 'Amol', 3, '6th', ['Six', 'Sigma'], 39, (36-8j), 33, 'LATEX', '1', 'End3', '4', 'h', 'E1', ('A', 'B', 'C'), [(15+15j), 22]]

In [284]:
Hetero3.discard("CUBIX")       # discard() is applicable for Set only. One Element at a time
print(Hetero3)

AttributeError: 'list' object has no attribute 'discard'

In [285]:
Hetero3.count(36-8j) # Type the Element value & you will get its frequency/repeatation in the List Hetero3

2

In [286]:
# Type the Element value & you will get its frequency/repeatation
# Here the Single String is "AnwneAnshA"
# Type any sigle alphabet/part of the String inside String.count() and you will get the repeatation of that alphabet/part

String = "AnwneAnshA"

# String.count("An")   How many times "An" is within the word "AnwneAnshA"

String.count("An"), String.count("n"), String.count("A")

(2, 3, 3)

In [287]:
Hetero3.sort() # You can't sort mixed data type elements

TypeError: '<' not supported between instances of 'list' and 'str'

In [288]:
NumList = [1, 2, 3, True, 4.9, 5, False, 78.4, 68, True, 33, False, 22, 12]
print(NumList)
type(NumList), len(NumList)

NumList.sort()
print(NumList)

min(NumList), max(NumList), sum(NumList)        # Shows minimum & maximum element values of NumList     # Shows the addition of All elements

[1, 2, 3, True, 4.9, 5, False, 78.4, 68, True, 33, False, 22, 12]
[False, False, 1, True, True, 2, 3, 4.9, 5, 12, 22, 33, 68, 78.4]

(False, 78.4, 231.3)

In [289]:
Hetero3.arange() # arange is available in Numpy only
                 # arange(start=*,stop=*,step=*,dtype=*)
                 # arange() function is used for creating Array

AttributeError: 'list' object has no attribute 'arange'

In [290]:
min(Hetero3) # You cant find min value in mixed data type elements

TypeError: '<' not supported between instances of 'list' and 'str'

In [291]:
max(Hetero3) # You cant find max value in mixed data type elements

TypeError: '>' not supported between instances of 'list' and 'str'

In [150]:
sum(Hetero3) # You cant find sum of mixed data type elements

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## Tuples are immutable in nature

1. Tuple is immutable variable, you can't add(Element), append([E1, E2, E3]) []List format, extend([E1, E2, E3]), remove(Element), pop(Index), discard(Element), insert(Index, [E1, E2, E3]) []List format, swap, sort(), shuffle() & replace elements of Tuple
2. Additionally add(Element), discard(Element) is applicable for Set only
3. remove() is applicable for List & Set only
1. Tuple.index(Element) #Check the Index of mentioned element
2. Tuple[:] #indexing method
6. Tuple3 = Tuple1 + Tuple2 #Tuple Concatination
7. Tuple.count(Element) #Count Element frequency
8. random.sample(Tuple, k=5)
10. min(Tuple), max(Tuple), sum(Tuple) #When the Tuple element data types are Integer, Float, Bool

In [151]:
# For tuple creation ----> ()
# Round bracket is meant for Tuple
# It is not mandartory to provide elements inside () for Tuple
# We can create tuples without using any brackets also
# Tuple is almost similar like List but Tuples are not editable (immutable)
# Iteration in tuple is faster than list, reduce time in forming Algorithm
# You can't perform Arithmatic operations between Tuples
# Round Bracket crestes Tuples
# Nested Tuple----- When you create a Tuple inside a Tuple
# Homogenous Tuple ----- Tuple following only one datatype
# You can't perform Advanced indexing with Tuple
# Tuple is immutable variable, you cant add, remove, insert, swap, sort, shuffle & replace elements of Tuple
HomoTuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10) # Tuple containing only integers
MixValues = ("KESHAV", 45+9j, True, 39.69, 39) # Tuple containing all type of datas
NestTuple = ("KESHAV", 45+9j, True, 39.69, 39, (1,2,3,4,5,6,7,8,9,10)) # Homo1 integer Tuple has been taken inside NestTuple

In [152]:
Tuple2 = "KESHAV", 45+9j, True, 39.69, 39, 89              # Tuple without round bracket
print(Tuple2)
type(Tuple2), len(Tuple2)                             # It is not mandartory to provide elements inside () for Tuple

('KESHAV', (45+9j), True, 39.69, 39, 89)

(tuple, 6)

In [153]:
Tuple2.index(45+9j), Tuple2.index("KESHAV"), NestTuple.index((1,2,3,4,5,6,7,8,9,10)) # Type the Element value & you will get its index value

(1, 0, 5)

In [154]:
Tuple2.index(39, 45+9j) # It doesn't work with Multiple elements at a time

TypeError: slice indices must be integers or have an __index__ method

In [155]:
Tuple2.count(45+9j) # Type the Element value & you will get its frequency/repeatation

1

In [156]:
NestTuple.count(1) # Type the Element value & you will get its frequency

1

In [157]:
print(Tuple2[0:3]) # Shoes tuple elements from begining and ends at 2+1 upperbound
print(Tuple2[1:4])

('KESHAV', (45+9j), True)
((45+9j), True, 39.69)

In [158]:
type(Tuple2)

tuple

In [159]:
print(Tuple2[0]) # Shows first element
print(Tuple2[0][1:5:2])

KESHAV
EH

In [160]:
NumTuple = (1, 2, 3, True, 4.9, 5, False, 78.4, 68, True, 33, False, 22, 12)
print(NumTuple)

type(NumTuple), len(NumTuple), min(NumTuple), max(NumTuple), sum(NumTuple)

(1, 2, 3, True, 4.9, 5, False, 78.4, 68, True, 33, False, 22, 12)

(tuple, 14, False, 78.4, 231.3)

In [161]:
HomoTuple.sort() #When the List element data types are Integer, Float, Bool
print(HomoTuple)

NumTuple.sort()
print(NumTuple)

AttributeError: 'tuple' object has no attribute 'sort'

In [162]:
# Tuple is immutable variable, you cant add, remove, insert, swap, shuffle & replace elements of Tuple
Tuple2[0]= 'Prashant' # Tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [163]:
random.shuffle(NumTuple)
NumTuple # You cant shuffle tuple, because it is immutable

TypeError: 'tuple' object does not support item assignment

In [164]:
import random
RandTup2 = random.sample(Tuple2, 3) # randomly pick any 3 elements from tuple Tuple2
print(RandTup2)

[(45+9j), 39, 39.69]

In [165]:
Tuple2.add(46+8j)
print(Tuple2)

AttributeError: 'tuple' object has no attribute 'add'

In [166]:
Tuple2.append["Kunaal"] # You cant add new string element "Kunaal"

AttributeError: 'tuple' object has no attribute 'append'

In [167]:
Tuple2.extend["Kunaal", 36] # You cant add new elements
                            # Extend can add multiple elements,lists at a Time... Though not work for Tuple
print(Tuple2)

AttributeError: 'tuple' object has no attribute 'extend'

In [168]:
Tuple2.insert(3, ["Enigma", 67-9j, False]) # You cant insert any new element
print(Tuple2)

AttributeError: 'tuple' object has no attribute 'insert'

In [169]:
Tuple2.pop[3] # You cant delete the 3rd index element
print(Tuple2)

AttributeError: 'tuple' object has no attribute 'pop'

In [170]:
Tuple2.remove["KESHAV"] # You cant remove any element
print(Tuple2)

AttributeError: 'tuple' object has no attribute 'remove'

In [171]:
Tuple2.discard(45+9j)
print(Tuple2)

AttributeError: 'tuple' object has no attribute 'discard'

In [172]:
ConcatTup = HomoTuple + Tuple2 # Concatination of Tuples are possible
print(ConcatTup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'KESHAV', (45+9j), True, 39.69, 39, 89)

In [173]:
# Tuples are IMMUTABLE in nature

In [174]:
# Swap/interchange elements by index in a Tuple is not possible, because of immutable nature
Tuple2[0], Tuple2[1], Tuple2[2], Tuple[5] = Tuple2[1], Tuple2[0], Tuple2[5], Tuple2[2]
Hetero3 # Swap index elements 0,1,2,5 with 1,0,5,2

TypeError: 'tuple' object does not support item assignment

In [175]:
# Tuples Doc ----> https://www.w3schools.com/python/python_tuples.asp

## Set always has unique element
1. There is no data type sequence & index in Set. Set is a collection of Unique Elements, it doesnt takes duplicate values
2. You can't append([E1, E2, E3]) []List format, extend([E1, E2, E3]), insert(Index, [E1, E2, E3]) []List format, swap, sort(), shuffle() & replace elements of Set.
3. Additionally add(Element), discard(Element) is applicable for Set only
1. set.add(Element) #add one Element at a time
2. set.remove(Element) #remove one Element at a time
3. remove() is applicable for List & Set only
4. set.discard(Element) #discard one Element at a time
5. set.pop() #Bydefault delete the first 1st Element 0th index of Set
6. Set only consist unique values
7. set.pop(Index) #delete the mentioned Index element
8. 5Sample = random.sample(Set, k=5)
9. NewSet = set2.union(set1) #merging elements of two different Sets into one new set
10. set1.update(set2) #merging element of set2 into set1 or vice versa
11. min(Set), max(Set), sum(Set) #When the Set element data types are Integer, Float, Bool

In [176]:
# Sets ---> {} ------->
# Set is a collection of Unique Elements, it doesnt takes duplicate values
# There is no fixed index values of elements
# Curly bracket is meant for Set, anything (element) inside curly bracket comes under set
# There is no specific sequence of elements in set
# Set uses the concept of hash
# You can't perform Arithmatic operations between Sets
# Set doesnt support duplicate values
# Index/Location value doesnt work in set
# Concatination is not possible between two sets
# Indexing is not possible in set
# Set is mutable variable, you can add & remove elements
# You can't perform swap, sort, shuffle & replace elements of Set

s1 = {1,2,33,33,33,4,4,3,3}
print(s1)                                                       # Exclude repeated values

Set1 = {"Jenny", 89, True, 56, 89-5j, 11.11}
print(Set1)
SetSequence = {True, "String", 67+9j, 45.77, 50}
print(SetSequence)

NewSet = {True, 46.77, 51, "String", 68+9j} # data type sequence in set. Boolean, Float, Integer, String, Complex
print(NewSet)

{1, 2, 3, 4, 33}
{True, (89-5j), 11.11, 'Jenny', 56, 89}
{True, 'String', 45.77, 50, (67+9j)}
{True, 'String', 46.77, 51, (68+9j)}

In [177]:
s2 = {22,25,14,21,55,5}
print(s2)
type(s2), len(s2)

{5, 14, 21, 22, 55, 25}

(set, 6)

In [178]:
s3 = {10.10,'Prashant',12+10j,False,11} # Elements dont have specific & fixed index value & Sequence
print(s3)

{False, 'Prashant', (12+10j), 10.1, 11}

In [179]:
s3[3] # In set indexing is not supported

TypeError: 'set' object is not subscriptable

In [180]:
s4 = {25,14,98,63,75,98}
s4

{14, 25, 63, 75, 98}

In [181]:
s1 = {10,20,30,40,50}
s2 = {60,70,80,90,100}
print(s1)
print(s2)

{40, 10, 50, 20, 30}
{100, 70, 80, 90, 60}

In [182]:
NewSet1 = s2.union(s1) # merging two different set elements into one new set
print(NewSet1)

NewSet2 = s1.union(s2) # merging two different sets elements into one new set
print(NewSet2)

{100, 70, 40, 10, 80, 50, 20, 90, 60, 30}
{100, 70, 40, 10, 80, 50, 20, 90, 60, 30}

In [183]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple"}
x.update(y)                                       # merging element of set2 into set1 or vice versa
print(x)

b.update(a)
print(b)

{'microsoft', 'apple', 'banana', 'cherry', 'google'}
{'apple', 'cherry', 'banana', 'microsoft', 'google'}

In [184]:
Set1 = {45, 78, 98, 56, 39, 93, 75, 94, 74, 98, 75, 56}
Set2 = {56, 75, 98, 74, 94, 75, 93, 39, 56, 98, 78, 45}
print(Set1)
print(Set2)

{98, 39, 74, 75, 45, 78, 56, 93, 94}
{98, 39, 74, 75, 45, 78, 56, 93, 94}

In [185]:
# Set is mutable variable, you can add & remove, elements of Set
# Adding new single element in Set
# you cant add multiple elements at a time
s1.add(39) # add one element at a time
s2.add(23)
print(s1)
print(s2)

{39, 40, 10, 50, 20, 30}
{100, 70, 80, 23, 90, 60}

In [186]:
import random
print(s2)
RandSam = random.sample(s2, k=len(s2)) # randomly pick any 3 elements from set s2
print(RandSam)

{100, 70, 80, 23, 90, 60}
[100, 23, 60, 70, 80, 90]

In [187]:
random.shuffle(s2)
print(s2)

TypeError: 'set' object is not subscriptable

In [188]:
s2.sort()
print(s2)

AttributeError: 'set' object has no attribute 'sort'

In [189]:
random.sample(s3, 3) # randomly pick any 3 elements from set s3

[False, (12+10j), 10.1]

In [190]:
print(s1)
print(s2)
s1.remove(40) # Remove element 40 from s1 Set
s2.remove(90) # Remove element 90 from s2 Set
print(s1)
print(s2)

{39, 40, 10, 50, 20, 30}
{100, 70, 80, 23, 90, 60}
{39, 10, 50, 20, 30}
{100, 70, 80, 23, 60}

In [191]:
print(s1)
print(s2)
s1.discard(10) # Remove element 10 from s1 Set
s2.discard(23) # Remove element 23 from s2 Set
print(s1)
print(s2)

{39, 10, 50, 20, 30}
{100, 70, 80, 23, 60}
{39, 50, 20, 30}
{100, 70, 80, 60}

In [192]:
Set1 = {"Jenny", 89, True, 56, 89-5j, 11.11}
print(Set1)
print(s1)
print(s2)
s1.pop() # Bydefault delete the first 1st Element of set
s2.pop() # Bydefault delete the first 1st Element of set
Set1.pop() # Bydefault delete the first 1st Element of set
print(s1)
print(s2)
print(Set1)

{True, (89-5j), 11.11, 'Jenny', 56, 89}
{39, 50, 20, 30}
{100, 70, 80, 60}
{50, 20, 30}
{70, 80, 60}
{(89-5j), 11.11, 'Jenny', 56, 89}

In [304]:
NumSet = (1, 2, 3, 4.9, 5, 78.4, True, 68, 33, 22, False, 12)

print(NumSet)

type(NumSet), len(NumSet), min(NumSet), max(NumSet), sum(NumSet)

(1, 2, 3, 4.9, 5, 78.4, True, 68, 33, 22, False, 12)

(tuple, 12, False, 78.4, 230.3)

In [305]:
s1+s2 # Addition of two/more sets are not possible because indexing is not fixed... There is no sequence in elements
      # Concatination of two/more sets are not possible because indexing is not fixed

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [306]:
s1*s2 # Multiplication of two/more sets are not possible because indexing is not fixed

TypeError: unsupported operand type(s) for *: 'set' and 'set'

In [307]:
s1/s2 # Division of two/more sets are not possible because indexing is not fixed

TypeError: unsupported operand type(s) for /: 'set' and 'set'

In [308]:
# Sets always maintain unique values
# https://www.w3schools.com/python/python_sets.asp

## Dictionary is Collection of Key:Value Pair Combinations
1. Dictioneries are Unordered
2. Dictioneries don't allow duplicate keys
3. Keys always should be immutable ie String or Numeric
4. Dict[Key].index(Value) #See the Index of mentioned Value. One element Value at a time.
5. Dict[Key][:] #Dict Key:Value pair indexing
6. Dict[Key][::3] #Dict Key:Value pair indexing from start to end by hopping 3 elements cycle
7. Dict[Key].append([e1, e2, e3]) #append in List[] format at the end position
8. Dict[Key].insert(2, ["Magenta", "White", "Pink"]) #insert new value elements in List[] format at the place of mentioned index
9. Dict[Key][Index:0] = e1, e2, e3, e4 #Plugin new value elements at the place of mentioned index
10. Dict[Key][Index:0] = [e1] #While plugging in single value element e1 as array
11. Dict[Key][index] = e1, e2, e3, e4 #Mentioned value index element got replaced by e1, e2, e3, e4 value elements. () tuple format
12. Dict[Key][index] = e1 #Mentioned index value element got replaced by single alone e1 element
13. Dict[Key][index] = [e1, e2, e3, e4] #Mentioned index value elements got replaced by e1, e2, e3, e4 value elements. [] list format
14. Dict[Key][4:8] = e1, e2, e3, e4 #While replacing value elements from index 4 to index 7
15. Dict[Key][4:8] = [e1] # From 4 to 8 exclusive upperbound multiple index value elements will be replaced by single value e1 as array
16. Dict[Key].extend([e1, e2, e3, e4]) #Add multiple indivisual value elements to the end position
17. Dict[Key][len(Dict[Key]):0] = e1, e2, e3, e4 #Plugin new value elements at the end position
18. Dict[Key][len(Dict[Key]):0] = [e1] # While plugging in single value element e1 as array
19. random.shuffle(Dict["City"]) #Shuffle the value elements of "City" key Randomly
20. Dict[Key] = random.sample(Dict[Key], k=len(Dict[Key])) #Pick randomly equal length sample value elements, without repetitions
21. Dict[Key].pop() #By default delete the last value element of Key
22. Dict[Key].pop(index) #delete the mentioned Index value element
23. Dict[Key].count(Element) #Count the mentioned value Element frequency. One value element at a time.
24. Dict[Key].remove(Element) #delete the mentioned value Element, remove() is applicable for List & Set only
25. Dict[Key].sort() #When the Dict[Key] value element data types are Integer, Float, Bool
26. min(Dict[Key]), max(Dict[Key]), sum(Dict[Key]) #When the Dict[Key] value element data types are Integer, Float, Bool

In [121]:
# Create a Dictionary -----> {}  ---- data is represented in the form of Key, Value type
# We use Dictionary to customise the indexing
# Elements of Dictionary always written inside {}
# Here key is the index & value is the element
# There could be lots of elements under each key

Dict = {'Fruits' : ['Apple', 'Mango', 'Grapes', 'Pineapple', 'Guava'],
        'City' : ['Bangalore', 'Mumbai', 'Chennai', 'Kolkata', 'Delhi'],
        'Colour' : ['Red', 'Green', 'Blue', 'Yellow', 'Purple'],
        'Integer' : [45, 67, 78, 89, 245],
        'Float' : [67.56, 78.98, 45.48, 99.99, 56.68],
        'Complex' : [78-9j, 45+5j, 89-5j, 56-8j, 38+8j],
        'Boolean' : [True, False, True, False, True],
        'Mixture' : [89, 67.99, 56-4j, True, 'String']}

print(Dict)
type(Dict)
# We use dictionary in a situation where we need Lookup tables.

{'Fruits': ['Apple', 'Mango', 'Grapes', 'Pineapple', 'Guava'], 'City': ['Bangalore', 'Mumbai', 'Chennai', 'Kolkata', 'Delhi'], 'Colour': ['Red', 'Green', 'Blue', 'Yellow', 'Purple'], 'Integer': [45, 67, 78, 89, 245], 'Float': [67.56, 78.98, 45.48, 99.99, 56.68], 'Complex': [(78-9j), (45+5j), (89-5j), (56-8j), (38+8j)], 'Boolean': [True, False, True, False, True], 'Mixture': [89, 67.99, (56-4j), True, 'String']}

dict

In [2]:
# Creating data frame by using Dictionary
WeatherData={"Date":[1/1/20,1/2/20,1/3/20,1/4/20,1/5/20,1/6/20],
             "Temperature":[32,35,28,24,32,31],
             "WindSpeed":[6,7,2,7,4,2],
             "Event":["Rain","Sunny","Snow","Snow","Rain","Sunny"]}

print(WeatherData)
type(WeatherData)

{'Date': [0.05, 0.025, 0.016666666666666666, 0.0125, 0.01, 0.008333333333333333], 'Temperature': [32, 35, 28, 24, 32, 31], 'WindSpeed': [6, 7, 2, 7, 4, 2], 'Event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']}

dict

In [128]:
Nested_Dict = { "Student" : {"Name" : { "Kunaal" : {"Physics" : 89/100,
                                                    "Chemistry" : 67/100,
                                                    "Math" : 87/100,
                                                    "Biology" : 99/100},
                                       "Anwesh" : {"Physics" : 88/100,
                                                   "Chemistry" : 99/100,
                                                   "Math" : 78/100,
                                                   "Biology" : 98/100},
                                       "Rohit" : {"Physics" : 72/100,
                                                  "Chemistry" : 97/100,
                                                  "Math" : 99/100,
                                                  "Biology" : 66/100}}}}

print(Nested_Dict)

{'Student': {'Name': {'Kunaal': {'Physics': 0.89, 'Chemistry': 0.67, 'Math': 0.87, 'Biology': 0.99}, 'Anwesh': {'Physics': 0.88, 'Chemistry': 0.99, 'Math': 0.78, 'Biology': 0.98}, 'Rohit': {'Physics': 0.72, 'Chemistry': 0.97, 'Math': 0.99, 'Biology': 0.66}}}}

In [133]:
print(Nested_Dict["Student"]["Name"]["Kunaal"])
print(Nested_Dict["Student"]["Name"]["Anwesh"])
print(Nested_Dict["Student"]["Name"]["Rohit"])

{'Physics': 0.89, 'Chemistry': 0.67, 'Math': 0.87, 'Biology': 0.99}
{'Physics': 0.88, 'Chemistry': 0.99, 'Math': 0.78, 'Biology': 0.98}
{'Physics': 0.72, 'Chemistry': 0.97, 'Math': 0.99, 'Biology': 0.66}

In [3]:
print(WeatherData["Event"].index("Sunny"), WeatherData["Temperature"].index(32), WeatherData["Date"].index(1/6/20))

1 0 5

In [4]:
print(WeatherData["Event"][0:6]) # Show 0 to 6 excluding upperbound values
print(WeatherData["Event"][0:5]) # Show 0 to 2 excluding upperbound values
print(WeatherData["Event"])

['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
['Rain', 'Sunny', 'Snow', 'Snow', 'Rain']
['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']

In [5]:
print(WeatherData["Event"][0:6:2])
print(WeatherData["Event"][4][0:4:2]) # 4th value "Rain" of key "Event", 0 to 4th upper bound exclusive values by hopping 2 elements cycle
print(WeatherData["Event"][0:4])
print(WeatherData["Event"])
print(Dict["Colour"])
print(Dict["Colour"].index("Yellow"), Dict["Colour"].index("Purple"))

['Rain', 'Snow', 'Rain']
Ri
['Rain', 'Sunny', 'Snow', 'Snow']
['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
['Red', 'Green', 'Blue', 'Yellow', 'Purple']
3 4

In [6]:
print(WeatherData["Event"][::3]) # 0 to last index values of "Event" key. By hopping 3 elements cycle

['Rain', 'Snow']

In [7]:
WeatherData["Event"].append(["Local", "National", "International"])    #append in List[] format at the end position
print(WeatherData["Event"])
print(WeatherData)

['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny', ['Local', 'National', 'International']]
{'Date': [0.05, 0.025, 0.016666666666666666, 0.0125, 0.01, 0.008333333333333333], 'Temperature': [32, 35, 28, 24, 32, 31], 'WindSpeed': [6, 7, 2, 7, 4, 2], 'Event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny', ['Local', 'National', 'International']]}

In [8]:
Dict["Colour"].insert(2, ["Magenta", "White", "Pink"])   #insert new value elements in List[] format at the place of mentioned index
print(Dict)

{'Fruits': ['Apple', 'Mango', 'Grapes', 'Pineapple', 'Guava'], 'City': ['Bangalore', 'Mumbai', 'Chennai', 'Kolkata', 'Delhi'], 'Colour': ['Red', 'Green', ['Magenta', 'White', 'Pink'], 'Blue', 'Yellow', 'Purple']}

In [9]:
Dict["Colour"][4:0] = "Magenta", "Brown"   #"Colour" key, Plugin new elements "Magenta", "Brown" at the place of 4th value
print(Dict)

{'Fruits': ['Apple', 'Mango', 'Grapes', 'Pineapple', 'Guava'], 'City': ['Bangalore', 'Mumbai', 'Chennai', 'Kolkata', 'Delhi'], 'Colour': ['Red', 'Green', ['Magenta', 'White', 'Pink'], 'Blue', 'Magenta', 'Brown', 'Yellow', 'Purple']}

In [10]:
Dict["City"][4:0] = ["Hamunaptra"] # "Hamunaptra" as array has been plugged in at 4th value place of key "City"
print(Dict)

{'Fruits': ['Apple', 'Mango', 'Grapes', 'Pineapple', 'Guava'], 'City': ['Bangalore', 'Mumbai', 'Chennai', 'Kolkata', 'Hamunaptra', 'Delhi'], 'Colour': ['Red', 'Green', ['Magenta', 'White', 'Pink'], 'Blue', 'Magenta', 'Brown', 'Yellow', 'Purple']}

In [11]:
Dict["Fruits"][3] = "Banana", "Potato", "Chiku"   # "Fruits" key, 3rd value got replaced by
print(Dict)

{'Fruits': ['Apple', 'Mango', 'Grapes', ('Banana', 'Potato', 'Chiku'), 'Guava'], 'City': ['Bangalore', 'Mumbai', 'Chennai', 'Kolkata', 'Hamunaptra', 'Delhi'], 'Colour': ['Red', 'Green', ['Magenta', 'White', 'Pink'], 'Blue', 'Magenta', 'Brown', 'Yellow', 'Purple']}

In [12]:
Dict["Colour"][4:8] = "Violet", "Orange", "Black", "Grey"  # "Colour" key. from 4th to 8th exclusive upperbound value got replaced by
                                                           # replaced by "Violet", "Orange", "Black", "Grey"
print(Dict)

{'Fruits': ['Apple', 'Mango', 'Grapes', ('Banana', 'Potato', 'Chiku'), 'Guava'], 'City': ['Bangalore', 'Mumbai', 'Chennai', 'Kolkata', 'Hamunaptra', 'Delhi'], 'Colour': ['Red', 'Green', ['Magenta', 'White', 'Pink'], 'Blue', 'Violet', 'Orange', 'Black', 'Grey']}

In [13]:
Dict["Colour"][4:5] = ["Maroon"]  # "Colour" key. from 4th to 5th value upperbound got replaced by ["Maroon"] as array
print(Dict)

{'Fruits': ['Apple', 'Mango', 'Grapes', ('Banana', 'Potato', 'Chiku'), 'Guava'], 'City': ['Bangalore', 'Mumbai', 'Chennai', 'Kolkata', 'Hamunaptra', 'Delhi'], 'Colour': ['Red', 'Green', ['Magenta', 'White', 'Pink'], 'Blue', 'Maroon', 'Orange', 'Black', 'Grey']}

In [14]:
Dict["Colour"][5] = "Michiko" # "Colour" key. 5th value got replaced by "Michiko" alone
print(Dict)

{'Fruits': ['Apple', 'Mango', 'Grapes', ('Banana', 'Potato', 'Chiku'), 'Guava'], 'City': ['Bangalore', 'Mumbai', 'Chennai', 'Kolkata', 'Hamunaptra', 'Delhi'], 'Colour': ['Red', 'Green', ['Magenta', 'White', 'Pink'], 'Blue', 'Maroon', 'Michiko', 'Black', 'Grey']}

In [15]:
WeatherData["Temperature"][4] = [32, 67, 42, 69]  # "Temperature" key, 4th value got replaced by 32, 67, 42, 69 in list[] format
print(WeatherData)

{'Date': [0.05, 0.025, 0.016666666666666666, 0.0125, 0.01, 0.008333333333333333], 'Temperature': [32, 35, 28, 24, [32, 67, 42, 69], 31], 'WindSpeed': [6, 7, 2, 7, 4, 2], 'Event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny', ['Local', 'National', 'International']]}

In [16]:
WeatherData["WindSpeed"].extend([67, 76, 87, 102])     # #Add multiple indivisual elements to the end position
print(WeatherData)

{'Date': [0.05, 0.025, 0.016666666666666666, 0.0125, 0.01, 0.008333333333333333], 'Temperature': [32, 35, 28, 24, [32, 67, 42, 69], 31], 'WindSpeed': [6, 7, 2, 7, 4, 2, 67, 76, 87, 102], 'Event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny', ['Local', 'National', 'International']]}

In [17]:
Dict["City"][len(Dict["City"]):0] = "Mysore", "Bihar", "Malda", "Kochi"       #Plugin new elements at the end position
print(Dict)

{'Fruits': ['Apple', 'Mango', 'Grapes', ('Banana', 'Potato', 'Chiku'), 'Guava'], 'City': ['Bangalore', 'Mumbai', 'Chennai', 'Kolkata', 'Hamunaptra', 'Delhi', 'Mysore', 'Bihar', 'Malda', 'Kochi'], 'Colour': ['Red', 'Green', ['Magenta', 'White', 'Pink'], 'Blue', 'Maroon', 'Michiko', 'Black', 'Grey']}

In [18]:
print(Dict)

{'Fruits': ['Apple', 'Mango', 'Grapes', ('Banana', 'Potato', 'Chiku'), 'Guava'], 'City': ['Bangalore', 'Mumbai', 'Chennai', 'Kolkata', 'Hamunaptra', 'Delhi', 'Mysore', 'Bihar', 'Malda', 'Kochi'], 'Colour': ['Red', 'Green', ['Magenta', 'White', 'Pink'], 'Blue', 'Maroon', 'Michiko', 'Black', 'Grey']}

In [19]:
print(WeatherData)

{'Date': [0.05, 0.025, 0.016666666666666666, 0.0125, 0.01, 0.008333333333333333], 'Temperature': [32, 35, 28, 24, [32, 67, 42, 69], 31], 'WindSpeed': [6, 7, 2, 7, 4, 2, 67, 76, 87, 102], 'Event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny', ['Local', 'National', 'International']]}

In [20]:
Dict["City"][len(Dict["City"]):0] = ["New York"]       # While plugging in single element "New York" at the end
print(Dict)

{'Fruits': ['Apple', 'Mango', 'Grapes', ('Banana', 'Potato', 'Chiku'), 'Guava'], 'City': ['Bangalore', 'Mumbai', 'Chennai', 'Kolkata', 'Hamunaptra', 'Delhi', 'Mysore', 'Bihar', 'Malda', 'Kochi', 'New York'], 'Colour': ['Red', 'Green', ['Magenta', 'White', 'Pink'], 'Blue', 'Maroon', 'Michiko', 'Black', 'Grey']}

In [21]:
import random
random.shuffle(Dict["City"])             #Shuffle the list elements Randomly
print(Dict)

{'Fruits': ['Apple', 'Mango', 'Grapes', ('Banana', 'Potato', 'Chiku'), 'Guava'], 'City': ['Mysore', 'Hamunaptra', 'Mumbai', 'Chennai', 'Kolkata', 'Delhi', 'New York', 'Bihar', 'Bangalore', 'Kochi', 'Malda'], 'Colour': ['Red', 'Green', ['Magenta', 'White', 'Pink'], 'Blue', 'Maroon', 'Michiko', 'Black', 'Grey']}

In [22]:
Dict["Colour"] = random.sample(Dict["Colour"], k=len(Dict["Colour"])) #Pick randomly 5 sample elements
print(Dict)

{'Fruits': ['Apple', 'Mango', 'Grapes', ('Banana', 'Potato', 'Chiku'), 'Guava'], 'City': ['Mysore', 'Hamunaptra', 'Mumbai', 'Chennai', 'Kolkata', 'Delhi', 'New York', 'Bihar', 'Bangalore', 'Kochi', 'Malda'], 'Colour': ['Grey', ['Magenta', 'White', 'Pink'], 'Black', 'Green', 'Red', 'Michiko', 'Blue', 'Maroon']}

In [23]:
Dict["Colour"].pop() #By default delete the last value element of "Colour" key
print(Dict)

{'Fruits': ['Apple', 'Mango', 'Grapes', ('Banana', 'Potato', 'Chiku'), 'Guava'], 'City': ['Mysore', 'Hamunaptra', 'Mumbai', 'Chennai', 'Kolkata', 'Delhi', 'New York', 'Bihar', 'Bangalore', 'Kochi', 'Malda'], 'Colour': ['Grey', ['Magenta', 'White', 'Pink'], 'Black', 'Green', 'Red', 'Michiko', 'Blue']}

In [24]:
Dict["City"].pop(Dict["City"].index("Hamunaptra"))    #Delete the mentioned value index element of "Colour" key
print(Dict)                                           #Delete the index of "Hamunaptra"

{'Fruits': ['Apple', 'Mango', 'Grapes', ('Banana', 'Potato', 'Chiku'), 'Guava'], 'City': ['Mysore', 'Mumbai', 'Chennai', 'Kolkata', 'Delhi', 'New York', 'Bihar', 'Bangalore', 'Kochi', 'Malda'], 'Colour': ['Grey', ['Magenta', 'White', 'Pink'], 'Black', 'Green', 'Red', 'Michiko', 'Blue']}

In [25]:
Dict["City"].count("Chennai") #Count the mentioned Element frequency

1

In [26]:
Dict["City"].remove("New York")     #delete the mentioned Element, remove() is applicable for List & Set only
print(Dict)

{'Fruits': ['Apple', 'Mango', 'Grapes', ('Banana', 'Potato', 'Chiku'), 'Guava'], 'City': ['Mysore', 'Mumbai', 'Chennai', 'Kolkata', 'Delhi', 'Bihar', 'Bangalore', 'Kochi', 'Malda'], 'Colour': ['Grey', ['Magenta', 'White', 'Pink'], 'Black', 'Green', 'Red', 'Michiko', 'Blue']}

In [27]:
type(Dict["City"])

list

In [28]:
type(Dict), type(WeatherData), len(Dict), len(WeatherData)

(dict, dict, 3, 4)

In [36]:
import sys
print(sys.getsizeof(WeatherData))
print(sys.getsizeof(Dict))

232
232

In [81]:
# Delete the "Goa" key index & its associate/corresponding element value

del capitals['Goa']

capitals

KeyError: 'Goa'

In [142]:
d={"navin":"nokia","kiran":"one plus","sunil":"samsung"}
d

{'navin': 'nokia', 'kiran': 'one plus', 'sunil': 'samsung'}

In [143]:
d.keys() # Shows the Dictionary keys index only

dict_keys(['navin', 'kiran', 'sunil'])

In [144]:
d.values() # Shows the Dictionary values only

dict_values(['nokia', 'one plus', 'samsung'])

In [145]:
# items() method returns a view object. The view object contains the key-value pairs of the dictionary, as tuples inside a list.
d.items()

dict_items([('navin', 'nokia'), ('kiran', 'one plus'), ('sunil', 'samsung')])

In [146]:
d["navin"] # Shows the value of Key "navin"

'nokia'

In [147]:
d.get("navin") # Shows the value of Key "navin"

'nokia'

In [148]:
# Dictionaries Docs for Practice
# https://www.w3schools.com/python/python_dictionaries.asp

## Range

In [149]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [150]:
Range1=range(6) # By default it will start from 0, 6 is upperbound

In [151]:
type(Range1)

range

In [152]:
print(Range1)

range(0, 6)

In [153]:
List=list(Range1) # Convert Range into List

In [154]:
List=list(range(6)) # Direct conversion from range to List

In [155]:
print(List)

[0, 1, 2, 3, 4, 5]

In [156]:
Range2=range(2,6) # It will start from 2, upperbound is 6

In [157]:
print(Range2)

range(2, 6)

In [158]:
List2=list(Range2)

In [159]:
List2=list(range(2,6)) # Direct conversion from range to List

In [160]:
print(List2)

[2, 3, 4, 5]

In [161]:
# Range Parametres
 # Start: Starting point of the sequence
 # Stop: Ending point of the sequence (Upperbound)
 # Step: Number of times the skip will happen

In [162]:
Range3=range(0,11,2) # 0 is starting point, 11 is upperbound, 2 is interval step

In [163]:
List3=list(Range3)

In [164]:
print(List3)

[0, 2, 4, 6, 8, 10]

In [165]:
# Range With For Loop      # We can directly see range elements by using for loop
                          # No need to create range and transform it to list
for i in range(0,10,2):   # 10 is upperbound here and 2 is interval step
    print(i)              # This program is printing the even numbers

0
2
4
6
8

In [166]:
# Range always works with integers, don't supports floats/noninteger charecters
# If you wanna create range of noninteger charecters then use for loop
# Float numbers in range by using frange loop function
# We will get a sequence with floating point values

def frange(start, stop, step):
    i=start
    while i<stop:            # Untill the value of i<stop
        yield i              # Keep taking/evolving the value of i
        i+=step              # Each time take/evolve & increase the value of i by step, increase i by step, value will be i+step
for i in frange(0.1,1,0.3):
    print(i)

0.1
0.4
0.7

In [167]:
#Reverse Range in python by using for loop
for i in range(5,0,-1):   #5 is starting point and 0 is upperbound
    print(i)              #-1 is interval step... keep deducting -1 at each step from the value of i

5
4
3
2
1

In [168]:
#Range always works with integers, don't supports floats/noninteger charecters
#If you wanna create range of noninteger charecters then use for loop
#Float numbers in range by using frange loop function
#We will get a sequence with floating point values

def frange(start, stop, step):
    i=start
    while i>stop:            #Untill the value of i>stop
        yield i              #Keep taking the value of i
        i+=step              #Each time take the value of i by i+step, increase i by step
for i in frange(5,0,-1):
    print(i)

5
4
3
2
1

In [169]:
#Concatinating 2 range functions by using chain function
from itertools import chain
Range=chain(range(10), range(10,21)) # range 0to9 and 10to20 got joined/concatinated by chain() function in2 a new Range
List=list(Range)                     #Convert the Range into List
print(List)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [170]:
#Direct concat
Range=list(range(10))+list(range(10,21))
Range

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [171]:
# You cant perform Arithmatic operations between Ranges
# We can't concat 2 range functions by using + sign
RANGE1=range(5)
RANGE2=range(5,10)
RANGE1+RANGE2

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [172]:
#Concatinating 2 range functions by using chain function
from itertools import chain
Range=chain(range(10,21), range(21,31)) # range 10to20 and 21to30 got joined/concatinated by chain() function in2 a new Range
Tuple=tuple(Range)      #Convert the Range into Tuple
List=list(Range)        #Convert the Range into List
print(Tuple),print(List)

(10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30)
[]

(None, None)

In [173]:
Tuple=tuple(range(10,21))+tuple(range(10,21))
List=list(range(10,21))+list(range(10,21))
print(Tuple),print(List)

(10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

(None, None)

In [174]:
R1=range(0,5)   #We can't concat 2 range functions by using + sign
R2=range(5,10)
R1+R2

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [175]:
#Accessing the elements in a range function using indexes
Range=range(0,11)
print(Range[5]),Range[5]

5

(None, 5)

In [176]:
R1=list(range(0,11)) #Convert the range into List
R2=list(range(11,0,-1)) #Decrement with negative step, start=11, stop=0, step=-1
print(R1),print(R2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

(None, None)

In [177]:
#Creating multiple variables at a time
Lists, Tuple, Sets, Range, Dictioneries=[1,2,3,4,5,6,7,8,9,10],("KESHAV",45+9j,True,39.69,39,39),{10.10,'Prashant',10+10j,False,10},range(0,11,2),{'Maharashtra':'Mumbai','Karnataka':'Bangalore','Rajasthan':'Jaipur'}
print(Lists,Tuple,Sets,Range,Dictioneries)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] ('KESHAV', (45+9j), True, 39.69, 39, 39) {False, 'Prashant', (10+10j), 10.1, 10} range(0, 11, 2) {'Maharashtra': 'Mumbai', 'Karnataka': 'Bangalore', 'Rajasthan': 'Jaipur'}