<h1>Table of Contents (Everything in Python is an Object)<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Variables-&amp;-Data-Types-In-Python" data-toc-modified-id="Variables-&amp;-Data-Types-In-Python-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Variables &amp; Data Types In Python</a></span><ul class="toc-item"><li><span><a href="#Data-Types" data-toc-modified-id="Data-Types-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Data Types</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#You-can-perform-Airthmatic-Operations-between-Numerical-datas-including-Complex-data" data-toc-modified-id="You-can-perform-Airthmatic-Operations-between-Numerical-datas-including-Complex-data-1.1.0.1"><span class="toc-item-num">1.1.0.1&nbsp;&nbsp;</span>You can perform Airthmatic Operations between Numerical datas including Complex data</a></span></li></ul></li></ul></li><li><span><a href="#Data-types-Conversion" data-toc-modified-id="Data-types-Conversion-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Data types Conversion</a></span></li></ul></li><li><span><a href="#Variables" data-toc-modified-id="Variables-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Variables</a></span><ul class="toc-item"><li><span><a href="#Lists" data-toc-modified-id="Lists-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Lists</a></span><ul class="toc-item"><li><span><a href="#Perform-Insert,-Remove-&amp;-Replace-task-at-a-time" data-toc-modified-id="Perform-Insert,-Remove-&amp;-Replace-task-at-a-time-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Perform Insert, Remove &amp; Replace task at a time</a></span></li></ul></li><li><span><a href="#Tuples" data-toc-modified-id="Tuples-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Tuples</a></span></li><li><span><a href="#Set" data-toc-modified-id="Set-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Set</a></span></li><li><span><a href="#Dictionary" data-toc-modified-id="Dictionary-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Dictionary</a></span></li><li><span><a href="#Range" data-toc-modified-id="Range-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Range</a></span></li></ul></li></ul></div>

# Variables & Data Types In Python

## Data Types
#### You can perform Airthmatic Operations between Numerical datas including Complex data
1. Integer
2. Float
3. Complex
4. Bool
5. String

In [64]:
Integer = 10        # Integer
print(Integer)
type(Integer)       # Check the type

10

int

In [65]:
10 + 10 # Expression got calculated but thrown away
24 + 23 # Expression got calculated but thrown away
30 + 30 # Last line expression got printed by default

60

In [66]:
Float = float(Integer) # Convert the Integer into float, 10.00
print(Float)

Float1 = 10.10   # Float
print(Float1)
type(Float) # Check the type

10.0
10.1

float

In [67]:
Integer = int(Float) # convert the float into int
print(Integer)
type(Integer) # Check the type

10

int

In [68]:
Complex = 10+10j  # Complex, # In python numeric extention as j represents complex number
print(Complex)
type(Complex)

(10+10j)

complex

## Data types Conversion

In [69]:
# Complex data is not convertible to any other data type
# You can't Convert the complex into int
Integer = int(Complex)

TypeError: can't convert complex to int

In [70]:
# Complex data is not convertible to any other data type
# You can't Convert the complex into float
Float = float(Complex)
print(Float)

TypeError: can't convert complex to float

In [71]:
# False means 0, True means 1
Bool1 = False   #Bool
Bool2 = True
print(Bool1), print(Bool2)
type(Bool1), type(Bool2)

False
True

(bool, bool)

In [72]:
# Int value of False is always 0, and True is 1
# Convert Bool into int
Integer1 = int(Bool1)
Integer2 = int(Bool2)
print(Integer1), print(Integer2)
type(Integer1), type(Integer2)

0
1

(int, int)

In [73]:
String1 = 'Animesh'    # String
String2 = "Anwesh"   # String
print(String1), print(String2)
type(String1), type(String2)

Animesh
Anwesh

(str, str)

In [74]:
# No of letters/alphabets in a "string" element
len(String1), len(String2)

(7, 6)

In [75]:
# Type the Element value & you will get its frequency/repeatation
# Here the Single String is "AnwneAnshA"
# Type any sigle alphabet/part of the String inside String.count() and you will get the repeatation of that alphabet/part
String = "AnwneAnshA"
# String.count("An")   How many times "An" is within the word "AnwneAnshA"
String.count("An"), String.count("n"), String.count("A"), len(String)

(2, 3, 3, 10)

### String indexing & Slicing
1. Strings are immutable, you can't add(Element), append([E1, E2, E3)) []List format, extend([E1, E2, E3]), pop(Index), remove(Element), discard(Element), insert(Index, [E1, E2, E3]) []List format, swap, sort(), shuffle() & replace letters of string
2. Additionaly add(Element), discard(Element) is applicable for Sets only
3. remove(Element) is applicable for List & Set only.

In [76]:
print(String.index("A"), String.index("h"), String.index("s"))
print(String[0:len(String)])
print(String[0::2])                    # print from index 0 to last by Hopping 2 elements cycle
print(String[0:4])                   # print from index 0 to 4 excluding upperbound
print(String[:4])                    # print from start index to 4 excluding upperbound
print(String[3::2])                    # print from 3rd index to last by hopping 2 elements cycle

0 8 7
AnwneAnshA
Awenh
Anwn
Anwn
nAsA

In [77]:
StringSlice1 = String[0:7]       # Slicing from String from index 0 to 7 excluding upperbound
print(StringSlice1)

StringSlice2 = String[0:7:2]    # Slicing from String from index 0 to 7 excluding upperbound by hopping 2 elements cycle
print(StringSlice2)

AnwneAn
Awen

In [78]:
String2 = "SpiderMan"

StringConcat = String[3:5] + String[2:4] + String[-3] + String2[6:9]    # Concationg indivisual letters of strings to form a new string

print(StringConcat)

newnsMan

In [79]:
print(String2[:6])                  # print from staring 0th index to 6 excluding upperbound
print(String2[6:])                  # print from 6th index to last

Spider
Man

In [80]:
import random
print(String2)
RandString = random.sample(String2, 4)              # randomly pick any 3 string letters from String2
print(RandString)
type(RandString)

SpiderMan
['S', 'd', 'n', 'a']

list

In [81]:
# Swap/interchange index location of the element letters in a String
String2[1], String2[2] = String2[2], String2[1]
print(String2)
type(String2), len(String2)                 # Swap index string element letters 1,2 with 2,1

TypeError: 'str' object does not support item assignment

In [82]:
String[3:0] = "Chipmunk"   # Strings are immutable Object, you can't plugin new letters
print(string)

TypeError: 'str' object does not support item assignment

In [83]:
String[2:5] = "Munukunu"   # You can't replace string letters with new ones
print(String)

TypeError: 'str' object does not support item assignment

In [84]:
String.append(["L", "M", "N"])         # [] List format in the end
print(String)

AttributeError: 'str' object has no attribute 'append'

In [85]:
String.add("H")           # add() works for Set only, One element at a time
print(String)

AttributeError: 'str' object has no attribute 'add'

In [86]:
String.extend(["P", "Y", "z"])   # Add multiple indivisual elements to the end
print(String)

AttributeError: 'str' object has no attribute 'extend'

In [87]:
String.pop()         # Delete last index element by default
print(String)

AttributeError: 'str' object has no attribute 'pop'

In [88]:
String.remove("n")       # remove() is applicable for List & Set only. Remove the mentioned string letter
print(String)

AttributeError: 'str' object has no attribute 'remove'

In [89]:
String.insert(2, "B")      # Plugin new string letter at the place of mentioned index
print(String)

AttributeError: 'str' object has no attribute 'insert'

In [90]:
String2.discard("M")           # discard() works for Set only
print(String2)

AttributeError: 'str' object has no attribute 'discard'

In [91]:
random.shuffle(String2)
print(String2)

TypeError: 'str' object does not support item assignment

In [92]:
String2.sort()
print(String2)

AttributeError: 'str' object has no attribute 'sort'

In [93]:
SingleQT = 'This is single quote string'
print(SingleQT)

DoubleQT = "This is double quote string"
print(DoubleQT)

InsideQT = "This is 'Single Quote' inside 'double' quote"
print(InsideQT)

Backlash = "Hello! \"I am Jaspreet\". How's is your Mother?"
print(Backlash)

Multi_Line = """This is Multi-Line paragraph.
It starts with "Triple Quotes" symbol &
also end's with the same.
Thanking you Anwesh!!!"""
print(Multi_Line)
len(SingleQT), len(DoubleQT), len(InsideQT), len(Backlash), len(Multi_Line)

This is single quote string
This is double quote string
This is 'Single Quote' inside 'double' quote
Hello! "I am Jaspreet". How's is your Mother?
This is Multi-Line paragraph.
It starts with "Triple Quotes" symbol &
also end's with the same.
Thanking you Anwesh!!!

(27, 27, 44, 45, 118)

In [94]:
# String is not convertible to any other data type
# You can't Convert the "String" into Integer
Integer1 = int(String1)
Integer2 = int(String2)
type(Integer1), type(Integer2), print(Integer1), print(Integer2)

ValueError: invalid literal for int() with base 10: 'Animesh'

In [95]:
A = String.count("An") # Count repeatation of "An" in string "AnwneAnshA" & save in X
B = String.count("n") # Count repeatation of "n" in string "AnwneAnshA" & save in Y
C = String.count("A") # Count repeatation of "A" in string "AnwneAnshA" & save in Z
print(A), print(B), print(C)
type(A), type(B), type(C)

2
3
3

(int, int, int)

In [96]:
X = String.count("An")
Complex = complex(real=X, imag=Float)             # Combine Integer & Float into Complex
print(Complex)                                    # Float will come into the imaginery part if you place it after comma

Comp1 = complex(real=10, imag=-23.44)
print(Comp1)

Comp2 = complex(real=-23, imag=-45)
print(Comp2)

Comp3 = complex(real=23, imag=99)
print(Comp3)

Comp4 = 67-8j
print(Comp4)

(2+10j)
(10-23.44j)
(-23-45j)
(23+99j)
(67-8j)

In [97]:
Complex = complex(real=Float, imag=Integer)                     # Combine Integer & Float into Complex
print(Complex)                                  # Integer will come into the imaginery part if you place it after comma

(10+10j)

In [98]:
# Assign different data type values to different variables at once/at a time
Integer, Float, Complex, Bool, String = 10, 10.10, 10+10j, True, "Anwesh"
print(Integer, Float, Complex, Bool, String)

10 10.1 (10+10j) True Anwesh

# Variables
1. Lists
2. Dictionaries
3. Tuple
4. Sets
5. Range

## Lists
1. List.index(Element) #See the Index of mentioned element. One element at a time.
2. List[:] #List Indexing
3. List[::3] #List Indexing from start to end by hopping 3 elements cycle
4. List.append([a1, a2, a3])   #append in List[] format at the end position
5. List.insert(index, [a1, a2, a3, a4]) #insert new elements in List[] format at the place of mentioned index
6. List.extend([a1, a2, a3, a4]) #Add multiple indivisual elements to the end position
7. List[len(List):0] = [a1, a2, a3, a4] #Plugin new elements at the end position
8. List3 = List1 + List2 #List Concatination
9. random.shuffle(List) #Shuffle the list elements Randomly
10. RandSam = random.sample(List, k=5) #Pick random 5 sample elements
11. List.pop() #By default delete the last Index element
12. List.pop(index) #delete the mentioned Index element
13. List.count(Element) #Count the mentioned Element frequency
14. List.remove(Element) #delete the mentioned Element, remove() is applicable for List & Set only
15. Additionally add(), discard() only works for Set #They don't work for List
16. List.sort() #When the List element data types are Integer, Float, Bool
17. min(List), max(List), sum(List) #When the List element data types are Integer, Float, Bool

In [104]:
# You can't perform Arithmatic operations between lists, only concatination is possible
# Creation of list ---- [], all elements of list come inside square bracket
# [] Write everything inside Square bracket, which creates list
# Whenever you want to fetch any specific value from List, mention the positional/location/index val inside List[] square bracket
# You can't perform Arithmatic operations between 2 or more Lists
# Homogenous list ----- list following only one datatype
# Nested List----- When you create multiple List inside a List
# You can't perform advanced indexing with List
# List is mutable variable, you can add, remove, insert, swap, sort, shuffle & replace elements of List

Homo1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] #List containing only integers
print(Homo1)

MixValues = ["KESHAV", 45+9j, True, 39.69, 39] #List containing all type of datas
print(MixValues)

NestList = ["KESHAV", 45+9j, True, 39.69, 39, Homo1] #Homo1 list has been taken inside NestList
print(NestList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['KESHAV', (45+9j), True, 39.69, 39]
['KESHAV', (45+9j), True, 39.69, 39, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]

In [105]:
MixValues[len(MixValues):0] = NestList   # Plugin new elements at the last end position index
# EndPlugin = MixValues
print(MixValues)
len(MixValues)

['KESHAV', (45+9j), True, 39.69, 39, 'KESHAV', (45+9j), True, 39.69, 39, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]

11

In [106]:
print(MixValues[10])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [107]:
MixValues[len(MixValues):0] = "Ghajini"
print(MixValues)

['KESHAV', (45+9j), True, 39.69, 39, 'KESHAV', (45+9j), True, 39.69, 39, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'G', 'h', 'a', 'j', 'i', 'n', 'i']

In [45]:
# Creation of list ---- [] (inside square brackets)
# Homogenous list ----- list following only one datatype integer

List1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(List1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [46]:
# len() function tells about how many number of elements a variable/List have
len(List1), len(Homo1), len(MixValues), len(NestList)

(10, 10, 11, 6)

In [47]:
# List with heterogenous datatype elements
# Heterogenous list ---- list following multiple different datatype elements

Hetero1 = [10.10, 'Prashant', 10+10j, False, 10]
Hetero2 = ["KESHAV", 45+9j, True, 39.69, 39]
print(Hetero1)
print(Hetero2)

[10.1, 'Prashant', (10+10j), False, 10]
['KESHAV', (45+9j), True, 39.69, 39]

In [48]:
# Concatination of two lists
Hetero3 = Hetero1 + Hetero2
print(Hetero3)
type(Hetero3), len(Hetero3)

[10.1, 'Prashant', (10+10j), False, 10, 'KESHAV', (45+9j), True, 39.69, 39]

(list, 10)

### List Indexing

In [49]:
# provide index locations of the elements and you will get the element datatypes

print(Hetero3[0], Hetero3[1], Hetero3[2], Hetero3[3], Hetero3[4])
type(Hetero3[0]), type(Hetero3[1]), type(Hetero3[2]), type(Hetero3[3]), type(Hetero3[4]) # Shows data types of each index

10.1 Prashant (10+10j) False 10

(float, str, complex, bool, int)

In [50]:
# Lets say you want to access single or multiple elements from the list 
# List1 --- Accessing Single Element
# To extract element in the list you will be using indexes Location

print(Hetero3[4])
type(Hetero3[4]) # Shows the 4th index element

10

int

In [51]:
print(Hetero3[2], Hetero3[4]) #shows 2nd and 4th index elements

(10+10j) 10

In [52]:
Hetero3[2,4] # Multiple/Advanced indexing doesnt work here with List, it works with Arrays
Hetero3[[2,4]]
Hetero3[[2],[4]]

TypeError: list indices must be integers or slices, not tuple

In [53]:
# In Hetero3 3rd index element is False which is boolian data type
# False is not a "String" element
# 0th index letter of 3rd index element False is not possible

Hetero3[3][0]

TypeError: 'bool' object is not subscriptable

In [54]:
# 1st index of Hetero3 List element "Prashant" and 0th index of it is P
Hetero3[1][0]

'P'

In [55]:
Hetero3.index("Prashant"), Hetero3.index(True) #Type the Element data value & you will get the index value of it

(1, 7)

In [56]:
Hetero3.index("KESHAV"), Hetero3.index(39.69), Hetero3.index(45+9j) #Type the Element data value & you will get the index value of it

(5, 8, 6)

In [57]:
# One element index at a time should be taken, multiple elements are not allowed

Hetero3.index("KESHAV", "Prashant")            #It doesn't work with Multiple elements at a time
Hetero3.index(["KESHAV", "Prashant"])
Hetero3.index(["KESHAV"], ["Prashant"])

TypeError: slice indices must be integers or have an __index__ method

In [58]:
print(Hetero3[1], Hetero3[2], Hetero3[3]) #shows 1st, 2nd and 3rd index elements
print(Hetero3[1:4]) #shows from 1st to 4th exclusive upperbound range elements
print(Hetero3)

Prashant (10+10j) False
['Prashant', (10+10j), False]
[10.1, 'Prashant', (10+10j), False, 10, 'KESHAV', (45+9j), True, 39.69, 39]

In [59]:
# To Extract the series of elements from a list or any other variable provide index range inside [:]
# [start_index:upperbound] -----> where upperbound = end_index + 1

print(Hetero3)
Hetero3[2:5] # shows from 2nd to 5th exclusive upperbound range elements

[10.1, 'Prashant', (10+10j), False, 10, 'KESHAV', (45+9j), True, 39.69, 39]

[(10+10j), False, 10]

In [61]:
print(Hetero3[2:len(Hetero3):2])   # print from 2nd to excluding upperbound length index by skipping 2 elements cycle

[(10+10j), 10, (45+9j), 39.69]

### Perform Insert, Remove & Replace task at a time

In [62]:
Hetero3 = [10.1, "Prashant", 10+10j, False, 10, "KESHAV", 45+9j, True, 39.69, 39]
print(Hetero3)
type(Hetero3), len(Hetero3)

[10.1, 'Prashant', (10+10j), False, 10, 'KESHAV', (45+9j), True, 39.69, 39]

(list, 10)

In [63]:
# Perform Change/Replace a List element value with new one
# Provide index value [] = provide new value

print(Hetero3)
print(Hetero3[2])
Hetero3[2] = 20+20j                           # 2nd index element 10+10j has been replace by 20+20j
print(Hetero3[2])
print(Hetero3)
type(Hetero3)

Hetero3[2:0] = "Plugin", "New", "3Elements"   # Plugin 3 new indivisual elements at the place of 2nd index
print(Hetero3)

[10.1, 'Prashant', (10+10j), False, 10, 'KESHAV', (45+9j), True, 39.69, 39]
(10+10j)
(20+20j)
[10.1, 'Prashant', (20+20j), False, 10, 'KESHAV', (45+9j), True, 39.69, 39]
[10.1, 'Prashant', 'Plugin', 'New', '3Elements', (20+20j), False, 10, 'KESHAV', (45+9j), True, 39.69, 39]

In [27]:
# Perform Change/Replace & Insert in a List element values with new values
# Provide index value range [:] = provide Replace value, provide Insert value
# 2nd index element 20+20j has been replace by 30+30j
# True has got Inserted/placed between 2nd index (30+30j) & 4th index (False) elements
# True has got Inserted/placed/has taken at 3rd index position/location
# Now total no of elements in the list Hetero3 is 11, got increased by 1 element

print(Hetero3[2:5])
Hetero3[2:5] = 30+30j, True, "Naruto"   # Replace 2nd, 3rd & 4th index with 30+30j, True, "Naruto"
print(Hetero3[2:5])
print(Hetero3)
len(Hetero3)

['Plugin', 'New', '3Elements']
[(30+30j), True, 'Naruto']
[10.1, 'Prashant', (30+30j), True, 'Naruto', (20+20j), False, 10, 'KESHAV', (45+9j), True, 39.69, 39]

13

In [28]:
print(Hetero3)
Hetero3[3:5] = "Vinod", "Sharma"
print(Hetero3)

[10.1, 'Prashant', (30+30j), True, 'Naruto', (20+20j), False, 10, 'KESHAV', (45+9j), True, 39.69, 39]
[10.1, 'Prashant', (30+30j), 'Vinod', 'Sharma', (20+20j), False, 10, 'KESHAV', (45+9j), True, 39.69, 39]

In [ ]:
print(Hetero3)
Hetero3[4:6] = ["Suraj"]
print(Hetero3)              # 4th & 5th Index element got replaced by single element "Suraj" as array

In [149]:
Hetero5 = [33+7j, "Tandav", 55, 87.99, True, False, 10.7, 88]
print(Hetero5)

print(Hetero5[2:5])
Hetero5[2:0] = 77, "Pixie", "Hexie"                         # Plugin 77, "Pixie", "Hexie at the place of 2nd index
print(Hetero5[2:5])
print(Hetero5)

print(Hetero5[4:8])
Hetero5[4:0] = "OOP", 33, "Cubix", "Latex"                  # Plugin "OOP", 33, "Cubix", "Latex" at the place of 4th index
print(Hetero5[4:8])
print(Hetero5)

[(33+7j), 'Tandav', 55, 87.99, True, False, 10.7, 88]
[55, 87.99, True]
[77, 'Pixie', 'Hexie']
[(33+7j), 'Tandav', 77, 'Pixie', 'Hexie', 55, 87.99, True, False, 10.7, 88]
['Hexie', 55, 87.99, True]
['OOP', 33, 'Cubix', 'Latex']
[(33+7j), 'Tandav', 77, 'Pixie', 'OOP', 33, 'Cubix', 'Latex', 'Hexie', 55, 87.99, True, False, 10.7, 88]

In [150]:
print(Hetero5)
print(Hetero5[2:5])
Hetero5[2:5] = "Two", "Five" # Replace 2nd to 5th exclusive upperbound range elements with "Two", "Five"
print(Hetero5[2:5])
print(Hetero5)

[(33+7j), 'Tandav', 77, 'Pixie', 'OOP', 33, 'Cubix', 'Latex', 'Hexie', 55, 87.99, True, False, 10.7, 88]
[77, 'Pixie', 'OOP']
['Two', 'Five', 33]
[(33+7j), 'Tandav', 'Two', 'Five', 33, 'Cubix', 'Latex', 'Hexie', 55, 87.99, True, False, 10.7, 88]

In [151]:
# Perform Change/Replace & Insert in a List element values with new values
# Provide index value range [:] = provide Replace value, provide Insert value
# Between 8th index element "KESHAV" & exclusive upperbound 11th index element 39.69 all elements (3 elements) got removed/killed by 40, "Morphine"
# Now total no of elements in the list Hetero3 is 12
print(Hetero3)
print(Hetero3[8:11])
Hetero3[8:11] = 40, "Morphine"    # Replace 8th to exclusive upperbound 11th exclusive upperbound range elements with 40, "Morphine"
print(Hetero3[8:11])
print(Hetero3)
type(Hetero3), len(Hetero3)

[10.1, 'Prashant', (30+30j), True, 'Naruto', (20+20j), False, 10, 'KESHAV', (45+9j), True, 39.69, 39]
['KESHAV', (45+9j), True]
[40, 'Morphine', 39.69]
[10.1, 'Prashant', (30+30j), True, 'Naruto', (20+20j), False, 10, 40, 'Morphine', 39.69, 39]

(list, 12)

In [152]:
# Perform Change/Replace,Insert & Remove in a List element values with new values
# Provide index value range [:]= provide Replace value, provide Insert value
# 2nd index element 30+30j has been replace by 40+40j
# Between 2nd index element (40+40j) & 9th index element (39) all elements (6 elements) got removed/killed by "John-Wick"
# Now total no of elements in the list Hetero3 is 5
print(Hetero3[2:9])
Hetero3[2:9] = 40+40j, "John-Wick"   # Replace 2nd to 9th exclusive upperbound range elements with 40+40j, "John-Wick"
print(Hetero3[2:6])
Hetero3, len(Hetero3)

[(30+30j), True, 'Naruto', (20+20j), False, 10, 40]
[(40+40j), 'John-Wick', 'Morphine', 39.69]

([10.1, 'Prashant', (40+40j), 'John-Wick', 'Morphine', 39.69, 39], 7)

In [153]:
# List is mutable variable, you can add, remove, insert, swap, shuffle & replace elements of List

Hetero3 = [10.1, "Prashant", 10+10j, False, 10, "KESHAV", 45+9j, True, 39.69, 39]
print(Hetero3[2])
Hetero3[2] = 20+20j
print(Hetero3[2])
print(Hetero3)           # 2nd index element 10+10j has been replaced by 20+20j

(10+10j)
(20+20j)
[10.1, 'Prashant', (20+20j), False, 10, 'KESHAV', (45+9j), True, 39.69, 39]

In [154]:
Hetero3.append("Append")
print(Hetero3)

Hetero3.append([15+15j, 22])       # [] List format Add new List [15+15j,22] to the end location of Hetero3 by using append function
                                                        # append always increses a single element
print(Hetero3)

[10.1, 'Prashant', (20+20j), False, 10, 'KESHAV', (45+9j), True, 39.69, 39, 'Append']
[10.1, 'Prashant', (20+20j), False, 10, 'KESHAV', (45+9j), True, 39.69, 39, 'Append', [(15+15j), 22]]

In [155]:
Hetero3.add("Add")
print(Hetero3)                    # add() is applicable for Set only, one element at a time

AttributeError: 'list' object has no attribute 'add'

In [156]:
print(Hetero3[2])
Hetero3[2] = ["A", "B", "C"]      # [] List format Replace 2nd index element (20+20j) with list ["A", "B", "C"]
print(Hetero3[2])
print(Hetero3)

(20+20j)
['A', 'B', 'C']
[10.1, 'Prashant', ['A', 'B', 'C'], False, 10, 'KESHAV', (45+9j), True, 39.69, 39, 'Append', [(15+15j), 22]]

In [157]:
print(Hetero3[3:7])
Hetero3[3:0] = [1, 2, 3, 4]       # Plugin new indivisual List elements 1, 2, 3, 4 at the place of 3rd index
print(Hetero3[3:7])
print(Hetero3)

[False, 10, 'KESHAV', (45+9j)]
[1, 2, 3, 4]
[10.1, 'Prashant', ['A', 'B', 'C'], 1, 2, 3, 4, False, 10, 'KESHAV', (45+9j), True, 39.69, 39, 'Append', [(15+15j), 22]]

In [158]:
Fruit = ["apple", "banana", "cherry"]
Car = ["Ford", "BMW", "Volvo"]
Fruit.append(Car)                    # [] List format Add new List ["Ford", "BMW", "Volvo"] to the end location
Fruit                                           # List Car has been added at the end of Fruit as a single index element

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]

In [159]:
NewFruits = Fruit + Car       # Concatination
print(NewFruits)

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo'], 'Ford', 'BMW', 'Volvo']

In [160]:
fruit = ["apple", "banana", "cherry", "Mango"]
car = ["Ford", "BMW", "Volvo", "Thief"]
fruit.append(car)          # [] List format Add new List ["Ford", "BMW", "Volvo", "Thief"] to the end location
fruit                                 # [] List Car has been added at the end of Fruit as a single index element

['apple', 'banana', 'cherry', 'Mango', ['Ford', 'BMW', 'Volvo', 'Thief']]

In [161]:
Fruit1 = ["apple", "banana", "cherry"]
Car1 = ["Ford", "BMW", "Volvo"]
Fruit1_Car1 = Fruit1 + Car1        # Indivisual elements Concatination of two Lists by using Addition
Fruit1_Car1                        # Take elements of two Lists into one New List

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [162]:
Fruit.index(Car)    # index value of Car is 3 in Fruit, Car is nestd list inside Fruit list

3

In [163]:
Fruit.index(["Ford", "BMW", "Volvo"])     # index value of ["Ford", "BMW", "Volvo"]

3

In [164]:
print(Fruit)

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]

In [165]:
Hetero3.index([15+15j, 22])        # index value of nested list [15+15j,22] is 10 in Hetero3 List

15

In [166]:
print(Hetero3)

[10.1, 'Prashant', ['A', 'B', 'C'], 1, 2, 3, 4, False, 10, 'KESHAV', (45+9j), True, 39.69, 39, 'Append', [(15+15j), 22]]

In [167]:
Hetero3.append([17+25j, 92])        # [] List format append() this include at the end in [] List format
print(Hetero3)

[10.1, 'Prashant', ['A', 'B', 'C'], 1, 2, 3, 4, False, 10, 'KESHAV', (45+9j), True, 39.69, 39, 'Append', [(15+15j), 22], [(17+25j), 92]]

In [168]:
Hetero3.extend(['Komal', 36-8j, True, 33.33,36-8j])       # Add multiple indivisual elements to the end of Hetero3 by using extend function
print(Hetero3)

[10.1, 'Prashant', ['A', 'B', 'C'], 1, 2, 3, 4, False, 10, 'KESHAV', (45+9j), True, 39.69, 39, 'Append', [(15+15j), 22], [(17+25j), 92], 'Komal', (36-8j), True, 33.33, (36-8j)]

In [169]:
Hetero3.append([15+15j, 22])      # [] List format append() always work in [] List format
print(Hetero3)

[10.1, 'Prashant', ['A', 'B', 'C'], 1, 2, 3, 4, False, 10, 'KESHAV', (45+9j), True, 39.69, 39, 'Append', [(15+15j), 22], [(17+25j), 92], 'Komal', (36-8j), True, 33.33, (36-8j), [(15+15j), 22]]

In [170]:
Hetero3.insert(2, 'Amol')   # At the Place of 2nd index before 3rd index location plugin new string element 'Amol'
                           # 'Amol' will get the 2nd index location/positon
print(Hetero3)

Hetero3.insert(3, ["New", "Plugin"])   # [] List format Add new List ["New", "Plugin"] to the given index location
print(Hetero3)

[10.1, 'Prashant', 'Amol', ['A', 'B', 'C'], 1, 2, 3, 4, False, 10, 'KESHAV', (45+9j), True, 39.69, 39, 'Append', [(15+15j), 22], [(17+25j), 92], 'Komal', (36-8j), True, 33.33, (36-8j), [(15+15j), 22]]
[10.1, 'Prashant', 'Amol', ['New', 'Plugin'], ['A', 'B', 'C'], 1, 2, 3, 4, False, 10, 'KESHAV', (45+9j), True, 39.69, 39, 'Append', [(15+15j), 22], [(17+25j), 92], 'Komal', (36-8j), True, 33.33, (36-8j), [(15+15j), 22]]

In [171]:
Hetero3[3:0] = "OPPO", 33, "CUBIX", "LATEX"   # Pluin new elements "OPPO", 33, "CUBIX", "LATEX"
print(Hetero3)

[10.1, 'Prashant', 'Amol', 'OPPO', 33, 'CUBIX', 'LATEX', ['New', 'Plugin'], ['A', 'B', 'C'], 1, 2, 3, 4, False, 10, 'KESHAV', (45+9j), True, 39.69, 39, 'Append', [(15+15j), 22], [(17+25j), 92], 'Komal', (36-8j), True, 33.33, (36-8j), [(15+15j), 22]]

In [172]:
Hetero3[3:0] = "VIETNAAM", "PAINKILLER"   # Pluin new elements "OPPO", 33, "CUBIX", "LATEX"
print(Hetero3)

[10.1, 'Prashant', 'Amol', 'VIETNAAM', 'PAINKILLER', 'OPPO', 33, 'CUBIX', 'LATEX', ['New', 'Plugin'], ['A', 'B', 'C'], 1, 2, 3, 4, False, 10, 'KESHAV', (45+9j), True, 39.69, 39, 'Append', [(15+15j), 22], [(17+25j), 92], 'Komal', (36-8j), True, 33.33, (36-8j), [(15+15j), 22]]

In [173]:
type(Hetero3[0]), type(Hetero3[1]), type(Hetero3[2]), type(Hetero3[3]), type(Hetero3[4]), type(Hetero3[5]) # Shows data types of each index

(float, str, str, str, str, str)

In [174]:
Hetero3[1][2]   # 0th index value of the 6th index string element "KESHAV"

'a'

In [175]:
len(Hetero3)   # How many elements are there inside the Hetero3 List

31

In [176]:
List1 = [33+22j, "Vivek", True, False, 45.89, 20]
List2 = ["AAM", 46-77j, ["Mitocondriya", "Mitosis", "Miyosis"], False, 77, 89.45]
List3 = ["Shivalry", 67-7j, False, True, 56, 75.89]
Homo1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]    # List containing only integers
MixValues = ["MADHAV", 45+9j, True, 39.69, 39]   # List containing all type of datas
NestList = ["KESHAV", 45+9j, True, 39.69, 39, Homo1]   # Homo1 list has been taken inside NestList

In [177]:
MixValues.insert(3, ["Enigma", 67-9j, False])     # [] List format At the place of 3rd index, Plugin new elements in [] List format
print(MixValues)

['MADHAV', (45+9j), True, ['Enigma', (67-9j), False], 39.69, 39]

In [178]:
List1[6:0] = "Vivaldy", "Hermis"      # Plugin new elements "Vivaldy", "Hermis" at the 6th index end position
print(List1)

List1.insert(8, ["Saturn", "Oracle"])      # [] List format Plugin new elements in List [] format at 8th index position
print(List1)

MixValues.insert(3, ["Enigma", 67-9j, False])      # [] List format Plugin new elements in List [] format at 3rd index position
print(MixValues)

List2.insert(len(List2)+1, List3)     # [] List format insert in List [] format at 7th index position
print(List2)

List1.append(List2)     # [] List format Plugin new elements in List [] format at end position
print(List1)

List1.extend(List3)       # Plugin new elements at the end position
print(List1)

Concat = List2 + List3       # Join two or more different lists in sequence and make it one
print(Concat)

Extend = MixValues.extend(NestList)      # Plugin new elements at the end position
print(Extend)

MixValues[len(MixValues)+1:0] = NestList     # Plugin new elements at the end position
EndPlugin = MixValues
print(EndPlugin)

[(33+22j), 'Vivek', True, False, 45.89, 20, 'Vivaldy', 'Hermis']
[(33+22j), 'Vivek', True, False, 45.89, 20, 'Vivaldy', 'Hermis', ['Saturn', 'Oracle']]
['MADHAV', (45+9j), True, ['Enigma', (67-9j), False], ['Enigma', (67-9j), False], 39.69, 39]
['AAM', (46-77j), ['Mitocondriya', 'Mitosis', 'Miyosis'], False, 77, 89.45, ['Shivalry', (67-7j), False, True, 56, 75.89]]
[(33+22j), 'Vivek', True, False, 45.89, 20, 'Vivaldy', 'Hermis', ['Saturn', 'Oracle'], ['AAM', (46-77j), ['Mitocondriya', 'Mitosis', 'Miyosis'], False, 77, 89.45, ['Shivalry', (67-7j), False, True, 56, 75.89]]]
[(33+22j), 'Vivek', True, False, 45.89, 20, 'Vivaldy', 'Hermis', ['Saturn', 'Oracle'], ['AAM', (46-77j), ['Mitocondriya', 'Mitosis', 'Miyosis'], False, 77, 89.45, ['Shivalry', (67-7j), False, True, 56, 75.89]], 'Shivalry', (67-7j), False, True, 56, 75.89]
['AAM', (46-77j), ['Mitocondriya', 'Mitosis', 'Miyosis'], False, 77, 89.45, ['Shivalry', (67-7j), False, True, 56, 75.89], 'Shivalry', (67-7j), False, True, 56, 75.89]
None
['MADHAV', (45+9j), True, ['Enigma', (67-9j), False], ['Enigma', (67-9j), False], 39.69, 39, 'KESHAV', (45+9j), True, 39.69, 39, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'KESHAV', (45+9j), True, 39.69, 39, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]

In [179]:
MixValues = ["MADHAV", 45+9j, True, 39.69, 39]            # List containing all type of datas
NestList = ["KESHAV", 45+9j, True, 39.69, 39, Homo1]          # Homo1 list has been taken inside NestList
MixValues[len(MixValues)+1:0] = NestList
print(MixValues)

['MADHAV', (45+9j), True, 39.69, 39, 'KESHAV', (45+9j), True, 39.69, 39, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]

In [180]:
NewList = [34.89j, "Cuba", "Coffee"]
print(NewList)
NewList[len(NewList):0] = "Volcano", "Mint", 67-78j
print(NewList)
NewList[len(NewList)+1:0] = 57.89j, "Stealth"
print(NewList)

[34.89j, 'Cuba', 'Coffee']
[34.89j, 'Cuba', 'Coffee', 'Volcano', 'Mint', (67-78j)]
[34.89j, 'Cuba', 'Coffee', 'Volcano', 'Mint', (67-78j), 57.89j, 'Stealth']

In [181]:
print(List1)
List1[len(List1)+1:0] = "Amoeba", "Zodiac", 67-78j
print(List1)

[(33+22j), 'Vivek', True, False, 45.89, 20, 'Vivaldy', 'Hermis', ['Saturn', 'Oracle'], ['AAM', (46-77j), ['Mitocondriya', 'Mitosis', 'Miyosis'], False, 77, 89.45, ['Shivalry', (67-7j), False, True, 56, 75.89]], 'Shivalry', (67-7j), False, True, 56, 75.89]
[(33+22j), 'Vivek', True, False, 45.89, 20, 'Vivaldy', 'Hermis', ['Saturn', 'Oracle'], ['AAM', (46-77j), ['Mitocondriya', 'Mitosis', 'Miyosis'], False, 77, 89.45, ['Shivalry', (67-7j), False, True, 56, 75.89]], 'Shivalry', (67-7j), False, True, 56, 75.89, 'Amoeba', 'Zodiac', (67-78j)]

In [182]:
import random
random.shuffle(Hetero3)
print(Hetero3) # All elements of Hetero3 list has been shuffled randomly

[True, (45+9j), 'OPPO', 1, 39.69, 'VIETNAAM', 'Komal', 33.33, 39, (36-8j), 'Amol', 'Prashant', [(15+15j), 22], 'PAINKILLER', 4, True, 10, [(17+25j), 92], 10.1, 'CUBIX', (36-8j), ['A', 'B', 'C'], 2, [(15+15j), 22], 'Append', 33, 'LATEX', 'KESHAV', False, ['New', 'Plugin'], 3]

In [183]:
Randsam3 = random.sample(Hetero3, k=5) # randomly pick any 5 elements as a sample from List Hetero3
print(Randsam3)
type(Randsam3), len(Randsam3)

['VIETNAAM', (45+9j), True, 'Append', 2]

(list, 5)

In [184]:
# Swap/interchange index location of the elements in a List
Hetero3[1], Hetero3[2] = Hetero3[2], Hetero3[1]
print(Hetero3)
type(Hetero3), len(Hetero3)                 # Swap index elements 1,2 with 2,1

[True, 'OPPO', (45+9j), 1, 39.69, 'VIETNAAM', 'Komal', 33.33, 39, (36-8j), 'Amol', 'Prashant', [(15+15j), 22], 'PAINKILLER', 4, True, 10, [(17+25j), 92], 10.1, 'CUBIX', (36-8j), ['A', 'B', 'C'], 2, [(15+15j), 22], 'Append', 33, 'LATEX', 'KESHAV', False, ['New', 'Plugin'], 3]

(list, 31)

In [185]:
print(Hetero3[-1], Hetero3[len(Hetero3)-1])            # last element from backward

3 3

In [186]:
print(Hetero3)
Hetero3.pop()                 # Bydefault delete the last index Element
print(Hetero3)

[True, 'OPPO', (45+9j), 1, 39.69, 'VIETNAAM', 'Komal', 33.33, 39, (36-8j), 'Amol', 'Prashant', [(15+15j), 22], 'PAINKILLER', 4, True, 10, [(17+25j), 92], 10.1, 'CUBIX', (36-8j), ['A', 'B', 'C'], 2, [(15+15j), 22], 'Append', 33, 'LATEX', 'KESHAV', False, ['New', 'Plugin'], 3]
[True, 'OPPO', (45+9j), 1, 39.69, 'VIETNAAM', 'Komal', 33.33, 39, (36-8j), 'Amol', 'Prashant', [(15+15j), 22], 'PAINKILLER', 4, True, 10, [(17+25j), 92], 10.1, 'CUBIX', (36-8j), ['A', 'B', 'C'], 2, [(15+15j), 22], 'Append', 33, 'LATEX', 'KESHAV', False, ['New', 'Plugin']]

In [187]:
print(Hetero3)
Hetero3.pop()                # Bydefault delete the last index Element
print(Hetero3)

[True, 'OPPO', (45+9j), 1, 39.69, 'VIETNAAM', 'Komal', 33.33, 39, (36-8j), 'Amol', 'Prashant', [(15+15j), 22], 'PAINKILLER', 4, True, 10, [(17+25j), 92], 10.1, 'CUBIX', (36-8j), ['A', 'B', 'C'], 2, [(15+15j), 22], 'Append', 33, 'LATEX', 'KESHAV', False, ['New', 'Plugin']]
[True, 'OPPO', (45+9j), 1, 39.69, 'VIETNAAM', 'Komal', 33.33, 39, (36-8j), 'Amol', 'Prashant', [(15+15j), 22], 'PAINKILLER', 4, True, 10, [(17+25j), 92], 10.1, 'CUBIX', (36-8j), ['A', 'B', 'C'], 2, [(15+15j), 22], 'Append', 33, 'LATEX', 'KESHAV', False]

In [188]:
print(Hetero3)
Hetero3.pop(10)                  # Delete the mentioned 10th Index Element, one element at a time
print(Hetero3)

[True, 'OPPO', (45+9j), 1, 39.69, 'VIETNAAM', 'Komal', 33.33, 39, (36-8j), 'Amol', 'Prashant', [(15+15j), 22], 'PAINKILLER', 4, True, 10, [(17+25j), 92], 10.1, 'CUBIX', (36-8j), ['A', 'B', 'C'], 2, [(15+15j), 22], 'Append', 33, 'LATEX', 'KESHAV', False]
[True, 'OPPO', (45+9j), 1, 39.69, 'VIETNAAM', 'Komal', 33.33, 39, (36-8j), 'Prashant', [(15+15j), 22], 'PAINKILLER', 4, True, 10, [(17+25j), 92], 10.1, 'CUBIX', (36-8j), ['A', 'B', 'C'], 2, [(15+15j), 22], 'Append', 33, 'LATEX', 'KESHAV', False]

In [189]:
Hetero3.remove("Prashant")          # Directly type the Element value which you want to remove
print(Hetero3)                                  # Element "Prashant" has been Removed

[True, 'OPPO', (45+9j), 1, 39.69, 'VIETNAAM', 'Komal', 33.33, 39, (36-8j), [(15+15j), 22], 'PAINKILLER', 4, True, 10, [(17+25j), 92], 10.1, 'CUBIX', (36-8j), ['A', 'B', 'C'], 2, [(15+15j), 22], 'Append', 33, 'LATEX', 'KESHAV', False]

In [190]:
Hetero3.discard("CUBIX")       # discard() is applicable for Set only. One Element at a time
print(Hetero3)

AttributeError: 'list' object has no attribute 'discard'

In [191]:
Hetero3.count(36-8j) # Type the Element value & you will get its frequency/repeatation in the List Hetero3

2

In [192]:
# Type the Element value & you will get its frequency/repeatation
# Here the Single String is "AnwneAnshA"
# Type any sigle alphabet/part of the String inside String.count() and you will get the repeatation of that alphabet/part

String = "AnwneAnshA"

# String.count("An")   How many times "An" is within the word "AnwneAnshA"

String.count("An"), String.count("n"), String.count("A")

(2, 3, 3)

In [193]:
Hetero3.sort() # You can't sort mixed data type elements

TypeError: '<' not supported between instances of 'str' and 'bool'

In [194]:
NumList = [1, 2, 3, True, 4.9, 5, False, 78.4, 68, True, 33, False, 22, 12]
print(NumList)
type(NumList), len(NumList)

NumList.sort()
print(NumList)

min(NumList), max(NumList), sum(NumList)        # Shows minimum & maximum element values of NumList     # Shows the addition of All elements

[1, 2, 3, True, 4.9, 5, False, 78.4, 68, True, 33, False, 22, 12]
[False, False, 1, True, True, 2, 3, 4.9, 5, 12, 22, 33, 68, 78.4]

(False, 78.4, 231.3)

In [195]:
Hetero3.arange() # arange is available in Numpy only
                 # arange(start=*,stop=*,step=*,dtype=*)
                 # arange() function is used for creating Array

AttributeError: 'list' object has no attribute 'arange'

In [196]:
min(Hetero3) # You cant find min value in mixed data type elements

TypeError: '<' not supported between instances of 'str' and 'bool'

In [197]:
max(Hetero3) # You cant find max value in mixed data type elements

TypeError: '>' not supported between instances of 'str' and 'bool'

In [198]:
sum(Hetero3) # You cant find sum of mixed data type elements

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## Tuples

1. Tuple is immutable variable, you can't add(Element), append([E1, E2, E3]) []List format, extend([E1, E2, E3]), remove(Element), pop(Index), discard(Element), insert(Index, [E1, E2, E3]) []List format, swap, sort(), shuffle() & replace elements of Tuple
2. Additionally add(Element), discard(Element) is applicable for Set only
3. remove() is applicable for List & Set only
1. Tuple.index(Element) #See the Index of mentioned element
2. Tuple[:] #indexing method
6. Tuple3 = Tuple1 + Tuple2 #Tuple Concatination
7. Tuple.count(Element) #Count Element frequency
8. random.sample(Tuple, k=5)
10. min(Tuple), max(Tuple), sum(Tuple) #When the Tuple element data types are Integer, Float, Bool

In [199]:
# For tuple creation ----> ()
# Round bracket is meant for Tuple
# Elements of tuple always written inside () brackets
# It is not mandartory to provide elements inside () for Tuple
# We can create tuples without using any brackets also
# Tuple is almost similar like List but Tuples are not editable (immutable)
# Iteration in tuple is faster than list, reduce time in forming Algorithm
# You can't perform Arithmatic operations between Tuples
# Round Bracket crestes Tuples
# Nested Tuple----- When you create a Tuple inside a Tuple
# Homogenous Tuple ----- Tuple following only one datatype
# You can't perform Advanced indexing with Tuple
# Tuple is immutable variable, you cant add, remove, insert, swap, sort, shuffle & replace elements of Tuple
HomoTuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10) # Tuple containing only integers
MixValues = ("KESHAV", 45+9j, True, 39.69, 39) # Tuple containing all type of datas
NestTuple = ("KESHAV", 45+9j, True, 39.69, 39, (1,2,3,4,5,6,7,8,9,10)) # Homo1 integer Tuple has been taken inside NestTuple

In [200]:
Tuple2 = "KESHAV", 45+9j, True, 39.69, 39, 89              # Tuple without round bracket
print(Tuple2)
type(Tuple2), len(Tuple2)                             # It is not mandartory to provide elements inside () for Tuple

('KESHAV', (45+9j), True, 39.69, 39, 89)

(tuple, 6)

In [201]:
Tuple2.index(45+9j), Tuple2.index("KESHAV"), NestTuple.index((1,2,3,4,5,6,7,8,9,10)) # Type the Element value & you will get its index value

(1, 0, 5)

In [202]:
Tuple2.index(39, 45+9j) # It doesn't work with Multiple elements at a time

TypeError: slice indices must be integers or have an __index__ method

In [203]:
Tuple2.count(45+9j) # Type the Element value & you will get its frequency/repeatation

1

In [204]:
NestTuple.count(1) # Type the Element value & you will get its frequency

1

In [205]:
print(Tuple2[0:3]) # Shoes tuple elements from begining and ends at 2+1 upperbound
print(Tuple2[1:4])

('KESHAV', (45+9j), True)
((45+9j), True, 39.69)

In [206]:
type(Tuple2)

tuple

In [207]:
print(Tuple2[0]) # Shows first element

KESHAV

In [208]:
NumTuple = (1, 2, 3, True, 4.9, 5, False, 78.4, 68, True, 33, False, 22, 12)
print(NumTuple)

type(NumTuple), len(NumTuple), min(NumTuple), max(NumTuple), sum(NumTuple)

(1, 2, 3, True, 4.9, 5, False, 78.4, 68, True, 33, False, 22, 12)

(tuple, 14, False, 78.4, 231.3)

In [209]:
HomoTuple.sort() #When the List element data types are Integer, Float, Bool
print(HomoTuple)

NumTuple.sort()
print(NumTuple)

AttributeError: 'tuple' object has no attribute 'sort'

In [210]:
# Tuple is immutable variable, you cant add, remove, insert, swap, shuffle & replace elements of Tuple
Tuple2[0]= 'Prashant' # Tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [211]:
random.shuffle(NumTuple)
NumTuple # You cant shuffle tuple, because it is immutable

TypeError: 'tuple' object does not support item assignment

In [212]:
RandTup2 = random.sample(Tuple2, 3) # randomly pick any 3 elements from tuple Tuple2
print(RandTup2)

[True, 39, 39.69]

In [215]:
Tuple2.add(46+8j)
print(Tuple2)

AttributeError: 'tuple' object has no attribute 'add'

In [216]:
Tuple2.append["Kunaal"] # You cant add new string element "Kunaal"

AttributeError: 'tuple' object has no attribute 'append'

In [217]:
Tuple2.extend["Kunaal", 36] # You cant add new elements
                            # Extend can add multiple elements,lists at a Time... Though not work for Tuple
print(Tuple2)

AttributeError: 'tuple' object has no attribute 'extend'

In [218]:
Tuple2.insert(3, ["Enigma", 67-9j, False]) # You cant insert any new element
print(Tuple2)

AttributeError: 'tuple' object has no attribute 'insert'

In [220]:
Tuple2.pop[3] # You cant delete the 3rd index element
print(Tuple2)

AttributeError: 'tuple' object has no attribute 'pop'

In [221]:
Tuple2.remove["KESHAV"] # You cant remove any element
print(Tuple2)

AttributeError: 'tuple' object has no attribute 'remove'

In [222]:
Tuple2.discard(45+9j)
print(Tuple2)

AttributeError: 'tuple' object has no attribute 'discard'

In [223]:
ConcatTup = HomoTuple + Tuple2 # Concatination of Tuples are possible
print(ConcatTup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'KESHAV', (45+9j), True, 39.69, 39, 89)

In [224]:
# Tuples are IMMUTABLE in nature

In [225]:
# Swap/interchange elements by index in a Tuple is not possible, because of immutable nature
Tuple2[0], Tuple2[1], Tuple2[2], Tuple[5] = Tuple2[1], Tuple2[0], Tuple2[5], Tuple2[2]
Hetero3 # Swap index elements 0,1,2,5 with 1,0,5,2

TypeError: 'tuple' object does not support item assignment

In [113]:
# Tuples Doc ----> https://www.w3schools.com/python/python_tuples.asp

## Set
1. There is no data type sequence & index in Set. Set is a collection of Unique Elements, it doesnt takes duplicate values
2. You can't append([E1, E2, E3]) []List format, extend([E1, E2, E3]), insert(Index, [E1, E2, E3]) []List format, swap, sort(), shuffle() & replace elements of Set
3. Additionally add(Element), discard(Element) is applicable for Set only
1. set.add(Element) #add one Element at a time
2. set.remove(Element) #remove one Element at a time
3. remove() is applicable for List & Set only
4. set.discard(Element) #discard one Element at a time
5. set.pop() #Bydefault delete the first 1st Element 0th index of Set
6. Set only consist unique values
7. set.pop(Index) #delete the mentioned Index element
8. 5Sample = random.sample(Set, k=5)
9. NewSet = set2.union(set1) #merging elements of two different Sets into one new set
10. set1.update(set2) #merging element of set2 into set1 or vice versa
11. min(Set), max(Set), sum(Set) #When the Set element data types are Integer, Float, Bool

In [17]:
# Sets ---> {} ------->
# Set is a collection of Unique Elements, it doesnt takes duplicate values
# There is no fixed index values of elements
# Curly bracket is meant for Set, anything (element) inside curly bracket comes under set
# There is no specific sequence of elements in set
# Set uses the concept of hash
# You can't perform Arithmatic operations between Sets
# Set doesnt support duplicate values
# Index/Location value doesnt work in set
# Concatination is not possible between two sets
# Indexing is not possible in set
# Set is mutable variable, you can add & remove elements
# You can't perform swap, sort, shuffle & replace elements of Set
s1 = {1,2,33,33,33,4,4,3,3}
print(s1)                                                       # Exclude repeated values

Set1 = {"Jenny", 89, True, 56, 89-5j, 11.11}
print(Set1)
SetSequence = {True, "String", 67+9j, 45.77, 50}
print(SetSequence)

{1, 2, 3, 4, 33}
{True, (89-5j), 11.11, 'Jenny', 56, 89}
{True, 'String', 45.77, 50, (67+9j)}

In [18]:
s2 = {22,25,14,21,55,5}
print(s2)
type(s2), len(s2)

{5, 14, 21, 22, 55, 25}

(set, 6)

In [19]:
s3 = {10.10,'Prashant',10+10j,False,10} # Elements dont have specific & fixed index value & Sequence
print(s3)

{False, 'Prashant', (10+10j), 10.1, 10}

In [20]:
s3[3] # In set indexing is not supported

TypeError: 'set' object is not subscriptable

In [21]:
s4 = {25,14,98,63,75,98}
s4

{14, 25, 63, 75, 98}

In [22]:
s1 = {10,20,30,40,50}
s2 = {60,70,80,90,100}
print(s1)
print(s2)

{40, 10, 50, 20, 30}
{100, 70, 80, 90, 60}

In [23]:
NewSet1 = s2.union(s1) # merging two different set elements into one new set
print(NewSet1)

NewSet2 = s1.union(s2) # merging two different sets elements into one new set
print(NewSet2)

{100, 70, 40, 10, 80, 50, 20, 90, 60, 30}
{100, 70, 40, 10, 80, 50, 20, 90, 60, 30}

In [24]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple"}
x.update(y)                                       # merging element of set2 into set1 or vice versa
print(x)

b.update(a)
print(b)

{'banana', 'microsoft', 'apple', 'cherry', 'google'}
{'banana', 'cherry', 'apple', 'microsoft', 'google'}

In [25]:
Set1 = {45, 78, 98, 56, 39, 93, 75, 94, 74, 98, 75, 56}
Set2 = {56, 75, 98, 74, 94, 75, 93, 39, 56, 98, 78, 45}
print(Set1)
print(Set2)

{98, 39, 74, 75, 45, 78, 56, 93, 94}
{98, 39, 74, 75, 45, 78, 56, 93, 94}

In [26]:
# Set is mutable variable, you can add & remove, elements of Set
# Adding new single element in Set
# you cant add multiple elements at a time
s1.add(39) # add one element at a time
s2.add(23)
print(s1)
print(s2)

{39, 40, 10, 50, 20, 30}
{100, 70, 80, 23, 90, 60}

In [29]:
import random
random.sample(s2, 3) # randomly pick any 3 elements from set s2

[80, 100, 90]

In [30]:
random.sample(s3, 3) # randomly pick any 3 elements from set s3

[(10+10j), 10, False]

In [31]:
print(s1)
print(s2)
s1.remove(40) # Remove element 40 from s1 Set
s2.remove(90) # Remove element 90 from s2 Set
print(s1)
print(s2)

{39, 40, 10, 50, 20, 30}
{100, 70, 80, 23, 90, 60}
{39, 10, 50, 20, 30}
{100, 70, 80, 23, 60}

In [32]:
print(s1)
print(s2)
s1.discard(10) # Remove element 10 from s1 Set
s2.discard(23) # Remove element 23 from s2 Set
print(s1)
print(s2)

{39, 10, 50, 20, 30}
{100, 70, 80, 23, 60}
{39, 50, 20, 30}
{100, 70, 80, 60}

In [33]:
Set1 = {"Jenny", 89, True, 56, 89-5j, 11.11}
print(Set1)
print(s1)
print(s2)
s1.pop() # Bydefault delete the first 1st Element of set
s2.pop() # Bydefault delete the first 1st Element of set
Set1.pop() # Bydefault delete the first 1st Element of set
print(s1)
print(s2)
print(Set1)

{True, (89-5j), 11.11, 'Jenny', 56, 89}
{39, 50, 20, 30}
{100, 70, 80, 60}
{50, 20, 30}
{70, 80, 60}
{(89-5j), 11.11, 'Jenny', 56, 89}

In [35]:
NumSet = (1, 2, 3, 4.9, 5, False, 78.4, 68, True, 33, 22, 12)

print(NumSet)

type(NumSet), len(NumSet), min(NumSet), max(NumSet), sum(NumSet)

(1, 2, 3, 4.9, 5, False, 78.4, 68, True, 33, 22, 12)

(tuple, 12, False, 78.4, 230.3)

In [127]:
s1+s2 # Addition of two/more sets are not possible because indexing is not fixed... There is no sequence in elements
      # Concatination of two/more sets are not possible because indexing is not fixed

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [128]:
s1*s2 # Multiplication of two/more sets are not possible because indexing is not fixed

TypeError: unsupported operand type(s) for *: 'set' and 'set'

In [129]:
s1/s2 # Division of two/more sets are not possible because indexing is not fixed

TypeError: unsupported operand type(s) for /: 'set' and 'set'

In [130]:
# Sets always maintain unique values
# https://www.w3schools.com/python/python_sets.asp

## Dictionary
1. Dictioneries are Unordered
2. Dictioneries don't allow duplicate keys
3. Keys always should be immutable ie String or Numeric

In [2]:
# Create a Dictionary -----> {}  ---- data is represented in the form of Key, Value type
# We use Dictionary to customise the indexing
# Elements of Dictionary always written inside {}
# Here key is the index & value is the element
# There could be lots of elements under each key

Dict = {'Fruits' : ['Apple', 'Mango', 'Grapes', 'Pineapple', 'Guava'],
            'City' : ['Bangalore', 'Mumbai', 'Chennai', 'Kolkata', 'Delhi'],
            'Colour' : ['Red', 'Green', 'Blue', 'Yellow', 'Purple']}

Dict
# We use dictionary in a situation where we need Lookup tables.

{'Fruits': ['Apple', 'Mango', 'Grapes', 'Pineapple', 'Guava'],
 'City': ['Bangalore', 'Mumbai', 'Chennai', 'Kolkata', 'Delhi'],
 'Colour': ['Red', 'Green', 'Blue', 'Yellow', 'Purple']}

In [ ]:
capitals.

In [4]:
# Creating data frame by using Dictionary
WeatherData={"Date":[1/1/20,1/2/20,1/3/20,1/4/20,1/5/20,1/6/20],
             "Temperature":[32,35,28,24,32,31],
             "WindSpeen":[6,7,2,7,4,2],
             "Event":["Rain","Sunny","Snow","Snow","Rain","Sunny"]}

WeatherData

{'Date': [0.05,
  0.025,
  0.016666666666666666,
  0.0125,
  0.01,
  0.008333333333333333],
 'Temperature': [32, 35, 28, 24, 32, 31],
 'WindSpeen': [6, 7, 2, 7, 4, 2],
 'Event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']}

In [5]:
WeatherData["Event"].index("Sunny"), WeatherData["Temperature"].index(32), WeatherData["Date"].index(1/6/20)

(1, 0, 5)

In [12]:
print(WeatherData["Event"][0:6]) # Show 0 to 6 excluding upperbound values
print(WeatherData["Event"][0:5]) # Show 0 to 2 excluding upperbound values

['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
['Rain', 'Sunny', 'Snow', 'Snow', 'Rain']
['Rain', 'Sunny', 'Snow', 'Snow', 'Rain']

1. List.index(Element) #See the Index of mentioned element
2. List.append([a1, a2, a3])   #append in List[] format
3. List.insert(index, [a1, a2, a3, a4]) #insert new elements in List[] format at the place of mentioned index
4. List.extend([a1, a2, a3, a4]) #Add multiple indivisual elements to the end
5. List[len(List)+1:0] = [a1, a2, a3, a4] #Plugin new elements at the end position
6. List3 = List1 + List2 #List Concatination
7. random.shuffle(List) #Shuffle the list Randomly
8. RandSam = random.sample(List, k=5) #Pick random sample
9. List.pop(index) #By default delete the last Index
10. List.pop(index) #delete the mentioned Index
11. List.count(Element) #Count the Element frequency
12. List.remove(Element) #delete the Element
13. List.sort()

type(capitals), type(WeatherData), len(capitals), len(WeatherData)

In [71]:
from pandas import size
WeatherData.size

ImportError: cannot import name 'size' from 'pandas' (/home/anwesh/Downloads/miniconda3/envs/ML/lib/python3.8/site-packages/pandas/__init__.py)

In [72]:
# Accessing values using key index
capitals['Rajasthan']

'Jaipur'

In [73]:
# Accessing values using key index
capitals['Maharashtra']

'Mumbai'

In [74]:
# Insert another k,v pair
capitals['Goa'] = 'Panjim'
capitals

{'Maharashtra': 'Mumbai',
 'Karnataka': 'Bangalore',
 'Rajasthan': 'Jaipur',
 'Goa': 'Panjim'}

In [75]:
# Index Operator ---> in Dictionery
'Goa' in capitals

True

In [76]:
# Index Operator ---> in Dictionery
'Panjim' in capitals

False

In [77]:
# Index Operator ---> in Dictionery
'Bihar' in capitals

False

In [78]:
capitals

{'Maharashtra': 'Mumbai',
 'Karnataka': 'Bangalore',
 'Rajasthan': 'Jaipur',
 'Goa': 'Panjim'}

In [79]:
capitals['Goa'] = 'Panaji' # Change the value of Goa key index
capitals

{'Maharashtra': 'Mumbai',
 'Karnataka': 'Bangalore',
 'Rajasthan': 'Jaipur',
 'Goa': 'Panaji'}

In [81]:
# Delete the "Goa" key index & its associate/corresponding element value

del capitals['Goa']

capitals

KeyError: 'Goa'

In [142]:
d={"navin":"nokia","kiran":"one plus","sunil":"samsung"}
d

{'navin': 'nokia', 'kiran': 'one plus', 'sunil': 'samsung'}

In [143]:
d.keys() # Shows the Dictionary keys index only

dict_keys(['navin', 'kiran', 'sunil'])

In [144]:
d.values() # Shows the Dictionary values only

dict_values(['nokia', 'one plus', 'samsung'])

In [145]:
# items() method returns a view object. The view object contains the key-value pairs of the dictionary, as tuples inside a list.
d.items()

dict_items([('navin', 'nokia'), ('kiran', 'one plus'), ('sunil', 'samsung')])

In [146]:
d["navin"] # Shows the value of Key "navin"

'nokia'

In [147]:
d.get("navin") # Shows the value of Key "navin"

'nokia'

In [148]:
# Dictionaries Docs for Practice
# https://www.w3schools.com/python/python_dictionaries.asp

## Range

In [149]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [150]:
Range1=range(6) # By default it will start from 0, 6 is upperbound

In [151]:
type(Range1)

range

In [152]:
print(Range1)

range(0, 6)

In [153]:
List=list(Range1) # Convert Range into List

In [154]:
List=list(range(6)) # Direct conversion from range to List

In [155]:
print(List)

[0, 1, 2, 3, 4, 5]

In [156]:
Range2=range(2,6) # It will start from 2, upperbound is 6

In [157]:
print(Range2)

range(2, 6)

In [158]:
List2=list(Range2)

In [159]:
List2=list(range(2,6)) # Direct conversion from range to List

In [160]:
print(List2)

[2, 3, 4, 5]

In [161]:
# Range Parametres
 # Start: Starting point of the sequence
 # Stop: Ending point of the sequence (Upperbound)
 # Step: Number of times the skip will happen

In [162]:
Range3=range(0,11,2) # 0 is starting point, 11 is upperbound, 2 is interval step

In [163]:
List3=list(Range3)

In [164]:
print(List3)

[0, 2, 4, 6, 8, 10]

In [165]:
# Range With For Loop      # We can directly see range elements by using for loop
                          # No need to create range and transform it to list
for i in range(0,10,2):   # 10 is upperbound here and 2 is interval step
    print(i)              # This program is printing the even numbers

0
2
4
6
8

In [166]:
# Range always works with integers, don't supports floats/noninteger charecters
# If you wanna create range of noninteger charecters then use for loop
# Float numbers in range by using frange loop function
# We will get a sequence with floating point values

def frange(start, stop, step):
    i=start
    while i<stop:            # Untill the value of i<stop
        yield i              # Keep taking/evolving the value of i
        i+=step              # Each time take/evolve & increase the value of i by step, increase i by step, value will be i+step
for i in frange(0.1,1,0.3):
    print(i)

0.1
0.4
0.7

In [167]:
#Reverse Range in python by using for loop
for i in range(5,0,-1):   #5 is starting point and 0 is upperbound
    print(i)              #-1 is interval step... keep deducting -1 at each step from the value of i

5
4
3
2
1

In [168]:
#Range always works with integers, don't supports floats/noninteger charecters
#If you wanna create range of noninteger charecters then use for loop
#Float numbers in range by using frange loop function
#We will get a sequence with floating point values

def frange(start, stop, step):
    i=start
    while i>stop:            #Untill the value of i>stop
        yield i              #Keep taking the value of i
        i+=step              #Each time take the value of i by i+step, increase i by step
for i in frange(5,0,-1):
    print(i)

5
4
3
2
1

In [169]:
#Concatinating 2 range functions by using chain function
from itertools import chain
Range=chain(range(10), range(10,21)) # range 0to9 and 10to20 got joined/concatinated by chain() function in2 a new Range
List=list(Range)                     #Convert the Range into List
print(List)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [170]:
#Direct concat
Range=list(range(10))+list(range(10,21))
Range

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [171]:
# You cant perform Arithmatic operations between Ranges
# We can't concat 2 range functions by using + sign
RANGE1=range(5)
RANGE2=range(5,10)
RANGE1+RANGE2

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [172]:
#Concatinating 2 range functions by using chain function
from itertools import chain
Range=chain(range(10,21), range(21,31)) # range 10to20 and 21to30 got joined/concatinated by chain() function in2 a new Range
Tuple=tuple(Range)      #Convert the Range into Tuple
List=list(Range)        #Convert the Range into List
print(Tuple),print(List)

(10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30)
[]

(None, None)

In [173]:
Tuple=tuple(range(10,21))+tuple(range(10,21))
List=list(range(10,21))+list(range(10,21))
print(Tuple),print(List)

(10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

(None, None)

In [174]:
R1=range(0,5)   #We can't concat 2 range functions by using + sign
R2=range(5,10)
R1+R2

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [175]:
#Accessing the elements in a range function using indexes
Range=range(0,11)
print(Range[5]),Range[5]

5

(None, 5)

In [176]:
R1=list(range(0,11)) #Convert the range into List
R2=list(range(11,0,-1)) #Decrement with negative step, start=11, stop=0, step=-1
print(R1),print(R2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

(None, None)

In [177]:
#Creating multiple variables at a time
Lists, Tuple, Sets, Range, Dictioneries=[1,2,3,4,5,6,7,8,9,10],("KESHAV",45+9j,True,39.69,39,39),{10.10,'Prashant',10+10j,False,10},range(0,11,2),{'Maharashtra':'Mumbai','Karnataka':'Bangalore','Rajasthan':'Jaipur'}
print(Lists,Tuple,Sets,Range,Dictioneries)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] ('KESHAV', (45+9j), True, 39.69, 39, 39) {False, 'Prashant', (10+10j), 10.1, 10} range(0, 11, 2) {'Maharashtra': 'Mumbai', 'Karnataka': 'Bangalore', 'Rajasthan': 'Jaipur'}