<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Variables-&amp;-Data-Types-In-Python" data-toc-modified-id="Variables-&amp;-Data-Types-In-Python-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Variables &amp; Data Types In Python</a></span><ul class="toc-item"><li><span><a href="#Data-Types" data-toc-modified-id="Data-Types-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Data Types</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#You-can-perform-Airthmatic-Operations-between-Numerical-datas-including-Complex-data" data-toc-modified-id="You-can-perform-Airthmatic-Operations-between-Numerical-datas-including-Complex-data-1.1.0.1"><span class="toc-item-num">1.1.0.1&nbsp;&nbsp;</span>You can perform Airthmatic Operations between Numerical datas including Complex data</a></span></li></ul></li></ul></li><li><span><a href="#Data-types-Conversion" data-toc-modified-id="Data-types-Conversion-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Data types Conversion</a></span></li></ul></li><li><span><a href="#Variables" data-toc-modified-id="Variables-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Variables</a></span><ul class="toc-item"><li><span><a href="#Lists" data-toc-modified-id="Lists-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Lists</a></span><ul class="toc-item"><li><span><a href="#Perform-Insert,-Remove-&amp;-Replace-task-at-a-time" data-toc-modified-id="Perform-Insert,-Remove-&amp;-Replace-task-at-a-time-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Perform Insert, Remove &amp; Replace task at a time</a></span></li></ul></li><li><span><a href="#Tuples" data-toc-modified-id="Tuples-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Tuples</a></span></li><li><span><a href="#Set" data-toc-modified-id="Set-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Set</a></span></li><li><span><a href="#Dictionary" data-toc-modified-id="Dictionary-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Dictionary</a></span></li><li><span><a href="#Range" data-toc-modified-id="Range-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Range</a></span></li></ul></li></ul></div>

# Variables & Data Types In Python

## Data Types
#### You can perform Airthmatic Operations between Numerical datas including Complex data
1. Integer
2. Float
3. Complex
4. Bool
5. String

In [1]:
Integer=10    #Integer
type(Integer)

int

In [2]:
Float=float(Integer) #Convert the Integer into float, 10.00
Float

10.0

In [3]:
type(Float) #Check the type

float

In [4]:
Float=10.10   #Float
type(Float)

float

In [5]:
Integer=int(Float) #convert the float into int
Integer

10

In [6]:
type(Integer)

int

In [7]:
Complex=10+10j  #Complex, #In python numeric extention as j represents complex number
type(Complex)

complex

## Data types Conversion

In [8]:
#Complex data is not convertible to any other data type
#You can't Convert the complex into int
Integer=int(Complex)

TypeError: can't convert complex to int

In [9]:
#Complex data is not convertible to any other data type
#You can't Convert the complex into float
Float=float(Complex)

TypeError: can't convert complex to float

In [22]:
#False means 0, True means 1
Bool1=False   #Bool
Bool2=True
type(Bool1),type(Bool2)

(bool, bool)

In [23]:
#Int value of False is always 0, and True is 1
#Convert Bool into int
Integer1=int(Bool1)
Integer2=int(Bool2)
type(Integer1),print(Integer1),type(Integer2),print(Integer2)

0
1

(int, None, int, None)

In [24]:
String='Anwesh'    #String
String1="Anwesh"   #String
type(String),type(String1)

(str, str)

In [25]:
#No of letters/alphabets in a "string" element
len(String),len(String1)

(6, 6)

In [26]:
# Type the Element value & you will get its frequency/repeatation
# Here the Single String is "AnwneAnshA"
# Type any sigle alphabet/part of the String inside String.count() and you will get the repeatation of that alphabet/part
String="AnwneAnshA"
String.count("An"),String.count("n"),String.count("A")

(2, 3, 3)

In [27]:
#String is not convertible to any other data type
#You can't Convert the "String" into Integer
Integer=int(String)
Integer1=int(String1)
type(Integer),type(Integer1),print(Integer),print(Integer1)

ValueError: invalid literal for int() with base 10: 'AnwneAnshA'

In [28]:
Integer=int(String.count("An")) # Count repeatation of "An" in String
Integer1=int(String.count("n")) # Count repeatation of "n" in String
Integer2=int(String.count("A")) # Count repeatation of "A" in String
type(Integer),type(Integer1),type(Integer2),print(Integer),print(Integer1),print(Integer2)

2
3
3

(int, int, int, None, None, None)

In [29]:
Complex=complex(Integer, Float) #Combine Integer & Float into Complex
Complex                         #Float will come into the imaginery part if you place it after comma

(2+10.1j)

In [30]:
Complex=complex(Float, Integer) #Combine Integer & Float into Complex
Complex                         #Integer will come into the imaginery part if you place it after comma

(10.1+2j)

In [31]:
# Assign different data type values to different variables at once/at a time
Integer, Float, Complex, Bool, String=10, 10.10, 10+10j, True, "Anwesh"
print(Integer, Float, Complex, Bool, String)

10 10.1 (10+10j) True Anwesh

In [32]:
Tup=10, 10.10, 10+10j, True, "Anwesh"
print(Tup), type(Tup)

(10, 10.1, (10+10j), True, 'Anwesh')

(None, tuple)

# Variables
1. Lists
2. Dictionaries
3. Tuple
4. Sets
5. Range

## Lists

In [33]:
# You can't perform Arithmatic operations between lists, only concatination is possible
# Creation of list ---- [], all elements of list come inside square bracket
# [] Write everything inside Square bracket, which creates list
# Whenever you want to fetch any specific value from List, mention the positional/location/index val inside []
# You cant perform Arithmatic operations between 2 or more Lists
# Homogenous list ----- list following only one datatype
# Nested List----- When you create a List inside a List
# You cant perform advanced indexing with List
# List is mutable variable, you can add, remove, insert, swap, sort, shuffle & replace elements of List
Homo1 = [1,2,3,4,5,6,7,8,9,10] #List containing only integers
MixValues=["KESHAV",45+9j,True,39.69,39] #List containing all type of datas
NestList=["KESHAV",45+9j,True,39.69,39,[1,2,3,4,5,6,7,8,9,10]] #Homo1 list has been taken inside NestList

In [34]:
#Creation of list ---- [] (inside square brackets)
#Homogenous list ----- list following only one datatype integer
List1 = [1,2,3,4,5,6,7,8,9,10]
List1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [35]:
#len() function tells about how many number of elements a variable/List have
len(List1)

10

In [36]:
#List with heterogenous datatype elements
#Heterogenous list ---- list following multiple different datatype elements
Hetero1 = [10.10,'Prashant',10+10j,False,10]
Hetero2=["KESHAV",45+9j,True,39.69,39]
Hetero1,Hetero2

([10.1, 'Prashant', (10+10j), False, 10], ['KESHAV', (45+9j), True, 39.69, 39])

In [37]:
#Concatination of two lists
Hetero3=Hetero1+Hetero2
print(Hetero3), len(Hetero3), type(Hetero3)

[10.1, 'Prashant', (10+10j), False, 10, 'KESHAV', (45+9j), True, 39.69, 39]

(None, 10, list)

In [38]:
# provide index locations of the elements and you will get the element datatypes
type(Hetero3[0]),type(Hetero3[1]),type(Hetero3[2]),type(Hetero3[3]),type(Hetero3[4]) #Shows data types of each index

(float, str, complex, bool, int)

In [39]:
#Lets say you want to access single or multiple elements from the list 
#List1 --- Accessing Single Element
#To extract element in the list you will be using indexes Location
Hetero3[4]  #Shows the 4th index element

10

In [40]:
Hetero3[2],Hetero3[4] #shows 2nd and 4th index elements

((10+10j), 10)

In [41]:
Hetero3[2,4] # Multiple/Advanced indexing doesnt work here with List, it works with Arrays
Hetero3[[2,4]]
Hetero3[[2],[4]]

TypeError: list indices must be integers or slices, not tuple

In [42]:
# In Hetero3 3rd index element is False which is boolian data type
# False is not a "String" element
# 0th index letter of 3rd index element False is not possible
Hetero3[3][0]

TypeError: 'bool' object is not subscriptable

In [43]:
Hetero3.index(True) #Type the Element data value & you will get the index value of it

7

In [44]:
Hetero3.index("KESHAV") #Type the Element data value & you will get the index value of it

5

In [45]:
Hetero3.index("KESHAV","Prashant") #It doesn't work with Multiple elements at a time
Hetero3.index(["KESHAV","Prashant"])
Hetero3.index(["KESHAV"],["Prashant"])

TypeError: slice indices must be integers or have an __index__ method

In [46]:
Hetero3.index(45+9j) #Type the Element value & you will get the index value of it

6

In [47]:
Hetero3[1],Hetero3[2],Hetero3[3] #shows 1st, 2nd and 3rd index elements

('Prashant', (10+10j), False)

In [48]:
print(Hetero3[1],Hetero3[2],Hetero3[3]) #Prints 1st, 2nd and 3rd index elements

Prashant (10+10j) False

In [49]:
# To Extract the series of elements from a list or any other variable provide index range inside [:]
# [start_index:upperbound] -----> where upperbound = end_index + 1
Hetero3[2:5] #shows from 2nd to 5th upperbound range elements

[(10+10j), False, 10]

In [50]:
print(Hetero3[2:5]) #Prints from 2nd to 5th upperbound index range elements

[(10+10j), False, 10]

### Perform Insert, Remove & Replace task at a time

In [51]:
Hetero3=[10.1,"Prashant",10+10j,False,10,"KESHAV",45+9j,True,39.69,39]
Hetero3,len(Hetero3)

([10.1, 'Prashant', (10+10j), False, 10, 'KESHAV', (45+9j), True, 39.69, 39],
 10)

In [52]:
#Perform Change/Replace a List element value with new one
#Provide index value []= provide new value
# 2nd index element 10+10j has been replace by 20+20j
Hetero3[2]=20+20j
Hetero3[2]
Hetero3,len(Hetero3)

([10.1, 'Prashant', (20+20j), False, 10, 'KESHAV', (45+9j), True, 39.69, 39],
 10)

In [53]:
#Perform Change/Replace & Insert in a List element values with new values
#Provide index value range [:]= provide Replace value, provide Insert value
# 2nd index element 20+20j has been replace by 30+30j
# True has got Inserted/placed between 2nd index (30+30j) & 4th index (False) elements
# True has got Inserted/placed/has taken at 3rd index position/location
# Now total no of elements in the list Hetero3 is 11, got increased by 1 element
Hetero3[2:3]=30+30j,True
Hetero3,len(Hetero3)

([10.1,
  'Prashant',
  (30+30j),
  True,
  False,
  10,
  'KESHAV',
  (45+9j),
  True,
  39.69,
  39],
 11)

In [54]:
#Perform Change/Replace & Insert in a List element values with new values
#Provide index value range [:]= provide Replace value, provide Insert value
#-5 index element "KESHAV" has been replace by 40
#Between -5th index element (40) & -2nd index element (39.69) all elements (2 elements) got removed/killed by "Morphine"
# Now total no of elements in the list Hetero3 is 10
Hetero3[-5:-2]=40,"Morphine"
Hetero3,len(Hetero3)

([10.1, 'Prashant', (30+30j), True, False, 10, 40, 'Morphine', 39.69, 39], 10)

In [55]:
#Perform Change/Replace,Insert & Remove in a List element values with new values
#Provide index value range [:]= provide Replace value, provide Insert value
# 2nd index element 30+30j has been replace by 40+40j
#Between 2nd index element (40+40j) & 9th index element (39) all elements (6 elements) got removed/killed by "John-Wick"
# Now total no of elements in the list Hetero3 is 5
Hetero3[2:9]=40+40j,"John-Wick"
Hetero3,len(Hetero3)

([10.1, 'Prashant', (40+40j), 'John-Wick', 39], 5)

In [56]:
Hetero3

[10.1, 'Prashant', (40+40j), 'John-Wick', 39]

In [57]:
#List is mutable variable, you can add, remove, insert, swap, shuffle & replace elements of List
Hetero3=[10.1,"Prashant",10+10j,False,10,"KESHAV",45+9j,True,39.69,39]
Hetero3[2]=20+20j
Hetero3 # 2nd index element 10+10j has been replaced by 20+20j

[10.1, 'Prashant', (20+20j), False, 10, 'KESHAV', (45+9j), True, 39.69, 39]

In [58]:
Hetero3.append([15+15j,22]) #Add new List [15+15j,22] to the end location of Hetero3 by using append function
                            #append always increses a single element

In [59]:
Hetero3

[10.1,
 'Prashant',
 (20+20j),
 False,
 10,
 'KESHAV',
 (45+9j),
 True,
 39.69,
 39,
 [(15+15j), 22]]

In [60]:
Fruit = ["apple", "banana", "cherry"]
Car = ["Ford", "BMW", "Volvo"]
Fruit.append(Car)
Fruit #List Car has been added at the end of Fruit as a single index element

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]

In [61]:
fruit = ["apple", "banana", "cherry"]
car = ["Ford", "BMW", "Volvo"]
FruitCar = fruit.append(car)
FruitCar #List Car has been added at the end of Fruit as a single index element

In [62]:
Fruit1 = ["apple", "banana", "cherry"]
Car1 = ["Ford", "BMW", "Volvo"]
Fruit1_Car1=Fruit1+Car1 # Concatination of two Lists by using Addition
Fruit1_Car1 # List Fruit & List Car got concatinated into new Fruit_Car List

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [63]:
Fruit.index(Car) #index value of Car is 3 in Fruit, Car is nestd list inside Fruit list

3

In [64]:
Fruit.index(["Ford", "BMW", "Volvo"]) #index value of ["Ford", "BMW", "Volvo"]

3

In [65]:
Hetero3.index([15+15j,22]) #index value of nested list [15+15j,22] is 10 in Hetero3 List

10

In [66]:
Hetero3.extend(['Komal', 36-8j, True, 33.33,36-8j]) #Add multiple elements to the end of Hetero3 by using extend function

In [67]:
Hetero3

[10.1,
 'Prashant',
 (20+20j),
 False,
 10,
 'KESHAV',
 (45+9j),
 True,
 39.69,
 39,
 [(15+15j), 22],
 'Komal',
 (36-8j),
 True,
 33.33,
 (36-8j)]

In [68]:
Hetero3.insert(2,'Amol') #At the Place of 2nd index before 3rd index location add new string element 'Amol'
                         #'Amol' will get the 2nd index location/positon

In [69]:
Hetero3

[10.1,
 'Prashant',
 'Amol',
 (20+20j),
 False,
 10,
 'KESHAV',
 (45+9j),
 True,
 39.69,
 39,
 [(15+15j), 22],
 'Komal',
 (36-8j),
 True,
 33.33,
 (36-8j)]

In [70]:
type(Hetero3[0]),type(Hetero3[1]),type(Hetero3[2]),type(Hetero3[3]),type(Hetero3[4]),type(Hetero3[5]) #Shows data types of each index

(float, str, str, complex, bool, int)

In [71]:
Hetero3[6][0] #0th index value of the 6th index string element

'K'

In [72]:
len(Hetero3) #How many elements are there inside the Hetero3 List

17

In [73]:
import random
random.shuffle(Hetero3)
Hetero3 #All elements of Hetero3 list has been shuffled randomly

[False,
 'KESHAV',
 (45+9j),
 [(15+15j), 22],
 'Prashant',
 'Komal',
 33.33,
 (36-8j),
 (20+20j),
 (36-8j),
 10.1,
 39.69,
 True,
 39,
 True,
 'Amol',
 10]

In [74]:
RandSam3=random.sample(Hetero3,3) #randomly pick any 3 elements as a sample from List Hetero3
RandSam3

[[(15+15j), 22], (20+20j), True]

In [75]:
Hetero3,len(Hetero3)

([False,
  'KESHAV',
  (45+9j),
  [(15+15j), 22],
  'Prashant',
  'Komal',
  33.33,
  (36-8j),
  (20+20j),
  (36-8j),
  10.1,
  39.69,
  True,
  39,
  True,
  'Amol',
  10],
 17)

In [76]:
# Swap/interchange index location of the elements in a List
Hetero3[1], Hetero3[2] = Hetero3[2], Hetero3[1]
Hetero3,len(Hetero3) #Swap index elements 1,2 with 2,1

([False,
  (45+9j),
  'KESHAV',
  [(15+15j), 22],
  'Prashant',
  'Komal',
  33.33,
  (36-8j),
  (20+20j),
  (36-8j),
  10.1,
  39.69,
  True,
  39,
  True,
  'Amol',
  10],
 17)

In [77]:
Hetero3[-1] #1st element from backward

10

In [78]:
Hetero3.pop(5) #Mention the index which element you want to delete

'Komal'

In [79]:
Hetero3 #5th index element ie "KESHAV" has been deleted

[False,
 (45+9j),
 'KESHAV',
 [(15+15j), 22],
 'Prashant',
 33.33,
 (36-8j),
 (20+20j),
 (36-8j),
 10.1,
 39.69,
 True,
 39,
 True,
 'Amol',
 10]

In [80]:
Hetero3.remove("Komal") #Directly type the element value which you want to remove

ValueError: list.remove(x): x not in list

In [81]:
Hetero3 #Element "Komal" has been Removed

[False,
 (45+9j),
 'KESHAV',
 [(15+15j), 22],
 'Prashant',
 33.33,
 (36-8j),
 (20+20j),
 (36-8j),
 10.1,
 39.69,
 True,
 39,
 True,
 'Amol',
 10]

In [82]:
Hetero3.count(36-8j) #Type the Element value & you will get its frequency/repeatation in the List Hetero3

2

In [83]:
Hetero3.sort() #You cant sort mixed data type elements

TypeError: '<' not supported between instances of 'complex' and 'bool'

In [84]:
NumList=[1,2,3,4,5,78,68,33,22,12]
type(NumList)

list

In [85]:
NumList.sort()
NumList

[1, 2, 3, 4, 5, 12, 22, 33, 68, 78]

In [86]:
min(NumList),max(NumList) # Shows minimum & maximum element values of NumList

(1, 78)

In [87]:
Hetero3.arange() #arange is available in Numpy only
                 # arange(start=*,stop=*,step=*,dtype=*)
                 # arange() function is used for creating Array

AttributeError: 'list' object has no attribute 'arange'

In [88]:
min(Hetero3) #You cant find min value in mixed data type elements

TypeError: '<' not supported between instances of 'complex' and 'bool'

In [89]:
max(Hetero3) #You cant find max value in mixed data type elements

TypeError: '>' not supported between instances of 'complex' and 'bool'

In [90]:
sum(Hetero3) #You cant find sum of mixed data type elements

TypeError: unsupported operand type(s) for +: 'complex' and 'str'

In [91]:
sum(NumList) # Shows the addition of All elements

228

## Tuples

In [92]:
# For tuple creation ----> ()
# Round bracket is meant for Tuple
# Elements of tuple always written inside () brackets
# It is not mandartory to provide elements inside () for Tuple
# We can create tuples without using any brackets also
# Tuple is almost similar like List but Tuples are not editable (immutable)
# Iteration in tuple is faster than list,reduce time in forming Algorithm
# You cant perform Arithmatic operations between Tuples
# Round Bracket crestes Tuples
# Nested Tuple----- When you create a Tuple inside a Tuple
# Homogenous Tuple ----- Tuple following only one datatype
# You cant perform Advanced indexing with Tuple
# Tuple is immutable variable, you cant add, remove, insert, swap, sort, shuffle & replace elements of Tuple
Homo1 = (1,2,3,4,5,6,7,8,9,10) #Tuple containing only integers
MixValues=("KESHAV",45+9j,True,39.69,39) #Tuple containing all type of datas
NestTuple=("KESHAV",45+9j,True,39.69,39,(1,2,3,4,5,6,7,8,9,10)) #Homo1 Tuple has been taken inside NestTuple

In [93]:
Tuple2="KESHAV",45+9j,True,39.69,39,39 #Tuple without round bracket
type(Tuple2)                           #It is not mandartory to provide elements inside () for Tuple

tuple

In [94]:
Tuple2.index(45+9j) #Type the Element value & you will get its index value

1

In [95]:
Tuple2.index(39,45+9j) #It doesn't work with Multiple elements at a time

TypeError: slice indices must be integers or have an __index__ method

In [96]:
Tuple2.count(45+9j) #Type the Element value & you will get its frequency/repeatation

1

In [97]:
Tuple2.count(39) #Type the Element value & you will get its frequency

2

In [98]:
Tuple2[0:3] #Shoes tuple elements from begining and ends at 2+1 upperbound

('KESHAV', (45+9j), True)

In [99]:
type(Tuple2)

tuple

In [100]:
Tuple2[0] #Shows first element

'KESHAV'

In [101]:
#Tuple is immutable variable, you cant add, remove, insert, swap, shuffle & replace elements of Tuple
Tuple2[0]= 'Prashant' #Tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [102]:
random.shuffle(Tuple2)
Hetero3 #You cant shuffle tuple, because it is immutable

TypeError: 'tuple' object does not support item assignment

In [103]:
random.sample(Tuple2,3) #randomly pick any 3 elements from tuple Tuple2

[39, 39, (45+9j)]

In [104]:
Tuple2.append["Kunaal"] #You cant add new string element "Kunaal"

AttributeError: 'tuple' object has no attribute 'append'

In [105]:
Tuple2.extend["Kunaal", 36] #You cant add new elements
                            #Extend can add multiple elements,lists at a Time... Though not work for Tuple

AttributeError: 'tuple' object has no attribute 'extend'

In [106]:
Tuple2.insert[2, "Kunaal"] #You cant insert any new element

AttributeError: 'tuple' object has no attribute 'insert'

In [107]:
Tuple2.pop[3] #You cant delete the index element

AttributeError: 'tuple' object has no attribute 'pop'

In [108]:
Tuple2.remove["KESHAV"] #You cant remove any element

AttributeError: 'tuple' object has no attribute 'remove'

In [109]:
Homo1+Tuple2 #Concatination of Tuples are possible

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'KESHAV', (45+9j), True, 39.69, 39, 39)

In [110]:
Tuple2+Homo1

('KESHAV', (45+9j), True, 39.69, 39, 39, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [111]:
#Tuples are IMMUTABLE in nature

In [112]:
# Swap/interchange elements by index in a Tuple is not possible, because of immutable nature
Tuple2[0], Tuple2[1], Tuple2[2], Tuple[5] = Tuple2[1], Tuple2[0], Tuple2[5], Tuple2[2]
Hetero3 #Swap index elements 0,1,2,5 with 1,0,5,2

TypeError: 'tuple' object does not support item assignment

In [113]:
#Tuples Doc ----> https://www.w3schools.com/python/python_tuples.asp

## Set

In [114]:
#Sets ---> {} ------->
#Set is a collection of Unique Elements, it doesnt takes duplicate values
#There is no fixed index values of elements
#Curly bracket is meant for Set, anything (element) inside curly bracket comes under set
#There is no specific sequence of elements in set
#Set uses the concept of hash
#You cant perform Arithmatic operations between Sets
#Set doesnt support duplicate values
#Index/Location value doesnt work in set
#Concatination is not possible between two sets
#Indexing is not possible in set
#Set is mutable variable, you can add & remove elements
#You cant perform swap, sort, shuffle & replace elements of Set
s1 = {1,2,33,33,33,4,4,3,3}
s1                         #Exclude repeated values

{1, 2, 3, 4, 33}

In [115]:
s2={22,25,14,21,55,5}
s2

{5, 14, 21, 22, 25, 55}

In [116]:
type(s2)

set

In [117]:
s3={10.10,'Prashant',10+10j,False,10} #Elements dont have specific & fixed index value & Sequence
s3

{(10+10j), 10, 10.1, False, 'Prashant'}

In [118]:
s3[3] #In set indexing is not supported

TypeError: 'set' object is not subscriptable

In [119]:
s4={25,14,98,63,75,98}
s4

{14, 25, 63, 75, 98}

In [120]:
s1={10,20,30,40,50}
s2={60,70,80,90,100}

In [121]:
#Set is mutable variable, you can add & remove, elements of Set
#Adding new single element in Set
#you cant add multiple elements at a time
s1.add(39)
s2.add(23)
print(s1)
print(s2)

{39, 40, 10, 50, 20, 30}
{100, 70, 80, 23, 90, 60}

In [122]:
random.sample(s2,3) #randomly pick any 3 elements from set s2

[70, 23, 60]

In [123]:
random.sample(s3,3) #randomly pick any 3 elements from set s3

[10.1, False, 10]

In [124]:
s1.remove(40) #Remove element 40 from s1 Set
s2.remove(90) #Remove element 90 from s2 Set
s1,s2

({10, 20, 30, 39, 50}, {23, 60, 70, 80, 100})

In [125]:
s1.discard(10) #Remove element 10 from s1 Set
s2.discard(23) #Remove element 23 from s2 Set
s1,s2

({20, 30, 39, 50}, {60, 70, 80, 100})

In [126]:
s1.pop() #Remove a random element from s1 Set
s2.pop() #Remove a random element from s2 Set
s1,s2

({20, 30, 50}, {60, 70, 80})

In [127]:
s1+s2 #Addition of two/more sets are not possible because indexing is not fixed... There is no sequence in elements
      #Concatination of two/more sets are not possible because indexing is not fixed

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [128]:
s1*s2 #Multiplication of two/more sets are not possible because indexing is not fixed

TypeError: unsupported operand type(s) for *: 'set' and 'set'

In [129]:
s1/s2 #Division of two/more sets are not possible because indexing is not fixed

TypeError: unsupported operand type(s) for /: 'set' and 'set'

In [130]:
#Sets always maintain unique values
# https://www.w3schools.com/python/python_sets.asp

## Dictionary

In [131]:
#Create a Dictionary -----> {}  ---- data is represented in the form of Key, Value type
#We use Dictionary to customise the indexing
#Elements of Dictionary always written inside {}
#Here key is the index & value is the element
#There could be lots of elements under each key
capitals = {'Maharashtra':'Mumbai',
            'Karnataka' : 'Bangalore',
            'Rajasthan' : 'Jaipur'}

#We use dictionary in a situation where we need Lookup tables.

In [132]:
#Creating data frame by using Dictionary
WeatherData={"Date":[1/1/20,1/2/20,1/3/20,1/4/20,1/5/20,1/6/20],
             "Temperature":[32,35,28,24,32,31],
             "WindSpeen":[6,7,2,7,4,2],
             "Event":["Rain","Sunny","Snow","Snow","Rain","Sunny"]}
WeatherData

{'Date': [0.05,
  0.025,
  0.016666666666666666,
  0.0125,
  0.01,
  0.008333333333333333],
 'Temperature': [32, 35, 28, 24, 32, 31],
 'WindSpeen': [6, 7, 2, 7, 4, 2],
 'Event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']}

In [133]:
type(capitals),type(WeatherData)

(dict, dict)

In [134]:
from pandas import *
WeatherData.size

AttributeError: 'dict' object has no attribute 'size'

In [ ]:
#Accessing values using key index
capitals['Rajasthan']

In [ ]:
#Accessing values using key index
capitals['Maharashtra']

In [135]:
#Insert another k,v pair
capitals['Goa'] = 'Panjim'
capitals

{'Maharashtra': 'Mumbai',
 'Karnataka': 'Bangalore',
 'Rajasthan': 'Jaipur',
 'Goa': 'Panjim'}

In [136]:
# Operator ---> in
'Goa' in capitals

True

In [137]:
# Operator ---> in
'Panjim' in capitals

False

In [138]:
'Bihar' in capitals

False

In [139]:
capitals

{'Maharashtra': 'Mumbai',
 'Karnataka': 'Bangalore',
 'Rajasthan': 'Jaipur',
 'Goa': 'Panjim'}

In [140]:
capitals['Goa'] = 'Panaji' #Change the value of Goa key index
capitals

{'Maharashtra': 'Mumbai',
 'Karnataka': 'Bangalore',
 'Rajasthan': 'Jaipur',
 'Goa': 'Panaji'}

In [141]:
# Delete the "Goa" key index & its associate/corresponding value

del capitals['Goa']

capitals

{'Maharashtra': 'Mumbai', 'Karnataka': 'Bangalore', 'Rajasthan': 'Jaipur'}

In [142]:
d={"navin":"nokia","kiran":"one plus","sunil":"samsung"}
d

{'navin': 'nokia', 'kiran': 'one plus', 'sunil': 'samsung'}

In [143]:
d.keys() #Shows the Dictionary keys index only

dict_keys(['navin', 'kiran', 'sunil'])

In [144]:
d.values() #Shows the Dictionary values only

dict_values(['nokia', 'one plus', 'samsung'])

In [145]:
# items() method returns a view object. The view object contains the key-value pairs of the dictionary, as tuples inside a list.
d.items()

dict_items([('navin', 'nokia'), ('kiran', 'one plus'), ('sunil', 'samsung')])

In [146]:
d["navin"] #Shows the value of Key "navin"

'nokia'

In [147]:
d.get("navin") #Shows the value of Key "navin"

'nokia'

In [148]:
# Dictionaries Docs for Practice
# https://www.w3schools.com/python/python_dictionaries.asp

## Range

In [149]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [150]:
Range1=range(6) #By default it will start from 0, 6 is upperbound

In [151]:
type(Range1)

range

In [152]:
print(Range1)

range(0, 6)

In [153]:
List=list(Range1) #Convert Range into List

In [154]:
List=list(range(6)) #Direct conversion from range to List

In [155]:
print(List)

[0, 1, 2, 3, 4, 5]

In [156]:
Range2=range(2,6) #It will start from 2, upperbound is 6

In [157]:
print(Range2)

range(2, 6)

In [158]:
List2=list(Range2)

In [159]:
List2=list(range(2,6)) #Direct conversion from range to List

In [160]:
print(List2)

[2, 3, 4, 5]

In [161]:
#Range Parametres
 #Start: Starting point of the sequence
 #Stop: Ending point of the sequence (Upperbound)
 #Step: Number of times the skip will happen

In [162]:
Range3=range(0,11,2) #0 is starting point, 11 is upperbound, 2 is interval step

In [163]:
List3=list(Range3)

In [164]:
print(List3)

[0, 2, 4, 6, 8, 10]

In [165]:
#Range With For Loop      #We can directly see range elements by using for loop
                          #No need to create range and transform it to list
for i in range(0,10,2):   #10 is upperbound here and 2 is interval step
    print(i)              #This program is printing the even numbers

0
2
4
6
8

In [166]:
#Range always works with integers, don't supports floats/noninteger charecters
#If you wanna create range of noninteger charecters then use for loop
#Float numbers in range by using frange loop function
#We will get a sequence with floating point values

def frange(start, stop, step):
    i=start
    while i<stop:            #Untill the value of i<stop
        yield i              #Keep taking/evolving the value of i
        i+=step              #Each time take/evolve & increase the value of i by step, increase i by step, value will be i+step
for i in frange(0.1,1,0.3):
    print(i)

0.1
0.4
0.7

In [167]:
#Reverse Range in python by using for loop
for i in range(5,0,-1):   #5 is starting point and 0 is upperbound
    print(i)              #-1 is interval step... keep deducting -1 at each step from the value of i

5
4
3
2
1

In [168]:
#Range always works with integers, don't supports floats/noninteger charecters
#If you wanna create range of noninteger charecters then use for loop
#Float numbers in range by using frange loop function
#We will get a sequence with floating point values

def frange(start, stop, step):
    i=start
    while i>stop:            #Untill the value of i>stop
        yield i              #Keep taking the value of i
        i+=step              #Each time take the value of i by i+step, increase i by step
for i in frange(5,0,-1):
    print(i)

5
4
3
2
1

In [169]:
#Concatinating 2 range functions by using chain function
from itertools import chain
Range=chain(range(10), range(10,21)) # range 0to9 and 10to20 got joined/concatinated by chain() function in2 a new Range
List=list(Range)                     #Convert the Range into List
print(List)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [170]:
#Direct concat
Range=list(range(10))+list(range(10,21))
Range

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [171]:
# You cant perform Arithmatic operations between Ranges
# We can't concat 2 range functions by using + sign
RANGE1=range(5)
RANGE2=range(5,10)
RANGE1+RANGE2

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [172]:
#Concatinating 2 range functions by using chain function
from itertools import chain
Range=chain(range(10,21), range(21,31)) # range 10to20 and 21to30 got joined/concatinated by chain() function in2 a new Range
Tuple=tuple(Range)      #Convert the Range into Tuple
List=list(Range)        #Convert the Range into List
print(Tuple),print(List)

(10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30)
[]

(None, None)

In [173]:
Tuple=tuple(range(10,21))+tuple(range(10,21))
List=list(range(10,21))+list(range(10,21))
print(Tuple),print(List)

(10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

(None, None)

In [174]:
R1=range(0,5)   #We can't concat 2 range functions by using + sign
R2=range(5,10)
R1+R2

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [175]:
#Accessing the elements in a range function using indexes
Range=range(0,11)
print(Range[5]),Range[5]

5

(None, 5)

In [176]:
R1=list(range(0,11)) #Convert the range into List
R2=list(range(11,0,-1)) #Decrement with negative step, start=11, stop=0, step=-1
print(R1),print(R2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

(None, None)

In [177]:
#Creating multiple variables at a time
Lists, Tuple, Sets, Range, Dictioneries=[1,2,3,4,5,6,7,8,9,10],("KESHAV",45+9j,True,39.69,39,39),{10.10,'Prashant',10+10j,False,10},range(0,11,2),{'Maharashtra':'Mumbai','Karnataka':'Bangalore','Rajasthan':'Jaipur'}
print(Lists,Tuple,Sets,Range,Dictioneries)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] ('KESHAV', (45+9j), True, 39.69, 39, 39) {False, 'Prashant', (10+10j), 10.1, 10} range(0, 11, 2) {'Maharashtra': 'Mumbai', 'Karnataka': 'Bangalore', 'Rajasthan': 'Jaipur'}