<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Operators" data-toc-modified-id="Operators-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Operators</a></span><ul class="toc-item"><li><span><a href="#Numeric-/-Arithmetic-Operations" data-toc-modified-id="Numeric-/-Arithmetic-Operations-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Numeric / Arithmetic Operations</a></span></li><li><span><a href="#Assignment-Operator" data-toc-modified-id="Assignment-Operator-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Assignment Operator</a></span></li><li><span><a href="#Relational/Comparison-Operator" data-toc-modified-id="Relational/Comparison-Operator-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Relational/Comparison Operator</a></span></li><li><span><a href="#Logical-Operator/Conditional-Operator" data-toc-modified-id="Logical-Operator/Conditional-Operator-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Logical Operator/Conditional Operator</a></span></li><li><span><a href="#Logical-Operator/Conditional-Operator" data-toc-modified-id="Logical-Operator/Conditional-Operator-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Logical Operator/Conditional Operator</a></span></li><li><span><a href="#User-Input-(typecasting)" data-toc-modified-id="User-Input-(typecasting)-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>User Input (typecasting)</a></span></li><li><span><a href="#Ternary-Operator" data-toc-modified-id="Ternary-Operator-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Ternary Operator</a></span></li><li><span><a href="#Chaining-comparison" data-toc-modified-id="Chaining-comparison-1.8"><span class="toc-item-num">1.8&nbsp;&nbsp;</span>Chaining comparison</a></span></li><li><span><a href="#Identity-Operators" data-toc-modified-id="Identity-Operators-1.9"><span class="toc-item-num">1.9&nbsp;&nbsp;</span>Identity Operators</a></span></li><li><span><a href="#Membership-Operators" data-toc-modified-id="Membership-Operators-1.10"><span class="toc-item-num">1.10&nbsp;&nbsp;</span>Membership Operators</a></span></li><li><span><a href="#Bitwise-Operator" data-toc-modified-id="Bitwise-Operator-1.11"><span class="toc-item-num">1.11&nbsp;&nbsp;</span>Bitwise Operator</a></span></li><li><span><a href="#Unery-Operator" data-toc-modified-id="Unery-Operator-1.12"><span class="toc-item-num">1.12&nbsp;&nbsp;</span>Unery Operator</a></span></li></ul></li></ul></div>

# Operators

In [1]:
#1. Arithmatic operators
#2. Assignment operators
#3. Relational operators
#4. Logical operators
#5. Unary operators
#6. Bitwise operator
#7. Ternery operator

## Numeric / Arithmetic Operations

In [2]:
# Addition +
# Subtraction -
# Multiplication *
# Division /
# Modulus (Reminder of Division) %
# Indices (Raise to) **
# BODMAS --> Python

In [3]:
x=10
y=20

In [4]:
#Addition
x+y

30

In [5]:
#Substraction
y-x

10

In [6]:
#Multiplication
x*y

200

In [7]:
#To the power
x**y

100000000000000000000

In [8]:
#Division
x/y

0.5

In [9]:
#Floor Division
x//y

0

In [10]:
#Modulus(Remainder), Bhagsesh
x%y

10

## Assignment Operator

In [11]:
a=5

In [12]:
a+=5     #a+5, a is 5  #addition, increase a by 5
print(a)

10

In [13]:
a-=5     #a-5, a is 10  #Substraction, decrease a by 5
print(a)

5

In [14]:
a**=5   #a**5, a is 5   #To the power, increase a to the power of 5
print(a)

3125

In [15]:
a%=20    #a%20, a is 3125   #Remainder is 5, Bhagsesh
print(a)

5

In [16]:
a//=25   #a//25, a is 5    #Floor Division
print(a)

0

In [17]:
a|=20  #a|20, a is 0
print(a)

20

In [18]:
a^=15   #a^15, a is 20
print(a)

27

In [19]:
a&=12    #a&12, a is 27
print(a)

8

## Relational/Comparison Operator

In [20]:
# == check if equal
# != check if not equal
# > Greater than
# < Less than
# >=
# <=

In [21]:
Int1=10
Int2=20

In [22]:
Compare=Int1==Int2

In [23]:
print(Compare)

False

In [24]:
Compare=Int1!=Int2 #Check if Int1 not equal to Int2

In [25]:
print(Compare)

True

In [26]:
Compare=Int1>Int2
print(Compare)

False

In [27]:
Compare=Int1<Int2
print(Compare)

True

In [28]:
Compare=Int1>=Int2
print(Compare)

False

In [29]:
Compare=Int1<=Int2
print(Compare)

True

## Logical Operator/Conditional Operator

In [30]:
# Logical Operators are used to combine conditional statements
# if statement
# elif statement
# else statement

In [31]:
#Code for handling single condition
temp=36
if temp>35:
    print("High")
    print("Highest")

High
Highest

In [32]:
#Code for handling two conditions together
temp=30
if temp>35:
    print('High')
else:
    print('Low')

Low

In [33]:
#More than 2 conditions
temp=30
if temp>35:
    print("High")
elif temp>10 and temp<=35:
    print("Medium")
elif temp>5 and temp<=10:
    print("Low")
else:
    print("Lowest")

Medium

In [34]:
#More than 2 conditions
temp=10
if temp>35:
    print("High")
elif 10<temp<=35:
    print("Medium")
elif 5<temp<=10:
    print("Low")
else:
    print("Lowest")

Low

## Logical Operator/Conditional Operator
and<br>
or<br>
not<br>

In [35]:
#Loan app example
income = 9000
credit = 590
if income >= 8000 and credit < 700:
    print("Eligible")
else:
    print("Not eligible")

Eligible

In [36]:
#Loan app example
income = 9000
credit = 690
message="Eligible" if income>=8000 and credit<700 else "Not Eligible" #Use of Ternary operator
print(message)

Eligible

In [37]:
#Loan app example
income = 9000
credit = 600

if income >= 8000 or credit <= 700:
    print("Eligible")
else:
    print("Not eligible")

Eligible

In [38]:
#Loan app example
income = 9000
credit = 600
message="Eligible" if income>=8000 or credit<700 else "Not eligible" #Use of Ternary operator
print(message)

Eligible

In [39]:
#Loan app example
income = 9000
credit = 600
student = False
if not student:
    message="Eligible"if income >= 8000 or credit <= 700 else "Not eligible" #Use of Ternary operator
    print(message)
else:
    print("Students can't apply for loan")

Eligible

In [40]:
#Loan app example
income = 9000
credit = 600
student = True
if not student:
    message="Eligible"if income >= 8000 or credit <= 700 else "Not eligible" #Use of Ternary operator
    print(message)
else:
    print("Students can't apply for loan")

Students can't apply for loan

In [41]:
#Loan app example
income = 9000
credit = 600
student = True
if not student:
    message="Eligible"if income >= 8000 and credit <= 700 else "Not eligible" #Use of Ternary operator
    print(message)
else:
    print("Students can't apply for loan")

Students can't apply for loan

In [42]:
#Loan app example
income = 9000
credit = 600
student = False
if not student:
    message="Eligible"if income >= 8000 and credit <= 700 else "Not eligible" #Use of Ternary operator
    print(message)
else:
    print("Students can't apply for loan")

Eligible

In [43]:
#Another way
income = 9000
credit = 600
student = True

if income > 8000 and credit > 700 and not student:
    print("Eligible")
else:
    print("Not eligible")

Not eligible

In [44]:
#Another way
income = 9000
credit = 600
student = False

if income > 8000 or credit > 700 and not student:
    print("Eligible")
else:
    print("Not eligible")

Eligible

In [47]:
#Write a program that can accept radius from user 
#and print area of circle
from math import pi
radius = int(input("Enter radius"))
area = pi*radius**2
print(area)

Enter radius69
14957.122623741005

In [48]:
#Write a program that can accept radius from user 
#and print area of circle
pi=3.14
radius = int(input("Enter radius"))
area = pi*radius**2
print(area)

Enter radius89
24871.940000000002

In [49]:
radius =float(input("Enter radius"))
area = pi*radius**2
print(area)

Enter radius1045
3428958.5

## User Input (typecasting)

In [50]:
#Write a program that can print whether the number is even or odd.
#User input always use input functioin
#Ensure the output must look like shown below:
# Given number 2 is EVEN !!! --- for even case
# Given number 3 is ODD !!! --- for odd case

number = int(input("Enter Number ")) # typecasting is called user input, by default input creates "string" input
                                      # Enter Number: will be prompted
                                      # If you want any other value except string then convert the "string" first
                                      # We have Converted the "string" into int
if number % 2 != 0:
    print("Given number {}  is ODD".format(number)) #Set the if output
else:
    print("Given number {}  is EVEN".format(number)) #Set the else output


if number % 2 == 0:
    print("Given number {}  is EVEN".format(number)) #Set the if output
else:
    print("Given number {}  is ODD".format(number)) #Set the else output    
    
    
    # .format(number) provides the no instead of {}

Enter Number 67
Given number 67  is ODD
Given number 67  is ODD

In [51]:
name = input("Enter your Name ") #typecasting, user input is "string"
                                 #Enter Name: will be prompted
if name == "Anwesh":
    print("Given name {} is True".format(name)) #Set the if output
else:
    print("Given name {} is False".format(name)) #Set the else output

Enter your Name Angad
Given name Angad is False

In [53]:
Name = input("Enter your Name ") #typecasting, user input is "Name"
                                 #Enter Name: will be prompted
Gender=input("Enter your Gender as Male/Female ")  #typecasting, user input is "Gender"
                                                   #Enter your Gender: Will be prompted
if Gender =="Male":
    print("Mr. {} is Handsome Man".format(Name)) #Set the if output for Gender

elif Gender=="Female":
    print("Miss {} is a Cute Lady".format(Name)) #Set the elif output for Gender

else:
    print("{} Please enter your correct Gender".format(Name)) #Set the else output

Enter your Name Katrina
Enter your Gender as Male/Female Female
Miss Katrina is a Cute Lady

In [54]:
Name = input("Enter your Name ") #typecasting, user input is "Name"
                                 #Enter Name: will be prompted
Age=int(input("Enter your Age ")) #Input "String" has been changed into integer
                                  #Enter your Age: will be prompted
Gender=input("Enter your Gender as Male/Female ") #typecasting, user input is "Gender"
                                                   #Enter your Gender: Will be prompted
if Gender =="Male" and Age>=18:
    print("Mr. {} is a Handsome Man".format(Name)) #Set the if output for Gender
elif Gender =="Male":
    print("{} is a Sweet boy".format(Name)) #Set the elif output for Gender

elif Gender=="Female" and Age>=18:
    print("Miss {} is a Sexy Lady".format(Name)) #Set the elif output for Gender
elif Gender == "Female":
    print("{} is a Cute Girl".format(Name)) #Set the elif output for Gender

else:
    print("{} Please enter your correct Gender".format(Name))

Enter your Name Katrina
Enter your Age 22
Enter your Gender as Male/Female Female
Miss Katrina is a Sexy Lady

In [55]:
number=int(input("Enter Number "))
if number % 2 != 0:
    print("Given number {}  is ODD".format(number))
else:
    print("Given number {}  is EVEN".format(number))
if number % 2 == 0:
    print("Given number {}  is EVEN".format(number)) #Set the if output
else:
    print("Given number {}  is ODD".format(number)) #Set the else output

Enter Number 3691
Given number 3691  is ODD
Given number 3691  is ODD

In [56]:
# User interaction--- input() -------> The default datatype is string
# Typecasting ----> conversion of the datatype from one form to another considering the fact the constant supports the same
num1 = int(input('Enter first number '))
num2 = int(input('Enter second number '))
Addition = num1 + num2
print("The addition of {} and {} is {}".format(num1,num2,Addition))

Enter first number 67
Enter second number 98
The addition of 67 and 98 is 165

In [57]:
# User interaction--- input() -------> The default datatype is string
# Typecasting ----> conversion of the datatype from one form to another considering the fact the constant supports the same
num1 = int(input('Enter first number '))
num2 = int(input('Enter second number '))
Addition = num1 + num2
print("{} + {} = {}".format(num1,num2,Addition))

Enter first number 89
Enter second number 69
89 + 69 = 158

In [61]:
#By default input func converts every input as "string"
#You need to convert input before assigning the input values
x=int(input("Enter 1st number "))
y=int(input("Enter 2nd number "))
z=x+y
print("1st number is {} + 2nd number is {} = Total is {}".format(x,y,z))

Enter 1st number 89
Enter 2nd number 59
1st number is 89 + 2nd number is 59 = Total is 148

In [62]:
#Automatic evaluation/detection of input data type by using eval func
x=eval(input("Enter 1st number "))
y=eval(input("Enter 2nd number "))
z=x+y
print("1st number is {} + 2nd number is {} = Total is {}".format(x,y,z))

Enter 1st number 68
Enter 2nd number 79
1st number is 68 + 2nd number is 79 = Total is 147

## Ternary Operator

In [64]:
#licence eligibility
Name = input("Enter your Name ") #typecasting, user input is "Name"
                                 #Enter Name: will be prompted

Age=int(input("Enter your Age ")) #Input "String" has been changed into integer
                                  #Enter your Age: will be prompted

if Age >= 18:
    print("{} you are Eligible for licence".format(Name))
else:
    print("{} you please try again when your {} wll be 18+".format(Name,Age))

Enter your Name Anwesh
Enter your Age 27
Anwesh you are Eligible for licence

In [65]:
#licence eligibility
Name = input("Enter your Name ")
Age=int(input("Enter your Age "))
if Age >= 18:
    message = "{} you are Eligible for licence".format(Name) #Set the if message for Age
else:
    message = "{} you please try again when your {} wll be 18+".format(Name,Age) #Set the else message for Age

print(message)

Enter your Name Anwesh
Enter your Age 48
Anwesh you are Eligible for licence

In [66]:
# Good way --- use ternary operator
Name = input("Enter your Name ")
Age = int(input("Enter your Age "))
message = "{} you are Eligible for licence".format(Name) if Age >= 18 else "{} you please try again when your {} wll be 18+".format(Name,Age)
print(message)

Enter your Name Anwesh
Enter your Age 34
Anwesh you are Eligible for licence

In [68]:
# Good way --- use ternary operator
Name = input("Enter your Name ")
Age=int(input("Enter your Age "))
message = "Eligible" if Age >= 18 else "Not Eligible"
print(message)

Enter your Name Anwesh
Enter your Age 32
Eligible

In [69]:
number = 9
result = "ODD" if number % 2 != 0 else "EVEN"
print(result)

ODD

## Chaining comparison

In [70]:
# IAS Exam age criteria 21-32 open
Name=input("Please enter your Name ")
Age=int(input("Please enter your Age "))

if Age >= 18 and Age <= 32:
    print("{} you are Eligible for the IAS Exam".format(Name))
elif Age>32:
    print("{} your Age {} is too old and you are Not Eligible for the IAS exam".format(Name, Age))
else:
    print("{} your Age {} is too young and you are Not Eligible for the IAS exam".format(Name, Age))

Please enter your Name Anwesh
Please enter your Age 34
Anwesh your Age 34 is too old and you are Not Eligible for the IAS exam

In [71]:
Age = 26

if 18 <= Age <= 32:
    print("{} is Eligible for Exam".format(Age))
else:
    print("{} is Not Eligible for exam".format(Age))

26 is Eligible for Exam

## Identity Operators
Identity operators are used to compare objects

In [72]:
List1=[10,20,30]
List2=[10,20,30]

In [73]:
x=List1
y=List2

In [74]:
x is List1

True

In [75]:
y is List2

True

In [76]:
x is not y

True

In [77]:
List1 is not List2

True

In [78]:
x is y

False

In [79]:
List1 is List2

False

## Membership Operators
Membership operators are used to check if a sequence is present in the object

In [80]:
List1=[10,20,30]
List2=[10,20,30]

In [81]:
10 in List1 #Check if the element 10 is in list1

True

In [82]:
10 in List2 #Check if the element 10 is in list2

True

In [83]:
10,20,30 in List1

(10, 20, True)

In [84]:
10,20,30 in List2

(10, 20, True)

In [85]:
List1 in List2

False

In [86]:
List1==List2

True

## Bitwise Operator
Bitwise Operators are used to compare binary Numbers

In [87]:
#Complement(~)
#And(&)
#Or(|)
#XOR(^)
#Left Shift(<<)
#Right Shift(>>)

In [88]:
#Complement(~)
x=~12
print(x) #compliment of decimal 12(Compliment of binary 12+1)

-13

In [89]:
#Complement(~)
x=~-13
print(x) #compliment of decimal -13(compliment of binary -13+1)

12

In [90]:
#Complement(~)
x=~12.35
print(x)

TypeError: bad operand type for unary ~: 'float'

In [91]:
#And(&)
x=12&13
print(x) #Binary of 12+Binary of 13=if both of place values have 1 then only 1 otherwise 0

12

In [92]:
#Or(|)
x=12|13
print(x) #Binary of 12+Binary of 13=if both of place values have 0 then only 0 otherwise 1

13

In [93]:
#XOR(^)
x=12^13
print(x)#Binary of 12+Binary of 13=if both of the place values are different then only 1 otherwise 0

1

In [94]:
#Left Shift(<<)
x=10<<2
print(x) #Binary format of 10 ie 1010 gains 2 bits and becomes 101000 [int/decimal(101000)=40]

40

In [95]:
#Right Shift(>>)
x=10>>2
print(x) #Binary format of 10 ie 1010 looses 2 bits and become 10 [int/decimal(10)=2]

2

## Unery Operator

In [96]:
int=7

In [97]:
int

7

In [98]:
-int

-7

In [99]:
int=-int

In [100]:
int

-7