<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#User-defined-Functions" data-toc-modified-id="User-defined-Functions-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>User-defined Functions</a></span></li><li><span><a href="#Python-&quot;String&quot;-Methods" data-toc-modified-id="Python-&quot;String&quot;-Methods-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Python "String" Methods</a></span></li></ul></div>

In [1]:
#Functions are reusable codes.
# There exists two types of functions
# 1. Pre-defined Functions/Built in Functions: str(), int(), float(), range(), append(), sort(), bool()
# 2. User-defined Functions
# 3. Python "String" Methods

# User-defined Functions

In [2]:
#Farenheit to Celcious transform
def FtoCtemp(F):
    print("Celcious =",((F-32)*5/9))

In [3]:
F=float(input("Enter the Farenheit Temp ")) #Take the Farenheit input as float
FtoCtemp(F)                                 #Apply the User-defined Function FtoCtemp() on that F value

Enter the Farenheit Temp 100
Celcious = 37.77777777777778

In [4]:
#Farenheit to Celcious transform
def FtoCtemp(F):
    return "Celcious =",(F-32)*5/9

In [5]:
F=float(input("Enter the Farenheit Temp "))
FtoCtemp(F)

Enter the Farenheit Temp 100

('Celcious =', 37.77777777777778)

In [6]:
#Farenheit to Celcious transform by using lambda
F=float(input("Enter the Farenheit Temp "))
FtoCtemp=lambda F:(F-32)*5/9
print("Celcious =",FtoCtemp(F))

Enter the Farenheit Temp 100
Celcious = 37.77777777777778

In [7]:
#Celcious to Farenheit transform
def CtoFtemp(C):
    print("Farenheit =",(C*9/5)+32)

In [8]:
C=float(input("Enter the Celcious Temp "))
CtoFtemp(C)

Enter the Celcious Temp 37.77777777777778
Farenheit = 100.0

In [9]:
#Celcious to Farenheit transform
def CtoFtemp(C):
    return "Farenheit =",(C*9/5)+32

In [10]:
C=float(input("Enter the Celcious Temp "))
CtoFtemp(C)

Enter the Celcious Temp 37.77777777777778

('Farenheit =', 100.0)

In [11]:
#Celcious to Farenheit transform by using lambda
C=float(input("Enter the Celcious Temp "))
CtoFtemp=lambda C:(C*9/5)+32
print("Farenheit =",CtoFtemp(C))

Enter the Celcious Temp 37.77777777777778
Farenheit = 100.0

In [12]:
# map() function
# Apply User-defined Function to multiple values at a time by using map() function

Farenheit=34,45,53,66,76 #Collection of Farenheit temperatures, Convert all to Celcious
Celcious=25,34,42,53,57  #Collection of Celcious temperatures, Convert all to farenheit
list(map(FtoCtemp,Farenheit)),list(map(lambda F:(F-32)*5/9,Farenheit)),list(map(CtoFtemp,Celcious)),list(map(lambda C:(C*9/5)+32,Celcious))

([1.1111111111111112,
  7.222222222222222,
  11.666666666666666,
  18.88888888888889,
  24.444444444444443],
 [1.1111111111111112,
  7.222222222222222,
  11.666666666666666,
  18.88888888888889,
  24.444444444444443],
 [77.0, 93.2, 107.6, 127.4, 134.6],
 [77.0, 93.2, 107.6, 127.4, 134.6])

In [11]:
def addNumber(num1,num2):
    print("addition is ",num1+num2)

In [14]:
addNumber(1,2)

addition is  3

In [15]:
def multiply(num1,num2):
    return num1*num2     #Return always gives the value only, no other statements
multiply(3,7)

21

In [8]:
def EvenOddIndicator(num1):
    '''
        Author: Prashant Nair
        Usage: evenOddIndicator(num1)
        where num1 can be any whole number

        Output:
        0 - Even
        1 - Odd
    
        Example:
        evenOddIndicator(2) return 0 which indicate given number is EVEN
    '''
    if num1 % 2 == 0:
        return 0
    else:
        return 1

In [9]:
?EvenOddIndicator

In [12]:
result = addNumber(9,2)
print(result)

addition is  11
None

In [19]:
#Will learn how to write your own functions
'''
def functionname(parameters):
    function body(logic)
    
A function must perform one of the following:
1. Perform a task
2. Return a value

'''
def GreetName(name):
    print('Welcome '+name)

In [20]:
GreetName('Prashant')

Welcome Prashant

In [21]:
def GreetName(name):
    print('Welcome ',name)

In [22]:
GreetName('Prashant')

Welcome  Prashant

In [23]:
def AddOne(num):
    return num + 1

In [24]:
AddOne(29)

30

In [25]:
list1 = [1,2,3,4,5]
list2 = []
for number in list1:
    list2.append(AddOne(number))
list2

[2, 3, 4, 5, 6]

In [26]:
#Write a function that can seperate odd numbers from given below list
listExample = [1,2,3,4,5,6,7,8,9,10]
#Ensure your function name is oddNumbers and ensure function has one parameter
# Also ensure function returns booleans
# The output must look like this
'''
1
3
5
7
9
'''


def OddNumbers(num):
    if num % 2 != 0:
        return True
    else:
        return False

for number in listExample:
    if OddNumbers(number):
        print(number)

1
3
5
7
9

In [27]:
def OddNumber2(num):
    if num % 2 != 0:
        return "Odd"
    else:
        return "Even"

In [28]:
listExample = [1,2,3,4,5,6,7,8,9,10]
for i in listExample:
    print(OddNumber2(i))

Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even

In [29]:
#User defined function inside loop
listExample = [1,2,3,4,5,6,7,8,9,10]
for i in listExample:
    print(i,OddNumber2(i))

1 Odd
2 Even
3 Odd
4 Even
5 Odd
6 Even
7 Odd
8 Even
9 Odd
10 Even

In [30]:
#To print odd nos
listExample = [1,2,3,4,5,6,7,8,9,10]
for i in listExample:
    if OddNumbers(i):
        print(i)

1
3
5
7
9

In [31]:
# filter() function
# Apply User-defined Function to multiple values at a time for filtering desired values from them

def DetectOddNumber(num):
    if num % 2 == 0:
        return num
Num=34,76,45,75,56,88,99,100,22,50
list(filter(DetectOddNumber,Num))

[34, 76, 56, 88, 100, 22, 50]

In [32]:
# filter() function
# Apply User-defined Function to multiple values at a time for filtering desired values from them

DetectOddNumber=lambda num:num%2==0
Num=34,76,45,75,56,88,99,100,22,50
list(filter(DetectOddNumber,Num))

[34, 76, 56, 88, 100, 22, 50]

In [33]:
if True:
    print('Yes')

Yes

In [34]:
#To print even nos
listExample = [1,2,3,4,5,6,7,8,9,10]
for i in listExample:
    if not OddNumbers(i):
        print(i)

2
4
6
8
10

# Python "String" Methods

In [35]:
Movie = "Splinter Cell Chaos Theory, I am Sam Fisher"
Movie,type(Movie)

('Splinter Cell Chaos Theory, I am Sam Fisher', str)

In [36]:
Names= "Ravindra", "Jadeja", "Akshay", "Ashok", "Komal"
Names

('Ravindra', 'Jadeja', 'Akshay', 'Ashok', 'Komal')

In [37]:
Movie.lower() #Shows the Movie string into all small letter

'splinter cell chaos theory, i am sam fisher'

In [38]:
#Convert all string elements of tuple Names into Upper Case & take them into a List
Names=[x.upper() for x in Names]
Names,type(Names)

(['RAVINDRA', 'JADEJA', 'AKSHAY', 'ASHOK', 'KOMAL'], list)

In [39]:
Movie.upper() #Shows the Movie string into all capital letter

'SPLINTER CELL CHAOS THEORY, I AM SAM FISHER'

In [40]:
Movie.title() #Shows First letter of each word in Capital & rest in small

'Splinter Cell Chaos Theory, I Am Sam Fisher'

In [41]:
Movie.split() #Split the Movie string based on given spaces

['Splinter', 'Cell', 'Chaos', 'Theory,', 'I', 'am', 'Sam', 'Fisher']

In [42]:
Movie = "Splinter Cell Chaos Theory, I am #Sam Fisher"

In [43]:
Movie.split('#') #Split the Movie string based on given #

['Splinter Cell Chaos Theory, I am ', 'Sam Fisher']

In [44]:
Movie.split('#')[1] # The part of Movie after # symbol, comes under 1st index

'Sam Fisher'

In [45]:
Movie.split('#')[0] #The part of Movie before # symbol, comes under 0th index

'Splinter Cell Chaos Theory, I am '