# Numpy & Scipy in Python

# Using NumPy
Once you've installed NumPy you can import it as a library

In [1]:
from numpy import *
from scipy import *

# Agendas in Numpy

In [2]:
#1. Arrays
#2. Linear Algebra
#3. Random Number Generation
#4. Broadcasting

## Arrays

In [3]:
#1. Arrays are the collection of Lists/Tuples in multidimentions, each dimention contains a List/Tuple
#2. Array means arranging something in a particular way
#3. Array is a collection of same type of data elements
#4. An array could be 1D, 2D, 3D or more

### Similarites between List & Array

In [4]:
#1. Both are used for storing data elements
#2. Both are mutable, we can add,remove,insert,shuffle,sort,swap & replace single/multiple elements at a time
#3. Both can be indexed and itrated through
#4. slicing is possible for both the cases
#5. In Arrays advanced indexing is possible

### Differences between List & Array

In [5]:
#1. List contains different data types, Array contains similar data types
#2. List=["KESHAV",45+9j,True,39.69,39], Array=array([1,2,3,4,5,6,7,8,9,10])
#3. You cant perform Arithmatic operations between Lists, Tuples, Set or Range... between Arrays you can perform that

In [6]:
help(array)

Help on function array in module numpy:

array(...)
    scipy.array is deprecated and will be removed in SciPy 2.0.0, use numpy.array instead

In [7]:
#1. Syntax is array(object, dtype=None, copy=True, order='K', subok=False, ndmin=0)
#2. object is type the datas
#3. dtype=None is mentioning the specific data type format
#4. copy=True is create the actual Array or just the copy of it
#5. order="k" is memory specific thing, not important
#6. subok=False
#7. ndim=0 is mentioning the Dimention of Array, 1D,2D or 3D

In [8]:
#You cant perform Multiplication between two/more lists
List1=["KESHAV",45+9j,True,39.69,39]
List2=[10.10,'Prashant',10+10j,False,10]
List1*List2

TypeError: can't multiply sequence by non-int of type 'list'

In [9]:
#You cant perform Multiplication between lists
List3=[1,2,3,4,5]
List4=[6,7,8,9,10]
List3*List4

TypeError: can't multiply sequence by non-int of type 'list'

In [10]:
#You cant perform Multiplication between Tuples
Tuple3=(1,2,3,4,5)
Tuple4=(6,7,8,9,10)
Tuple3*Tuple4

TypeError: can't multiply sequence by non-int of type 'tuple'

In [12]:
#You can perform Multiplication between two/more Arrays
#You can perform all possible Airthmatic operations between two/more Arrays (Condition Applied)
#array(object, dtype=None, copy=True, order='K', subok=False, ndmin=0)
#Multiplication output will also be an Array
from numpy import array
Array1=array([1,2,3,4,5])       # Convert List3 into Array1
Array2=array([6,7,8,9,10])      # Convert List4 into Array2
Array1*Array2

array([ 6, 14, 24, 36, 50])

In [13]:
#You can perform Multiplication between two/more Arrays
#You can perform all possible Airthmatic operations between two/more Arrays (Condition Applied)
#array(object, dtype=None, copy=True, order='K', subok=False, ndmin=0)
#Multiplication output will also be an Array
Array1=array((1,2,3,4,5))       # Convert Tuple3 into Array1
Array2=array((6,7,8,9,10))      # Convert Tuple4 into Array2
Array1*Array2

array([ 6, 14, 24, 36, 50])

### Advantages of Array compared to List

In [14]:
#1. An array consumes less amount of memory than a List
#2. Calculation with Arrays are fatser than List
#3. Arrays are convenient to use when we want to perform mathematical operations
#4. Advanced indexing is possible in Array

## There are different functions to create Array
1. array()
2. arange()
3. zeros()
4. ones()
5. linspace()
6. eye()
7. random()

### array() function

In [15]:
help(array)

Help on built-in function array in module numpy:

array(...)
    array(object, dtype=None, *, copy=True, order='K', subok=False, ndmin=0)

    Create an array.

    Parameters
    ----------
    object : array_like
        An array, any object exposing the array interface, an object whose
        __array__ method returns an array, or any (nested) sequence.
    dtype : data-type, optional
        The desired data-type for the array.  If not given, then the type will
        be determined as the minimum type required to hold the objects in the
        sequence.
    copy : bool, optional
        If true (default), then the object is copied.  Otherwise, a copy will
        only be made if __array__ returns a copy, if obj is a nested sequence,
        or if a copy is needed to satisfy any of the other requirements
        (`dtype`, `order`, etc.).
    order : {'K', 'A', 'C', 'F'}, optional
        Specify the memory layout of the array. If object is not an array, the
        newly created array will be in C order (row major) unless 'F' is
        specified, in which case it will be in Fortran order (column major).
        If object is an array the following holds.

        ===== ========= ===================================================
        order  no copy                     copy=True
        ===== ========= ===================================================
        'K'   unchanged F & C order preserved, otherwise most similar order
        'A'   unchanged F order if input is F and not C, otherwise C order
        'C'   C order   C order
        'F'   F order   F order
        ===== ========= ===================================================

        When ``copy=False`` and a copy is made for other reasons, the result is
        the same as if ``copy=True``, with some exceptions for `A`, see the
        Notes section. The default order is 'K'.
    subok : bool, optional
        If True, then sub-classes will be passed-through, otherwise
        the returned array will be forced to be a base-class array (default).
    ndmin : int, optional
        Specifies the minimum number of dimensions that the resulting
        array should have.  Ones will be pre-pended to the shape as
        needed to meet this requirement.

    Returns
    -------
    out : ndarray
        An array object satisfying the specified requirements.

    See Also
    --------
    empty_like : Return an empty array with shape and type of input.
    ones_like : Return an array of ones with shape and type of input.
    zeros_like : Return an array of zeros with shape and type of input.
    full_like : Return a new array with shape of input filled with value.
    empty : Return a new uninitialized array.
    ones : Return a new array setting values to one.
    zeros : Return a new array setting values to zero.
    full : Return a new array of given shape filled with value.


    Notes
    -----
    When order is 'A' and `object` is an array in neither 'C' nor 'F' order,
    and a copy is forced by a change in dtype, then the order of the result is
    not necessarily 'C' as expected. This is likely a bug.

    Examples
    --------
    >>> np.array([1, 2, 3])
    array([1, 2, 3])

    Upcasting:

    >>> np.array([1, 2, 3.0])
    array([ 1.,  2.,  3.])

    More than one dimension:

    >>> np.array([[1, 2], [3, 4]])
    array([[1, 2],
           [3, 4]])

    Minimum dimensions 2:

    >>> np.array([1, 2, 3], ndmin=2)
    array([[1, 2, 3]])

    Type provided:

    >>> np.array([1, 2, 3], dtype=complex)
    array([ 1.+0.j,  2.+0.j,  3.+0.j])

    Data-type consisting of more than one element:

    >>> x = np.array([(1,2),(3,4)],dtype=[('a','<i4'),('b','<i4')])
    >>> x['a']
    array([1, 3])

    Creating an array from sub-classes:

    >>> np.array(np.mat('1 2; 3 4'))
    array([[1, 2],
           [3, 4]])

    >>> np.array(np.mat('1 2; 3 4'), subok=True)
    matrix([[1, 2],
            [3, 4]])

In [17]:
#Creating 1D array from 1 list
#array.dtype works with Array only
from numpy import ndim
Array1D=array(["KESHAV",45+9j,True,39.69,39]) #Convert the list into 1D array
print(Array1D),Array1D.dtype,type(Array1D),ndim(Array1D)

['KESHAV' '(45+9j)' 'True' '39.69' '39']

(None, dtype('<U7'), numpy.ndarray, 1)

In [18]:
#Creating 1D array from 1 tuple
#array.dtype works with Array only 
Array1D=array(("KESHAV",45+9j,True,39.69,39)) #Convert the list into 1D array
print(Array1D),Array1D.dtype,type(Array1D),ndim(Array1D)

['KESHAV' '(45+9j)' 'True' '39.69' '39']

(None, dtype('<U7'), numpy.ndarray, 1)

In [19]:
#1D to 2D array convertion from 1 list
Array2D=array([["KESHAV",45+9j,True,39.69,39]]) #Convert the list into 2D array, ([[]])
print(Array2D),Array2D.dtype,type(Array2D),ndim(Array2D)

[['KESHAV' '(45+9j)' 'True' '39.69' '39']]

(None, dtype('<U7'), numpy.ndarray, 2)

In [20]:
#1D to 2D array convertion from 1 tuple
Array2D=array([("KESHAV",45+9j,True,39.69,39)]) #Convert the tuple into 2D array, ([()])
print(Array2D),Array2D.dtype,type(Array2D),ndim(Array2D)

[['KESHAV' '(45+9j)' 'True' '39.69' '39']]

(None, dtype('<U7'), numpy.ndarray, 2)

In [21]:
# How to create Array2DRow ??
Array2DRow=array([["KESHAV",45+9j,True,39.69,39]])
print(Array2DRow),Array2DRow.dtype,type(Array2DRow),ndim(Array2DRow)

[['KESHAV' '(45+9j)' 'True' '39.69' '39']]

(None, dtype('<U7'), numpy.ndarray, 2)

In [22]:
# How to create Array2DCol ??
Array2DCol=array([["KESHAV"],[45+9j],[True],[39.69],[39]])
print(Array2DCol),Array2DRow.dtype,type(Array2DRow),ndim(Array2DCol)

[['KESHAV']
 ['(45+9j)']
 ['True']
 ['39.69']
 ['39']]

(None, dtype('<U7'), numpy.ndarray, 2)

In [23]:
# How to create Array1DRow ??
Array2DCol=array([("KESHAV"),(45+9j),(True),(39.69),(39)])
print(Array2DCol),Array2DRow.dtype,type(Array2DRow),ndim(Array2DCol)

['KESHAV' '(45+9j)' 'True' '39.69' '39']

(None, dtype('<U7'), numpy.ndarray, 1)

In [24]:
#Creating 2D array from 2 lists
#No of elements/length of each list should be same
Array2DL=array([["KESHAV",45+9j,True,39.69,39],[10.10,'Prashant',10+10j,False,10]]) #Transforming nested list of 2 lists into Array
print(Array2DL),Array2DL.dtype,type(Array2DL),ndim(Array2DL)

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

(None, dtype('<U8'), numpy.ndarray, 2)

In [25]:
#Creating 2D array from 2 lists
#No of elements/length of each list should be same
Array2DL=array((["KESHAV",45+9j,True,39.69,39],[10.10,'Prashant',10+10j,False,10])) #Transforming nested list of 2 lists into Array
print(Array2DL),Array2DL.dtype,type(Array2DL),ndim(Array2DL)

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

(None, dtype('<U8'), numpy.ndarray, 2)

In [26]:
Array2d=array([["KESHAV",45+9j,True,39.69,39]]) #Convert the list into 2D array
print(Array2d),Array2d.dtype,type(Array2d),ndim(Array2d)

[['KESHAV' '(45+9j)' 'True' '39.69' '39']]

(None, dtype('<U7'), numpy.ndarray, 2)

In [27]:
#Creating 1D array from 1 Tuple
Array1DT=array(("KESHAV",45+9j,True,39.69,39)) #Convert the Tuple into 1D Array
print(Array1DT),Array1DT.dtype,type(Array1DT),ndim(Array1DT)

['KESHAV' '(45+9j)' 'True' '39.69' '39']

(None, dtype('<U7'), numpy.ndarray, 1)

In [28]:
#1D to 2D array convertion from 1 tuple   This ((())) or (([])) always create 1D Array only
# How to create Array2DRow ??
array2DRow=array((("KESHAV",45+9j,True,39.69,39))) #Convert the Tuple into 2D array
print(array2DRow),array2DRow.dtype,type(array2DRow),ndim(array2DRow)

['KESHAV' '(45+9j)' 'True' '39.69' '39']

(None, dtype('<U7'), numpy.ndarray, 1)

In [29]:
#1D to 2D array convertion from 1 tuple
# How to create Array2DRow ??
array2DRow=array([("KESHAV",45+9j,True,39.69,39)]) #Convert the Tuple into 2D array
print(array2DRow),array2DRow.dtype,type(array2DRow),ndim(array2DRow)

[['KESHAV' '(45+9j)' 'True' '39.69' '39']]

(None, dtype('<U7'), numpy.ndarray, 2)

In [30]:
# This ((())) or (([])) always create 1D Array only
# How to create Array2DRow ??
#1D to 2D array convertion from 1 tuple
# How to create Array2DRow ??
array2DRow=array((["KESHAV",45+9j,True,39.69,39])) #Convert the Tuple into 2D array
print(array2DRow),array2DRow.dtype,type(array2DRow),ndim(array2DRow)

['KESHAV' '(45+9j)' 'True' '39.69' '39']

(None, dtype('<U7'), numpy.ndarray, 1)

In [31]:
# How to create Array2DCol ??
Array2DCol=array((("KESHAV"),(45+9j),(True),(39.69),(39)))
print(Array2DCol),Array2DCol.dtype,type(Array2DCol),ndim(Array2DCol)

['KESHAV' '(45+9j)' 'True' '39.69' '39']

(None, dtype('<U7'), numpy.ndarray, 1)

In [32]:
# How to create Array2DCol ??
Array2DCol=array(("KESHAV",45+9j,True,39.69,39))
print(Array2DCol),Array2DCol.dtype,type(Array2DCol),ndim(Array2DCol)

['KESHAV' '(45+9j)' 'True' '39.69' '39']

(None, dtype('<U7'), numpy.ndarray, 1)

In [33]:
# How to create Array2DCol ??
Array2DCol=array([("KESHAV"),(45+9j),(True),(39.69),(39)])
print(Array2DCol),Array2DCol.dtype,type(Array2DCol),ndim(Array2DCol)

['KESHAV' '(45+9j)' 'True' '39.69' '39']

(None, dtype('<U7'), numpy.ndarray, 1)

In [34]:
ndim(Array2D),type(Array2D)

(2, numpy.ndarray)

In [40]:
#Creating 2D array from 2 Tuples
#No of elements/length of each Tuple should be same
from numpy import shape, size
Array2DL=array((("KESHAV",45+9j,True,39.69,39),(10.10,'Prashant',10+10j,False,10))) #Transforming nested Tuple of 2 tuples into Array
print(Array2DL),Array2DL.dtype,type(Array2DL),shape(Array2DL),size(Array2DL)

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

(None, dtype('<U8'), numpy.ndarray, (2, 5), 10)

In [41]:
#Creating 1D array from 1 list & convert all elements into complex
#Dont works with string element
Array1=array([45+9j,True,39.69,39],dtype=complex) #dtype=complex
print(Array1), type(Array1), ndim(Array1), Array1.dtype

[45.  +9.j  1.  +0.j 39.69+0.j 39.  +0.j]

(None, numpy.ndarray, 1, dtype('complex128'))

In [42]:
#Creating 2D array from 1 list & convert all elements into complex
#Dont works with string element
ArraY2=array([[45+9j,True,39.69,39]],dtype=complex) #dtype=complex
print(ArraY2), type(ArraY2), ndim(ArraY2), ArraY2.dtype

[[45.  +9.j  1.  +0.j 39.69+0.j 39.  +0.j]]

(None, numpy.ndarray, 2, dtype('complex128'))

In [43]:
#Creating 1D array from 1 Tuple & convert all elements into complex
#Dont works with string element
Array1=array((45+9j,True,39.69,39),dtype=complex) #dtype=complex
print(Array1), type(Array1), ndim(Array1), Array1.dtype

[45.  +9.j  1.  +0.j 39.69+0.j 39.  +0.j]

(None, numpy.ndarray, 1, dtype('complex128'))

In [44]:
#Creating 2D array from 1 Tuple & convert all elements into complex
#Dont works with string element
ARray2=array([(45+9j,True,39.69,39)],dtype=complex) #dtype=complex
print(ARray2), type(ARray2), ndim(ARray2), ARray2.dtype

[[45.  +9.j  1.  +0.j 39.69+0.j 39.  +0.j]]

(None, numpy.ndarray, 2, dtype('complex128'))

In [45]:
#Creating 2D array from 2 lists & convert all elements into complex
#No of elements/length of each list should be same
#Dont works with string element
Array2=array([[45+9j,True,39.69,39],[10.10,10+10j,False,10]],dtype=complex) #Transforming nested list of 2 lists into Array
print(Array2), type(Array2), ndim(Array2), Array2.dtype               #dtype=complex

[[45.   +9.j  1.   +0.j 39.69 +0.j 39.   +0.j]
 [10.1  +0.j 10.  +10.j  0.   +0.j 10.   +0.j]]

(None, numpy.ndarray, 2, dtype('complex128'))

In [46]:
#Creating 2D array from 2 Tuples & convert elements into complex
#No of elements/length of each Tuple should be same
#Dont works with string element
Array2=array(((45+9j,True,39.69,39),(10.10,10+10j,False,10)),dtype=complex) #Transforming nested tuple of 2 tuples into Array
print(Array2), type(Array2), ndim(Array2), Array2.dtype               #dtype=complex

[[45.   +9.j  1.   +0.j 39.69 +0.j 39.   +0.j]
 [10.1  +0.j 10.  +10.j  0.   +0.j 10.   +0.j]]

(None, numpy.ndarray, 2, dtype('complex128'))

### arange() function
Almost like range() variable, for particular data you need to mention dtype=

In [48]:
from numpy import arange
help(arange)

Help on built-in function arange in module numpy:

arange(...)
    arange([start,] stop[, step,], dtype=None)

    Return evenly spaced values within a given interval.

    Values are generated within the half-open interval ``[start, stop)``
    (in other words, the interval including `start` but excluding `stop`).
    For integer arguments the function is equivalent to the Python built-in
    `range` function, but returns an ndarray rather than a list.

    When using a non-integer step, such as 0.1, the results will often not
    be consistent.  It is better to use `numpy.linspace` for these cases.

    Parameters
    ----------
    start : number, optional
        Start of interval.  The interval includes this value.  The default
        start value is 0.
    stop : number
        End of interval.  The interval does not include this value, except
        in some cases where `step` is not an integer and floating point
        round-off affects the length of `out`.
    step : number, optional
        Spacing between values.  For any output `out`, this is the distance
        between two adjacent values, ``out[i+1] - out[i]``.  The default
        step size is 1.  If `step` is specified as a position argument,
        `start` must also be given.
    dtype : dtype
        The type of the output array.  If `dtype` is not given, infer the data
        type from the other input arguments.

    Returns
    -------
    arange : ndarray
        Array of evenly spaced values.

        For floating point arguments, the length of the result is
        ``ceil((stop - start)/step)``.  Because of floating point overflow,
        this rule may result in the last element of `out` being greater
        than `stop`.

    See Also
    --------
    numpy.linspace : Evenly spaced numbers with careful handling of endpoints.
    numpy.ogrid: Arrays of evenly spaced numbers in N-dimensions.
    numpy.mgrid: Grid-shaped arrays of evenly spaced numbers in N-dimensions.

    Examples
    --------
    >>> np.arange(3)
    array([0, 1, 2])
    >>> np.arange(3.0)
    array([ 0.,  1.,  2.])
    >>> np.arange(3,7)
    array([3, 4, 5, 6])
    >>> np.arange(3,7,2)
    array([3, 5])

In [49]:
#This is array created by single range/multiple range unlike List,Tuple
#arange([start,] stop[, step,], dtype=None)

In [50]:
#Creating 1D array from 1 range of complex elements
# start=0 by default
# stop=20
# step=1 by default
Array1=arange(start=0,stop=20,dtype=complex) #From 0 to 19 complex numbers
print(Array1),type(Array1),ndim(Array1),Array1.dtype

[ 0.+0.j  1.+0.j  2.+0.j  3.+0.j  4.+0.j  5.+0.j  6.+0.j  7.+0.j  8.+0.j
  9.+0.j 10.+0.j 11.+0.j 12.+0.j 13.+0.j 14.+0.j 15.+0.j 16.+0.j 17.+0.j
 18.+0.j 19.+0.j]

(None, numpy.ndarray, 1, dtype('complex128'))

In [51]:
#Creating 2D array from 1 range having complex elements
#We will use reshape() function to give the Array2 2D structure
#No of elements/length of each range should be same
#Dont works with string element
# start=1
# stop=21
# step=1
Array2=arange(start=1,stop=21,step=1,dtype=complex).reshape(4,5) #4 rows & 5 columns, from 1 to 20 complex numbers
print(Array2),ndim(Array2),type(Array2),Array2.dtype

[[ 1.+0.j  2.+0.j  3.+0.j  4.+0.j  5.+0.j]
 [ 6.+0.j  7.+0.j  8.+0.j  9.+0.j 10.+0.j]
 [11.+0.j 12.+0.j 13.+0.j 14.+0.j 15.+0.j]
 [16.+0.j 17.+0.j 18.+0.j 19.+0.j 20.+0.j]]

(None, 2, numpy.ndarray, dtype('complex128'))

### zeros() function

In [52]:
help(zeros)

Help on function zeros in module numpy:

zeros(...)
    scipy.zeros is deprecated and will be removed in SciPy 2.0.0, use numpy.zeros instead

In [123]:
#zeros(shape, dtype=float, order='C')
#zeros() function creates array filled with zeros
#You should mention the shape of the array
#You can mention the data type, otherwise default data type will be Float
#You can mention the multidimentional data storing order but we will ignore it

In [53]:
#Creating 1D zeros Array
from numpy import zeros
Zeros1=zeros(5,float)   #Zeros Array, containing 5 elements, Float type
print(Zeros1),ndim(Zeros1),type(Zeros1),Zeros1.dtype

[0. 0. 0. 0. 0.]

(None, 1, numpy.ndarray, dtype('float64'))

In [54]:
#Creating 1D zeros Array
Zeros1=zeros(5,complex)   #Zeros Array, containing 5 elements, Complex type
print(Zeros1),ndim(Zeros1),type(Zeros1), Zeros1.dtype

[0.+0.j 0.+0.j 0.+0.j 0.+0.j 0.+0.j]

(None, 1, numpy.ndarray, dtype('complex128'))

In [55]:
#Creating 2D zeros Array of tuples
Zeros2=zeros((5,4),int) #(5,4) is shape tuple of ints, containing 5*4=20 elements, integer type
print(Zeros2),ndim(Zeros2),type(Zeros2),Zeros2.dtype

[[0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]]

(None, 2, numpy.ndarray, dtype('int32'))

In [56]:
#Creating 2D zeros Array of tuples
Zeros2=zeros((5,4),complex) #(5,4) is shape tuple of ints, containing 5*4=20 elements, Complex type
print(Zeros2),ndim(Zeros2),type(Zeros2),Zeros2.dtype

[[0.+0.j 0.+0.j 0.+0.j 0.+0.j]
 [0.+0.j 0.+0.j 0.+0.j 0.+0.j]
 [0.+0.j 0.+0.j 0.+0.j 0.+0.j]
 [0.+0.j 0.+0.j 0.+0.j 0.+0.j]
 [0.+0.j 0.+0.j 0.+0.j 0.+0.j]]

(None, 2, numpy.ndarray, dtype('complex128'))

In [57]:
#Creating 2D zeros Array of tuples
Zeros2=zeros((4,5),float) #(4,5) is shape tuple of float, containing 4*5=20 elements, Float type
print(Zeros2),ndim(Zeros2),type(Zeros2),Zeros2.dtype

[[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]

(None, 2, numpy.ndarray, dtype('float64'))

In [58]:
#Creating 2D zeros Array of lists
Zeros2=zeros([5,4],int) #[5,4] is shape list of ints, containing 5*4=20 elements, integer type
print(Zeros2),ndim(Zeros2),type(Zeros2),Zeros2.dtype

[[0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]]

(None, 2, numpy.ndarray, dtype('int32'))

In [59]:
#Creating 2D zeros Array of lists
Zeros2=zeros([4,5],float) #[4,5] is shape list of float, containing 4*5=20 elements, float type
print(Zeros2),ndim(Zeros2),type(Zeros2),Zeros2.dtype

[[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]

(None, 2, numpy.ndarray, dtype('float64'))

### ones() function

In [60]:
help(ones)

Help on function ones in module numpy:

ones(shape, dtype=None, order='C')
    scipy.ones is deprecated and will be removed in SciPy 2.0.0, use numpy.ones instead

In [132]:
#ones(shape, dtype=None, order='C')
#ones() function creates array filled with 1
#You should mention the shape of the array
#You can mention the data type, otherwise default data type will be Float
#You can mention the multidimentional data storing order but we will ignore it

In [61]:
#Creating 1D ones Array
from numpy import ones
Ones1=ones(5,float)    #Ones Array, containing 5 elements, Float type
print(Ones1), ndim(Ones1), type(Ones1), Ones1.dtype

[1. 1. 1. 1. 1.]

(None, 1, numpy.ndarray, dtype('float64'))

In [62]:
#Creating 2D ones Array of tuples
Ones2=ones((5,4),int) #(5,4) is tuple of ints, containing 5*4=20 elements, integer type
print(Ones2),ndim(Ones2),type(Ones2),Ones2.dtype

[[1 1 1 1]
 [1 1 1 1]
 [1 1 1 1]
 [1 1 1 1]
 [1 1 1 1]]

(None, 2, numpy.ndarray, dtype('int32'))

In [63]:
#Creating 2D ones Array of tuples
Ones2=ones((4,5),float) #(4,5) is tuple of float, containing 4*5=20 elements, float type
print(Ones2),ndim(Ones2),type(Ones2),Ones2.dtype

[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]

(None, 2, numpy.ndarray, dtype('float64'))

In [64]:
#Creating 2D ones Array of tuples
Ones2=ones((4,5),complex) #(4,5) is tuple of complex, containing 4*5=20 elements, complex type
print(Ones2),ndim(Ones2),type(Ones2),Ones2.dtype

[[1.+0.j 1.+0.j 1.+0.j 1.+0.j 1.+0.j]
 [1.+0.j 1.+0.j 1.+0.j 1.+0.j 1.+0.j]
 [1.+0.j 1.+0.j 1.+0.j 1.+0.j 1.+0.j]
 [1.+0.j 1.+0.j 1.+0.j 1.+0.j 1.+0.j]]

(None, 2, numpy.ndarray, dtype('complex128'))

In [65]:
#Creating 2D ones Array of lists
Ones2=ones([5,4],int) #[5,4] is list of ints, containing 5*4=20 elements, integer type
print(Ones2),ndim(Ones2),type(Ones2),Ones2.dtype

[[1 1 1 1]
 [1 1 1 1]
 [1 1 1 1]
 [1 1 1 1]
 [1 1 1 1]]

(None, 2, numpy.ndarray, dtype('int32'))

In [66]:
#Creating 2D ones Array of lists
Ones2=ones([4,5],float) #[4,5] is list of float, containing 4*5=20 elements, float type
print(Ones2),ndim(Ones2),type(Ones2),Ones2.dtype

[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]

(None, 2, numpy.ndarray, dtype('float64'))

### linspace() function

In [67]:
#Returns evenly spaced numbers over a specified interval.
#Creates array filled with evenly spaced/sequenced values
#It almost works like arange() function
#With linspace we provide start value, stop value and no of desired elements
#linspace automatically adjusts the step/interval for getting the no of desired elements sequence
#linspace stands for linear-space/interval/step
#In linspace we can include the stop value (optional), unlike range & arange
#We can exclude the stop value by doing endpoint=False
#We can also get the print of space/interval/step by doing retstep=True
#retstep=True it converts the result into Tuple
#.reshape() & array.dtype commands dont works along with retstep=True command
help(linspace)

Help on function linspace in module numpy:

linspace(start, stop, num=50, endpoint=True, retstep=False, dtype=None, axis=0)
    scipy.linspace is deprecated and will be removed in SciPy 2.0.0, use numpy.linspace instead

In [68]:
# Hey you, Check the output result here.. They are inside a 1D List Array
from numpy import linspace
Linspace=linspace(start=5,stop=11,num=3) #5 is start, 11 is stop, 3 is no of elements, endpoint=True by default (include endpoint)
print(Linspace),ndim(Linspace),type(Linspace),Linspace.dtype           #by default outcomes are in float

[ 5.  8. 11.]

(None, 1, numpy.ndarray, dtype('float64'))

In [69]:
# Hey you, Check the output result here.. They are inside a 1D List Array
Linspace2=linspace(start=5,stop=11,num=3,endpoint=False) #5 is start, 11 is stop, 3 is no of elements, endpoint=False (exclude endpoint)
print(Linspace2),ndim(Linspace2),type(Linspace2),Linspace2.dtype #11 endpoint has been excluded #by default outcomes are in float

[5. 7. 9.]

(None, 1, numpy.ndarray, dtype('float64'))

In [70]:
#retstep=True it converts the result into a 1D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
#.reshape() command dont works with Tuple Array
#array.dtype commands dont works along with retstep=True command when the output is in Tuple Array
#.reshape() & retstep=True commands never work together at any circumstances of linspace() function
Linspace3=linspace(5,11,3,retstep=True) #5 is start, 11 is stop, 3 is no of elements, retstep=True will show the step value
print(Linspace3),ndim(Linspace3),type(Linspace3),Linspace3.dtype #3.0 is Step value     #by default outcomes are in float

(array([ 5.,  8., 11.]), 3.0)

D:\Anwesh\D_Program_Files\Miniconda3\envs\ML\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)

AttributeError: 'tuple' object has no attribute 'dtype'

In [71]:
#Linspace3.dtype this command has been removed
#retstep=True it converts the result into a 1D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
#.reshape() command dont works with Tuple Array
#array.dtype commands dont works along with retstep=True command when the output is in Tuple Array
#.reshape() & retstep=True commands never work together at any circumstances of linspace() function
Linspace3=linspace(5,11,3,retstep=True) #5 is start, 11 is stop, 3 is no of elements, retstep=True will show the step value
print(Linspace3),ndim(Linspace3),type(Linspace3) #3.0 is Step value     #by default outcomes are in float

(array([ 5.,  8., 11.]), 3.0)

(None, 1, tuple)

In [72]:
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
#retstep=True it converts the result into a 1D Tuple Array
# Linspace3.dtype this command has been removed
Linspace3=linspace(5,11,3,retstep=True) #5 is start, 11 is stop, 3 is no of elements, retstep=True will show the step value
print(Linspace3),ndim(Linspace3),type(Linspace3)    #3.0 is Step value   #by default outcomes are in float

(array([ 5.,  8., 11.]), 3.0)

(None, 1, tuple)

In [73]:
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
#retstep=True it converts the result into a 1D Tuple Array
Linspace3=linspace(5,11,3,retstep=True) #5 is start, 11 is stop, 3 is no of elements, retstep=True will show the step
print(Linspace3),ndim(Linspace3),type(Linspace3)    #3.0 is Step, #by default outcomes are in float

(array([ 5.,  8., 11.]), 3.0)

(None, 1, tuple)

In [74]:
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
#retstep=True it converts the result into a 1D Tuple Array
Linspace4=linspace(5,11,3,retstep=True,dtype=int) #5 is start, 11 is stop, 3 is no of elements, retstep=True will show the step
print(Linspace4),ndim(Linspace4),type(Linspace4) #Showing 3 integers along with step

(array([ 5,  8, 11]), 3.0)

(None, 1, tuple)

In [75]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#You cant use retstep=True command along with array.dtype command
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
#.reshape() & retstep=True commands never work together at any circumstances of linspace() function
Linspace=linspace([1,11],5,10)                               #2D linspace array with 2 Lists
print(Linspace),ndim(Linspace),type(Linspace),Linspace.dtype #start=1, stop=5, num=10 for 1st List
                                                             #start=11, stop=5, num=10 for 2nd List

[[ 1.         11.        ]
 [ 1.44444444 10.33333333]
 [ 1.88888889  9.66666667]
 [ 2.33333333  9.        ]
 [ 2.77777778  8.33333333]
 [ 3.22222222  7.66666667]
 [ 3.66666667  7.        ]
 [ 4.11111111  6.33333333]
 [ 4.55555556  5.66666667]
 [ 5.          5.        ]]

(None, 2, numpy.ndarray, dtype('float64'))

In [76]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#You cant use retstep=True command along with array.dtype command
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
#.reshape() & retstep=True commands never work together at any circumstances of linspace() function
# By default num=50
Linspace=linspace([1,6],[5,10])                               #2D linspace array with 2 Lists
print(Linspace),ndim(Linspace),type(Linspace),Linspace.dtype #start=1, stop=5, num=50 for 1st List
                                                             #start=11, stop=5, num=50 for 2nd List

[[ 1.          6.        ]
 [ 1.08163265  6.08163265]
 [ 1.16326531  6.16326531]
 [ 1.24489796  6.24489796]
 [ 1.32653061  6.32653061]
 [ 1.40816327  6.40816327]
 [ 1.48979592  6.48979592]
 [ 1.57142857  6.57142857]
 [ 1.65306122  6.65306122]
 [ 1.73469388  6.73469388]
 [ 1.81632653  6.81632653]
 [ 1.89795918  6.89795918]
 [ 1.97959184  6.97959184]
 [ 2.06122449  7.06122449]
 [ 2.14285714  7.14285714]
 [ 2.2244898   7.2244898 ]
 [ 2.30612245  7.30612245]
 [ 2.3877551   7.3877551 ]
 [ 2.46938776  7.46938776]
 [ 2.55102041  7.55102041]
 [ 2.63265306  7.63265306]
 [ 2.71428571  7.71428571]
 [ 2.79591837  7.79591837]
 [ 2.87755102  7.87755102]
 [ 2.95918367  7.95918367]
 [ 3.04081633  8.04081633]
 [ 3.12244898  8.12244898]
 [ 3.20408163  8.20408163]
 [ 3.28571429  8.28571429]
 [ 3.36734694  8.36734694]
 [ 3.44897959  8.44897959]
 [ 3.53061224  8.53061224]
 [ 3.6122449   8.6122449 ]
 [ 3.69387755  8.69387755]
 [ 3.7755102   8.7755102 ]
 [ 3.85714286  8.85714286]
 [ 3.93877551  8.93877551]
 [ 4.02040816  9.02040816]
 [ 4.10204082  9.10204082]
 [ 4.18367347  9.18367347]
 [ 4.26530612  9.26530612]
 [ 4.34693878  9.34693878]
 [ 4.42857143  9.42857143]
 [ 4.51020408  9.51020408]
 [ 4.59183673  9.59183673]
 [ 4.67346939  9.67346939]
 [ 4.75510204  9.75510204]
 [ 4.83673469  9.83673469]
 [ 4.91836735  9.91836735]
 [ 5.         10.        ]]

(None, 2, numpy.ndarray, dtype('float64'))

In [77]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#You cant use retstep=True command along with array.dtype command
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
#.reshape() & retstep=True commands never work together at any circumstances of linspace() function
Linspace=linspace([1,6],[5,10],50)                               #2D linspace array with 2 Lists
print(Linspace),ndim(Linspace),type(Linspace),Linspace.dtype #start=1, stop=5, num=50 for 1st List
                                                             #start=11, stop=5, num=50 for 2nd List

[[ 1.          6.        ]
 [ 1.08163265  6.08163265]
 [ 1.16326531  6.16326531]
 [ 1.24489796  6.24489796]
 [ 1.32653061  6.32653061]
 [ 1.40816327  6.40816327]
 [ 1.48979592  6.48979592]
 [ 1.57142857  6.57142857]
 [ 1.65306122  6.65306122]
 [ 1.73469388  6.73469388]
 [ 1.81632653  6.81632653]
 [ 1.89795918  6.89795918]
 [ 1.97959184  6.97959184]
 [ 2.06122449  7.06122449]
 [ 2.14285714  7.14285714]
 [ 2.2244898   7.2244898 ]
 [ 2.30612245  7.30612245]
 [ 2.3877551   7.3877551 ]
 [ 2.46938776  7.46938776]
 [ 2.55102041  7.55102041]
 [ 2.63265306  7.63265306]
 [ 2.71428571  7.71428571]
 [ 2.79591837  7.79591837]
 [ 2.87755102  7.87755102]
 [ 2.95918367  7.95918367]
 [ 3.04081633  8.04081633]
 [ 3.12244898  8.12244898]
 [ 3.20408163  8.20408163]
 [ 3.28571429  8.28571429]
 [ 3.36734694  8.36734694]
 [ 3.44897959  8.44897959]
 [ 3.53061224  8.53061224]
 [ 3.6122449   8.6122449 ]
 [ 3.69387755  8.69387755]
 [ 3.7755102   8.7755102 ]
 [ 3.85714286  8.85714286]
 [ 3.93877551  8.93877551]
 [ 4.02040816  9.02040816]
 [ 4.10204082  9.10204082]
 [ 4.18367347  9.18367347]
 [ 4.26530612  9.26530612]
 [ 4.34693878  9.34693878]
 [ 4.42857143  9.42857143]
 [ 4.51020408  9.51020408]
 [ 4.59183673  9.59183673]
 [ 4.67346939  9.67346939]
 [ 4.75510204  9.75510204]
 [ 4.83673469  9.83673469]
 [ 4.91836735  9.91836735]
 [ 5.         10.        ]]

(None, 2, numpy.ndarray, dtype('float64'))

In [78]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
#You cant use retstep=True command along with array.dtype command
#.reshape() & retstep=True commands never work together at any circumstances of linspace() function
Linspace=linspace([1,11],5,10,retstep=True).reshape(4,5)     #2D linspace array with 2 Lists
print(Linspace),ndim(Linspace),type(Linspace),Linspace.dtype #start=1, stop=5, num=10 for 1st List, step value=0.44444444
                                                             #start=11, stop=5, num=10 for 2nd List, step value=-0.66666667

AttributeError: 'tuple' object has no attribute 'reshape'

In [79]:
# .reshape() command got removed
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
#You cant use retstep=True command along with array.dtype command
#.reshape() & retstep=True commands never work together at any circumstances of linspace() function
Linspace=linspace([1,11],5,10,retstep=True)                  #2D linspace array with 2 Lists
print(Linspace),ndim(Linspace),type(Linspace),Linspace.dtype #start=1, stop=5, num=10 for 1st List, step value=0.44444444
                                                             #start=11, stop=5, num=10 for 2nd List, step value=-0.66666667

(array([[ 1.        , 11.        ],
       [ 1.44444444, 10.33333333],
       [ 1.88888889,  9.66666667],
       [ 2.33333333,  9.        ],
       [ 2.77777778,  8.33333333],
       [ 3.22222222,  7.66666667],
       [ 3.66666667,  7.        ],
       [ 4.11111111,  6.33333333],
       [ 4.55555556,  5.66666667],
       [ 5.        ,  5.        ]]), array([ 0.44444444, -0.66666667]))

AttributeError: 'tuple' object has no attribute 'dtype'

In [80]:
# retstep=True command got removed
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
#You cant use retstep=True command along with array.dtype command
#.reshape() & retstep=True commands never work together at any circumstances of linspace() function
Linspace=linspace([1,11],5,10).reshape(4,5)     #2D linspace array with 2 Lists
print(Linspace),ndim(Linspace),type(Linspace),Linspace.dtype #start=1, stop=5, num=10 for 1st List, step value=0.44444444
                                                             #start=11, stop=5, num=10 for 2nd List, step value=-0.66666667

[[ 1.         11.          1.44444444 10.33333333  1.88888889]
 [ 9.66666667  2.33333333  9.          2.77777778  8.33333333]
 [ 3.22222222  7.66666667  3.66666667  7.          4.11111111]
 [ 6.33333333  4.55555556  5.66666667  5.          5.        ]]

(None, 2, numpy.ndarray, dtype('float64'))

In [81]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
Linspace=linspace([1,11],5,10,retstep=True,dtype=complex) #2D linspace array with 2 Lists, dtype=complex
print(Linspace)                                           #start=1, stop=5, num=10 for 1st List, step value=0.44444444
                                                          #start=11, stop=5, num=10 for 2nd List, step value=-0.66666667

(array([[ 1.        +0.j, 11.        +0.j],
       [ 1.44444444+0.j, 10.33333333+0.j],
       [ 1.88888889+0.j,  9.66666667+0.j],
       [ 2.33333333+0.j,  9.        +0.j],
       [ 2.77777778+0.j,  8.33333333+0.j],
       [ 3.22222222+0.j,  7.66666667+0.j],
       [ 3.66666667+0.j,  7.        +0.j],
       [ 4.11111111+0.j,  6.33333333+0.j],
       [ 4.55555556+0.j,  5.66666667+0.j],
       [ 5.        +0.j,  5.        +0.j]]), array([ 0.44444444, -0.66666667]))

In [82]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
Linspace=linspace((1,11),5,10,retstep=True) #2D linspace array with 2 Tuples
print(Linspace)                             #start=1, stop=5, num=10 for 1st Tuple, step value=0.44444444
                                            #start=11, stop=5, num=10 for 2nd Tuple, step value=-0.66666667

(array([[ 1.        , 11.        ],
       [ 1.44444444, 10.33333333],
       [ 1.88888889,  9.66666667],
       [ 2.33333333,  9.        ],
       [ 2.77777778,  8.33333333],
       [ 3.22222222,  7.66666667],
       [ 3.66666667,  7.        ],
       [ 4.11111111,  6.33333333],
       [ 4.55555556,  5.66666667],
       [ 5.        ,  5.        ]]), array([ 0.44444444, -0.66666667]))

In [83]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
Linspace=linspace((1,11),5,10,retstep=True) #2D linspace array with 2 Tuples
print(Linspace)                             #start=1, stop=5, num=10 for 1st Tuple, step value=0.44444444
                                            #start=11, stop=5, num=10 for 2nd Tuple, step value=-0.66666667

(array([[ 1.        , 11.        ],
       [ 1.44444444, 10.33333333],
       [ 1.88888889,  9.66666667],
       [ 2.33333333,  9.        ],
       [ 2.77777778,  8.33333333],
       [ 3.22222222,  7.66666667],
       [ 3.66666667,  7.        ],
       [ 4.11111111,  6.33333333],
       [ 4.55555556,  5.66666667],
       [ 5.        ,  5.        ]]), array([ 0.44444444, -0.66666667]))

In [84]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
Linspace=linspace([1,11],5,10,dtype=complex).reshape(4,5) #2D linspace array with 2 Lists, dtype=complex
print(Linspace)                                           #start=1, stop=5, num=10 for 1st List
                                                          #start=11, stop=5, num=10 for 2nd List
                                                          #4 rows & 5 columns

[[ 1.        +0.j 11.        +0.j  1.44444444+0.j 10.33333333+0.j
   1.88888889+0.j]
 [ 9.66666667+0.j  2.33333333+0.j  9.        +0.j  2.77777778+0.j
   8.33333333+0.j]
 [ 3.22222222+0.j  7.66666667+0.j  3.66666667+0.j  7.        +0.j
   4.11111111+0.j]
 [ 6.33333333+0.j  4.55555556+0.j  5.66666667+0.j  5.        +0.j
   5.        +0.j]]

In [85]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
Linspace=linspace([1,11],5,10,retstep=True).reshape(4,5) #2D linspace array with 2 Lists
print(Linspace)                                          #start=1, stop=5, num=10 for 1st List
                                                         #start=11, stop=5, num=10 for 2nd List
                                                         #4 rows & 5 columns

AttributeError: 'tuple' object has no attribute 'reshape'

In [86]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
Linspace=linspace((1,11),5,10).reshape(4,5) #2D linspace array with 2 Tuples
print(Linspace)                             #start=1, stop=5, num=10 for 1st Tuple
                                            #start=11, stop=5, num=10 for 2nd Tuple
                                            #4 rows & 5 columns

[[ 1.         11.          1.44444444 10.33333333  1.88888889]
 [ 9.66666667  2.33333333  9.          2.77777778  8.33333333]
 [ 3.22222222  7.66666667  3.66666667  7.          4.11111111]
 [ 6.33333333  4.55555556  5.66666667  5.          5.        ]]

In [87]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work

Linspace=linspace([1,11],5,10,retstep=True)
print(Linspace) #Step 0.44444444 for 1st List, Step -0.66666667 for 2nd List

(array([[ 1.        , 11.        ],
       [ 1.44444444, 10.33333333],
       [ 1.88888889,  9.66666667],
       [ 2.33333333,  9.        ],
       [ 2.77777778,  8.33333333],
       [ 3.22222222,  7.66666667],
       [ 3.66666667,  7.        ],
       [ 4.11111111,  6.33333333],
       [ 4.55555556,  5.66666667],
       [ 5.        ,  5.        ]]), array([ 0.44444444, -0.66666667]))

In [88]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
Linspace=linspace((1,11),5,10,retstep=True)
print(Linspace) #Step 0.44444444 for 1st Tuple, Step -0.66666667 for 2nd Tuple

(array([[ 1.        , 11.        ],
       [ 1.44444444, 10.33333333],
       [ 1.88888889,  9.66666667],
       [ 2.33333333,  9.        ],
       [ 2.77777778,  8.33333333],
       [ 3.22222222,  7.66666667],
       [ 3.66666667,  7.        ],
       [ 4.11111111,  6.33333333],
       [ 4.55555556,  5.66666667],
       [ 5.        ,  5.        ]]), array([ 0.44444444, -0.66666667]))

In [89]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
Linspace=linspace((1,11),(11,21),10,retstep=True)  #2D linspace array with 2 Tuples
print(Linspace)                                    #start=1, stop=11, num=10 for 1st Tuple, step value=1.11111111
                                                   #start=11, stop=21, num=10 for 2nd Tuple, step value=1.11111111

(array([[ 1.        , 11.        ],
       [ 2.11111111, 12.11111111],
       [ 3.22222222, 13.22222222],
       [ 4.33333333, 14.33333333],
       [ 5.44444444, 15.44444444],
       [ 6.55555556, 16.55555556],
       [ 7.66666667, 17.66666667],
       [ 8.77777778, 18.77777778],
       [ 9.88888889, 19.88888889],
       [11.        , 21.        ]]), array([1.11111111, 1.11111111]))

In [90]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
Linspace=linspace((1,11),(11,21),10).reshape(4,5)  #2D linspace array with 2 Tuples
print(Linspace)                                    #start=1, stop=11, num=10 for 1st Tuple, step value=1.11111111
                                                   #start=11, stop=21, num=10 for 2nd Tuple, step value=1.11111111
                                                   #4 rows & 5 columns

[[ 1.         11.          2.11111111 12.11111111  3.22222222]
 [13.22222222  4.33333333 14.33333333  5.44444444 15.44444444]
 [ 6.55555556 16.55555556  7.66666667 17.66666667  8.77777778]
 [18.77777778  9.88888889 19.88888889 11.         21.        ]]

In [91]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
Linspace=linspace((1,11),(11,21),10,dtype=complex).reshape(4,5)  #2D linspace array with 2 Tuples, dtype=complex
print(Linspace)                                                  #start=1, stop=11, num=10 for 1st Tuple, step value=1.11111111
                                                                 #start=11, stop=21, num=10 for 2nd Tuple, step value=1.11111111
                                                                 #4 rows & 5 columns

[[ 1.        +0.j 11.        +0.j  2.11111111+0.j 12.11111111+0.j
   3.22222222+0.j]
 [13.22222222+0.j  4.33333333+0.j 14.33333333+0.j  5.44444444+0.j
  15.44444444+0.j]
 [ 6.55555556+0.j 16.55555556+0.j  7.66666667+0.j 17.66666667+0.j
   8.77777778+0.j]
 [18.77777778+0.j  9.88888889+0.j 19.88888889+0.j 11.        +0.j
  21.        +0.j]]

In [92]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
Linspace=linspace([1,11],[11,21],10) #2D linspace array with 2 Lists
print(Linspace)                      #start=1, stop=11, num=10 for 1st List
                                     #start=11, stop=21, num=10 for 2nd List

[[ 1.         11.        ]
 [ 2.11111111 12.11111111]
 [ 3.22222222 13.22222222]
 [ 4.33333333 14.33333333]
 [ 5.44444444 15.44444444]
 [ 6.55555556 16.55555556]
 [ 7.66666667 17.66666667]
 [ 8.77777778 18.77777778]
 [ 9.88888889 19.88888889]
 [11.         21.        ]]

In [93]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
# By default num=50
Linspace=linspace([1,11],[11,21])    #2D linspace array with 2 Lists
print(Linspace)                      #start=1, stop=11, num=50 for 1st List
                                     #start=11, stop=21, num=50 for 2nd List

[[ 1.         11.        ]
 [ 1.20408163 11.20408163]
 [ 1.40816327 11.40816327]
 [ 1.6122449  11.6122449 ]
 [ 1.81632653 11.81632653]
 [ 2.02040816 12.02040816]
 [ 2.2244898  12.2244898 ]
 [ 2.42857143 12.42857143]
 [ 2.63265306 12.63265306]
 [ 2.83673469 12.83673469]
 [ 3.04081633 13.04081633]
 [ 3.24489796 13.24489796]
 [ 3.44897959 13.44897959]
 [ 3.65306122 13.65306122]
 [ 3.85714286 13.85714286]
 [ 4.06122449 14.06122449]
 [ 4.26530612 14.26530612]
 [ 4.46938776 14.46938776]
 [ 4.67346939 14.67346939]
 [ 4.87755102 14.87755102]
 [ 5.08163265 15.08163265]
 [ 5.28571429 15.28571429]
 [ 5.48979592 15.48979592]
 [ 5.69387755 15.69387755]
 [ 5.89795918 15.89795918]
 [ 6.10204082 16.10204082]
 [ 6.30612245 16.30612245]
 [ 6.51020408 16.51020408]
 [ 6.71428571 16.71428571]
 [ 6.91836735 16.91836735]
 [ 7.12244898 17.12244898]
 [ 7.32653061 17.32653061]
 [ 7.53061224 17.53061224]
 [ 7.73469388 17.73469388]
 [ 7.93877551 17.93877551]
 [ 8.14285714 18.14285714]
 [ 8.34693878 18.34693878]
 [ 8.55102041 18.55102041]
 [ 8.75510204 18.75510204]
 [ 8.95918367 18.95918367]
 [ 9.16326531 19.16326531]
 [ 9.36734694 19.36734694]
 [ 9.57142857 19.57142857]
 [ 9.7755102  19.7755102 ]
 [ 9.97959184 19.97959184]
 [10.18367347 20.18367347]
 [10.3877551  20.3877551 ]
 [10.59183673 20.59183673]
 [10.79591837 20.79591837]
 [11.         21.        ]]

In [94]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
Linspace=linspace((1,11),(11,21),10,False,True) #2D linspace array with 2 Tuples
print(Linspace)                                 #start=1, stop=11, num=10 for 1st Tuple, step value=1.
                                                #start=11, stop=21, num=10 for 2nd Tuple, step value=1.
                                                #endpoint=False
                                                #retstep=True

(array([[ 1., 11.],
       [ 2., 12.],
       [ 3., 13.],
       [ 4., 14.],
       [ 5., 15.],
       [ 6., 16.],
       [ 7., 17.],
       [ 8., 18.],
       [ 9., 19.],
       [10., 20.]]), array([1., 1.]))

In [95]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
Linspace=linspace([1,11],[11,21],10,False,True) #2D linspace array with 2 Lists
print(Linspace)                                 #start=1, stop=11, num=10 for 1st List, step value=1.
                                                #start=11, stop=21, num=10 for 2nd List, step value=1.
                                                #endpoint=False
                                                #retstep=True

(array([[ 1., 11.],
       [ 2., 12.],
       [ 3., 13.],
       [ 4., 14.],
       [ 5., 15.],
       [ 6., 16.],
       [ 7., 17.],
       [ 8., 18.],
       [ 9., 19.],
       [10., 20.]]), array([1., 1.]))

### eye() function

In [97]:
#Eye() function creates array filled with zeros except in the K-th diagonal, whos values are equal to 1
#First parametre is row, 2nd parametre is column, 3rd parametre is K diagonal value, 4th parametre is data type
#If you dont give column value then it will take the same row value for column
#K positive is upper diagonal, K negative means lower diagonal
#Diagonal always run from Left to right down
from numpy import eye
help(eye)

Help on function eye in module numpy:

eye(N, M=None, k=0, dtype=<class 'float'>, order='C')
    Return a 2-D array with ones on the diagonal and zeros elsewhere.

    Parameters
    ----------
    N : int
      Number of rows in the output.
    M : int, optional
      Number of columns in the output. If None, defaults to `N`.
    k : int, optional
      Index of the diagonal: 0 (the default) refers to the main diagonal,
      a positive value refers to an upper diagonal, and a negative value
      to a lower diagonal.
    dtype : data-type, optional
      Data-type of the returned array.
    order : {'C', 'F'}, optional
        Whether the output should be stored in row-major (C-style) or
        column-major (Fortran-style) order in memory.

        .. versionadded:: 1.14.0

    Returns
    -------
    I : ndarray of shape (N,M)
      An array where all elements are equal to zero, except for the `k`-th
      diagonal, whose values are equal to one.

    See Also
    --------
    identity : (almost) equivalent function
    diag : diagonal 2-D array from a 1-D array specified by the user.

    Examples
    --------
    >>> np.eye(2, dtype=int)
    array([[1, 0],
           [0, 1]])
    >>> np.eye(3, k=1)
    array([[0.,  1.,  0.],
           [0.,  0.,  1.],
           [0.,  0.,  0.]])

In [98]:
#eye() function creates 2D Array
Eye=eye(5)                               #Eye array made of row=5, col=5 
print(Eye),type(Eye),ndim(Eye),Eye.dtype #Ones are in the main diagonal, diagonally 5 eyes

[[1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1.]]

(None, numpy.ndarray, 2, dtype('float64'))

In [99]:
#eye() function creates 2D Array
Eye=eye(5,5,dtype=complex)               #Eye array made of row=5, col=5, dtype=complex 
print(Eye),type(Eye),ndim(Eye),Eye.dtype #Ones are in the main diagonal

[[1.+0.j 0.+0.j 0.+0.j 0.+0.j 0.+0.j]
 [0.+0.j 1.+0.j 0.+0.j 0.+0.j 0.+0.j]
 [0.+0.j 0.+0.j 1.+0.j 0.+0.j 0.+0.j]
 [0.+0.j 0.+0.j 0.+0.j 1.+0.j 0.+0.j]
 [0.+0.j 0.+0.j 0.+0.j 0.+0.j 1.+0.j]]

(None, numpy.ndarray, 2, dtype('complex128'))

In [100]:
#eye() function creates 2D Array
Eye=eye(5,4)                             #Eye array made of row=5, col=4 
print(Eye),type(Eye),ndim(Eye),Eye.dtype #Ones are in the main diagonal

[[1. 0. 0. 0.]
 [0. 1. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]
 [0. 0. 0. 0.]]

(None, numpy.ndarray, 2, dtype('float64'))

In [101]:
#eye() function creates 2D Array
Eye=eye(4,5)                             #Eye array made of row=4, col=5 
print(Eye),type(Eye),ndim(Eye),Eye.dtype #Ones are in the main diagonal

[[1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]]

(None, numpy.ndarray, 2, dtype('float64'))

In [102]:
#eye() function creates 2D Array
Eye=eye(5,5)                             #Eye array made of row=5, col=5 
print(Eye),type(Eye),ndim(Eye),Eye.dtype #Ones are in the main diagonal

[[1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1.]]

(None, numpy.ndarray, 2, dtype('float64'))

In [103]:
#eye() function creates 2D Array
Eye=eye(5,dtype=int)                     #All elements are in integer form
print(Eye),type(Eye),ndim(Eye),Eye.dtype #Int Ones are in the main diagonal

[[1 0 0 0 0]
 [0 1 0 0 0]
 [0 0 1 0 0]
 [0 0 0 1 0]
 [0 0 0 0 1]]

(None, numpy.ndarray, 2, dtype('int32'))

In [104]:
Eye=eye([5]) #You cant made Eye array made of List
print(Eye)

TypeError: 'list' object cannot be interpreted as an integer

In [105]:
#eye() function creates 2D Array
Eye=eye((5)) #Eye 5by5 array has made of Tuple
print(Eye),type(Eye),ndim(Eye),Eye.dtype

[[1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1.]]

(None, numpy.ndarray, 2, dtype('float64'))

In [106]:
Eye=eye((5,5)) #You cant made Eye array made of Tuple
print(Eye)

TypeError: 'tuple' object cannot be interpreted as an integer

In [107]:
#eye() function creates 2D Array
Eye=eye(5,5,4,dtype=int)                 #All elements are in integer form
print(Eye),type(Eye),ndim(Eye),Eye.dtype #Int Ones are in the main diagonal
                                         #Diagonal value K=4
                                         #5by5 array

[[0 0 0 0 1]
 [0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]]

(None, numpy.ndarray, 2, dtype('int32'))

In [108]:
#eye() function creates 2D Array
Eye=eye(5,k=4,dtype=int)                 #All elements are in integer form
print(Eye),type(Eye),ndim(Eye),Eye.dtype #Int Ones are in the main diagonal
                                         #Diagonal value K=4

[[0 0 0 0 1]
 [0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]]

(None, numpy.ndarray, 2, dtype('int32'))

In [109]:
#eye() function creates 2D Array
Eye=eye(5,5,-4,dtype=int)                #All elements are in integer form
print(Eye),type(Eye),ndim(Eye),Eye.dtype #Int Ones are in the main diagonal
                                         #Diagonal value K=-4

[[0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]
 [1 0 0 0 0]]

(None, numpy.ndarray, 2, dtype('int32'))

In [110]:
#eye() function creates 2D Array
Eye=eye(5,k=-4,dtype=int)                #All elements are in integer form
print(Eye),type(Eye),ndim(Eye),Eye.dtype #Int Ones are in the main diagonal
                                         #Diagonal value K=-4

[[0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]
 [1 0 0 0 0]]

(None, numpy.ndarray, 2, dtype('int32'))

### identity() function

In [112]:
#identity() function creates 2D square array, rest of the things are just like eye() function
#Its kind of Square Array of eye() function
from numpy import identity
help(identity)

Help on function identity in module numpy:

identity(n, dtype=None)
    Return the identity array.

    The identity array is a square array with ones on
    the main diagonal.

    Parameters
    ----------
    n : int
        Number of rows (and columns) in `n` x `n` output.
    dtype : data-type, optional
        Data-type of the output.  Defaults to ``float``.

    Returns
    -------
    out : ndarray
        `n` x `n` array with its main diagonal set to one,
        and all other elements 0.

    Examples
    --------
    >>> np.identity(3)
    array([[1.,  0.,  0.],
           [0.,  1.,  0.],
           [0.,  0.,  1.]])

In [113]:
#identity() function creates 2D square array
Identity=identity(5) #Square array made of row=5, col=5
print(Identity)      #Ones are in the main diagonal

[[1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1.]]

In [114]:
#identity() function creates 2D square array
Identity=identity(5,dtype=int) #All elements are in integer form
print(Identity)                #Int Ones are in the main diagonal
                               #Square array made of row=5, col=5

[[1 0 0 0 0]
 [0 1 0 0 0]
 [0 0 1 0 0]
 [0 0 0 1 0]
 [0 0 0 0 1]]

In [115]:
#identity() function creates 2D square array
Inentity=identity([5]) #You cant made identity array made of List
print(Identity)

TypeError: 'list' object cannot be interpreted as an integer

In [116]:
#identity() function creates 2D square array
Identity=identity((5)) #Identity 5by5 array has made of Tuple
print(Identity)

[[1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1.]]

In [117]:
#identity() function creates 2D square array
Identity=identity((5,5)) #You cant made Identity array made of Tuple
print(Identity)

TypeError: 'tuple' object cannot be interpreted as an integer

In [118]:
#identity() function creates 2D square array
Identity=identity(5,dtype=int) #All elements are in integer form
print(Identity)                #Int Ones are in the main diagonal
                               #Diagonal value K=4
                               #5by5 array

[[1 0 0 0 0]
 [0 1 0 0 0]
 [0 0 1 0 0]
 [0 0 0 1 0]
 [0 0 0 0 1]]

In [119]:
#identity() function creates 2D square array
Identity=identity(5,dtype=complex) #All elements are in complex form
print(Identity)                   #Int Ones are in the main diagonal
                                  #Diagonal value K=4
                                  #5by5 array

[[1.+0.j 0.+0.j 0.+0.j 0.+0.j 0.+0.j]
 [0.+0.j 1.+0.j 0.+0.j 0.+0.j 0.+0.j]
 [0.+0.j 0.+0.j 1.+0.j 0.+0.j 0.+0.j]
 [0.+0.j 0.+0.j 0.+0.j 1.+0.j 0.+0.j]
 [0.+0.j 0.+0.j 0.+0.j 0.+0.j 1.+0.j]]

### random() function
1. rand()
2. randn()
3. randint()
4. ranf()

In [120]:
#When we want to create an array with Random elements then we use random()
#Used for random no generation
#rand() always gives values between 0 & 1

In [121]:
Random=random.rand(5)                                #1D random array
print(Random),type(Random),ndim(Random),Random.dtype #rand() always gives values between 0 & 1
                                                     #5 random values between 0 & 1

[0.47759578 0.79390951 0.15606995 0.91752763 0.06798837]

(None, numpy.ndarray, 1, dtype('float64'))

In [122]:
Random=random.rand(3,5)                              #2D random array 3by5
print(Random),type(Random),ndim(Random),Random.dtype #3*5=15 random values between 0 & 1

[[0.95141733 0.07466123 0.13897769 0.38604749 0.44448128]
 [0.2548201  0.78020924 0.31132923 0.33875528 0.13884929]
 [0.29535375 0.28614423 0.95596451 0.56702139 0.66387453]]

(None, numpy.ndarray, 2, dtype('float64'))

In [123]:
# array.dtype doesn't work with randint()
#The randint() method returns an integer number selected element from the specified range.
Random=random.randint(3,10)             #1D random array start=3, stop(upper bound)=10
print(Random),type(Random),ndim(Random) #Any single Random integer between 3 & 10

3

(None, int, 0)

In [124]:
# array.dtype doesn't work with randint()
#The randint() method returns an integer number selected element from the specified range.
#Return any 10 Random integers between 1 & 100
Random=random.randint(1,100,10)         #1D random array start=1, stop(upper bound)=100
print(Random),type(Random),ndim(Random) #Any 10 Random integers between 1 & 100

[ 9 74 23 44 28 79 82 88 15 52]

(None, numpy.ndarray, 1)

In [125]:
Random=random.randn(5)                 #1D random array
print(Random)                          #randn() always gives values between +1 & -1
ndim(Random),type(Random),Random.dtype #5 random float values between +1 & -1

[-0.63039795 -0.73578154  0.81501276 -1.0920928  -0.3849085 ]

(1, numpy.ndarray, dtype('float64'))

In [126]:
Random=random.randn(3,5)               #2D random array, made of row=3, col=5
print(Random)                          #randn() always gives values between +1 & -1
ndim(Random),type(Random),Random.dtype #3*5=15 random float values between +1 & -1

[[ 0.56262448 -0.13605793  1.39470321 -1.34724503 -0.03395948]
 [ 0.44538577  0.14645387  0.54676927 -0.95014334 -0.43214218]
 [ 0.41518377  0.17213821 -1.68739773  0.88378596  0.60422902]]

(2, numpy.ndarray, dtype('float64'))

## Attributes of Array

In [127]:
#1. ndim() #Tells the dimention
#2. shape() #no of rows & no of cols
#3. reshape() #edit the no of rows & no of cols
#4. size() #Tells total no of elements
#5. itemsize() #Tells the memory consumed

In [128]:
#To check the Dimention of an Array, we use ndim() function

In [129]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
Linspace1=linspace((1,11,21),(11,21,31),10) #2D linspace array with 3 Tuples
print(Linspace)                             #start=1, stop=11, num=10 for 1st Tuple
                                            #start=11, stop=21, num=10 for 2nd Tuple
                                            #start=21, stop=31, num=10 for 2nd Tuple
shape(Linspace1) #10 rows & 3 cols
ndim(Linspace1),size(Linspace1),type(Linspace1),Linspace1.dtype #Total 30 elements

(array([[ 1., 11.],
       [ 2., 12.],
       [ 3., 13.],
       [ 4., 14.],
       [ 5., 15.],
       [ 6., 16.],
       [ 7., 17.],
       [ 8., 18.],
       [ 9., 19.],
       [10., 20.]]), array([1., 1.]))

(2, 30, numpy.ndarray, dtype('float64'))

In [130]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
Linspace2=linspace((1,11,21),(11,21,31),10,retstep=True) #2D linspace array with 3 Tuples
print(Linspace2)                                          #start=1, stop=11, num=10 for 1st Tuple, step value=1.11111111
                                                         #start=11, stop=21, num=10 for 2nd Tuple, step value=1.11111111
                                                         #start=21, stop=31, num=10 for 2nd Tuple, step value=1.11111111
shape(Linspace2) #10 rows & 3 cols
ndim(Linspace2),size(Linspace2),type(Linspace2),Linspace2.dtype #Total 30 elements

(array([[ 1.        , 11.        , 21.        ],
       [ 2.11111111, 12.11111111, 22.11111111],
       [ 3.22222222, 13.22222222, 23.22222222],
       [ 4.33333333, 14.33333333, 24.33333333],
       [ 5.44444444, 15.44444444, 25.44444444],
       [ 6.55555556, 16.55555556, 26.55555556],
       [ 7.66666667, 17.66666667, 27.66666667],
       [ 8.77777778, 18.77777778, 28.77777778],
       [ 9.88888889, 19.88888889, 29.88888889],
       [11.        , 21.        , 31.        ]]), array([1.11111111, 1.11111111, 1.11111111]))

AttributeError: 'tuple' object has no attribute 'dtype'

In [131]:
Linspace1.dtype

dtype('float64')

In [132]:
Linspace.itemsize

AttributeError: 'tuple' object has no attribute 'itemsize'

In [133]:
Array2D=array([["KESHAV",45+9j,True,39.69,39],[10.10,'Prashant',10+10j,False,10],[1,2,3,4,5],[6,7,8,9,10]])
print(Array2D)
ndim(Array2D)
shape(Array2D),size(Array2D),type(Array2D),Array2D.dtype # rows & 5 coloumns, Total 20 elements, numpy.ndarray, dtype('<U8')

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']
 ['1' '2' '3' '4' '5']
 ['6' '7' '8' '9' '10']]

((4, 5), 20, numpy.ndarray, dtype('<U8'))

In [134]:
Array2D.dtype

dtype('<U8')

In [135]:
Array2D.itemsize

32

In [136]:
Array=array([[1,2,3],[4,5,6],(7,8,9),(10,11,12)]) #Convert the list into array
print(Array)                                      #The list contains 2 lists & 2 tuples
ndim(Array)
shape(Array) #4 rows & 3 cols
size(Array),type(Array2D),Array2D.dtype #Total 12 elements,numpy.ndarray,dtype('<U8')

[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]

(12, numpy.ndarray, dtype('<U8'))

In [137]:
Array.dtype

dtype('int32')

In [138]:
Array.itemsize

4

In [139]:
Array=array(([1,2,3],[4,5,6],(7,8,9),(10,11,12))) #Convert the Tuple into array
print(Array)                                      #The Tuple contains 2 lists & 2 tuples
ndim(Array)
shape(Array) #4 rows & 3 cols
size(Array),type(Array),Array.dtype  #Total 12 elements

[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]

(12, numpy.ndarray, dtype('int32'))

In [140]:
Array.dtype

dtype('int32')

In [141]:
Array.itemsize

4

In [142]:
Array3D = array([[[5 for k in range(3)]for j in range(3)]for i in range(3)])
print(Array3D)
ndim(Array3D),shape(Array3D),size(Array3D),type(Array3D),Array3D.dtype  #Total 27 elements,#shape=3 Arrays, 3 rows, 3 cols

[[[5 5 5]
  [5 5 5]
  [5 5 5]]

 [[5 5 5]
  [5 5 5]
  [5 5 5]]

 [[5 5 5]
  [5 5 5]
  [5 5 5]]]

(3, (3, 3, 3), 27, numpy.ndarray, dtype('int32'))

In [143]:
Array3D.dtype

dtype('int32')

In [144]:
Array3D.itemsize

4

In [145]:
#Creating 3D zeros Array of tuples
Zeros3D=zeros((4,3,5),int) #(4,3,5) is shape tuple of ints
print(Zeros3D)             #4 arrays, 3 rows, 5 cols


shape(Zeros3D),ndim(Zeros3D),size(Zeros3D),Zeros3D.dtype  #Total 4*3*5=60 elements

[[[0 0 0 0 0]
  [0 0 0 0 0]
  [0 0 0 0 0]]

 [[0 0 0 0 0]
  [0 0 0 0 0]
  [0 0 0 0 0]]

 [[0 0 0 0 0]
  [0 0 0 0 0]
  [0 0 0 0 0]]

 [[0 0 0 0 0]
  [0 0 0 0 0]
  [0 0 0 0 0]]]

((4, 3, 5), 3, 60, dtype('int32'))

In [146]:
Zeros3D.dtype

dtype('int32')

In [147]:
Zeros3D.itemsize

4

In [148]:
#Creating 3D zeros Array of Lists
Zeros3D=zeros([4,3,5],int) #(4,3,5) is shape Lists of ints
print(Zeros3D)             #4 arrays, each having 3 rows & 5 cols
ndim(Zeros3D),shape(Zeros3D),size(Zeros3D),Zeros3D.dtype  #Total 60 elements

[[[0 0 0 0 0]
  [0 0 0 0 0]
  [0 0 0 0 0]]

 [[0 0 0 0 0]
  [0 0 0 0 0]
  [0 0 0 0 0]]

 [[0 0 0 0 0]
  [0 0 0 0 0]
  [0 0 0 0 0]]

 [[0 0 0 0 0]
  [0 0 0 0 0]
  [0 0 0 0 0]]]

(3, (4, 3, 5), 60, dtype('int32'))

In [149]:
Zeros3D.dtype

dtype('int32')

In [150]:
Zeros3D.itemsize

4

## How to change data type elements of an Array
We can change data type elements of an Array by using astype() function

In [151]:
#Creating 2D array from 2 ranges having complex elements
#No of elements/length of each range should be same
#Dont works with string element
Array2=arange(start=1,stop=21,dtype=complex).reshape(4,5) #4 rows & 5 columns
print(Array2),ndim(Array2),shape(Array2),size(Array2),Array2.dtype,type(Array2)

[[ 1.+0.j  2.+0.j  3.+0.j  4.+0.j  5.+0.j]
 [ 6.+0.j  7.+0.j  8.+0.j  9.+0.j 10.+0.j]
 [11.+0.j 12.+0.j 13.+0.j 14.+0.j 15.+0.j]
 [16.+0.j 17.+0.j 18.+0.j 19.+0.j 20.+0.j]]

(None, 2, (4, 5), 20, dtype('complex128'), numpy.ndarray)

In [152]:
# We can change data type elements of an Array by using astype() function
Array2.astype(int)
print(Array2)

[[ 1.+0.j  2.+0.j  3.+0.j  4.+0.j  5.+0.j]
 [ 6.+0.j  7.+0.j  8.+0.j  9.+0.j 10.+0.j]
 [11.+0.j 12.+0.j 13.+0.j 14.+0.j 15.+0.j]
 [16.+0.j 17.+0.j 18.+0.j 19.+0.j 20.+0.j]]

<ipython-input-152-635fe56ace68>:2: ComplexWarning: Casting complex values to real discards the imaginary part
  Array2.astype(int)

In [153]:
#You can perform Multiplication
#array(object, dtype=None, copy=True, order='K', subok=False, ndmin=0)
#Multiplication output will also be an Array
Array1=array([1,2,3,4,5])
Array2=array([6,7,8,9,10])
Multiply=Array1*Array2
print(Multiply),ndim(Multiply),shape(Multiply),size(Multiply),Multiply.dtype,type(Multiply)

[ 6 14 24 36 50]

(None, 1, (5,), 5, dtype('int32'), numpy.ndarray)

In [154]:
Array=array([1,2,3,4,5]) #Convert the List into Array
print(Array)

[1 2 3 4 5]

In [155]:
Array.astype(float)

array([1., 2., 3., 4., 5.])

In [156]:
Array.astype(complex)

array([1.+0.j, 2.+0.j, 3.+0.j, 4.+0.j, 5.+0.j])

In [157]:
Array.astype(int)

array([1, 2, 3, 4, 5])

In [158]:
Array.astype(bool)

array([ True,  True,  True,  True,  True])

## Indexing operation in Numpy Array

In [159]:
#By using indexing you can access any single element from an Array
#Basic indexing only gives you the view of the data

In [160]:
#Creating 1D array from 1 list
Array1=array(["KESHAV",45+9j,True,39.69,39]) #Convert the list into 1D array
print(Array1)

['KESHAV' '(45+9j)' 'True' '39.69' '39']

## Indexing in 1D Array is Array[]

In [161]:
#Indexing in 1D Array is Array[]
Array1[3] #Shows the 3rd index element of the Array

'39.69'

In [162]:
Array1[-2] #Shows the 2nd index element from RHS

'39.69'

In [163]:
Array1[0] #Shows the 0th index element of the Array

'KESHAV'

In [164]:
Array1[-5] #Shows the 5th index element from RHS

'KESHAV'

In [165]:
Tuple="KESHAV",45+9j,True,39.69,39

In [166]:
#Indexing in Tuple
Tuple[0] #Shows the 0th index element

'KESHAV'

In [167]:
Tuple[0][3] #Shows the 3rd index element of the 0th index element ("KESHAV"), ie letter H

'H'

In [168]:
Tuple[1][0] #Its about the 1st index element 45+9j ie complex object & not subscriptable

TypeError: 'complex' object is not subscriptable

In [169]:
Tuple([0,1,2]) #Advanced indexing Works with Array Only, not with Tuple

TypeError: 'tuple' object is not callable

In [170]:
List=["KESHAV",45+9j,True,39.69,39]

In [171]:
#Indexing in List
List[0] #Shows the 0th index element

'KESHAV'

In [172]:
List[0][3] #Shows the 3rd index element of the 0th index element ("KESHAV"), ie letter H

'H'

In [173]:
List([0,1,2]) #Advanced indexing Works with Array Only, not with List

TypeError: 'list' object is not callable

In [174]:
#Creating 2D array from 2 lists
#No of elements/length of each list should be same
Array2D=array([["KESHAV",45+9j,True,39.69,39],[10.10,'Prashant',10+10j,False,10]]) #Transforming nested list of 2 lists into Array
print(Array2D)

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

In [175]:
#Creating 2D array from 2 lists
#No of elements/length of each list should be same
Array2D=array([["KESHAV",45+9j,True,39.69,39],[10.10,'Prashant',10+10j,False,10]]) #Transforming nested list of 2 lists into Array
print(Array2D)

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

In [176]:
Array3D=array([[["KESHAV",45+9j,True,39.69,39]],[[10.10,'Prashant',10+10j,False,10]]]) #Transforming nested list of 2 lists into Array
print(Array3D),ndim(Array3D),shape(Array3D)

[[['KESHAV' '(45+9j)' 'True' '39.69' '39']]

 [['10.1' 'Prashant' '(10+10j)' 'False' '10']]]

(None, 3, (2, 1, 5))

## Indexingin in 2D array is Array2D[row index][col index]

In [177]:
Array2D[1][2] # 1st Row index & 2nd Column index intersect

'(10+10j)'

In [178]:
Array2D[[1],[2]] # 1st Row index & 2nd Column index intersect

array(['(10+10j)'], dtype='<U8')

In [179]:
Array2D[1,2] # 1st Row index & 2nd Column index intersect

'(10+10j)'

In [180]:
Array2D[[0,1]] #Shows 0th Row & 1st Row for Array2D

array([['KESHAV', '(45+9j)', 'True', '39.69', '39'],
       ['10.1', 'Prashant', '(10+10j)', 'False', '10']], dtype='<U8')

In [181]:
Array2D[[0,1],:] #Shows 0th Row & 1st Row for Array2D

array([['KESHAV', '(45+9j)', 'True', '39.69', '39'],
       ['10.1', 'Prashant', '(10+10j)', 'False', '10']], dtype='<U8')

In [182]:
Array2D[0:2,:] #Shows 0th Row & 1st Row for Array2D

array([['KESHAV', '(45+9j)', 'True', '39.69', '39'],
       ['10.1', 'Prashant', '(10+10j)', 'False', '10']], dtype='<U8')

In [183]:
Array2D[[0,1],] #Shows 0th Row & 1st Row for Array2D

array([['KESHAV', '(45+9j)', 'True', '39.69', '39'],
       ['10.1', 'Prashant', '(10+10j)', 'False', '10']], dtype='<U8')

In [184]:
Array2D[:,[0,1,2,3,4]] #Shows all Rows & 0th,1st,2nd,3rd & 4th cols

array([['KESHAV', '(45+9j)', 'True', '39.69', '39'],
       ['10.1', 'Prashant', '(10+10j)', 'False', '10']], dtype='<U8')

In [185]:
Array2D[[0,1],[2,3]] #0th Row index with 2nd col index, True
                     #1st Row index with 3rd col index, False

array(['True', 'False'], dtype='<U8')

In [186]:
Array2D[0:2,2:4] #0th Row index & 1st Row index with 2nd Column index & 3rd Column index...
                 #here 2nd is upper boundary of Row index & 4th is upper boundary of Column index

array([['True', '39.69'],
       ['(10+10j)', 'False']], dtype='<U8')

In [187]:
Array2D[0:2,[2,3]] #0th Row index & 1st Row index with 2nd Column index & 3rd Column index... here 2nd is upper boundary of Row index

array([['True', '39.69'],
       ['(10+10j)', 'False']], dtype='<U8')

In [188]:
Array2D[[0,1],2:4] #0th Row index & 1st Row index with 2nd Column index & 3rd Column index... here 4th is upper boundary of col index

array([['True', '39.69'],
       ['(10+10j)', 'False']], dtype='<U8')

In [189]:
Array2D[[0,1],2:3] #Shows 2nd col index of 0th Row index & 1st Row index, 3rd is upper boundary of col index

array([['True'],
       ['(10+10j)']], dtype='<U8')

In [190]:
Array2D[[0,1],[2]] #Shows only 2nd col index of 0th Row index & 1st Row index

array(['True', '(10+10j)'], dtype='<U8')

In [191]:
Array2D[[0,1],2] #Shows only 2nd col index of 0th Row index & 1st Row index

array(['True', '(10+10j)'], dtype='<U8')

In [192]:
Array2D[[0,1],0:5] #Shows from 0th to 4th col index of 0th Row index & 1st Row index

array([['KESHAV', '(45+9j)', 'True', '39.69', '39'],
       ['10.1', 'Prashant', '(10+10j)', 'False', '10']], dtype='<U8')

In [193]:
Array2D[0:2,0:5] #Shows from 0th to 4th col index of 0th Row index & 1st Row index...
                 #2nd is Row index upper boundary & 5th is Column index upper boundary

array([['KESHAV', '(45+9j)', 'True', '39.69', '39'],
       ['10.1', 'Prashant', '(10+10j)', 'False', '10']], dtype='<U8')

In [194]:
Array2D[0:2,[0,1,2,3,4]] #Shows from 0th to 4th col index of 0th Row index & 1st Row index

array([['KESHAV', '(45+9j)', 'True', '39.69', '39'],
       ['10.1', 'Prashant', '(10+10j)', 'False', '10']], dtype='<U8')

In [195]:
Array2D[:,[2,3]] #Shows only 2nd & 3rd col index along with all Rows

array([['True', '39.69'],
       ['(10+10j)', 'False']], dtype='<U8')

In [196]:
Array2D[:,0:5] #Shows Columns from 0th col index to 4th col index along with all Rows, 5th is upper bound index of col

array([['KESHAV', '(45+9j)', 'True', '39.69', '39'],
       ['10.1', 'Prashant', '(10+10j)', 'False', '10']], dtype='<U8')

In [197]:
Array2D[:,[0,4]] #Shows only 0th & 4th col index along with all Rows

array([['KESHAV', '39'],
       ['10.1', '10']], dtype='<U8')

In [198]:
Array2D[:,4:5] #Shows 4th col index only along with all Rows, 5th is upper bound of col index

array([['39'],
       ['10']], dtype='<U8')

In [199]:
Array2D[:,[4]] #Shows 4th col index only, along with all Rows

array([['39'],
       ['10']], dtype='<U8')

In [200]:
Array2D[1][-3]

'(10+10j)'

In [201]:
Array2D[[1],[-3]]

array(['(10+10j)'], dtype='<U8')

In [202]:
Array2D[1,-3]

'(10+10j)'

In [203]:
Array2D[-1][2]

'(10+10j)'

In [204]:
Array2D[[-1],[2]]

array(['(10+10j)'], dtype='<U8')

In [205]:
Array2D[-1,2]

'(10+10j)'

In [206]:
Array2D[-1][-3]

'(10+10j)'

In [207]:
Array2D[[-1],[-3]]

array(['(10+10j)'], dtype='<U8')

In [208]:
Array2D[-1,-3]

'(10+10j)'

## Indexing in 3D Array is Array3D[array index][row index][col index]

In [209]:
#Creating 3D Array of Lists
Array3D=array([[["KESHAV",45+9j,True,39.69,39],[10.10,'Prashant',10+10j,False,10]],[["RAGHAV",49+9j,True,36.69,36],[10.16,'Prashant',19+10j,False,17]]])
print(Array3D),shape(Array3D),size(Array3D),type(Array3D),ndim(Array3D),Array3D.dtype

[[['KESHAV' '(45+9j)' 'True' '39.69' '39']
  ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

 [['RAGHAV' '(49+9j)' 'True' '36.69' '36']
  ['10.16' 'Prashant' '(19+10j)' 'False' '17']]]

(None, (2, 2, 5), 20, numpy.ndarray, 3, dtype('<U8'))

In [210]:
ndim(Array3D)

3

In [211]:
shape(Array3D) #2 Arrays, 2 Rows, 5 cols

(2, 2, 5)

In [212]:
size(Array3D)

20

In [213]:
Array3D[1][1][2]

'(19+10j)'

In [214]:
Array3D[[0,1]] #Shows 0th index Array & 1st index Array for Array3D

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39'],
        ['10.1', 'Prashant', '(10+10j)', 'False', '10']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36'],
        ['10.16', 'Prashant', '(19+10j)', 'False', '17']]], dtype='<U8')

In [215]:
Array3D[[0,1],:,:] #Shows 0th index Array & 1st index Array for Array3D

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39'],
        ['10.1', 'Prashant', '(10+10j)', 'False', '10']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36'],
        ['10.16', 'Prashant', '(19+10j)', 'False', '17']]], dtype='<U8')

In [216]:
Array3D[0:2] #Shows 0th index Array & 1st index Array for Array3D, 2 is upper bound for Array index

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39'],
        ['10.1', 'Prashant', '(10+10j)', 'False', '10']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36'],
        ['10.16', 'Prashant', '(19+10j)', 'False', '17']]], dtype='<U8')

In [217]:
Array3D[0:2,:,:] #Shows 0th index Array & 1st index Array for Array3D, 2 is upper bound for Array index

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39'],
        ['10.1', 'Prashant', '(10+10j)', 'False', '10']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36'],
        ['10.16', 'Prashant', '(19+10j)', 'False', '17']]], dtype='<U8')

In [218]:
Array3D[0,1] #0th Array index & 1st Row index of it

array(['10.1', 'Prashant', '(10+10j)', 'False', '10'], dtype='<U8')

In [219]:
Array3D[0,0] #0th Array index & 0th Row index of it

array(['KESHAV', '(45+9j)', 'True', '39.69', '39'], dtype='<U8')

In [220]:
Array3D[1,1] #1st Array index & 1st Row index of it

array(['10.16', 'Prashant', '(19+10j)', 'False', '17'], dtype='<U8')

In [221]:
Array3D[1,0] #1st Array index & 0th Row index of it

array(['RAGHAV', '(49+9j)', 'True', '36.69', '36'], dtype='<U8')

In [222]:
Array3D[:,:,[2,3]] #Shows only 2nd & 3rd col index along with all Rows & All Arrays

array([[['True', '39.69'],
        ['(10+10j)', 'False']],

       [['True', '36.69'],
        ['(19+10j)', 'False']]], dtype='<U8')

In [223]:
Array3D[:,0:2] #Shows Rows from 0th index to 1st index along with all Cols & all Arrays, 2nd is upper bound for Row index

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39'],
        ['10.1', 'Prashant', '(10+10j)', 'False', '10']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36'],
        ['10.16', 'Prashant', '(19+10j)', 'False', '17']]], dtype='<U8')

In [224]:
Array3D[:,0:2,:] #Shows Rows from 0th index to 1st index along with all Cols & all Arrays, 2nd is upper bound for Row index

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39'],
        ['10.1', 'Prashant', '(10+10j)', 'False', '10']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36'],
        ['10.16', 'Prashant', '(19+10j)', 'False', '17']]], dtype='<U8')

In [225]:
Array3D[:,[0,1],:] #Shows 0th & 1st Row index along with all Arrays & all cols

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39'],
        ['10.1', 'Prashant', '(10+10j)', 'False', '10']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36'],
        ['10.16', 'Prashant', '(19+10j)', 'False', '17']]], dtype='<U8')

In [226]:
Array3D[:,:,[0,4]] #Shows only 0th & 4th col index along with all Rows & all Arrays

array([[['KESHAV', '39'],
        ['10.1', '10']],

       [['RAGHAV', '36'],
        ['10.16', '17']]], dtype='<U8')

In [227]:
Array3D[:,[0]] #Shows only 0th Row of all Arrays along with all Columns

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36']]], dtype='<U8')

In [228]:
Array3D[:,[1]] #Shows only 1st Row of all Arrays along with all Columns

array([[['10.1', 'Prashant', '(10+10j)', 'False', '10']],

       [['10.16', 'Prashant', '(19+10j)', 'False', '17']]], dtype='<U8')

In [229]:
Array3D[:,:,0:5] #Shows Columns from 0th col index to 4th col index & all Rows & all Arrays, 5th is upper bound for col index

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39'],
        ['10.1', 'Prashant', '(10+10j)', 'False', '10']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36'],
        ['10.16', 'Prashant', '(19+10j)', 'False', '17']]], dtype='<U8')

In [230]:
Array3D[:,:,3:4] #Shows only 3rd col index & all Rows & all Arrays, 4th is upper bound for col index

array([[['39.69'],
        ['False']],

       [['36.69'],
        ['False']]], dtype='<U8')

In [231]:
Array3D[:,:,[3]] #Shows only 3rd col index only along with all Arrays & all Rows

array([[['39.69'],
        ['False']],

       [['36.69'],
        ['False']]], dtype='<U8')

In [232]:
Array3D[:,:,[3,4]] #Shows only 3rd col index & 4th col index along with all Arrays & all Rows

array([[['39.69', '39'],
        ['False', '10']],

       [['36.69', '36'],
        ['False', '17']]], dtype='<U8')

In [233]:
Array3D[[0,1],[0,1],[2,3]] #0th Array index with 0th Row index with 2nd col index, True
                           #1st Array index with 1st Row index with 3rd col index, False

array(['True', 'False'], dtype='<U8')

In [234]:
Array3D[[0,1],[0,1],0:5] #0th Array index with 0th Row index of it & from 0th col to 4th col index
                         #1st Array index with 1st Row index of it & from 0th col to 4th col index

array([['KESHAV', '(45+9j)', 'True', '39.69', '39'],
       ['10.16', 'Prashant', '(19+10j)', 'False', '17']], dtype='<U8')

In [235]:
Array3D[[1],[1],[2]] #1st Array index with 1st Row index with 2nd col index

array(['(19+10j)'], dtype='<U8')

In [236]:
Array3D[1,1,2]

'(19+10j)'

In [237]:
Array3D[-1][-1][-3]

'(19+10j)'

In [238]:
Array3D[[-1],[-1],[-3]]

array(['(19+10j)'], dtype='<U8')

In [239]:
Array3D[-1,-1,-3]

'(19+10j)'

In [240]:
Array3D[1][-1][2]

'(19+10j)'

In [241]:
Array3D[[1],[-1],[2]]

array(['(19+10j)'], dtype='<U8')

In [242]:
Array3D[1,-1,2]

'(19+10j)'

In [243]:
Array3D[-1][1][-3]

'(19+10j)'

In [244]:
Array3D[[-1],[1],[-3]]

array(['(19+10j)'], dtype='<U8')

In [245]:
Array3D[-1,1,-3]

'(19+10j)'

In [246]:
print(Array3D[1][1][2],Array3D[[1],[1],[2]],Array3D[1,1,2],Array3D[-1][-1][-3],Array3D[[-1],[-1],[-3]],Array3D[-1,-1,-3],Array3D[1][-1][2],Array3D[[1],[-1],[2]],Array3D[1,-1,2],Array3D[-1][1][-3],Array3D[[-1],[1],[-3]],Array3D[-1,1,-3])

(19+10j) ['(19+10j)'] (19+10j) (19+10j) ['(19+10j)'] (19+10j) (19+10j) ['(19+10j)'] (19+10j) (19+10j) ['(19+10j)'] (19+10j)

In [247]:
#Creating 3D Array of Tuples
Array3D=array(((("KESHAV",45+9j,True,39.69,39),(10.10,'Prashant',10+10j,False,10)),(("RAGHAV",49+9j,True,36.69,36),(10.16,'Prashant',19+10j,False,17))))
print(Array3D),shape(Array3D),size(Array3D),type(Array3D),ndim(Array3D),Array3D.dtype

[[['KESHAV' '(45+9j)' 'True' '39.69' '39']
  ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

 [['RAGHAV' '(49+9j)' 'True' '36.69' '36']
  ['10.16' 'Prashant' '(19+10j)' 'False' '17']]]

(None, (2, 2, 5), 20, numpy.ndarray, 3, dtype('<U8'))

In [248]:
ndim(Array3D)

3

In [249]:
shape(Array3D) #2 Arrays, 2 Rows, 5 cols

(2, 2, 5)

In [250]:
size(Array3D)

20

In [251]:
Array3D[1][1][2]

'(19+10j)'

In [252]:
Array3D[[0,1]] #Shows 0th & 1st index Array for Array3D

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39'],
        ['10.1', 'Prashant', '(10+10j)', 'False', '10']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36'],
        ['10.16', 'Prashant', '(19+10j)', 'False', '17']]], dtype='<U8')

In [253]:
Array3D[0:2] #Shows from 0th index Array & 1st index Array for Array3D, 2 is upper bound for Array index

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39'],
        ['10.1', 'Prashant', '(10+10j)', 'False', '10']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36'],
        ['10.16', 'Prashant', '(19+10j)', 'False', '17']]], dtype='<U8')

In [254]:
Array3D[0,1] #0th Array index & 1st Row index of it

array(['10.1', 'Prashant', '(10+10j)', 'False', '10'], dtype='<U8')

In [255]:
Array3D[0,0] #0th Array index & 0th Row index of it

array(['KESHAV', '(45+9j)', 'True', '39.69', '39'], dtype='<U8')

In [256]:
Array3D[1,1] #1st Array index & 1st Row index of it

array(['10.16', 'Prashant', '(19+10j)', 'False', '17'], dtype='<U8')

In [257]:
Array3D[1,0] #1st Array index & 0th Row index of it

array(['RAGHAV', '(49+9j)', 'True', '36.69', '36'], dtype='<U8')

In [258]:
Array3D[:,:,[2,3]] #Shows only 2nd & 3rd col index along with all Rows & All Arrays

array([[['True', '39.69'],
        ['(10+10j)', 'False']],

       [['True', '36.69'],
        ['(19+10j)', 'False']]], dtype='<U8')

In [259]:
Array3D[:,0:2] #Shows Rows from 0th index to 1st index along with all Cols & all Arrays, 2nd is upper bound for Row index

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39'],
        ['10.1', 'Prashant', '(10+10j)', 'False', '10']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36'],
        ['10.16', 'Prashant', '(19+10j)', 'False', '17']]], dtype='<U8')

In [260]:
Array3D[:,0:2,:] #Shows Rows from 0th index to 1st index along with all Cols & all Arrays, 2nd is upper bound for Row index

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39'],
        ['10.1', 'Prashant', '(10+10j)', 'False', '10']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36'],
        ['10.16', 'Prashant', '(19+10j)', 'False', '17']]], dtype='<U8')

In [261]:
Array3D[:,[1],:] #Shows only 1st Row index of all Arrays along with all Cols

array([[['10.1', 'Prashant', '(10+10j)', 'False', '10']],

       [['10.16', 'Prashant', '(19+10j)', 'False', '17']]], dtype='<U8')

In [262]:
Array3D[:,[0],:] #Shows only 0th Row index of all Arrays along with all Cols

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36']]], dtype='<U8')

In [263]:
Array3D[:,[0,1],:] #Shows 0th & 1st Row index of All Arrays along with all Cols

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39'],
        ['10.1', 'Prashant', '(10+10j)', 'False', '10']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36'],
        ['10.16', 'Prashant', '(19+10j)', 'False', '17']]], dtype='<U8')

In [264]:
Array3D[:,:,[0,4]] #Shows only 0th & 4th col index along with all Rows & all Arrays

array([[['KESHAV', '39'],
        ['10.1', '10']],

       [['RAGHAV', '36'],
        ['10.16', '17']]], dtype='<U8')

In [265]:
Array3D[:,:,[4]] #Shows only 4th col index along with all Rows & all Arrays

array([[['39'],
        ['10']],

       [['36'],
        ['17']]], dtype='<U8')

In [266]:
Array3D[:,[0]] #Shows only 0th Row of all Arrays along with all Columns

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36']]], dtype='<U8')

In [267]:
Array3D[:,:,0:5] #Shows Columns from 0th col index to 4th col index along with all Rows & all Arrays, 5th is upper bound for col index

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39'],
        ['10.1', 'Prashant', '(10+10j)', 'False', '10']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36'],
        ['10.16', 'Prashant', '(19+10j)', 'False', '17']]], dtype='<U8')

In [268]:
Array3D[:,:,[0,4]] #Shows 0th col index & 4th col index along with all Rows & all Arrays

array([[['KESHAV', '39'],
        ['10.1', '10']],

       [['RAGHAV', '36'],
        ['10.16', '17']]], dtype='<U8')

In [269]:
Array3D[:,[0],:] #Shows only 0th Row index of all Arrays along with all Cols

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36']]], dtype='<U8')

In [270]:
Array3D[:,0,:] #Shows only 0th Row index of all Arrays along with all Cols

array([['KESHAV', '(45+9j)', 'True', '39.69', '39'],
       ['RAGHAV', '(49+9j)', 'True', '36.69', '36']], dtype='<U8')

In [271]:
Array3D[:,:,3:4] #Shows only 3rd col index along with all Arrays & all Rows, 4th is upper bound for col index

array([[['39.69'],
        ['False']],

       [['36.69'],
        ['False']]], dtype='<U8')

In [272]:
Array3D[:,:,[3,4]] #Shows only 3rd col index & 4th col index along with all Arrays & all Rows

array([[['39.69', '39'],
        ['False', '10']],

       [['36.69', '36'],
        ['False', '17']]], dtype='<U8')

In [273]:
Array3D[[0,1],[0,1],[2,3]] #0th Array index with 0th Row index with 2nd col index, True
                           #1st Array index with 1st Row index with 3rd col index, False

array(['True', 'False'], dtype='<U8')

In [274]:
Array3D[[1],[1],[2]]

array(['(19+10j)'], dtype='<U8')

In [275]:
Array3D[1,1,2]

'(19+10j)'

In [276]:
Array3D[[0,1]] #Shows 0th index Array & 1st index Array

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39'],
        ['10.1', 'Prashant', '(10+10j)', 'False', '10']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36'],
        ['10.16', 'Prashant', '(19+10j)', 'False', '17']]], dtype='<U8')

In [277]:
Array3D[-1][-1][-3]

'(19+10j)'

In [278]:
Array3D[[-1],[-1],[-3]]

array(['(19+10j)'], dtype='<U8')

In [279]:
Array3D[-1,-1,-3]

'(19+10j)'

In [280]:
Array3D[1][-1][2]

'(19+10j)'

In [281]:
Array3D[[1],[-1],[2]]

array(['(19+10j)'], dtype='<U8')

In [282]:
Array3D[1,-1,2]

'(19+10j)'

In [283]:
Array3D[-1][1][-3]

'(19+10j)'

In [284]:
Array3D[[-1],[1],[-3]]

array(['(19+10j)'], dtype='<U8')

In [285]:
Array3D[-1,1,-3]

'(19+10j)'

In [286]:
print(Array3D[1][1][2],Array3D[[1],[1],[2]],Array3D[1,1,2],Array3D[-1][-1][-3],Array3D[[-1],[-1],[-3]],Array3D[-1,-1,-3],Array3D[1][-1][2],Array3D[[1],[-1],[2]],Array3D[1,-1,2],Array3D[-1][1][-3],Array3D[[-1],[1],[-3]],Array3D[-1,1,-3])

(19+10j) ['(19+10j)'] (19+10j) (19+10j) ['(19+10j)'] (19+10j) (19+10j) ['(19+10j)'] (19+10j) (19+10j) ['(19+10j)'] (19+10j)

## Slicing operation in Numpy Array

In [287]:
#By using Slicing you can access multiple elements from an Array

### Slicing 1D Array

In [288]:
#Slicing 1D Array
Array1[1:5:1] #index1 to index4, step1, 5 is upper bound

array(['(45+9j)', 'True', '39.69', '39'], dtype='<U7')

In [289]:
Array1[0:5] #index1 to index4, 5 is upper bound

array(['KESHAV', '(45+9j)', 'True', '39.69', '39'], dtype='<U7')

In [290]:
#Slicing 1D Array
Array1[1::1] #From index1 to end index, step1

array(['(45+9j)', 'True', '39.69', '39'], dtype='<U7')

In [291]:
Array1[1::2] #From index1 to end index, step2

array(['(45+9j)', '39.69'], dtype='<U7')

In [292]:
Array1[0::2] #From index0 to end index, step2

array(['KESHAV', 'True', '39'], dtype='<U7')

In [293]:
Array1[::2] #From index0 to end index, step2

array(['KESHAV', 'True', '39'], dtype='<U7')

### Slicing 2D Array

In [294]:
#Creating 2D array from 2 lists
#No of elements/length of each list should be same
Array2D=array([["KESHAV",45+9j,True,39.69,39],[10.10,'Prashant',10+10j,False,10]]) #Transforming nested list of 2 lists into Array
print(Array2D),shape(Array2D),size(Array2D),type(Array2D),ndim(Array2D),Array2D.dtype

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

(None, (2, 5), 10, numpy.ndarray, 2, dtype('<U8'))

In [295]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[0:,2:3] #Shows only 2nd col index along with All Rows, 3rd is upper bound index for col

array([['True'],
       ['(10+10j)']], dtype='<U8')

In [296]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[0:,2] #Shows only 2nd col index along with All Rows

array(['True', '(10+10j)'], dtype='<U8')

In [297]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[0:,[2]] #Shows only 2nd col index along with All Rows

array([['True'],
       ['(10+10j)']], dtype='<U8')

In [298]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[[0,1],[2]] #Shows only 2nd col index along with All Rows

array(['True', '(10+10j)'], dtype='<U8')

In [299]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[0,1][2] #Shows 0th and 1st Row index along with All Rows

'5'

In [300]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[[0,1],2] #Shows only 2nd col index along with All Rows

array(['True', '(10+10j)'], dtype='<U8')

In [301]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[0:,[3,4]] #Shows only 3rd col index & 4th col index along with All Rows

array([['39.69', '39'],
       ['False', '10']], dtype='<U8')

In [302]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[0][2:3] #Shows only 2nd col index of 0th Row, 3rd is upper bound index for col

array(['True'], dtype='<U8')

In [303]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[[0,1],2:3] #Shows only 2nd col index of 0th Row & 1st Row, 3rd is upper bound index col

array([['True'],
       ['(10+10j)']], dtype='<U8')

In [304]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[[0,1],[2]] #Shows only 2nd col index for 0th Row & 1st Row

array(['True', '(10+10j)'], dtype='<U8')

In [305]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[[0,1],2] #Shows only 2nd col index for 0th Row & 1st Row

array(['True', '(10+10j)'], dtype='<U8')

In [306]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[0][2] #Shows only 2nd col index of 0th Row

'True'

In [307]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[0][0:5] #Shows only 0th Row with from 0th col index to 4th col index

array(['KESHAV', '(45+9j)', 'True', '39.69', '39'], dtype='<U8')

In [308]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[0,1][0:5] #Shows only 0th Row with from 0th col index to 4th col index

'(45+9'

In [309]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[0,0:5] #Shows only 0th Row with from 0th col index to 4th col index

array(['KESHAV', '(45+9j)', 'True', '39.69', '39'], dtype='<U8')

In [310]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[[0][0:5]] #Shows only 0th Row with from 0th col index to 4th col index

array([['KESHAV', '(45+9j)', 'True', '39.69', '39']], dtype='<U8')

In [311]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[[0],0:5] #Shows only 0th Row with from 0th col index to 4th col index

array([['KESHAV', '(45+9j)', 'True', '39.69', '39']], dtype='<U8')

In [312]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[[0,1],0:5] #Shows only 0th Row & 1st Row with from 0th col index to 4th col index

array([['KESHAV', '(45+9j)', 'True', '39.69', '39'],
       ['10.1', 'Prashant', '(10+10j)', 'False', '10']], dtype='<U8')

In [313]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[:,2:3] #Shows only 2nd col index along with all Rows, 3rd is upper bound index for col

array([['True'],
       ['(10+10j)']], dtype='<U8')

In [314]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[:,[2]] #Shows only 2nd col index along with all Rows

array([['True'],
       ['(10+10j)']], dtype='<U8')

In [315]:
#Creating 3D Array of Tuples
Array3D=array(((("KESHAV",45+9j,True,38.69,34),(10.10,"Prashant",10+10j,False,18)),(("RAGHAV",49+9j,True,37.69,36),(10.16,"Pushkar",19+10j,False,17))))
print(Array3D)

[[['KESHAV' '(45+9j)' 'True' '38.69' '34']
  ['10.1' 'Prashant' '(10+10j)' 'False' '18']]

 [['RAGHAV' '(49+9j)' 'True' '37.69' '36']
  ['10.16' 'Pushkar' '(19+10j)' 'False' '17']]]

In [316]:
#Array3D[array(start:stop:step),row(start:stop:step),col(start:stop:step)]
Array3D[:,:,2:3] #Shows only 2nd col index along with all Rows & all Arrays, 3rd is upper bound index for col

array([[['True'],
        ['(10+10j)']],

       [['True'],
        ['(19+10j)']]], dtype='<U8')

In [317]:
#Array3D[array(start:stop:step),row(start:stop:step),col(start:stop:step)]
Array3D[:,:,2] #Shows only 2nd col index along with all Rows & all Arrays

array([['True', '(10+10j)'],
       ['True', '(19+10j)']], dtype='<U8')

In [318]:
#Array3D[array(start:stop:step),row(start:stop:step),col(start:stop:step)]
Array3D[:,:,[2]] #Shows only 2nd col index along with all Rows & all Arrays

array([[['True'],
        ['(10+10j)']],

       [['True'],
        ['(19+10j)']]], dtype='<U8')

## Advanced indexing Techniques in  Numpy Array
Advanced indexing works with Array only, neither with Tuple nor with List or any other Variables

### Integer Indexing

In [319]:
#Creating 1D array from 1 list
Array1=array(["KESHAV",45+9j,True,39.69,39]) #Convert the list into array
print(Array1)

['KESHAV' '(45+9j)' 'True' '39.69' '39']

### Indexing from 1D Array

In [320]:
#Indexing from 1D Array
#Array1[[mention indexes]]
Array1[[0,1,2]] #Accessing index 0th,1st,2nd

array(['KESHAV', '(45+9j)', 'True'], dtype='<U7')

In [321]:
Array1[[1,3]] #Accessing index 1st,3rd

array(['(45+9j)', '39.69'], dtype='<U7')

In [322]:
#Creating 2D array from 2 lists
#No of elements/length of each list should be same
Array2D=array([["KESHAV",45+9j,True,39.69,39],[10.10,'Prashant',10+10j,False,10]]) #Transforming nested list of 2 lists into Array
print(Array2D)

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

In [323]:
#Array2D[[mention rows],[mention cols]]
Array2D[[1],[1]] #1st row index, 1st col index

array(['Prashant'], dtype='<U8')

In [324]:
Array2D[1,1]

'Prashant'

In [325]:
Array2D[1][1]

'Prashant'

In [326]:
Array2D[[0,1],[1,4]] #[0th row index, 1st row index],[1st col index, 4th col index]

array(['(45+9j)', '10'], dtype='<U8')

In [327]:
Array2D[[0,1]] #0th Row & 1st Row of Array2D

array([['KESHAV', '(45+9j)', 'True', '39.69', '39'],
       ['10.1', 'Prashant', '(10+10j)', 'False', '10']], dtype='<U8')

In [328]:
#Creating 3D Array of Tuples
Array3D=array(((("KESHAV",45+9j,True,39.69,39),(10.10,'Prashant',10+10j,False,10)),(("RAGHAV",49+9j,True,36.69,36),(10.16,'Prashant',19+10j,False,17))))
print(Array3D)

[[['KESHAV' '(45+9j)' 'True' '39.69' '39']
  ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

 [['RAGHAV' '(49+9j)' 'True' '36.69' '36']
  ['10.16' 'Prashant' '(19+10j)' 'False' '17']]]

In [329]:
Array3D[[0,1],[1,0],[4,2]] #0th Array, 1st Row & 4th col=10   1st Array, 0th Row & 2nd col=True

array(['10', 'True'], dtype='<U8')

In [330]:
Array3D[[0,1],[0,1],[4,2]] #0th Array, 0th Row & 4th col=39   1st Array, 1st Row & 2nd col=19+10j

array(['39', '(19+10j)'], dtype='<U8')

In [331]:
Array3D[[1,0],[1,0],[4,2]] #1st Array, 1st Row & 4th col=17   0th Array, 0th Row & 2nd col=True

array(['17', 'True'], dtype='<U8')

### Boolean Indexing

In [332]:
#Creating 3D Array of Tuples
Array3D=array((((12,31+10j,29,-66.69,39),(-10.10,-89,-76,100,10)),((45,54,11-9j,-36.69,32),(-10.16,29,19,-12,17))))
print(Array3D)

[[[ 12.   +0.j  31.  +10.j  29.   +0.j -66.69 +0.j  39.   +0.j]
  [-10.1  +0.j -89.   +0.j -76.   +0.j 100.   +0.j  10.   +0.j]]

 [[ 45.   +0.j  54.   +0.j  11.   -9.j -36.69 +0.j  32.   +0.j]
  [-10.16 +0.j  29.   +0.j  19.   +0.j -12.   +0.j  17.   +0.j]]]

In [333]:
Array3D[Array3D>0] #Shows the elements greater then 0

array([ 12. +0.j,  31.+10.j,  29. +0.j,  39. +0.j, 100. +0.j,  10. +0.j,
        45. +0.j,  54. +0.j,  11. -9.j,  32. +0.j,  29. +0.j,  19. +0.j,
        17. +0.j])

In [334]:
Array3D[Array3D<0] #Shows the elements lesser then 0

array([-66.69+0.j, -10.1 +0.j, -89.  +0.j, -76.  +0.j, -36.69+0.j,
       -10.16+0.j, -12.  +0.j])

In [335]:
#Creating 3D Array of Tuples
Array3D=array((((12,31,29,-66.69,39),(-10.10,-89,-76,100,10)),((45,54,11,-36.69,32),(-10.16,29,19,-12,17))))
print(Array3D)

[[[ 12.    31.    29.   -66.69  39.  ]
  [-10.1  -89.   -76.   100.    10.  ]]

 [[ 45.    54.    11.   -36.69  32.  ]
  [-10.16  29.    19.   -12.    17.  ]]]

In [336]:
Array3D[Array3D>0]

array([ 12.,  31.,  29.,  39., 100.,  10.,  45.,  54.,  11.,  32.,  29.,
        19.,  17.])

In [337]:
Array3D[Array3D<0]

array([-66.69, -10.1 , -89.  , -76.  , -36.69, -10.16, -12.  ])

## Airthmatic Operations in Numpy Array

In [338]:
#1. At the time of performing Airthmatic operation there shouldn't be any String element
#2. Using Scalars
#3. B/W Arrays

### Using Scalars

In [339]:
#Creating 1D array from 1 list
# There is no "STRING" element present in the Array1D
# So all elements got converted into Complex by default
Array1D=array([45+9j,True,39.69,39]) #Convert the list into array
print(Array1D)

[45.  +9.j  1.  +0.j 39.69+0.j 39.  +0.j]

In [340]:
#Creating 2D array from 4 lists
# There is no "STRING" element present in the Array2D
# So by default all elements of this 2D Array got converted into Complex
Array2D=array([[45+9j,True,39.69,39],[10.10,10+10j,False,10],[1,2,3,4],[6,7,8,9]])
print(Array2D)
shape(Array2D) #4 rows & 5 coloumns
size(Array2D),ndim(Array2D) #Total 20 elements

[[45.   +9.j  1.   +0.j 39.69 +0.j 39.   +0.j]
 [10.1  +0.j 10.  +10.j  0.   +0.j 10.   +0.j]
 [ 1.   +0.j  2.   +0.j  3.   +0.j  4.   +0.j]
 [ 6.   +0.j  7.   +0.j  8.   +0.j  9.   +0.j]]

(16, 2)

In [341]:
ndim(Array2D)

2

In [342]:
Array1D+8 #All Complex elements of Array1D got increased by 8

array([53.  +9.j,  9.  +0.j, 47.69+0.j, 47.  +0.j])

In [343]:
Array1D*8 #All Complex elements of Array1D got multiplied by 8

array([360.  +72.j,   8.   +0.j, 317.52 +0.j, 312.   +0.j])

In [344]:
Array2D*8 #All Complex elements of Array2D got multiplied by 8

array([[360.  +72.j,   8.   +0.j, 317.52 +0.j, 312.   +0.j],
       [ 80.8  +0.j,  80.  +80.j,   0.   +0.j,  80.   +0.j],
       [  8.   +0.j,  16.   +0.j,  24.   +0.j,  32.   +0.j],
       [ 48.   +0.j,  56.   +0.j,  64.   +0.j,  72.   +0.j]])

In [345]:
Array2D+8 #All Complex elements of Array2D got increased by 8

array([[53.   +9.j,  9.   +0.j, 47.69 +0.j, 47.   +0.j],
       [18.1  +0.j, 18.  +10.j,  8.   +0.j, 18.   +0.j],
       [ 9.   +0.j, 10.   +0.j, 11.   +0.j, 12.   +0.j],
       [14.   +0.j, 15.   +0.j, 16.   +0.j, 17.   +0.j]])

In [346]:
Array1D**8 #All Complex elements of Array1D got powered by 8

array([-1.64610661e+11+1.96706296e+13j,  1.00000000e+00+0.00000000e+00j,
        6.15812913e+12+0.00000000e+00j,  5.35200926e+12+0.00000000e+00j])

In [347]:
#Creating 3D Array of Tuples
#All elements of Array3D got converted to float by default
Array3D=array((((12,31,29,-66.69,39),(-10.10,-89,-76,100,10)),((45,54,11,-36.69,32),(-10.16,29,19,-12,17))))
print(Array3D),ndim(Array3D),size(Array3D),shape(Array3D),Array3D.dtype

[[[ 12.    31.    29.   -66.69  39.  ]
  [-10.1  -89.   -76.   100.    10.  ]]

 [[ 45.    54.    11.   -36.69  32.  ]
  [-10.16  29.    19.   -12.    17.  ]]]

(None, 3, 20, (2, 2, 5), dtype('float64'))

In [348]:
Array3D*5 #All float elements of Array3D got multiplied by 5

array([[[  60.  ,  155.  ,  145.  , -333.45,  195.  ],
        [ -50.5 , -445.  , -380.  ,  500.  ,   50.  ]],

       [[ 225.  ,  270.  ,   55.  , -183.45,  160.  ],
        [ -50.8 ,  145.  ,   95.  ,  -60.  ,   85.  ]]])

In [349]:
Array3D**5 #All float elements of Array3D got powered by 5

array([[[ 2.48832000e+05,  2.86291510e+07,  2.05111490e+07,
         -1.31917857e+09,  9.02241990e+07],
        [-1.05101005e+05, -5.58405945e+09, -2.53552538e+09,
          1.00000000e+10,  1.00000000e+05]],

       [[ 1.84528125e+08,  4.59165024e+08,  1.61051000e+05,
         -6.64872788e+07,  3.35544320e+07],
        [-1.08260129e+05,  2.05111490e+07,  2.47609900e+06,
         -2.48832000e+05,  1.41985700e+06]]])

### B/W Arrays
add(a,b), substract(a,b), multiply(a,b), divide(a,b), mod(a,b), power(a,b)

In [350]:
# Array1D got added through all the Rows of Array2D
Array1D=array([45+9j,True,39.69,39])
Array2D=array([[45+9j,True,39.69,39],[10.10,10+10j,False,10],[1,2,3,4],[6,7,8,9]])
AddArray=Array1D+Array2D #Addition of 2 complex Arrays
AddArray

array([[90.  +18.j,  2.   +0.j, 79.38 +0.j, 78.   +0.j],
       [55.1  +9.j, 11.  +10.j, 39.69 +0.j, 49.   +0.j],
       [46.   +9.j,  3.   +0.j, 42.69 +0.j, 43.   +0.j],
       [51.   +9.j,  8.   +0.j, 47.69 +0.j, 48.   +0.j]])

## Brodcasting

In [351]:
#1. When we can't perform airthmatic operation b/W Arrays of different size or shape
#2. Size of each dimention should be same
#3. Size of one of the dimention should be 1

In [352]:
#2D Array made by 3 Lists
Array2D=array([[1,2],[3,4],[5,6]])
print(Array2D)

[[1 2]
 [3 4]
 [5 6]]

In [353]:
# 1D Array
Array1D=array([10,20])

In [354]:
Array1D+Array2D #Array1D has been added through all the Rows of Array2D

array([[11, 22],
       [13, 24],
       [15, 26]])

In [355]:
Array1D*Array2D #Array1D has been multiplied through all the Rows of Array2D

array([[ 10,  40],
       [ 30,  80],
       [ 50, 120]])

## Array Manupulation

In [356]:
#1. Reshaping Array
#2. Array Flattening
#3. Dimention Shuffling
#4. Joining Arrays
#5. Spilitting Arrays
#6. Add/Remove elements to Array

## Reshaping Array

In [357]:
#1. array.reshape() this don't changes the actual array
#2. resize(array,()) this don't changes the actual array, filling is always 1 directional Row wise
#3. array.resize() this changes the actual array, filling is always 1 directional Row wise
#4. Reshaping contains three things... Array, Shape, Order

In [358]:
help(reshape)

Help on function reshape in module numpy:

reshape(a, newshape, order='C')
    scipy.reshape is deprecated and will be removed in SciPy 2.0.0, use numpy.reshape instead

In [466]:
#Creating 2D array from 2 lists
#No of elements/length of each list should be same
Array2D=array([["KESHAV",45+9j,True,39.69,39],[10.10,'Prashant',10+10j,False,10]]) #Transforming nested list of 2 lists into Array
print(Array2D) #2 rows & 5 cols

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

In [467]:
# reshape to 5 rows & 2 cols
Array2D.reshape(5,2) #Row wise filling

array([['KESHAV', '(45+9j)'],
       ['True', '39.69'],
       ['39', '10.1'],
       ['Prashant', '(10+10j)'],
       ['False', '10']], dtype='<U8')

In [468]:
# reshape to 5 rows & 2 cols
Array2D.reshape(5,2,order="F") #Colwise filling

array([['KESHAV', '(10+10j)'],
       ['10.1', '39.69'],
       ['(45+9j)', 'False'],
       ['Prashant', '39'],
       ['True', '10']], dtype='<U8')

In [469]:
# reshape to 5 rows & 2 cols
Array2D.reshape(5,2,order="A") #Row wise filling

array([['KESHAV', '(45+9j)'],
       ['True', '39.69'],
       ['39', '10.1'],
       ['Prashant', '(10+10j)'],
       ['False', '10']], dtype='<U8')

In [470]:
# reshape to 5 rows & 2 cols
Array2D.reshape(5,2,order="C") #Row wise filling

array([['KESHAV', '(45+9j)'],
       ['True', '39.69'],
       ['39', '10.1'],
       ['Prashant', '(10+10j)'],
       ['False', '10']], dtype='<U8')

In [471]:
# resize to 5 rows & 4 cols, 5*4=20 elements
# While filling, Array elements get repeated if Row*Col > size(Array)
# resize(array,()) this function always do Row wise filling
# You can't change the filling process, always 1 directional filling
from numpy import resize
resize(Array2D,(5,4)) #Row wise filling, Order facility doesn't exist here with resize() function

array([['KESHAV', '(45+9j)', 'True', '39.69'],
       ['39', '10.1', 'Prashant', '(10+10j)'],
       ['False', '10', 'KESHAV', '(45+9j)'],
       ['True', '39.69', '39', '10.1'],
       ['Prashant', '(10+10j)', 'False', '10']], dtype='<U8')

In [472]:
# resize to 5 rows & 2 cols, 5*2=10 elements
Array2D.resize(5,2)
Array2D  # Permanent shape change of Array2D

array([['KESHAV', '(45+9j)'],
       ['True', '39.69'],
       ['39', '10.1'],
       ['Prashant', '(10+10j)'],
       ['False', '10']], dtype='<U8')

In [473]:
#Creating 2D array from 2 lists
#No of elements/length of each list should be same
New2D=array([["KESHAV",45+9j,True,39.69,39],[10.10,'Prashant',10+10j,False,10]]) #Transforming nested list of 2 lists into Array
print(New2D),New2D.dtype,shape(New2D),size(New2D),ndim(New2D) #2 rows & 5 cols

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

(None, dtype('<U8'), (2, 5), 10, 2)

In [474]:
# resize to 5 rows & 2 cols, 5*2=10 elements
New2D.resize(5,2) #This kind of reshape always changes the original Array permanently
print(New2D)      #Row wise filling

[['KESHAV' '(45+9j)']
 ['True' '39.69']
 ['39' '10.1']
 ['Prashant' '(10+10j)']
 ['False' '10']]

## Array Flattening by using flatten() & ravel()

In [475]:
#1. Array Flattening by using flatten() & ravel()
#2. Flattening means Dimention convertion of Array
#3. From 4D, 3D, 2D to 1D conversion
#4. Flatten method creates a copy of the Original Array
#5. Ravel method just gives you a temporary view
#6. You can't write flatten() as this format because this is not a function
#7. You can write ravel() as this format, because this is an function

In [476]:
#Creating 2D array from 2 lists
#No of elements/length of each list should be same
New2D=array([["KESHAV",45+9j,True,39.69,39],[10.10,'Prashant',10+10j,False,10]]) #Transforming nested list of 2 lists into Array
print(New2D)

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

In [477]:
# Row wise 2D to 1D conversion
New2D.flatten() #Row wise flatten

array(['KESHAV', '(45+9j)', 'True', '39.69', '39', '10.1', 'Prashant',
       '(10+10j)', 'False', '10'], dtype='<U8')

In [478]:
# Col wise 2D to 1D conversion
New2D.flatten(order="F") #Col wise flatten

array(['KESHAV', '10.1', '(45+9j)', 'Prashant', 'True', '(10+10j)',
       '39.69', 'False', '39', '10'], dtype='<U8')

In [479]:
#Creating 3D Array of Tuples
Array3D=array(((("KESHAV",45+9j,True,39.69,39),(10.10,'Prashant',10+10j,False,10)),(("RAGHAV",49+9j,True,36.69,36),(10.16,'Prashant',19+10j,False,17))))
print(Array3D)

[[['KESHAV' '(45+9j)' 'True' '39.69' '39']
  ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

 [['RAGHAV' '(49+9j)' 'True' '36.69' '36']
  ['10.16' 'Prashant' '(19+10j)' 'False' '17']]]

In [480]:
# Row wise 3D to 1D conversion
Array3D.flatten() #Row wise flatten

array(['KESHAV', '(45+9j)', 'True', '39.69', '39', '10.1', 'Prashant',
       '(10+10j)', 'False', '10', 'RAGHAV', '(49+9j)', 'True', '36.69',
       '36', '10.16', 'Prashant', '(19+10j)', 'False', '17'], dtype='<U8')

In [481]:
# Col wise 3D to 1D conversion
Array3D.flatten(order="F") #Col wise flatten

array(['KESHAV', 'RAGHAV', '10.1', '10.16', '(45+9j)', '(49+9j)',
       'Prashant', 'Prashant', 'True', 'True', '(10+10j)', '(19+10j)',
       '39.69', '36.69', 'False', 'False', '39', '36', '10', '17'],
      dtype='<U8')

In [484]:
# Row wise 3D to 1D conversion
from numpy import ravel
ravel(Array3D,order="c") #Row wise flatten

array(['KESHAV', '(45+9j)', 'True', '39.69', '39', '10.1', 'Prashant',
       '(10+10j)', 'False', '10', 'RAGHAV', '(49+9j)', 'True', '36.69',
       '36', '10.16', 'Prashant', '(19+10j)', 'False', '17'], dtype='<U8')

In [485]:
# Col wise 3D to 1D conversion
ravel(Array3D,order="F") #Col wise flatten

array(['KESHAV', 'RAGHAV', '10.1', '10.16', '(45+9j)', '(49+9j)',
       'Prashant', 'Prashant', 'True', 'True', '(10+10j)', '(19+10j)',
       '39.69', '36.69', 'False', 'False', '39', '36', '10', '17'],
      dtype='<U8')

In [486]:
# Row wise 3D to 1D conversion
ravel(Array3D,order="A") #Row wise flatten

array(['KESHAV', '(45+9j)', 'True', '39.69', '39', '10.1', 'Prashant',
       '(10+10j)', 'False', '10', 'RAGHAV', '(49+9j)', 'True', '36.69',
       '36', '10.16', 'Prashant', '(19+10j)', 'False', '17'], dtype='<U8')

In [487]:
# Row wise 3D to 1D conversion
Array3D.ravel() #Row wise flatten

array(['KESHAV', '(45+9j)', 'True', '39.69', '39', '10.1', 'Prashant',
       '(10+10j)', 'False', '10', 'RAGHAV', '(49+9j)', 'True', '36.69',
       '36', '10.16', 'Prashant', '(19+10j)', 'False', '17'], dtype='<U8')

In [488]:
# Row wise 3D to 1D conversion
Array3D.ravel(order="c") #Row wise flatten

array(['KESHAV', '(45+9j)', 'True', '39.69', '39', '10.1', 'Prashant',
       '(10+10j)', 'False', '10', 'RAGHAV', '(49+9j)', 'True', '36.69',
       '36', '10.16', 'Prashant', '(19+10j)', 'False', '17'], dtype='<U8')

In [489]:
# Col wise 3D to 1D conversion
Array3D.ravel(order="F") #Col wise flatten

array(['KESHAV', 'RAGHAV', '10.1', '10.16', '(45+9j)', '(49+9j)',
       'Prashant', 'Prashant', 'True', 'True', '(10+10j)', '(19+10j)',
       '39.69', '36.69', 'False', 'False', '39', '36', '10', '17'],
      dtype='<U8')

In [490]:
# Row wise 3D to 1D conversion
Array3D.ravel(order="A") #Row wise flatten

array(['KESHAV', '(45+9j)', 'True', '39.69', '39', '10.1', 'Prashant',
       '(10+10j)', 'False', '10', 'RAGHAV', '(49+9j)', 'True', '36.69',
       '36', '10.16', 'Prashant', '(19+10j)', 'False', '17'], dtype='<U8')

## Dimension Shuffling by using Transpose and Swapaxes

In [491]:
#transpose() function, works with all Axises/Dimensions
#swapaxes() function, works with any two Axises/Dimensions
#For 2D rowAxis=0, colAxis=1
#For 3D ArrayAxis=0, RowAxis=1, colAxis=2

### transpose()

In [492]:
#Creating 3D Array of Tuples
Array3D=array(((("KESHAV",45+9j,True,39.69,39),(10.10,'Prashant',10+10j,False,10)),(("RAGHAV",49+9j,True,36.69,36),(10.16,'Prashant',19+10j,False,17))))
print(Array3D),shape(Array3D),ndim(Array3D),size(Array3D),Array3D.dtype

[[['KESHAV' '(45+9j)' 'True' '39.69' '39']
  ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

 [['RAGHAV' '(49+9j)' 'True' '36.69' '36']
  ['10.16' 'Prashant' '(19+10j)' 'False' '17']]]

(None, (2, 2, 5), 3, 20, dtype('<U8'))

In [493]:
shape(Array3D),ndim(Array3D),size(Array3D),Array3D.dtype #2 Arrays, 2rows, 5 cols

((2, 2, 5), 3, 20, dtype('<U8'))

In [494]:
#5 Arrays, 2 rows, 2 cols
#For 3D ArrayAxis=0, RowAxis=1, colAxis=2
from numpy import transpose
transpose(Array3D) #Reverse the Dimention of Array3D
                   #By using transpose() function we can interchange all the axises

array([[['KESHAV', 'RAGHAV'],
        ['10.1', '10.16']],

       [['(45+9j)', '(49+9j)'],
        ['Prashant', 'Prashant']],

       [['True', 'True'],
        ['(10+10j)', '(19+10j)']],

       [['39.69', '36.69'],
        ['False', 'False']],

       [['39', '36'],
        ['10', '17']]], dtype='<U8')

In [495]:
#For 3D ArrayAxis=0, RowAxis=1, colAxis=2
Array3D.transpose  #Reverse the Dimention of Array3D
                   #By using transpose() function we can interchange all the axises

In [496]:
#5 Arrays, 2 rows, 2 cols
#For 3D ArrayAxis=0, RowAxis=1, colAxis=2
Array3D.transpose() #Reverse the Dimention of Array3D
                    #By using transpose() function we can interchange all the axises

array([[['KESHAV', 'RAGHAV'],
        ['10.1', '10.16']],

       [['(45+9j)', '(49+9j)'],
        ['Prashant', 'Prashant']],

       [['True', 'True'],
        ['(10+10j)', '(19+10j)']],

       [['39.69', '36.69'],
        ['False', 'False']],

       [['39', '36'],
        ['10', '17']]], dtype='<U8')

In [497]:
#5 Arrays, 2 rows, 2 cols
#For 3D ArrayAxis=0, RowAxis=1, colAxis=2
transpose(Array3D).shape #Reverse the Dimention of Array3D
                         #By using transpose() function we can interchange all the axises

(5, 2, 2)

In [498]:
#5 Arrays, 2 rows, 2 cols
transpose(Array3D).shape #Reverse the Dimention of Array3D
                         #By using transpose() function we can interchange all the axeses
                         #For 3D ArrayAxis=0, RowAxis=1, colAxis=2

(5, 2, 2)

In [499]:
#2 Arrays, 5 rows, 2 cols
#The transpose axeses always need be put inside extra ()
#You need to mention axeses inside a Tuple
transpose(Array3D,(1,2,0)) #For 3D ArrayAxis=0, RowAxis=1, colAxis=2

array([[['KESHAV', 'RAGHAV'],
        ['(45+9j)', '(49+9j)'],
        ['True', 'True'],
        ['39.69', '36.69'],
        ['39', '36']],

       [['10.1', '10.16'],
        ['Prashant', 'Prashant'],
        ['(10+10j)', '(19+10j)'],
        ['False', 'False'],
        ['10', '17']]], dtype='<U8')

In [500]:
#2 Arrays, 5 rows, 2 cols
#The transpose axeses always need be put inside extra ()
#You need to mention axeses inside a Tuple
transpose(Array3D,axes=(1,2,0)) #No need to write axes seperately

array([[['KESHAV', 'RAGHAV'],
        ['(45+9j)', '(49+9j)'],
        ['True', 'True'],
        ['39.69', '36.69'],
        ['39', '36']],

       [['10.1', '10.16'],
        ['Prashant', 'Prashant'],
        ['(10+10j)', '(19+10j)'],
        ['False', 'False'],
        ['10', '17']]], dtype='<U8')

In [501]:
#For 2D rowAxis=0, colAxis=1
#Creating 2D array from 2 lists
#No of elements/length of each list should be same
New2D=array([["KESHAV",45+9j,True,39.69,39],[10.10,'Prashant',10+10j,False,10]]) #Transforming nested list of 2 lists into Array
print(New2D),shape(New2D),size(New2D),ndim(New2D),New2D.dtype

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

(None, (2, 5), 10, 2, dtype('<U8'))

In [502]:
# 5 rows, 2 cols
transpose(New2D),New2D.transpose,New2D.transpose(),transpose(New2D).shape    #For 2D rowAxis=0, colAxis=1

(array([['KESHAV', '10.1'],
        ['(45+9j)', 'Prashant'],
        ['True', '(10+10j)'],
        ['39.69', 'False'],
        ['39', '10']], dtype='<U8'),
 <function ndarray.transpose>,
 array([['KESHAV', '10.1'],
        ['(45+9j)', 'Prashant'],
        ['True', '(10+10j)'],
        ['39.69', 'False'],
        ['39', '10']], dtype='<U8'),
 (5, 2))

In [503]:
# 5 rows, 2 cols
#The transpose axeses always need be put inside extra ()
#You need to mention axeses inside a Tuple
transpose(New2D,(1,0)) #1,0 is same as reverse
                       #For 2D rowAxis=0, colAxis=1

array([['KESHAV', '10.1'],
       ['(45+9j)', 'Prashant'],
       ['True', '(10+10j)'],
       ['39.69', 'False'],
       ['39', '10']], dtype='<U8')

In [504]:
# 5 rows, 2 cols
#The transpose axeses always need be put inside extra ()
#You need to mention axeses inside a Tuple
transpose(New2D,axes=(1,0)) #no need to mention axes seperately
                            #For 2D rowAxis=0, colAxis=1

array([['KESHAV', '10.1'],
       ['(45+9j)', 'Prashant'],
       ['True', '(10+10j)'],
       ['39.69', 'False'],
       ['39', '10']], dtype='<U8')

In [505]:
# 2 rows, 5 cols
#The transpose axeses always need be put inside extra ()
#You need to mention axeses inside a Tuple
transpose(New2D,(0,1)) #For 2D rowAxis=0, colAxis=1

array([['KESHAV', '(45+9j)', 'True', '39.69', '39'],
       ['10.1', 'Prashant', '(10+10j)', 'False', '10']], dtype='<U8')

In [506]:
# 2 rows, 5 cols
#The transpose axeses always need be put inside extra ()
#You need to mention axeses inside a Tuple
transpose(New2D,axes=(0,1)) #don't need to mention axes
                            #For 2D rowAxis=0, colAxis=1

array([['KESHAV', '(45+9j)', 'True', '39.69', '39'],
       ['10.1', 'Prashant', '(10+10j)', 'False', '10']], dtype='<U8')

### swapaxes()

In [507]:
#swapaxes()
#You can interchange any two axis of given array... Array|Row  Array|Col  Row|Col
#In the swapaxes() function we can interchange any 2 axis
#Just mention the two axeses by giving comma... dont think about which axis to put first

In [508]:
#1D Array
Ar1=array([1,2,3])
shape(Ar1),ndim(Ar1)

((3,), 1)

In [509]:
#2D Array
Ar2=array([[1,2,3]])
shape(Ar2),ndim(Ar2) #1Row, 3col

((1, 3), 2)

In [510]:
# 3 rows, 1 col
#For swap you dont need to mention the 2 axeses in a Tuple
from numpy import swapaxes
swapaxes(Ar2,1,0) #3rows, 1col
                  #For 2D rowAxis=0, colAxis=1
                  #Row and Col have been swapped

array([[1],
       [2],
       [3]])

In [511]:
# 3 row, 1 cols
#For swap you dont need to mention the 2 axeses in a Tuple
swapaxes(Ar2,0,1) #3rows, 1col
                  #For 2D rowAxis=0, colAxis=1
                  #Here also Row & Col have been swapped

array([[1],
       [2],
       [3]])

In [512]:
#Creating 3D Array made of 4 Tuples
#For 3D ArrayAxis=0, RowAxis=1, colAxis=2
Array3D=array(((("KESHAV",45+9j,True,39.69,39),(10.10,'Prashant',10+10j,False,10)),(("RAGHAV",49+9j,True,36.69,36),(10.16,'Prashant',19+10j,False,17))))
print(Array3D)

[[['KESHAV' '(45+9j)' 'True' '39.69' '39']
  ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

 [['RAGHAV' '(49+9j)' 'True' '36.69' '36']
  ['10.16' 'Prashant' '(19+10j)' 'False' '17']]]

In [513]:
ndim(Array3D),shape(Array3D),size(Array3D),Array3D.dtype

(3, (2, 2, 5), 20, dtype('<U8'))

In [514]:
#For 3D ArrayAxis=0, RowAxis=1, colAxis=2
shape(Array3D) #2 Arrays, 2 rows, 5 cols

(2, 2, 5)

In [515]:
#For swap you dont need to mention the 2 axeses in a Tuple
#For 3D ArrayAxis=0, RowAxis=1, colAxis=2
#If you want to interchange any two axes of 3D array or 4D array or more you will use swapaxes() function
#As there is only 2 axeses you can swap, you don't need to put extra () inside
swapaxes(Array3D,2,1).shape #2 Arrays, 5 rows, 2 cols, row & col have been shuffled
                            #Only Rows & Columns got shuffled here

(2, 5, 2)

In [516]:
#For swap you dont need to mention the 2 axeses in a Tuple
#For 3D ArrayAxis=0, RowAxis=1, colAxis=2
#If you want to interchange any two axes of 3D array or 4D array or more you will use swapaxes() function
#As there is only 2 axeses you can swap, you don't need to put extra () inside
swapaxes(Array3D,1,2).shape #2 Arrays, 5 rows, 2 cols, row & col have been shuffled
                            #Here also we can see row & col have been shuffled, shape in same as b4

(2, 5, 2)

## Splitting & Joining Multiple Arrays

In [517]:
# You can't join arrays of different dimention While joining dimention of the arrays should be same
#1. concatenete()
#2. hstack()
#3. vstack()

In [518]:
help(concatenate)

Help on function concatenate in module numpy:

concatenate(...)
    scipy.concatenate is deprecated and will be removed in SciPy 2.0.0, use numpy.concatenate instead

In [519]:
#Creating 1D array from 1 list
ArrayX=array(["KESHAV",45+9j,True,39.69,39]) #Convert the list into array
print(ArrayX)

['KESHAV' '(45+9j)' 'True' '39.69' '39']

In [520]:
ArrayY=array(["ROOBAL",39+9j,False,30.69,32]) #Convert the list into array
print(ArrayY)

['ROOBAL' '(39+9j)' 'False' '30.69' '32']

In [522]:
#You need to mention Arrays in a Tuple by giving comma
from numpy import concatenate
ArrayXY=concatenate((ArrayX,ArrayY)) #One dimentional Arrays contain only 1 axis so no need to mention
ArrayXY

array(['KESHAV', '(45+9j)', 'True', '39.69', '39', 'ROOBAL', '(39+9j)',
       'False', '30.69', '32'], dtype='<U7')

In [523]:
#out= where to store the result of the concatenation
ArrayZ=array(["BHOOMI",29+9j,True,29.69,56,1,2,3,4,5])
ArrayZ

array(['BHOOMI', '(29+9j)', 'True', '29.69', '56', '1', '2', '3', '4',
       '5'], dtype='<U7')

In [524]:
concatenate((ArrayX,ArrayY),out=ArrayZ) #We can store the concatination Result into Another Array having similar shape

array(['KESHAV', '(45+9j)', 'True', '39.69', '39', 'ROOBAL', '(39+9j)',
       'False', '30.69', '32'], dtype='<U7')

In [525]:
print(ArrayZ) #Elements of ArrayZ got changed by concatenated ArrayX & ArrayY

['KESHAV' '(45+9j)' 'True' '39.69' '39' 'ROOBAL' '(39+9j)' 'False' '30.69'
 '32']

In [526]:
#Now we will join 2D Arrays
#Creating 2D array from 1 list
Array2DX=array([["KESHAV",45+9j,True,39.69,39]]) #Convert the list into array
print(Array2DX),ndim(Array2DX)

[['KESHAV' '(45+9j)' 'True' '39.69' '39']]

(None, 2)

In [527]:
#For 2D rowAxis=0, colAxis=1
#Creating 2D array from 2 lists
#No of elements/length of each list should be same
Array2DY=array([["KESHAV",45+9j,True,39.69,39],[10.10,'Prashant',10+10j,False,10]]) #Transforming nested list of 2 lists into Array
print(Array2DY)

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

In [528]:
Concat=concatenate((Array2DX,Array2DY),axis=0) #Row wise concatenation
print(Concat)                                  #Array2DX will come to the top place of Rows if place b4 comma (Array2DX,Array2DY)

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

In [529]:
#Creating 2D array from 1 list, having 3 elements
New2D=array([["KESHAV",45+9j,True]])

In [530]:
Concat=concatenate((New2D.T,Concat),axis=1) #Col wise concatenation has been done, after Transposing New2D
print(Concat)                            #New2D.T will come to the first place of cols if place b4 comma (New2D.T,Concat)

[['KESHAV' 'KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['(45+9j)' 'KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['True' '10.1' 'Prashant' '(10+10j)' 'False' '10']]

In [531]:
help(vstack) #Row wise concatenation, axis=0

Help on function vstack in module numpy:

vstack(tup)
    scipy.vstack is deprecated and will be removed in SciPy 2.0.0, use numpy.vstack instead

In [533]:
#When we apply vstack() on 1D Array, it joins 1D Arrays Row wise(axis=0) and Creates a 2D array
from numpy import vstack
ArrayX=array(["KESHAV",45+9j,True,39.69,39])
ArrayY=array(["ROOBAL",39+9j,False,30.69,32])
Vstack=vstack((ArrayX,ArrayY))
print(Vstack) #2 1D arrays have been concatenated row wise(axis=0) into a 2D Array

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['ROOBAL' '(39+9j)' 'False' '30.69' '32']]

In [534]:
ndim(Vstack)

2

In [535]:
#Creating 2D array from 1 list
Array2DX=array([["KESHAV",45+9j,True,39.69,39]]) #Convert the list into array
print(Array2DX),ndim(Array2DX)

[['KESHAV' '(45+9j)' 'True' '39.69' '39']]

(None, 2)

In [536]:
#For 2D rowAxis=0, colAxis=1
#Creating 2D array from 2 lists
#No of elements/length of each list should be same
Array2DY=array([["RAMAN",47+9j,True,37.69,37],[10.10,'Prashant',10+10j,False,10]]) #Transforming nested list of 2 lists into Array
print(Array2DY)

[['RAMAN' '(47+9j)' 'True' '37.69' '37']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

In [537]:
Vstack1=vstack((Array2DX,Array2DY)) #Both the 2D Arrays have been concatenated Row wise(axis=0) by using vstack()
print(Vstack1)

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['RAMAN' '(47+9j)' 'True' '37.69' '37']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

In [538]:
help(hstack) #Col wise concatenation, axis=1

Help on function hstack in module numpy:

hstack(tup)
    scipy.hstack is deprecated and will be removed in SciPy 2.0.0, use numpy.hstack instead

In [541]:
#When we apply hstack() on 1D Array, it joins 1D Arrays col wise
from numpy import hstack
ArrayX=array(["KESHAV",45+9j,True,39.69,39])
ArrayY=array(["ROOBAL",39+9j,False,30.69,32])
Hstack1D=hstack((ArrayX,ArrayY))
print(Hstack1D) #Both the 1D arrays have been concatenated col wise(axis=1)

['KESHAV' '(45+9j)' 'True' '39.69' '39' 'ROOBAL' '(39+9j)' 'False' '30.69'
 '32']

In [542]:
#When we apply hstack() on 1D Array, it joins 1D Arrays col wise(axis=1)
ArrayX=array(["KESHAV",45+9j,True,39.69,39])
ArrayY=array(["ROOBAL",39+9j,False,30.69,32])
Hstack1TD=hstack((ArrayX.T,ArrayY.T))        #hstack of ArrayX.T,ArrayY.T
                                             #Transpose of 1D Arrays doesn't make any sense
print(Hstack1TD) #Both the 1D arrays have been concatenated col wise(axis=1)

['KESHAV' '(45+9j)' 'True' '39.69' '39' 'ROOBAL' '(39+9j)' 'False' '30.69'
 '32']

In [543]:
print(ArrayX.T,ArrayY.T)

['KESHAV' '(45+9j)' 'True' '39.69' '39'] ['ROOBAL' '(39+9j)' 'False' '30.69' '32']

In [544]:
#For 2D rowAxis=0, colAxis=1
#Creating 2D array from 2 lists
#No of elements/length of each list should be same
Array2DX=array([["KESHAV",45+9j,True,39.69,39],[10.10,'Prashant',10+10j,False,10]]) #Transforming nested list of 2 lists into Array
print(Array2DX)

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

In [545]:
#Creating 2D array from 1 list
Array2DY=array([["KESHAV",45+9j,True,39.69,39]]) #Convert the list into array
print(Array2DY)
ndim(Array2DY)

[['KESHAV' '(45+9j)' 'True' '39.69' '39']]

2

In [546]:
#For 2D rowAxis=0, colAxis=1
#Creating 2D array from 2 lists
#No of elements/length of each list should be same
New2D=array([["RAMAN",47+9j,True,37.69,37],[10.10,'Prashant',10+10j,False,10]]) #Transforming nested list of 2 lists into Array
print(New2D)

[['RAMAN' '(47+9j)' 'True' '37.69' '37']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

In [547]:
HstackT2D=hstack((Array2DX.T,New2D.T,Array2DY.T)) #All transpose of Arrays have been concatenated Col wise(axis=1) by using hstack()
print(HstackT2D)

[['KESHAV' '10.1' 'RAMAN' '10.1' 'KESHAV']
 ['(45+9j)' 'Prashant' '(47+9j)' 'Prashant' '(45+9j)']
 ['True' '(10+10j)' 'True' '(10+10j)' 'True']
 ['39.69' 'False' '37.69' 'False' '39.69']
 ['39' '10' '37' '10' '39']]

## Splitting of an Array into multiple seperate Arrays

In [548]:
# split() function
#1. Row wise split axis=0
#2. Col wise split axis=1
#3. split=no of split
#4. vsplit() is axis=0, Row wise split
#5. hsplit() is axis=1, Col wise split

In [436]:
help(split)

Help on function split in module numpy:

split(ary, indices_or_sections, axis=0)
    scipy.split is deprecated and will be removed in SciPy 2.0.0, use numpy.split instead

In [549]:
# hsplit : Split array into multiple sub-arrays horizontally (column-wise).
# vsplit : Split array into multiple sub-arrays vertically (row wise).
# dsplit : Split array into multiple sub-arrays along the 3rd axis (depth).

#For 2D rowAxis=0, colAxis=1
#Creating 2D array from 2 lists
#No of elements/length of each list should be same
New2D=array([["RAMAN",47+9j,True,37.69,37],[10.10,'Prashant',10+10j,False,10]]) #Transforming nested list of 2 lists into Array
print(New2D)

[['RAMAN' '(47+9j)' 'True' '37.69' '37']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

In [550]:
New1D=array([[67,80]])

In [551]:
Array2D=concatenate((New2D,New1D.T),axis=1) #Colwise concatination, axis=1
print(Array2D)                              #New1D will come at last Column, position after comma (New2D,New1D.T)

[['RAMAN' '(47+9j)' 'True' '37.69' '37' '67']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10' '80']]

In [552]:
Array2D=hstack((New2D,New1D.T)) #Colwise concatination(axis=1), #hstack of New2D,New1D.T
print(Array2D)                  #New1D will come at last Column, position after comma (New2D,New1D.T)

[['RAMAN' '(47+9j)' 'True' '37.69' '37' '67']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10' '80']]

In [553]:
New3D=Array2D.reshape(3,2,2) #Arrays 3, Rows 2, cols 2 by using reshape()
New3D

array([[['RAMAN', '(47+9j)'],
        ['True', '37.69']],

       [['37', '67'],
        ['10.1', 'Prashant']],

       [['(10+10j)', 'False'],
        ['10', '80']]], dtype='<U11')

In [554]:
New3D=resize(Array2D,(3,2,2)) #Arrays 3, Rows 2, cols 2 by using resize(array,())
New3D

array([[['RAMAN', '(47+9j)'],
        ['True', '37.69']],

       [['37', '67'],
        ['10.1', 'Prashant']],

       [['(10+10j)', 'False'],
        ['10', '80']]], dtype='<U11')

In [555]:
shape(New3D) #Arrays 3, Rows 2, cols 2
             #3*2*2=12 elements

(3, 2, 2)

In [557]:
from numpy import split
split(New3D,3) #axis=0, Row wise split, section=3 Sub Arrays, Row wise filling
               #3*2*2=12 elements, Each Sub Array will get 4 elements

[array([[['RAMAN', '(47+9j)'],
         ['True', '37.69']]], dtype='<U11'),
 array([[['37', '67'],
         ['10.1', 'Prashant']]], dtype='<U11'),
 array([[['(10+10j)', 'False'],
         ['10', '80']]], dtype='<U11')]

In [558]:
split(New3D,3,axis=0) #Don't need to mention axis=0 seperately
                      #axis=0, Row wise split, section=3 Sub Arrays, Row wise filling
                      #3*2*2=12 elements, Each Sub Array will get 4 elements

[array([[['RAMAN', '(47+9j)'],
         ['True', '37.69']]], dtype='<U11'),
 array([[['37', '67'],
         ['10.1', 'Prashant']]], dtype='<U11'),
 array([[['(10+10j)', 'False'],
         ['10', '80']]], dtype='<U11')]

In [560]:
from numpy import vsplit
vsplit(New3D,3) #Vertical split, axis=0, Row wise split, section=3 Sub Arrays, Row wise filling
                #3*2*2=12 elements, Each Sub Array will get 4 elements

[array([[['RAMAN', '(47+9j)'],
         ['True', '37.69']]], dtype='<U11'),
 array([[['37', '67'],
         ['10.1', 'Prashant']]], dtype='<U11'),
 array([[['(10+10j)', 'False'],
         ['10', '80']]], dtype='<U11')]

In [561]:
split(New3D,2,axis=1) #Need to mention axis=1 seperately
                      #axis=1, Array wise split, section=2 Sub Arrays, Row wise filling
                      #3*2*2=12 elements, Each Sub Array will get 6 elements

[array([[['RAMAN', '(47+9j)']],

        [['37', '67']],

        [['(10+10j)', 'False']]], dtype='<U11'),
 array([[['True', '37.69']],

        [['10.1', 'Prashant']],

        [['10', '80']]], dtype='<U11')]

In [563]:
from numpy import hsplit
hsplit(New3D,2) #Horizontal split, axis=1, Array wise split, section=2 Sub Arrays, Row wise filling
                #3*2*2=12 elements, Each Sub Array will get 6 elements

[array([[['RAMAN', '(47+9j)']],

        [['37', '67']],

        [['(10+10j)', 'False']]], dtype='<U11'),
 array([[['True', '37.69']],

        [['10.1', 'Prashant']],

        [['10', '80']]], dtype='<U11')]

In [564]:
split(New3D,2,axis=2) #Need to mention axis=2 seperately
                      #axis=2, Col wise split, section=2 Sub Arrays, Col wise filling
                      #3*2*2=12 elements, Each Sub Array will get 6 elements

[array([[['RAMAN'],
         ['True']],

        [['37'],
         ['10.1']],

        [['(10+10j)'],
         ['10']]], dtype='<U11'),
 array([[['(47+9j)'],
         ['37.69']],

        [['67'],
         ['Prashant']],

        [['False'],
         ['80']]], dtype='<U11')]

In [566]:
from numpy import dsplit
dsplit(New3D,2) #axis=2, Col wise split, section=2 Sub Arrays, Col wise filling
                #3*2*2=12 elements, Each Sub Array will get 6 elements

[array([[['RAMAN'],
         ['True']],

        [['37'],
         ['10.1']],

        [['(10+10j)'],
         ['10']]], dtype='<U11'),
 array([[['(47+9j)'],
         ['37.69']],

        [['67'],
         ['Prashant']],

        [['False'],
         ['80']]], dtype='<U11')]

In [567]:
help(hsplit),help(vsplit)

Help on function hsplit in module numpy:

hsplit(ary, indices_or_sections)
    Split an array into multiple sub-arrays horizontally (column-wise).

    Please refer to the `split` documentation.  `hsplit` is equivalent
    to `split` with ``axis=1``, the array is always split along the second
    axis regardless of the array dimension.

    See Also
    --------
    split : Split an array into multiple sub-arrays of equal size.

    Examples
    --------
    >>> x = np.arange(16.0).reshape(4, 4)
    >>> x
    array([[ 0.,   1.,   2.,   3.],
           [ 4.,   5.,   6.,   7.],
           [ 8.,   9.,  10.,  11.],
           [12.,  13.,  14.,  15.]])
    >>> np.hsplit(x, 2)
    [array([[  0.,   1.],
           [  4.,   5.],
           [  8.,   9.],
           [12.,  13.]]),
     array([[  2.,   3.],
           [  6.,   7.],
           [10.,  11.],
           [14.,  15.]])]
    >>> np.hsplit(x, np.array([3, 6]))
    [array([[ 0.,   1.,   2.],
           [ 4.,   5.,   6.],
           [ 8.,   9.,  10.],
           [12.,  13.,  14.]]),
     array([[ 3.],
           [ 7.],
           [11.],
           [15.]]),
     array([], shape=(4, 0), dtype=float64)]

    With a higher dimensional array the split is still along the second axis.

    >>> x = np.arange(8.0).reshape(2, 2, 2)
    >>> x
    array([[[0.,  1.],
            [2.,  3.]],
           [[4.,  5.],
            [6.,  7.]]])
    >>> np.hsplit(x, 2)
    [array([[[0.,  1.]],
           [[4.,  5.]]]),
     array([[[2.,  3.]],
           [[6.,  7.]]])]

Help on function vsplit in module numpy:

vsplit(ary, indices_or_sections)
    Split an array into multiple sub-arrays vertically (row-wise).

    Please refer to the ``split`` documentation.  ``vsplit`` is equivalent
    to ``split`` with `axis=0` (default), the array is always split along the
    first axis regardless of the array dimension.

    See Also
    --------
    split : Split an array into multiple sub-arrays of equal size.

    Examples
    --------
    >>> x = np.arange(16.0).reshape(4, 4)
    >>> x
    array([[ 0.,   1.,   2.,   3.],
           [ 4.,   5.,   6.,   7.],
           [ 8.,   9.,  10.,  11.],
           [12.,  13.,  14.,  15.]])
    >>> np.vsplit(x, 2)
    [array([[0., 1., 2., 3.],
           [4., 5., 6., 7.]]), array([[ 8.,  9., 10., 11.],
           [12., 13., 14., 15.]])]
    >>> np.vsplit(x, np.array([3, 6]))
    [array([[ 0.,  1.,  2.,  3.],
           [ 4.,  5.,  6.,  7.],
           [ 8.,  9., 10., 11.]]), array([[12., 13., 14., 15.]]), array([], shape=(0, 4), dtype=float64)]

    With a higher dimensional array the split is still along the first axis.

    >>> x = np.arange(8.0).reshape(2, 2, 2)
    >>> x
    array([[[0.,  1.],
            [2.,  3.]],
           [[4.,  5.],
            [6.,  7.]]])
    >>> np.vsplit(x, 2)
    [array([[[0., 1.],
            [2., 3.]]]), array([[[4., 5.],
            [6., 7.]]])]

(None, None)

## Insert or Delete elements from given Array

In [568]:
help(insert)

Help on function insert in module numpy:

insert(arr, obj, values, axis=None)
    scipy.insert is deprecated and will be removed in SciPy 2.0.0, use numpy.insert instead

In [569]:
#Syntax is insert(arr, obj, values, axis=None)
#1. arr is array name
#2. obj is desired index place
#3. values is mention the datas
#4. axis=None is mentioning 0,1,2

In [570]:
#Creating 1D Array
Array1D=array(["KESHAV",45+9j,True,39.69,39])

In [573]:
from numpy import insert
Insert=insert(Array1D,2,"ANWESH",0) #"ANWESH" has been inserted at the place of index 2(True)
print(Insert)                       # element True got shifted to 3rd index position/location
                                    # element True got the new 3rd index location/position
                                    #As there is mixed type of data elements in the Array1D So "ANWESH" remained "string"

['KESHAV' '(45+9j)' 'ANWESH' 'True' '39.69' '39']

In [574]:
InSert=insert(Array1D,2,"ANWESH") # Don't need to mention 0 for 1D Array
print(InSert)                     #"ANWESH" has been inserted at the place of index 2(True)
                                  # element True got shifted to 3rd index position/location
                                  # element True got the new 3rd index location/position
                                  #As there is mixed type of data elements in the Array1D So "ANWESH" remained "string"

['KESHAV' '(45+9j)' 'ANWESH' 'True' '39.69' '39']

In [575]:
Innsert=insert(Insert,2,33-7j,0) # 33-7j has been inserted at the place of index 2("ANWESH")
print(Innsert)                   # element "ANWESH" got shifted to 3rd index position/location
                                 # element "ANWESH" got the new 3rd index location/position
                                 #As there is mixed type of data elements in the Array1D So "ANWESH" remained "string"

['KESHAV' '(45+9j)' '(33-7j)' 'ANWESH' 'True' '39.69' '39']

In [576]:
ArrayInt=array([1,2,3,4,5]) #1D Array made of ints
ArrayInt

array([1, 2, 3, 4, 5])

In [577]:
insert(ArrayInt,3,"ANWESH") #Error because all other elements are integers so string "ANWESH" not going

ValueError: invalid literal for int() with base 10: 'ANWESH'

In [578]:
Intinsert=insert(ArrayInt,3,44.44) # 44.44 has been inserted at the place of index 3(4)
                                   # element 4 got shifted to 4th index position/location
                                   # element 4 got the new 4th index location/position
                                   # Along with all other integer elements, 44.44 will be taken as int 44
print(Intinsert)                   # data will be placed at 3rd index location in the Array

[ 1  2  3 44  4  5]

In [579]:
Complex=array([1,2,3,4,5],complex) #1D Array of Complex Format
print(Complex)

[1.+0.j 2.+0.j 3.+0.j 4.+0.j 5.+0.j]

In [580]:
CompInsert=insert(Complex,3,44) # 44 has been inserted at the place of index 3(4.+0.j)
                                # element 4.+0.j got shifted to 4th index position/location
                                # element 4.+0.j got the new 4th index location/position
                                # 44 will be taken as complex along with all other complex elements
print(CompInsert)               # data will be placed at 3rd index location in the Array

[ 1.+0.j  2.+0.j  3.+0.j 44.+0.j  4.+0.j  5.+0.j]

In [581]:
#Insert a value in multiple indexes at a time
Array1D=array((1,2,3,4,5))
Multinsert=insert(Array1D,(0,4),10) #0th index & 4th index has been taken by 10
print(Multinsert)

[10  1  2  3  4 10  5]

In [582]:
#Insert multiple values in multiple indexes at a time
Array1D=array((1,2,3,4,5))
Multi=insert(Array1D,(0,5),(10,15)) #0th index has taken by 10 & after 5th index has taken by 15 value   
print(Multi)

[10  1  2  3  4  5 15]

In [583]:
Array2D=array([[33,37],[76,67]])
print(Array2D),ndim(Array2D),shape(Array2D)

[[33 37]
 [76 67]]

(None, 2, (2, 2))

In [584]:
Rowinsert=insert(Array2D,1,(23,32),0) #Here axis=0, 1st index Row wise insert values 23 & 32
print(Rowinsert)                      #Inserting Tuple(23,32) in 1st row index

[[33 37]
 [23 32]
 [76 67]]

In [585]:
Rowinsert=insert(Array2D,1,[32,23],0) #Here axis=0, 1st index Row wise insert values 32 & 23
print(Rowinsert)                      #Inserting Tuple(23,32) in 1st row index

[[33 37]
 [32 23]
 [76 67]]

In [586]:
Colinsert=insert(Rowinsert,2,(38,50,90),1) #Here axis=1, 2nd index Col wise insert values 38,50 & 90
print(Colinsert)                           #Inserting Tuple(38,50,90) in 2nd col index

[[33 37 38]
 [32 23 50]
 [76 67 90]]

In [587]:
Colinsert=insert(Rowinsert,2,[83,52,92],1) #Here axis=1, 2nd index Col wise insert values 83,52 & 92
print(Colinsert)                           #Inserting Tuple(38,50,90) in 2nd col index

[[33 37 83]
 [32 23 52]
 [76 67 92]]

In [588]:
Colinsert=insert(Array2D,2,(38,50),1) #Here axis=1, 2nd index Col wise insert values 38 & 50
print(Colinsert)                      #Inserting Tuple(38,50) in 2nd col index

[[33 37 38]
 [76 67 50]]

In [589]:
help(append)

Help on function append in module numpy:

append(arr, values, axis=None)
    scipy.append is deprecated and will be removed in SciPy 2.0.0, use numpy.append instead

In [590]:
# append() function always add elements at the end of the 1D array
# If 2D Array and axis=0 then adds one extra array row at the last
# If 2D Array and axis=1 then adds one extra array col at the last
# If 3D Array and axis=0 then adds extra Array,if axis=1 then add extra Row,if axis=2 then adds extra col
# If axis=None then it flattens all Array dimention to 1D and then adds elements

In [591]:
Array2D=array([[33,37],[76,67]])
print(Array2D)
ndim(Array2D)

[[33 37]
 [76 67]]

2

In [597]:
from numpy import append
Append=append(Array2D,(12,21)) #It will flatten the 2D Array and make it 1D
ndim(Append)                   #Array2D got flattened and 12,21 got added to the end
print(Append)

[33 37 76 67 12 21]

In [598]:
Append2D=append(Array2D,[(12,21)],axis=0) #Insert 2D tuple Row wise, insert the tuple at the last row
print(Append2D)

[[33 37]
 [76 67]
 [12 21]]

In [599]:
Append2D=append(Array2D,[[12,21]],axis=0) #Insert 2D List Array Row wise, insert the tuple at the last row
print(Append2D)

[[33 37]
 [76 67]
 [12 21]]

In [600]:
Array2D=array([[33,37],[76,67]])
print(Array2D)
ndim(Array2D)

[[33 37]
 [76 67]]

2

In [601]:
Array2D=array(((33,37),(76,67)))
print(Array2D)
ndim(Array2D)

[[33 37]
 [76 67]]

2

In [602]:
Append2D=append(Array2D,[[99],[100]],axis=1) #Insert 2D List col Array col wise
print(Append2D)

[[ 33  37  99]
 [ 76  67 100]]

In [603]:
Append2D=append(Array2D,[[69,109]],axis=0) #Insert 2D List Array Row wise
print(Append2D)

[[ 33  37]
 [ 76  67]
 [ 69 109]]

In [604]:
help(delete)

Help on function delete in module numpy:

delete(arr, obj, axis=None)
    scipy.delete is deprecated and will be removed in SciPy 2.0.0, use numpy.delete instead

In [605]:
# delete() function always delete elements as per mentioned indexes
# If 2D Array and axis=0 then deletes Row wise
# If 2D Array and axis=1 then deletes col wise
# If 3D Array and axis=0 then deletes Array,if axis=1 then deletes Row wise,if axis=2 then deletes col wise
# If axis=None then it flattens all Array dimention to 1D and then deletes the mentioned indexes

In [606]:
Array1D=array((1,2,3,4,5)) #Array of list #Convert the tuple into Array
print(Array1D)

[1 2 3 4 5]

In [607]:
Array1D=array([1,2,3,4,5]) #Array of list #Convert the tuple into Array
print(Array1D)

[1 2 3 4 5]

In [610]:
from numpy import delete
delete(Array1D,3) #Delete 3rd index element

array([1, 2, 3, 5])

In [611]:
delete(Array1D,(2,4)) #Delete 2nd & 4th index element

array([1, 2, 4])

In [612]:
Array2D=array([[33,37],[76,67]])
print(Array2D)
ndim(Array2D)

[[33 37]
 [76 67]]

2

In [613]:
delete(Array2D,1,axis=0) #Delete entire 1st Row index
                         #Row 76,67 got deleted

array([[33, 37]])

In [614]:
delete(Array2D,1,axis=1) #Delete the entire 1st index col
                         #Col 37,67 got deleted

array([[33],
       [76]])

In [615]:
delete(Array2D,1,axis=None) #As axis=None, 1st index element 37 got deleted
                            #Array2D has been flatten to 1D

array([33, 76, 67])

In [616]:
delete(Array2D,3,axis=None) #As axis=None, 3rd index element 67 got deleted
                            #Array2D has been flatten to 1D

array([33, 37, 76])

## Matrix in Numpy (2D Arrays are Called Matrix)

In [617]:
#1. Matrix is nothing but the Rectangular arrangement of data elements.
#2. It is a rectangualar Array of Data containing Rows and cols
#3. In python we can create this kind of Arrangements by using Nested List/Tuple, Numpy Arrays & Matrix
#4. Arithmatic operations With Matrix (Array addition & Matrix addition are Same, Array Multiplication & Matrix Multiplication are different)
#5. Transpose of A Matrix
#6. We can perform Matrix Multiplication between arrays by using dot() function

In [618]:
Array3D=array([[[11,24],[34,89]],[[15,90],[80,100]]])
print(Array3D)
ndim(Array3D),shape(Array3D)

[[[ 11  24]
  [ 34  89]]

 [[ 15  90]
  [ 80 100]]]

(3, (2, 2, 2))

In [619]:
Array2D=array([[33,29],[78,89]])
print(Array2D)
ndim(Array2D),shape(Array2D)

[[33 29]
 [78 89]]

(2, (2, 2))

In [620]:
New2D=array([[5,10]])
print(New2D)
ndim(New2D),shape(New2D)

[[ 5 10]]

(2, (1, 2))

In [621]:
#Performing Matrix Addition/Array Addition
Array2D+New2D #New2D has been added to all the rows of Array2D

array([[38, 39],
       [83, 99]])

In [622]:
#Performing Matrix Addition/Array Addition
Array3D+Array2D+New2D

array([[[ 49,  63],
        [117, 188]],

       [[ 53, 129],
        [163, 199]]])

In [623]:
#Performing Matrix Multiplication between arrays by using dot() function
#First row will go through all the cols and adds multiplied value for each col
#Second row will go through all the cols and adds multiplied value for each col
#Third row will go through all the cols and adds multiplied value for each col

In [625]:
#Performing Matrix Multiplication between 2 Arrays by using dot() function
from numpy import dot
dot(Array3D,Array2D) #Shape should be exactly same, 3D*2D

array([[[ 2235,  2455],
        [ 8064,  8907]],

       [[ 7515,  8445],
        [10440, 11220]]])

In [626]:
#Performing Matrix Multiplication between 2 Arrays by using dot() function
dot(Array2D,Array3D) #Shape should be exactly same, 2D*3D

array([[[ 1349,  3373],
        [ 2815,  5870]],

       [[ 3884,  9793],
        [ 8290, 15920]]])

In [627]:
#Performing Matrix Multiplication between 2 Arrays by using dot() function
dot(New2D,Array2D) #Shape should be exactly same

array([[ 945, 1035]])

In [632]:
#Performing Matrix Multiplication between 2 Arrays by using dot() function
dot(Array2D,New2D) #Shape should be exactly same

ValueError: shapes (2,2) and (1,2) not aligned: 2 (dim 1) != 1 (dim 0)

In [633]:
#Performing Matrix Multiplication between 2 Arrays by using dot() function
dot(Array1D,New2D) #Shape should be exactly same

ValueError: shapes (5,) and (1,2) not aligned: 5 (dim 0) != 1 (dim 0)

In [634]:
#Performing Matrix Multiplication between 2 Arrays by using dot() function
dot(New2D,Array1D)

ValueError: shapes (1,2) and (5,) not aligned: 2 (dim 1) != 5 (dim 0)

In [635]:
ArraY3D=array([[[11,24],[34,89]],[[15,90],[80,100]]])
print(ArraY3D),ndim(ArraY3D)

[[[ 11  24]
  [ 34  89]]

 [[ 15  90]
  [ 80 100]]]

(None, 3)

In [636]:
#Performing Matrix Multiplication between 2 Arrays by using dot() function
dot(Array3D,ArraY3D) #Here the shape is same so dot() will get performed

array([[[[  937,  2400],
         [ 2085,  3390]],

        [[ 3400,  8737],
         [ 7630, 11960]]],


       [[[ 3225,  8370],
         [ 7425, 10350]],

        [[ 4280, 10820],
         [ 9200, 17200]]]])

### Matrix Class in Numpy

In [652]:
# How to create Matrix without using predefined functions
#1. Matrix objects are always 2D Array
#2. Matrix can be created using String notation, in Array you can't do the same
#3. We can use * symbol in Matrix multiplication
#4. To perform Matrix multiplication between 2 Arrays we use dot() function

In [653]:
# Creating 2D Matrix from 4 int lists
Matrix1st=matrix([[11,24],[34,89],[15,90],[80,100]])
print(Matrix1st)
ndim(Matrix1st),shape(Matrix1st)

[[ 11  24]
 [ 34  89]
 [ 15  90]
 [ 80 100]]

(2, (4, 2))

In [654]:
# Creating 2D Matrix from 2 int lists
Matrix2nd=matrix([[33,29],[78,89]])
print(Matrix2nd)
ndim(Matrix2nd),shape(Matrix2nd)

[[33 29]
 [78 89]]

(2, (2, 2))

In [655]:
# Creating 2D Matrix from 1 int lists
Matrix3rd=matrix([[5,10]])
print(Matrix3rd)
ndim(Matrix3rd),shape(Matrix3rd)

[[ 5 10]]

(2, (1, 2))

In [656]:
#Performing Matrix Addition
Matrix1st+Matrix3rd #Row of Matrix3rd has been added through all rows of Matrix1st

matrix([[ 16,  34],
        [ 39,  99],
        [ 20, 100],
        [ 85, 110]])

In [657]:
#Performing Matrix Addition
Matrix3rd+Matrix1st #Row of Matrix1st has been added through all rows of Matrix3rd

matrix([[ 16,  34],
        [ 39,  99],
        [ 20, 100],
        [ 85, 110]])

In [658]:
#Performing Matrix Addition
Matrix2nd+Matrix3rd #Row of Matrix3rd has been added through all rows of Matrix2nd

matrix([[38, 39],
        [83, 99]])

In [659]:
#Performing Matrix Addition
Matrix3rd+Matrix2nd #Row of Matrix2nd has been added through all rows of Matrix3rd

matrix([[38, 39],
        [83, 99]])

In [660]:
#Performing Matrix Multiplication
#First row of Matrix1st will go through all the cols of Matrix2nd and adds multiplied values for each col
#Second row of Matrix1st will go through all the cols of Matrix2nd and adds multiplied values for each col
#Third row of Matrix1st will go through all the cols of Matrix2nd and adds multiplied values for each col
#Multiplication will go on like this
Matrix1st*Matrix2nd

matrix([[ 2235,  2455],
        [ 8064,  8907],
        [ 7515,  8445],
        [10440, 11220]])

In [661]:
#Performing Matrix Multiplication
#First row of Matrix1st will go through all the cols of Matrix2nd and adds multiplied values for each col
#Second row of Matrix1st will go through all the cols of Matrix2nd and adds multiplied values for each col
#Third row of Matrix1st will go through all the cols of Matrix2nd and adds multiplied values for each col
#Multiplication will go on like this
dot(Matrix1st,Matrix2nd)

matrix([[ 2235,  2455],
        [ 8064,  8907],
        [ 7515,  8445],
        [10440, 11220]])

In [662]:
#Performing Matrix Multiplication
Matrix2nd*Matrix1st #Shape should be exactly same

ValueError: shapes (2,2) and (4,2) not aligned: 2 (dim 1) != 4 (dim 0)

In [663]:
dot(Matrix2nd,Matrix1st)

ValueError: shapes (2,2) and (4,2) not aligned: 2 (dim 1) != 4 (dim 0)

In [664]:
MultiMat=Matrix1st*Matrix2nd

In [665]:
print(MultiMat) #4 Rows, 2 cols

[[ 2235  2455]
 [ 8064  8907]
 [ 7515  8445]
 [10440 11220]]

In [666]:
Transpose=transpose(MultiMat)
print(Transpose) #2 Rows & 4 cols

[[ 2235  8064  7515 10440]
 [ 2455  8907  8445 11220]]

### Inverse of A Matrix & Linear Algebra

In [667]:
# help(linalg)
# using linalg we will do
#1. Invert of Matrix (for square matrix only)
#2. Power of Matrix
#3. Linear equation
#4. Determinants

In [668]:
# Create a 4by4 2D square Matrix by using 4 int lists
SquareMat=matrix([[11,24,56,89],[34,89,99,54],[15,90,76,72],[80,100,63,36]]) #4by4 2D square Matrix
print(SquareMat)
ndim(SquareMat),shape(SquareMat)

[[ 11  24  56  89]
 [ 34  89  99  54]
 [ 15  90  76  72]
 [ 80 100  63  36]]

(2, (4, 4))

In [669]:
Inverse=linalg.inv(SquareMat) #Inverse of the 4by4 squere matrix
print(Inverse)

[[ 0.00927926 -0.0004937  -0.01855657  0.01491328]
 [-0.01296349 -0.01341465  0.02465484  0.00286092]
 [ 0.0016098   0.03094397 -0.0204266  -0.00954255]
 [ 0.01257194 -0.01579191  0.0084977   0.0033896 ]]

In [670]:
Power=linalg.matrix_power(SquareMat,2) #Matrix way Muliply, Only Works with Square Matrix
print(Power)                           #SquareMat**2

[[ 8897 16340 12855  9511]
 [ 9205 23047 21641 16904]
 [10125 22410 20062 14259]
 [ 8105 20090 21436 18352]]

In [671]:
SquareMat**2

matrix([[ 8897, 16340, 12855,  9511],
        [ 9205, 23047, 21641, 16904],
        [10125, 22410, 20062, 14259],
        [ 8105, 20090, 21436, 18352]])

In [672]:
Dot=dot(SquareMat,SquareMat) #Matrix way Multiply
print(Dot)

[[ 8897 16340 12855  9511]
 [ 9205 23047 21641 16904]
 [10125 22410 20062 14259]
 [ 8105 20090 21436 18352]]

In [673]:
MultiSquare=SquareMat*SquareMat #Direct Multiply * because of Matrix
print(MultiSquare)

[[ 8897 16340 12855  9511]
 [ 9205 23047 21641 16904]
 [10125 22410 20062 14259]
 [ 8105 20090 21436 18352]]

### Linear Algebra

In [674]:
help(linalg.solve)

Help on function solve in module numpy.linalg:

solve(a, b)
    Solve a linear matrix equation, or system of linear scalar equations.

    Computes the "exact" solution, `x`, of the well-determined, i.e., full
    rank, linear matrix equation `ax = b`.

    Parameters
    ----------
    a : (..., M, M) array_like
        Coefficient matrix.
    b : {(..., M,), (..., M, K)}, array_like
        Ordinate or "dependent variable" values.

    Returns
    -------
    x : {(..., M,), (..., M, K)} ndarray
        Solution to the system a x = b.  Returned shape is identical to `b`.

    Raises
    ------
    LinAlgError
        If `a` is singular or not square.

    See Also
    --------
    scipy.linalg.solve : Similar function in SciPy.

    Notes
    -----

    .. versionadded:: 1.8.0

    Broadcasting rules apply, see the `numpy.linalg` documentation for
    details.

    The solutions are computed using LAPACK routine ``_gesv``.

    `a` must be square and of full-rank, i.e., all rows (or, equivalently,
    columns) must be linearly independent; if either is not true, use
    `lstsq` for the least-squares best "solution" of the
    system/equation.

    References
    ----------
    .. [1] G. Strang, *Linear Algebra and Its Applications*, 2nd Ed., Orlando,
           FL, Academic Press, Inc., 1980, pg. 22.

    Examples
    --------
    Solve the system of equations ``3 * x0 + x1 = 9`` and ``x0 + 2 * x1 = 8``:

    >>> a = np.array([[3,1], [1,2]])
    >>> b = np.array([9,8])
    >>> x = np.linalg.solve(a, b)
    >>> x
    array([2.,  3.])

    Check that the solution is correct:

    >>> np.allclose(np.dot(a, x), b)
    True

In [675]:
# linalg.solve(a,b) here a is the coefficients of independent variables and b is the constant values
# This function will solve the linear matrix equation or the system of linear scalar equation
# We will take the equation in matrix form and will find out the unknown variables

In [676]:
#Linear Equations
# 3X+Y=9
# X+2Y=8
Acoeffs=array([[3,1],[1,2]]) #2D
Bconstants=array([9,8]) #1D
linalg.solve(Acoeffs,Bconstants) # X=2 & Y=3

array([2., 3.])

In [677]:
# 6X+2Y-5Z=13
# 3X+3Y-2Z=13
# 7X+5Y-3Z=26
Acoeffs=array([[6,2,-5],[3,3,-2],[7,5,-3]]) #2D
Bconstants=array([13,13,26]) #1D
linalg.solve(Acoeffs,Bconstants) # X=2, Y=3 & Z=1

array([2., 3., 1.])

### Determinant of a Matrix

In [678]:
# All kind of 2D Arrays are called Matrix
# We can create Matrix by using array() & matrix() function

In [679]:
# Create a 4by4 2D square Matrix by using 4 int lists
SquareMat=matrix([[11,24,56,89],[34,89,99,54],[15,90,76,72],[80,100,63,36]]) #4by4 square Matrix

In [680]:
linalg.det(SquareMat)

13753244.999999978

In [681]:
int(linalg.det(SquareMat)) #Make the answer integer

13753244

In [682]:
round(linalg.det(SquareMat)) #Make the answer Round

13753245

## Universal Array Functions
Numpy comes with many universal array functions, which are essentially just mathematical operations you can use to perform the operation across the array. Let's show some common ones:

In [683]:
# Create a 4by4 2D square Matrix by using 4 int lists
SquareMat=matrix([[11,24,56,89],[34,89,99,54],[15,90,76,72],[80,100,63,36]]) #4by4 square Matrix
SquareMat

matrix([[ 11,  24,  56,  89],
        [ 34,  89,  99,  54],
        [ 15,  90,  76,  72],
        [ 80, 100,  63,  36]])

In [686]:
#Taking Square Roots of SquareMat
from numpy.lib.scimath import sqrt
sqrt(SquareMat)

array([[ 3.31662479,  4.89897949,  7.48331477,  9.43398113],
       [ 5.83095189,  9.43398113,  9.94987437,  7.34846923],
       [ 3.87298335,  9.48683298,  8.71779789,  8.48528137],
       [ 8.94427191, 10.        ,  7.93725393,  6.        ]])

In [688]:
#Calcualting exponential (e^) of SquareMat
from numpy import exp
exp(SquareMat)

matrix([[5.98741417e+04, 2.64891221e+10, 2.09165950e+24, 4.48961282e+38],
        [5.83461743e+14, 4.48961282e+38, 9.88903032e+42, 2.83075330e+23],
        [3.26901737e+06, 1.22040329e+39, 1.01480039e+33, 1.85867175e+31],
        [5.54062238e+34, 2.68811714e+43, 2.29378316e+27, 4.31123155e+15]])

In [689]:
# Shows the element in SquareMat which has maximum value
SquareMat.max()

100

In [691]:
#Shows sin degree value of each element
from numpy import sin
sin(SquareMat)

matrix([[-0.99999021, -0.90557836, -0.521551  ,  0.86006941],
        [ 0.52908269,  0.86006941, -0.99920683, -0.55878905],
        [ 0.65028784,  0.89399666,  0.56610764,  0.25382336],
        [-0.99388865, -0.50636564,  0.1673557 , -0.99177885]])

In [693]:
#Shows log value of each element
from numpy.lib.scimath import log
log(SquareMat)

array([[2.39789527, 3.17805383, 4.02535169, 4.48863637],
       [3.52636052, 4.48863637, 4.59511985, 3.98898405],
       [2.7080502 , 4.49980967, 4.33073334, 4.27666612],
       [4.38202663, 4.60517019, 4.14313473, 3.58351894]])