<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Numpy-&amp;-Scipy-in-Python" data-toc-modified-id="Numpy-&amp;-Scipy-in-Python-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Numpy &amp; Scipy in Python</a></span></li><li><span><a href="#Using-NumPy" data-toc-modified-id="Using-NumPy-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Using NumPy</a></span></li><li><span><a href="#Agendas-in-Numpy" data-toc-modified-id="Agendas-in-Numpy-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Agendas in Numpy</a></span><ul class="toc-item"><li><span><a href="#Arrays" data-toc-modified-id="Arrays-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Arrays</a></span></li><li><span><a href="#Similarites-between-List-&amp;-Array" data-toc-modified-id="Similarites-between-List-&amp;-Array-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Similarites between List &amp; Array</a></span></li><li><span><a href="#Differences-between-List-&amp;-Array" data-toc-modified-id="Differences-between-List-&amp;-Array-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Differences between List &amp; Array</a></span></li><li><span><a href="#You-can't-perform-Airthmatic-operations-between-Lists,-Tuple,-Sets-&amp;-Dics" data-toc-modified-id="You-can't-perform-Airthmatic-operations-between-Lists,-Tuple,-Sets-&amp;-Dics-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>You can't perform Airthmatic operations between Lists, Tuple, Sets &amp; Dics</a></span></li><li><span><a href="#You-can-perform-Airthmatic-operations-between-2-numpy-array" data-toc-modified-id="You-can-perform-Airthmatic-operations-between-2-numpy-array-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>You can perform Airthmatic operations between 2 numpy array</a></span></li><li><span><a href="#Advantages-of-Array-compared-to-List" data-toc-modified-id="Advantages-of-Array-compared-to-List-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Advantages of Array compared to List</a></span></li><li><span><a href="#There-are-different-functions-to-create-numpy-array" data-toc-modified-id="There-are-different-functions-to-create-numpy-array-3.7"><span class="toc-item-num">3.7&nbsp;&nbsp;</span>There are different functions to create numpy array</a></span></li><li><span><a href="#array()-function,-Array-=-array([a,-b,-c,-d,-e])" data-toc-modified-id="array()-function,-Array-=-array([a,-b,-c,-d,-e])-3.8"><span class="toc-item-num">3.8&nbsp;&nbsp;</span>array() function, Array = array([a, b, c, d, e])</a></span></li><li><span><a href="#Convert-List,-Set,-Tuple-&amp;-Dict-into-1D-Array" data-toc-modified-id="Convert-List,-Set,-Tuple-&amp;-Dict-into-1D-Array-3.9"><span class="toc-item-num">3.9&nbsp;&nbsp;</span>Convert List, Set, Tuple &amp; Dict into 1D Array</a></span></li><li><span><a href="#Convert-List,-Set,-Tuple-&amp;-Dict-into-2D-Array-Row" data-toc-modified-id="Convert-List,-Set,-Tuple-&amp;-Dict-into-2D-Array-Row-3.10"><span class="toc-item-num">3.10&nbsp;&nbsp;</span>Convert List, Set, Tuple &amp; Dict into 2D Array Row</a></span></li><li><span><a href="#Creating-MultiDimentional-Arrays-from-List,-Tuple,-Set,-Dict" data-toc-modified-id="Creating-MultiDimentional-Arrays-from-List,-Tuple,-Set,-Dict-3.11"><span class="toc-item-num">3.11&nbsp;&nbsp;</span>Creating MultiDimentional Arrays from List, Tuple, Set, Dict</a></span></li><li><span><a href="#array(object,-dtype=complex)" data-toc-modified-id="array(object,-dtype=complex)-3.12"><span class="toc-item-num">3.12&nbsp;&nbsp;</span>array(object, dtype=complex)</a></span></li><li><span><a href="#arange(start,-stop,-step)-function" data-toc-modified-id="arange(start,-stop,-step)-function-3.13"><span class="toc-item-num">3.13&nbsp;&nbsp;</span>arange(start, stop, step) function</a></span></li><li><span><a href="#array.reshape(num1,-num2)" data-toc-modified-id="array.reshape(num1,-num2)-3.14"><span class="toc-item-num">3.14&nbsp;&nbsp;</span>array.reshape(num1, num2)</a></span></li><li><span><a href="#zeros()-function" data-toc-modified-id="zeros()-function-3.15"><span class="toc-item-num">3.15&nbsp;&nbsp;</span>zeros() function</a></span></li><li><span><a href="#ones()-function" data-toc-modified-id="ones()-function-3.16"><span class="toc-item-num">3.16&nbsp;&nbsp;</span>ones() function</a></span></li><li><span><a href="#linspace()-function" data-toc-modified-id="linspace()-function-3.17"><span class="toc-item-num">3.17&nbsp;&nbsp;</span>linspace() function</a></span></li><li><span><a href="#eye()-function-is-identity-matrix" data-toc-modified-id="eye()-function-is-identity-matrix-3.18"><span class="toc-item-num">3.18&nbsp;&nbsp;</span>eye() function is identity matrix</a></span></li><li><span><a href="#identity()-function,-always-creates-2D-square-array" data-toc-modified-id="identity()-function,-always-creates-2D-square-array-3.19"><span class="toc-item-num">3.19&nbsp;&nbsp;</span>identity() function, always creates 2D square array</a></span></li><li><span><a href="#random()-function" data-toc-modified-id="random()-function-3.20"><span class="toc-item-num">3.20&nbsp;&nbsp;</span>random() function</a></span></li><li><span><a href="#Attributes-of-Array" data-toc-modified-id="Attributes-of-Array-3.21"><span class="toc-item-num">3.21&nbsp;&nbsp;</span>Attributes of Array</a></span></li><li><span><a href="#How-to-change-data-type-elements-of-an-Numpy-Array-by-using-astype()-function-extension,-Array.astype(datatype)" data-toc-modified-id="How-to-change-data-type-elements-of-an-Numpy-Array-by-using-astype()-function-extension,-Array.astype(datatype)-3.22"><span class="toc-item-num">3.22&nbsp;&nbsp;</span>How to change data type elements of an Numpy Array by using astype() function extension, Array.astype(datatype)</a></span></li><li><span><a href="#Indexing-operation-in-Numpy-Array" data-toc-modified-id="Indexing-operation-in-Numpy-Array-3.23"><span class="toc-item-num">3.23&nbsp;&nbsp;</span>Indexing operation in Numpy Array</a></span><ul class="toc-item"><li><span><a href="#Indexing-in-1D-Array-is-Array[-:-]-and-Array[-[0,-1,-2,-3,-4]-]" data-toc-modified-id="Indexing-in-1D-Array-is-Array[-:-]-and-Array[-[0,-1,-2,-3,-4]-]-3.23.1"><span class="toc-item-num">3.23.1&nbsp;&nbsp;</span>Indexing in 1D Array is Array[ : ] and Array[ [0, 1, 2, 3, 4] ]</a></span></li><li><span><a href="#Array[-:-]-means-all-elements" data-toc-modified-id="Array[-:-]-means-all-elements-3.23.2"><span class="toc-item-num">3.23.2&nbsp;&nbsp;</span>Array[ : ] means all elements</a></span></li><li><span><a href="#Indexingin-in-2D-array-is-Array2D[row-index][col-index]" data-toc-modified-id="Indexingin-in-2D-array-is-Array2D[row-index][col-index]-3.23.3"><span class="toc-item-num">3.23.3&nbsp;&nbsp;</span>Indexingin in 2D array is Array2D[row index][col index]</a></span></li><li><span><a href="#Array[-:-,-:-]-means-all-rows-&amp;-all-columns" data-toc-modified-id="Array[-:-,-:-]-means-all-rows-&amp;-all-columns-3.23.4"><span class="toc-item-num">3.23.4&nbsp;&nbsp;</span>Array[ : , : ] means all rows &amp; all columns</a></span></li><li><span><a href="#Indexing-in-3D-Array-is-Array3D[array-index][row-index][col-index]-and" data-toc-modified-id="Indexing-in-3D-Array-is-Array3D[array-index][row-index][col-index]-and-3.23.5"><span class="toc-item-num">3.23.5&nbsp;&nbsp;</span>Indexing in 3D Array is Array3D[array index][row index][col index] and</a></span></li><li><span><a href="#Array[-:-,-:-,-:-]-means-all-arrays,-all-rows-&amp;-all-columns" data-toc-modified-id="Array[-:-,-:-,-:-]-means-all-arrays,-all-rows-&amp;-all-columns-3.23.6"><span class="toc-item-num">3.23.6&nbsp;&nbsp;</span>Array[ : , : , : ] means all arrays, all rows &amp; all columns</a></span></li><li><span><a href="#Slicing-operation-in-Numpy-Array" data-toc-modified-id="Slicing-operation-in-Numpy-Array-3.23.7"><span class="toc-item-num">3.23.7&nbsp;&nbsp;</span>Slicing operation in Numpy Array</a></span></li><li><span><a href="#Slicing-1D-Array" data-toc-modified-id="Slicing-1D-Array-3.23.8"><span class="toc-item-num">3.23.8&nbsp;&nbsp;</span>Slicing 1D Array</a></span></li><li><span><a href="#Slicing-2D-Array" data-toc-modified-id="Slicing-2D-Array-3.23.9"><span class="toc-item-num">3.23.9&nbsp;&nbsp;</span>Slicing 2D Array</a></span></li></ul></li><li><span><a href="#Advanced-indexing-Techniques-in--Numpy-Array" data-toc-modified-id="Advanced-indexing-Techniques-in--Numpy-Array-3.24"><span class="toc-item-num">3.24&nbsp;&nbsp;</span>Advanced indexing Techniques in  Numpy Array</a></span><ul class="toc-item"><li><span><a href="#Integer-Indexing" data-toc-modified-id="Integer-Indexing-3.24.1"><span class="toc-item-num">3.24.1&nbsp;&nbsp;</span>Integer Indexing</a></span></li><li><span><a href="#Indexing-from-1D-Array" data-toc-modified-id="Indexing-from-1D-Array-3.24.2"><span class="toc-item-num">3.24.2&nbsp;&nbsp;</span>Indexing from 1D Array</a></span></li><li><span><a href="#Boolean-Indexing" data-toc-modified-id="Boolean-Indexing-3.24.3"><span class="toc-item-num">3.24.3&nbsp;&nbsp;</span>Boolean Indexing</a></span></li></ul></li><li><span><a href="#Airthmatic-Operations-in-Numpy-Array" data-toc-modified-id="Airthmatic-Operations-in-Numpy-Array-3.25"><span class="toc-item-num">3.25&nbsp;&nbsp;</span>Airthmatic Operations in Numpy Array</a></span><ul class="toc-item"><li><span><a href="#Using-Scalars" data-toc-modified-id="Using-Scalars-3.25.1"><span class="toc-item-num">3.25.1&nbsp;&nbsp;</span>Using Scalars</a></span></li><li><span><a href="#B/W-Arrays" data-toc-modified-id="B/W-Arrays-3.25.2"><span class="toc-item-num">3.25.2&nbsp;&nbsp;</span>B/W Arrays</a></span></li></ul></li><li><span><a href="#Brodcasting" data-toc-modified-id="Brodcasting-3.26"><span class="toc-item-num">3.26&nbsp;&nbsp;</span>Brodcasting</a></span></li><li><span><a href="#Array-Manupulation" data-toc-modified-id="Array-Manupulation-3.27"><span class="toc-item-num">3.27&nbsp;&nbsp;</span>Array Manupulation</a></span></li><li><span><a href="#Reshaping-Array" data-toc-modified-id="Reshaping-Array-3.28"><span class="toc-item-num">3.28&nbsp;&nbsp;</span>Reshaping Array</a></span></li><li><span><a href="#Array-Flattening-to-1D-by-using-flatten()-&amp;-ravel()" data-toc-modified-id="Array-Flattening-to-1D-by-using-flatten()-&amp;-ravel()-3.29"><span class="toc-item-num">3.29&nbsp;&nbsp;</span>Array Flattening to 1D by using flatten() &amp; ravel()</a></span></li><li><span><a href="#Dimension-Shuffling-by-using-Transpose-and-Swapaxes" data-toc-modified-id="Dimension-Shuffling-by-using-Transpose-and-Swapaxes-3.30"><span class="toc-item-num">3.30&nbsp;&nbsp;</span>Dimension Shuffling by using Transpose and Swapaxes</a></span><ul class="toc-item"><li><span><a href="#transpose(Array,-axes=none)-&amp;-ArrayAxis=0,-RowAxis=1,-colAxis=2" data-toc-modified-id="transpose(Array,-axes=none)-&amp;-ArrayAxis=0,-RowAxis=1,-colAxis=2-3.30.1"><span class="toc-item-num">3.30.1&nbsp;&nbsp;</span>transpose(Array, axes=none) &amp; ArrayAxis=0, RowAxis=1, colAxis=2</a></span></li><li><span><a href="#swapaxes()-means-row-to-column-and-column-to-row" data-toc-modified-id="swapaxes()-means-row-to-column-and-column-to-row-3.30.2"><span class="toc-item-num">3.30.2&nbsp;&nbsp;</span>swapaxes() means row to column and column to row</a></span></li></ul></li><li><span><a href="#Splitting-&amp;-Joining-Multiple-Arrays" data-toc-modified-id="Splitting-&amp;-Joining-Multiple-Arrays-3.31"><span class="toc-item-num">3.31&nbsp;&nbsp;</span>Splitting &amp; Joining Multiple Arrays</a></span></li><li><span><a href="#Splitting-of-an-Array-into-multiple-seperate-Arrays" data-toc-modified-id="Splitting-of-an-Array-into-multiple-seperate-Arrays-3.32"><span class="toc-item-num">3.32&nbsp;&nbsp;</span>Splitting of an Array into multiple seperate Arrays</a></span></li><li><span><a href="#Insert-or-Delete-single-or-multiple-elements-from-given-multi-dimentional-Array" data-toc-modified-id="Insert-or-Delete-single-or-multiple-elements-from-given-multi-dimentional-Array-3.33"><span class="toc-item-num">3.33&nbsp;&nbsp;</span>Insert or Delete single or multiple elements from given multi dimentional Array</a></span></li><li><span><a href="#Matrix-in-Numpy-(2D-Arrays-are-Called-Matrix)" data-toc-modified-id="Matrix-in-Numpy-(2D-Arrays-are-Called-Matrix)-3.34"><span class="toc-item-num">3.34&nbsp;&nbsp;</span>Matrix in Numpy (2D Arrays are Called Matrix)</a></span><ul class="toc-item"><li><span><a href="#Matrix-Class-in-Numpy" data-toc-modified-id="Matrix-Class-in-Numpy-3.34.1"><span class="toc-item-num">3.34.1&nbsp;&nbsp;</span>Matrix Class in Numpy</a></span></li><li><span><a href="#Inverse-of-A-Matrix-&amp;-Linear-Algebra" data-toc-modified-id="Inverse-of-A-Matrix-&amp;-Linear-Algebra-3.34.2"><span class="toc-item-num">3.34.2&nbsp;&nbsp;</span>Inverse of A Matrix &amp; Linear Algebra</a></span></li><li><span><a href="#Linear-Algebra" data-toc-modified-id="Linear-Algebra-3.34.3"><span class="toc-item-num">3.34.3&nbsp;&nbsp;</span>Linear Algebra</a></span></li><li><span><a href="#Determinant-of-a-Matrix" data-toc-modified-id="Determinant-of-a-Matrix-3.34.4"><span class="toc-item-num">3.34.4&nbsp;&nbsp;</span>Determinant of a Matrix</a></span></li></ul></li><li><span><a href="#Universal-Array-Functions" data-toc-modified-id="Universal-Array-Functions-3.35"><span class="toc-item-num">3.35&nbsp;&nbsp;</span>Universal Array Functions</a></span></li></ul></li><li><span><a href="#NumPy-Exercises" data-toc-modified-id="NumPy-Exercises-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>NumPy Exercises</a></span><ul class="toc-item"><li><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#1.-Import-NumPy-as-np" data-toc-modified-id="1.-Import-NumPy-as-np-4.0.0.1"><span class="toc-item-num">4.0.0.1&nbsp;&nbsp;</span>1. Import NumPy as np</a></span></li><li><span><a href="#2.-Create-an-array-of-10-zeros" data-toc-modified-id="2.-Create-an-array-of-10-zeros-4.0.0.2"><span class="toc-item-num">4.0.0.2&nbsp;&nbsp;</span>2. Create an array of 10 zeros</a></span></li></ul></li></ul></li></ul></li></ul></div>

# Numpy & Scipy in Python

# Using NumPy
Once you've installed NumPy you can import it as a library

# Agendas in Numpy
1. Arrays
2. Linear Algebra
3. Random Number Generation
4. Broadcasting

## Arrays
1. Arrays are the collection of Lists/Tuples in multidimentions, each dimention contains a List/Tuple
2. Array means arranging something in a particular way
3. Array is a collection of same type of data elements
4. An array could be 1D, 2D, 3D or more

## Similarites between List & Array
1. Both are used for storing data elements
2. Both are mutable, we can add,remove,insert,shuffle,sort,swap & replace single/multiple elements at a time
3. Both can be indexed and itrated through
4. slicing is possible for both the cases
5. In Arrays advanced indexing is possible

## Differences between List & Array
1. List contains different data types, Array contains similar data types
2. List=["KESHAV",45+9j,True,39.69,39], Array=array([1,2,3,4,5,6,7,8,9,10])
3. You cant perform Arithmatic operations between Lists, Tuples, Set or Range... between Arrays you can perform that

In [1]:
from numpy import array, dtype, ndim, shape, size, arange, zeros, ones, linspace, eye, identity, random

In [2]:
help(array)

Help on built-in function array in module numpy:

array(...)
    array(object, dtype=None, *, copy=True, order='K', subok=False, ndmin=0,
          like=None)

    Create an array.

    Parameters
    ----------
    object : array_like
        An array, any object exposing the array interface, an object whose
        __array__ method returns an array, or any (nested) sequence.
    dtype : data-type, optional
        The desired data-type for the array.  If not given, then the type will
        be determined as the minimum type required to hold the objects in the
        sequence.
    copy : bool, optional
        If true (default), then the object is copied.  Otherwise, a copy will
        only be made if __array__ returns a copy, if obj is a nested sequence,
        or if a copy is needed to satisfy any of the other requirements
        (`dtype`, `order`, etc.).
    order : {'K', 'A', 'C', 'F'}, optional
        Specify the memory layout of the array. If object is not an array, the
        newly created array will be in C order (row major) unless 'F' is
        specified, in which case it will be in Fortran order (column major).
        If object is an array the following holds.

        ===== ========= ===================================================
        order  no copy                     copy=True
        ===== ========= ===================================================
        'K'   unchanged F & C order preserved, otherwise most similar order
        'A'   unchanged F order if input is F and not C, otherwise C order
        'C'   C order   C order
        'F'   F order   F order
        ===== ========= ===================================================

        When ``copy=False`` and a copy is made for other reasons, the result is
        the same as if ``copy=True``, with some exceptions for 'A', see the
        Notes section. The default order is 'K'.
    subok : bool, optional
        If True, then sub-classes will be passed-through, otherwise
        the returned array will be forced to be a base-class array (default).
    ndmin : int, optional
        Specifies the minimum number of dimensions that the resulting
        array should have.  Ones will be pre-pended to the shape as
        needed to meet this requirement.
    like : array_like
        Reference object to allow the creation of arrays which are not
        NumPy arrays. If an array-like passed in as ``like`` supports
        the ``__array_function__`` protocol, the result will be defined
        by it. In this case, it ensures the creation of an array object
        compatible with that passed in via this argument.

        .. versionadded:: 1.20.0

    Returns
    -------
    out : ndarray
        An array object satisfying the specified requirements.

    See Also
    --------
    empty_like : Return an empty array with shape and type of input.
    ones_like : Return an array of ones with shape and type of input.
    zeros_like : Return an array of zeros with shape and type of input.
    full_like : Return a new array with shape of input filled with value.
    empty : Return a new uninitialized array.
    ones : Return a new array setting values to one.
    zeros : Return a new array setting values to zero.
    full : Return a new array of given shape filled with value.


    Notes
    -----
    When order is 'A' and `object` is an array in neither 'C' nor 'F' order,
    and a copy is forced by a change in dtype, then the order of the result is
    not necessarily 'C' as expected. This is likely a bug.

    Examples
    --------
    >>> np.array([1, 2, 3])
    array([1, 2, 3])

    Upcasting:

    >>> np.array([1, 2, 3.0])
    array([ 1.,  2.,  3.])

    More than one dimension:

    >>> np.array([[1, 2], [3, 4]])
    array([[1, 2],
           [3, 4]])

    Minimum dimensions 2:

    >>> np.array([1, 2, 3], ndmin=2)
    array([[1, 2, 3]])

    Type provided:

    >>> np.array([1, 2, 3], dtype=complex)
    array([ 1.+0.j,  2.+0.j,  3.+0.j])

    Data-type consisting of more than one element:

    >>> x = np.array([(1,2),(3,4)],dtype=[('a','<i4'),('b','<i4')])
    >>> x['a']
    array([1, 3])

    Creating an array from sub-classes:

    >>> np.array(np.mat('1 2; 3 4'))
    array([[1, 2],
           [3, 4]])

    >>> np.array(np.mat('1 2; 3 4'), subok=True)
    matrix([[1, 2],
            [3, 4]])

In [3]:
#1. Syntax is array(object, dtype=None, copy=True, order='K', subok=False, ndmin=0)
#2. object is type the datas
#3. dtype=None is mentioning the specific data type format
#4. copy=True is create the actual Array or just the copy of it
#5. order="k" is memory specific thing, not important
#6. subok=False
#7. ndim=0 is mentioning the Dimention of Array, 1D,2D or 3D

## You can't perform Airthmatic operations between Lists, Tuple, Sets & Dics

#You cant perform Multiplication between two/more lists
List1=["KESHAV",45+9j,True,39.69,39]
List2=[10.10,'Prashant',10+10j,False,10]
print(List1*List2)

In [4]:
List1=["KESHAV",45+9j,True,39.69,39]
List2=[10.10,'Prashant',10+10j,False,10]

for i in List2:
    List1.append(i)
List1

['KESHAV', (45+9j), True, 39.69, 39, 10.1, 'Prashant', (10+10j), False, 10]

In [5]:
List1=["KESHAV",45+9j,True,39.69,39]
List2=[10.10,'Prashant',10+10j,False,10]
print(List1 + List2) # This has become concatinated
List1.extend(List2) # this has become extended
print(List1)

['KESHAV', (45+9j), True, 39.69, 39, 10.1, 'Prashant', (10+10j), False, 10]
['KESHAV', (45+9j), True, 39.69, 39, 10.1, 'Prashant', (10+10j), False, 10]

#You cant perform Multiplication between Tuples
Tuple3=(1,2,3,4,5)
Tuple4=(6,7,8,9,10)
print(Tuple3*Tuple4)

In [6]:
Tuple3=(1,2,3,4,5)
Tuple4=(6,7,8,9,10)
print(Tuple3+Tuple4) # This has become concatinated

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

#You cant perform Multiplication between sets
Set1={1,2,3,4,5}
Set2={6,7,8,9,10}
print(Set1 * Set2)

# sets are immutable
Set1={1,2,3,4,5}
Set2={6,7,8,9,10}
print(Set1 + Set2)

#You cant perform Multiplication between dics
Dic1={1:34,
      2:22,
      3:78,
      4:44,
      5:50}

Dic2={6:72,
      7:96,
      8:108,
      9:99,
      10:100}

print(Dic1*Dic2)

Dic1={1:34,
      2:22,
      3:78,
      4:44,
      5:50}

Dic2={6:72,
      7:96,
      8:108,
      9:99,
      10:100}
print(Dic1+Dic2)

In [7]:
Dic1={1:34,
      2:22,
      3:78,
      4:44,
      5:50}

Dic2={6:72,
      7:96,
      8:108,
      9:99,
      10:100}
Dic1.update(Dic2)
print(Dic1)

{1: 34, 2: 22, 3: 78, 4: 44, 5: 50, 6: 72, 7: 96, 8: 108, 9: 99, 10: 100}

## You can perform Airthmatic operations between 2 numpy array

In [8]:
#You can perform Multiplication between two/more Arrays
#You can perform all possible Airthmatic operations between two/more Arrays (Condition Applied)
#array(object, dtype=None, copy=True, order='K', subok=False, ndmin=0)
#Multiplication output will also be an Array
Array1=array([1,2,3,4,5])       # Convert List3 into Array1
Array2=array([6,7,8,9,10])      # Convert List4 into Array2
print(type(Array1*Array2))

#You can perform Multiplication between two/more Arrays
#You can perform all possible Airthmatic operations between two/more Arrays (Condition Applied)
#array(object, dtype=None, copy=True, order='K', subok=False, ndmin=0)
#Multiplication output will also be an Array
Array1=array((1,2,3,4,5))       # Convert Tuple3 into Array1
Array2=array((6,7,8,9,10))      # Convert Tuple4 into Array2

print(Array1*Array2)
print(Array1-Array2)
print(Array1+Array2)
print(Array1/Array2)
print(Array1//Array2)
print(Array1%Array2)
print(Array1**Array2)

<class 'numpy.ndarray'>
[ 6 14 24 36 50]
[-5 -5 -5 -5 -5]
[ 7  9 11 13 15]
[0.16666667 0.28571429 0.375      0.44444444 0.5       ]
[0 0 0 0 0]
[1 2 3 4 5]
[      1     128    6561  262144 9765625]

## Advantages of Array compared to List
1. An array consumes less amount of memory than a List
2. Calculation with Arrays are fatser than List
3. Arrays are convenient to use when we want to perform mathematica & airthmatical operations
4. Advanced indexing is possible in Array

## There are different functions to create numpy array
1. array()
2. arange()
3. zeros()
4. ones()
5. linspace()
6. eye()
7. random()

## array() function, Array = array([a, b, c, d, e])

In [9]:
help(array)

Help on built-in function array in module numpy:

array(...)
    array(object, dtype=None, *, copy=True, order='K', subok=False, ndmin=0,
          like=None)

    Create an array.

    Parameters
    ----------
    object : array_like
        An array, any object exposing the array interface, an object whose
        __array__ method returns an array, or any (nested) sequence.
    dtype : data-type, optional
        The desired data-type for the array.  If not given, then the type will
        be determined as the minimum type required to hold the objects in the
        sequence.
    copy : bool, optional
        If true (default), then the object is copied.  Otherwise, a copy will
        only be made if __array__ returns a copy, if obj is a nested sequence,
        or if a copy is needed to satisfy any of the other requirements
        (`dtype`, `order`, etc.).
    order : {'K', 'A', 'C', 'F'}, optional
        Specify the memory layout of the array. If object is not an array, the
        newly created array will be in C order (row major) unless 'F' is
        specified, in which case it will be in Fortran order (column major).
        If object is an array the following holds.

        ===== ========= ===================================================
        order  no copy                     copy=True
        ===== ========= ===================================================
        'K'   unchanged F & C order preserved, otherwise most similar order
        'A'   unchanged F order if input is F and not C, otherwise C order
        'C'   C order   C order
        'F'   F order   F order
        ===== ========= ===================================================

        When ``copy=False`` and a copy is made for other reasons, the result is
        the same as if ``copy=True``, with some exceptions for 'A', see the
        Notes section. The default order is 'K'.
    subok : bool, optional
        If True, then sub-classes will be passed-through, otherwise
        the returned array will be forced to be a base-class array (default).
    ndmin : int, optional
        Specifies the minimum number of dimensions that the resulting
        array should have.  Ones will be pre-pended to the shape as
        needed to meet this requirement.
    like : array_like
        Reference object to allow the creation of arrays which are not
        NumPy arrays. If an array-like passed in as ``like`` supports
        the ``__array_function__`` protocol, the result will be defined
        by it. In this case, it ensures the creation of an array object
        compatible with that passed in via this argument.

        .. versionadded:: 1.20.0

    Returns
    -------
    out : ndarray
        An array object satisfying the specified requirements.

    See Also
    --------
    empty_like : Return an empty array with shape and type of input.
    ones_like : Return an array of ones with shape and type of input.
    zeros_like : Return an array of zeros with shape and type of input.
    full_like : Return a new array with shape of input filled with value.
    empty : Return a new uninitialized array.
    ones : Return a new array setting values to one.
    zeros : Return a new array setting values to zero.
    full : Return a new array of given shape filled with value.


    Notes
    -----
    When order is 'A' and `object` is an array in neither 'C' nor 'F' order,
    and a copy is forced by a change in dtype, then the order of the result is
    not necessarily 'C' as expected. This is likely a bug.

    Examples
    --------
    >>> np.array([1, 2, 3])
    array([1, 2, 3])

    Upcasting:

    >>> np.array([1, 2, 3.0])
    array([ 1.,  2.,  3.])

    More than one dimension:

    >>> np.array([[1, 2], [3, 4]])
    array([[1, 2],
           [3, 4]])

    Minimum dimensions 2:

    >>> np.array([1, 2, 3], ndmin=2)
    array([[1, 2, 3]])

    Type provided:

    >>> np.array([1, 2, 3], dtype=complex)
    array([ 1.+0.j,  2.+0.j,  3.+0.j])

    Data-type consisting of more than one element:

    >>> x = np.array([(1,2),(3,4)],dtype=[('a','<i4'),('b','<i4')])
    >>> x['a']
    array([1, 3])

    Creating an array from sub-classes:

    >>> np.array(np.mat('1 2; 3 4'))
    array([[1, 2],
           [3, 4]])

    >>> np.array(np.mat('1 2; 3 4'), subok=True)
    matrix([[1, 2],
            [3, 4]])

## Convert List, Set, Tuple & Dict into 1D Array

In [10]:
Array1D=array(["KESHAV", 45+9j, True, 39.69, 39]) #Convert the 1D list into array
print(Array1D)
print(Array1D.dtype)
print(type(Array1D))
print(ndim(Array1D))
print(size(Array1D))
print(len(Array1D))
# print(Array1D.count()) # 'numpy.ndarray' object has no attribute 'count'
print(shape(Array1D))

['KESHAV' '(45+9j)' 'True' '39.69' '39']
<U64
<class 'numpy.ndarray'>
1
5
5
(5,)

In [11]:
Array1D=array({"KESHAV", 45+9j, True, 39.69, 39}) #Convert the 0D set into array
print(Array1D)
print(Array1D.dtype)
print(type(Array1D))
print(ndim(Array1D))
print(size(Array1D))
# print(len(Array1D))
print(shape(Array1D))

{True, 'KESHAV', 39.69, 39, (45+9j)}
object
<class 'numpy.ndarray'>
0
1
()

In [12]:
Array1D=array([{"KESHAV", 45+9j, True, 39.69, 39}]) #Convert the 0D set into 1D list & then into array
print(Array1D)
print(Array1D.dtype)
print(type(Array1D))
print(ndim(Array1D))
print(size(Array1D))
print(len(Array1D))
print(shape(Array1D))

[{True, 'KESHAV', 39.69, 39, (45+9j)}]
object
<class 'numpy.ndarray'>
1
1
1
(1,)

In [13]:
Array1D=array(("KESHAV", 45+9j, True, 39.69, 39)) #Convert the 1D Tuple into array
print(Array1D)
print(Array1D.dtype)
print(type(Array1D))
print(ndim(Array1D))
print(size(Array1D))
print(len(Array1D))
print(shape(Array1D))

['KESHAV' '(45+9j)' 'True' '39.69' '39']
<U64
<class 'numpy.ndarray'>
1
5
5
(5,)

In [14]:
Array1D=array({"KESHAV":69, 45+9j:39, True:55, 39.69:87, 39:88}) #Convert the 0D dictionary into array
print(Array1D)
print(Array1D.dtype)
print(type(Array1D))
print(ndim(Array1D))
print(size(Array1D))
# print(len(Array1D))
print(shape(Array1D))

{'KESHAV': 69, (45+9j): 39, True: 55, 39.69: 87, 39: 88}
object
<class 'numpy.ndarray'>
0
1
()

In [15]:
Array1D=array([{"KESHAV":69, 45+9j:39, True:55, 39.69:87, 39:88}]) #Convert the 0D dictionary into 1D list & then into array
print(Array1D)
print(Array1D.dtype)
print(type(Array1D))
print(ndim(Array1D))
print(size(Array1D))
print(len(Array1D))
print(shape(Array1D))

[{'KESHAV': 69, (45+9j): 39, True: 55, 39.69: 87, 39: 88}]
object
<class 'numpy.ndarray'>
1
1
1
(1,)

## Convert List, Set, Tuple & Dict into 2D Array Row

In [16]:
Array2D=[["KESHAV", 45+9j, True, 39.69, 39]] # Convert the 1D list into 2D list [[]]
print(Array2D)
# print(Array2D.dtype)
print(type(Array2D))
print(ndim(Array2D))
print(size(Array2D))
print(len(Array2D))
print(shape(Array2D)) # This is 1 Row & 5 columns

[['KESHAV', (45+9j), True, 39.69, 39]]
<class 'list'>
2
5
1
(1, 5)

In [17]:
Array2D=array([["KESHAV", 45+9j, True, 39.69, 39]]) # Convert the 1D list into 2D list & then into array, ([[]])
print(Array2D)
print(Array2D.dtype)
print(type(Array2D))
print(ndim(Array2D))
print(size(Array2D))
print(len(Array2D))
print(shape(Array2D)) # This is 1 Row & 5 columns

[['KESHAV' '(45+9j)' 'True' '39.69' '39']]
<U64
<class 'numpy.ndarray'>
2
5
1
(1, 5)

In [18]:
Array2D=[("KESHAV",45+9j,True,39.69,39)] # Convert the 1D tuple into 2D list, [()]
print(Array2D)
# print(Array2D.dtype)
print(type(Array2D))
print(ndim(Array2D))
print(size(Array2D))
print(len(Array2D))
print(shape(Array2D)) # This is 1 Row & 5 columns

[('KESHAV', (45+9j), True, 39.69, 39)]
<class 'list'>
2
5
1
(1, 5)

Array2D=(["KESHAV",45+9j,True,39.69,39]) # Convert the tuple into 2D list, [()]
print(Array2D)
# print(Array2D.dtype)
print(type(Array2D))
print(ndim(Array2D))

In [19]:
#1D to 2D array convertion from 1 tuple
Array2D=array([("KESHAV",45+9j,True,39.69,39)]) # Convert the 1D tuple into 2D list & then into array, ([()])
print(Array2D)
print(Array2D.dtype)
print(type(Array2D))
print(ndim(Array2D))
print(size(Array2D))
print(len(Array2D))
print(shape(Array2D)) # This is 1 Row & 5 columns

[['KESHAV' '(45+9j)' 'True' '39.69' '39']]
<U64
<class 'numpy.ndarray'>
2
5
1
(1, 5)

In [20]:
Array=[[{"KESHAV", 45+9j, True, 39.69, 39}]] # Convert the 0D set into 1D list & then into 2D list
print(Array)
# print(Array.dtype)
print(type(Array))
print(ndim(Array))
print(size(Array))
print(len(Array))
print(shape(Array)) # This is 1 Array, 1 Row

[[{True, 'KESHAV', 39.69, 39, (45+9j)}]]
<class 'list'>
2
1
1
(1, 1)

In [21]:
Array=array([[{"KESHAV", 45+9j, True, 39.69, 39}]]) # Convert the 0D set into 1D list then into 2D list & then into array
print(Array)
# print(Array.dtype)
print(type(Array))
print(ndim(Array))
print(size(Array))
print(len(Array))
print(shape(Array)) # This is 1 Array, 1 Row

[[{True, 'KESHAV', 39.69, 39, (45+9j)}]]
<class 'numpy.ndarray'>
2
1
1
(1, 1)

In [22]:
Array=[[{"KESHAV":69, 45+9j:39, True:55, 39.69:87, 39:88}]] # Convert the 0D dictionary into 1D list then into 2D list
print(Array)
# print(Array.dtype)
print(type(Array))
print(ndim(Array))
print(size(Array))
print(len(Array))
print(shape(Array)) # This is 1 Array, 1 Row

[[{'KESHAV': 69, (45+9j): 39, True: 55, 39.69: 87, 39: 88}]]
<class 'list'>
2
1
1
(1, 1)

In [23]:
# How to create Array2DRow ?? #Convert the 0D dict into 1D list then into 2D list & then into array, ([[{}]])
Array2DRow=array([[{"KESHAV":69, 45+9j:39, True:55, 39.69:87, 39:88}]])
print(Array2DRow)
print(Array2DRow.dtype)
print(type(Array2DRow))
print(ndim(Array2DRow))
print(size(Array2DRow))
print(len(Array2DRow))
print(shape(Array2DRow)) # This is 1 Array, 1 Row

[[{'KESHAV': 69, (45+9j): 39, True: 55, 39.69: 87, 39: 88}]]
object
<class 'numpy.ndarray'>
2
1
1
(1, 1)

## Creating MultiDimentional Arrays from List, Tuple, Set, Dict
* We will used mixed nested list

In [24]:
print(ndim({1, 2, 3, 4})) # 0D set
print(ndim({"a":1, "b":2, "c":3, "d":4})) # 0D dict
print(ndim([1, 2, 3, 4])) # 1D List
print(ndim((1, 2, 3, 4))) # 1D Tuple

0
0
1
1

In [25]:
# How to create Array2DCol ??
Array2DCol=array([[["KESHAV"],
                  [45+9j],
                  [True],
                  [39.69],
                  [39]]])
print(Array2DCol)
print(Array2DCol.dtype)
print(type(Array2DCol))
print(ndim(Array2DCol))
print(size(Array2DCol))
print(len(Array2DCol))
print(shape(Array2DCol)) # This 1 Array, 5 Rows & 1 Column

print(ndim([["KESHAV"],
            [45+9j],
            [True],
            [39.69],
            [39]]))

[[['KESHAV']
  ['(45+9j)']
  ['True']
  ['39.69']
  ['39']]]
<U64
<class 'numpy.ndarray'>
3
5
1
(1, 5, 1)
2

In [26]:
# How to create Array2DCol ??
Array2DCol=array([(["KESHAV"],
                  [45+9j],
                  [True],
                  [39.69],
                  [39])])
print(Array2DCol)
print(Array2DCol.dtype)
print(type(Array2DCol))
print(ndim(Array2DCol))
print(size(Array2DCol))
print(len(Array2DCol))
print(shape(Array2DCol)) # This 1 Array, 5 Rows & 1 Column

print(ndim((["KESHAV"],
            [45+9j],
            [True],
            [39.69],
            [39])))

[[['KESHAV']
  ['(45+9j)']
  ['True']
  ['39.69']
  ['39']]]
<U64
<class 'numpy.ndarray'>
3
5
1
(1, 5, 1)
2

In [27]:
# How to create Array2DCol ??
# Mixed Nested variable types having list & tuples inside a 2D List & then convert that List into array
# This is 4 Rows & 2 Columns
Array2DCol=array([[["KESHAV", 33],
                  [45+9j, 87],
                  (True, False),
                  (45+9j, 89)]])
print(Array2DCol)
print(Array2DCol.dtype)
print(type(Array2DCol))
print(ndim(Array2DCol))
print(size(Array2DCol))
print(len(Array2DCol))
print(shape(Array2DCol)) # This is 1 Array, 4 Rows & 2 Columns

print(ndim([["KESHAV", 33],
            [45+9j, 87],
            (True, False),
            (45+9j, 89)]))

[[['KESHAV' '33']
  ['(45+9j)' '87']
  ['True' 'False']
  ['(45+9j)' '89']]]
<U64
<class 'numpy.ndarray'>
3
8
1
(1, 4, 2)
2

In [28]:
#Creating 2D array from 2 lists
# No of elements/length of each nested list/tuple should be same
# Create nested variables inside a 2D list & then convert that list into array
Array2DL=array([[("KESHAV",45+9j,True,39.69,39),
                 ["China", "America", "India", "Russia", "Germany"],
                 (34, 67, "Chennai", "London", 89),
                 (10.10,'Prashant',10+10j,False,10)]], dtype=object) #Transforming nested list of 2 lists into Array

print(Array2DL)
print(Array2DL.dtype)
print(type(Array2DL))
print(ndim(Array2DL))
print(size(Array2DL))
print(len(Array2DL))
print(shape(Array2DL)) # This is 1 Array, 4 Rows & 5 Columns

[[['KESHAV' (45+9j) True 39.69 39]
  ['China' 'America' 'India' 'Russia' 'Germany']
  [34 67 'Chennai' 'London' 89]
  [10.1 'Prashant' (10+10j) False 10]]]
object
<class 'numpy.ndarray'>
3
20
1
(1, 4, 5)

In [29]:
#Creating 2D array from 2 lists
# No of elements/length of each nested list/tuple should be same
# Create nested variables inside a 1D list & then convert that list into 2D list & then into array
Array2DL=array([[("KESHAV",45+9j,True,39.69,39),
                 [34, 67, "Chennai", "London", 89],
                 (10.10,'Prashant',10+10j,False,10),
                 [34, 67, "Chennai", "London", 89]]], dtype=object) #Transforming nested list of 2 lists into Array
print(Array2DL)
print(Array2DL.dtype)
print(type(Array2DL))
print(ndim(Array2DL))       # list & dict converts mixed nested list into 1D Array
print(size(Array2DL))
print(len(Array2DL))
print(shape(Array2DL)) # This is 1 array, 4 rows & 5 Columns

[[['KESHAV' (45+9j) True 39.69 39]
  [34 67 'Chennai' 'London' 89]
  [10.1 'Prashant' (10+10j) False 10]
  [34 67 'Chennai' 'London' 89]]]
object
<class 'numpy.ndarray'>
3
20
1
(1, 4, 5)

In [30]:
Array = array([[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]]])
print(Array)
print(shape(Array)) # 2 Arrays, 2 Rows & 3 Columns

[[[ 1  2  3]
  [ 4  5  6]]

 [[ 7  8  9]
  [10 11 12]]]
(2, 2, 3)

In [31]:
#Creating 2D array from 2 lists
# No of elements/length of each nested list/tuple should be same
# Create nested variables inside a 1D tuple & then convert that tuple into 2D list & then into array
Array2DL=array([(  ("KESHAV",45+9j,True,39.69,39),
                 {"China":67, "America":68, "India":52, "Russia":98, "Germany":93},
                 (34, 67, "Chennai", "London", 89),
                 (10.10,'Prashant',10+10j,False,10)  )], dtype=object) #Transforming nested list of 2 lists into Array
print(Array2DL)
print(Array2DL.dtype)
print(type(Array2DL))
print(ndim(Array2DL))       # list & dict converts mixed nested list into 1D Array
print(size(Array2DL))
print(len(Array2DL))
print(shape(Array2DL)) # This is 1 array & 4 Rows

[[('KESHAV', (45+9j), True, 39.69, 39)
  {'China': 67, 'America': 68, 'India': 52, 'Russia': 98, 'Germany': 93}
  (34, 67, 'Chennai', 'London', 89)
  (10.1, 'Prashant', (10+10j), False, 10)]]
object
<class 'numpy.ndarray'>
2
4
1
(1, 4)

In [32]:
#Creating 2D array from 2 lists
# No of elements/length of each nested list/tuple should be same
# Create nested variables inside a 1D list & then convert that list into 2D list & then into array
Array2DL=array([[("KESHAV",45+9j,True,39.69,39),
                {"China":67, "America":68, "India":52, "Russia":98, "Germany":93},
                {1, 2, 3, 4, 5},
                (34, 67, "Chennai", "London", 89),
                (10.10,'Prashant',10+10j,False,10)]], dtype=object) #Transforming nested list of 2 lists into Array
print(Array2DL)
print(Array2DL.dtype)
print(type(Array2DL))
print(ndim(Array2DL))       # list & dict converts mixed nested list into 1D Array
print(size(Array2DL))
print(len(Array2DL))
print(shape(Array2DL)) # This is 1 Array & 5 Rows

[[('KESHAV', (45+9j), True, 39.69, 39)
  {'China': 67, 'America': 68, 'India': 52, 'Russia': 98, 'Germany': 93}
  {1, 2, 3, 4, 5} (34, 67, 'Chennai', 'London', 89)
  (10.1, 'Prashant', (10+10j), False, 10)]]
object
<class 'numpy.ndarray'>
2
5
1
(1, 5)

In [33]:
#Creating 2D array from 2 lists
# No of elements/length of each nested list/tuple should be same
# Create nested variables inside a 2D list & then convert that list into array
Array2DL=array([[["KESHAV",45+9j,True,39.69,39],
                [10.10,'Prashant',10+10j,False,10]]]) #Transforming nested list of 2 lists into Array
print(Array2DL)
print(Array2DL.dtype)
print(type(Array2DL))
print(ndim(Array2DL))
print(size(Array2DL))
print(len(Array2DL))
print(shape(Array2DL)) # 1 Array, 2 Rows & 5 Columns

print(ndim([["KESHAV",45+9j,True,39.69,39],
            [10.10,'Prashant',10+10j,False,10]]))

[[['KESHAV' '(45+9j)' 'True' '39.69' '39']
  ['10.1' 'Prashant' '(10+10j)' 'False' '10']]]
<U64
<class 'numpy.ndarray'>
3
10
1
(1, 2, 5)
2

In [34]:
#Creating 2D array from 2 Tuples
# No of elements/length of each nested list/tuple should be same
# Create nested variables inside a 2D tuple & then convert that tuple into array
Array2DL=array([(("KESHAV",45+9j,True,39.69,39),
                (10.10,'Prashant',10+10j,False,10))]) #Transforming nested Tuple of 2 tuples into Array
print(Array2DL)
print(Array2DL.dtype)
print(type(Array2DL))
print(ndim(Array2DL))
print(size(Array2DL))
print(len(Array2DL))
print(shape(Array2DL)) # 1 Array, 2 Rows & 5 Columns

print(ndim((("KESHAV",45+9j,True,39.69,39),
            (10.10,'Prashant',10+10j,False,10))))

[[['KESHAV' '(45+9j)' 'True' '39.69' '39']
  ['10.1' 'Prashant' '(10+10j)' 'False' '10']]]
<U64
<class 'numpy.ndarray'>
3
10
1
(1, 2, 5)
2

In [35]:
#Creating 2D array from 2 lists
# No of elements/length of each nested list/tuple should be same
# Create nested variables inside a 2D list & then convert that list into array
Array2DL=array([[("KESHAV",45+9j,True,39.69,39),
                (10.10,'Prashant',10+10j,False,10)]]) #Transforming nested list of 2 lists into Array
print(Array2DL)
print(Array2DL.dtype)
print(type(Array2DL))
print(ndim(Array2DL))
print(size(Array2DL))
print(len(Array2DL))
print(shape(Array2DL)) # 1 array, 2 Rows & 5 Columns

print(ndim([("KESHAV",45+9j,True,39.69,39),
            (10.10,'Prashant',10+10j,False,10)]))

[[['KESHAV' '(45+9j)' 'True' '39.69' '39']
  ['10.1' 'Prashant' '(10+10j)' 'False' '10']]]
<U64
<class 'numpy.ndarray'>
3
10
1
(1, 2, 5)
2

In [36]:
#Creating 2D array from 2 lists
# No of elements/length of each nested list/tuple should be same
# Create nested variables inside a 2D list & then convert that list into array
Array2DL=array([[("KESHAV",45+9j,True,39.69,39),
                (10.10,'Prashant',10+10j,False,10)]]) #Transforming nested list of 2 lists into Array
print(Array2DL)
print(Array2DL.dtype)
print(type(Array2DL))
print(ndim(Array2DL))
print(size(Array2DL))
print(len(Array2DL))
print(shape(Array2DL)) # 1 array, 2 Rows & 5 Columns

print(ndim([("KESHAV",45+9j,True,39.69,39),
            (10.10,'Prashant',10+10j,False,10)]))

[[['KESHAV' '(45+9j)' 'True' '39.69' '39']
  ['10.1' 'Prashant' '(10+10j)' 'False' '10']]]
<U64
<class 'numpy.ndarray'>
3
10
1
(1, 2, 5)
2

In [37]:
#Creating 2D array from 2 lists
# No of elements/length of each nested list/tuple should be same
# Create nested variables inside a 2D list & then convert that list into array
Array2DL=array([[("KESHAV",45+9j,True,39.69,39),
                ["China", "America", "India", "Russia", "Germany"],
                (34, 67, "Chennai", "London", 89),
                (10.10,'Prashant',10+10j,False,10)]]) #Transforming nested list of 2 lists into Array
print(Array2DL)
print(Array2DL.dtype)
print(type(Array2DL))
print(ndim(Array2DL))
print(size(Array2DL))
print(len(Array2DL))
print(shape(Array2DL)) # 1 array, 4 Rows & 5 Columns

print(ndim([("KESHAV",45+9j,True,39.69,39),
            ["China", "America", "India", "Russia", "Germany"],
            (34, 67, "Chennai", "London", 89),
            (10.10,'Prashant',10+10j,False,10)]))

[[['KESHAV' '(45+9j)' 'True' '39.69' '39']
  ['China' 'America' 'India' 'Russia' 'Germany']
  ['34' '67' 'Chennai' 'London' '89']
  ['10.1' 'Prashant' '(10+10j)' 'False' '10']]]
<U64
<class 'numpy.ndarray'>
3
20
1
(1, 4, 5)
2

In [38]:
#Creating 2D array from 2 lists
# No of elements/length of each nested list/tuple should be same
# Create nested variables inside a 1D list & then convert that list into 2D list & then into array
Array2DL=array([[{"KESHAV":88,45+9j:"Negative",True:False,39.69:45,39:56},
                 ["China", "America", "India", "Russia", "Germany"],
                 (34, 67, "Chennai", "London", 89),
                 {10.10,'Prashant',10+10j,False,10}]], dtype=object) #Transforming nested list of 2 lists into Array
print(Array2DL)
print(Array2DL.dtype)
print(type(Array2DL))
print(ndim(Array2DL))
print(size(Array2DL))
print(len(Array2DL))
print(shape(Array2DL)) # 1 array & 4 Rows

print(ndim([{"KESHAV":88,45+9j:"Negative",True:False,39.69:45,39:56},
            ["China", "America", "India", "Russia", "Germany"],
            (34, 67, "Chennai", "London", 89),
            {10.10,'Prashant',10+10j,False,10}]))

[[{'KESHAV': 88, (45+9j): 'Negative', True: False, 39.69: 45, 39: 56}
  list(['China', 'America', 'India', 'Russia', 'Germany'])
  (34, 67, 'Chennai', 'London', 89)
  {False, 10, 'Prashant', (10+10j), 10.1}]]
object
<class 'numpy.ndarray'>
2
4
1
(1, 4)
1

D:\Anwesh\D_Program_Files\Miniconda3\envs\ML\lib\site-packages\numpy\core\fromnumeric.py:3162: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return asarray(a).ndim

In [39]:
#Creating 2D array from 2 lists
# No of elements/length of each nested list/tuple should be same
# Create nested variables inside a 1D Tuple & then convert that tuple into 2D list & then into array
Array2DL=array([({"KESHAV":88,45+9j:"Negative",True:False,39.69:45,39:56},
                 ["China", "America", "India", "Russia", "Germany"],
                 (34, 67, "Chennai", "London", 89),
                 {10.10,'Prashant',10+10j,False,10})], dtype=object) #Transforming nested list of 2 lists into Array
print(Array2DL)
print(Array2DL.dtype)
print(type(Array2DL))
print(ndim(Array2DL))
print(size(Array2DL))
print(len(Array2DL))
print(shape(Array2DL)) # 1 array & 4 Rows

print(ndim(({"KESHAV":88,45+9j:"Negative",True:False,39.69:45,39:56},
            ["China", "America", "India", "Russia", "Germany"],
            (34, 67, "Chennai", "London", 89),
            {10.10,'Prashant',10+10j,False,10})))

[[{'KESHAV': 88, (45+9j): 'Negative', True: False, 39.69: 45, 39: 56}
  list(['China', 'America', 'India', 'Russia', 'Germany'])
  (34, 67, 'Chennai', 'London', 89)
  {False, 10, 'Prashant', (10+10j), 10.1}]]
object
<class 'numpy.ndarray'>
2
4
1
(1, 4)
1

In [40]:
#Creating 2D array from 2 lists
# No of elements/length of each nested list/tuple should be same
# Create nested variables inside a 1D Tuple & then convert that tuple into 2D list & then into array
Array2DL=array([({"KESHAV":88,45+9j:"Negative",True:False,39.69:45,39:56},
                 ["China", "America", "India", "Russia", "Germany"],
                 (34, 67, "Chennai", "London", 89),
                 {10.10,'Prashant',10+10j,False,10})], dtype=object) #Transforming nested list of 2 lists into Array
print(Array2DL)
print(Array2DL.dtype)
print(type(Array2DL))
print(ndim(Array2DL))
print(size(Array2DL))
print(len(Array2DL))
print(shape(Array2DL)) # 1 array & 4 Rows

print(ndim(({"KESHAV":88,45+9j:"Negative",True:False,39.69:45,39:56},
            ["China", "America", "India", "Russia", "Germany"],
            (34, 67, "Chennai", "London", 89),
            {10.10,'Prashant',10+10j,False,10})))

[[{'KESHAV': 88, (45+9j): 'Negative', True: False, 39.69: 45, 39: 56}
  list(['China', 'America', 'India', 'Russia', 'Germany'])
  (34, 67, 'Chennai', 'London', 89)
  {False, 10, 'Prashant', (10+10j), 10.1}]]
object
<class 'numpy.ndarray'>
2
4
1
(1, 4)
1

In [41]:
#Creating 2D array from 2 lists
# No of elements/length of each nested list/tuple should be same
# Create nested variables inside a 1D list & then convert that list into 2D list & then into array
Array2DL=array([[{"KESHAV",45+9j,True,39.69,39},
                 {10.10,'Prashant',10+10j,False,10}]]) #Transforming nested list of 2 lists into Array
print(Array2DL)
print(Array2DL.dtype)
print(type(Array2DL))
print(ndim(Array2DL))
print(size(Array2DL))
print(len(Array2DL))
print(shape(Array2DL)) # 1 array & 2 Rows

print(ndim([{"KESHAV",45+9j,True,39.69,39},
            {10.10,'Prashant',10+10j,False,10}]))

[[{True, 'KESHAV', 39.69, 39, (45+9j)}
  {False, 10, 'Prashant', (10+10j), 10.1}]]
object
<class 'numpy.ndarray'>
2
2
1
(1, 2)
1

In [42]:
#Creating 2D array from 2 lists
# No of elements/length of each nested list/tuple should be same
# Create nested variables inside a 1D list & then convert that list into 2D list & then into array
Array2DL=array([[{"KESHAV",45+9j,True,39.69,39},
                 {10.10,'Prashant',10+10j,False,10}]]) #Transforming nested list of 2 lists into Array
print(Array2DL)
print(Array2DL.dtype)
print(type(Array2DL))
print(ndim(Array2DL))
print(size(Array2DL))
print(len(Array2DL))
print(shape(Array2DL)) # 1 array & 2 Rows

print(ndim([{"KESHAV",45+9j,True,39.69,39},
            {10.10,'Prashant',10+10j,False,10}]))

[[{True, 'KESHAV', 39.69, 39, (45+9j)}
  {False, 10, 'Prashant', (10+10j), 10.1}]]
object
<class 'numpy.ndarray'>
2
2
1
(1, 2)
1

In [43]:
#Creating 2D array from 2 lists
# No of elements/length of each nested list/tuple should be same
# Create nested variables inside a 1D list & then convert that list into 2D list & then into array
Array2DL=array([[{"KESHAV":88,45+9j:"Negative",True:False,39.69:45,39:56},
                 {10.10:"colon",'Prashant':"Alex",10+10j:99,False:True,10:56}]]) #Transforming nested list of 2 lists into Array
print(Array2DL)
print(Array2DL.dtype)
print(type(Array2DL))
print(ndim(Array2DL))
print(size(Array2DL))
print(len(Array2DL))
print(shape(Array2DL)) # 1 array & 2 Rows

print(ndim([{"KESHAV":88,45+9j:"Negative",True:False,39.69:45,39:56},
            {10.10:"colon",'Prashant':"Alex",10+10j:99,False:True,10:56}]))

[[{'KESHAV': 88, (45+9j): 'Negative', True: False, 39.69: 45, 39: 56}
  {10.1: 'colon', 'Prashant': 'Alex', (10+10j): 99, False: True, 10: 56}]]
object
<class 'numpy.ndarray'>
2
2
1
(1, 2)
1

In [44]:
#Creating 2D array from 2 lists
# No of elements/length of each nested list/tuple should be same
# Create nested variables inside a 1D list & then convert that list into 2D list & then into array
Array2DL=array([[{"KESHAV":88,45+9j:"Negative",True:False,39.69:45,39:56},
                 ["China", "America", "India", "Russia", "Germany"],
                 (34, 67, "Chennai", "London", 89),
                 {10.10,'Prashant',10+10j,False,10}]], dtype=object) #Transforming nested list of 2 lists into Array
print(Array2DL)
print(Array2DL.dtype)
print(type(Array2DL))
print(ndim(Array2DL))
print(size(Array2DL))
print(len(Array2DL))
print(shape(Array2DL)) # 1 array & 4 Rows

print(ndim([{"KESHAV":88,45+9j:"Negative",True:False,39.69:45,39:56},
            ["China", "America", "India", "Russia", "Germany"],
            (34, 67, "Chennai", "London", 89),
            {10.10,'Prashant',10+10j,False,10}]))

[[{'KESHAV': 88, (45+9j): 'Negative', True: False, 39.69: 45, 39: 56}
  list(['China', 'America', 'India', 'Russia', 'Germany'])
  (34, 67, 'Chennai', 'London', 89)
  {False, 10, 'Prashant', (10+10j), 10.1}]]
object
<class 'numpy.ndarray'>
2
4
1
(1, 4)
1

## array(object, dtype=complex)

In [45]:
#Creating 2D array from 1 list & convert all elements into complex
#Dont works with string element
# Convert 1D list into 2D list and then into array
ArraY2=array([[[45+9j,True,39.69,39]]], dtype=complex) #dtype=complex
print(ArraY2)
print(ArraY2.dtype)
print(type(ArraY2))
print(ndim(ArraY2))
print(size(ArraY2))
print(len(ArraY2))
print(shape(ArraY2)) # 1 array, 1 Row & 4 Columns

[[[45.  +9.j  1.  +0.j 39.69+0.j 39.  +0.j]]]
complex128
<class 'numpy.ndarray'>
3
4
1
(1, 1, 4)

In [46]:
#Creating 2D array from 1 list & convert all elements into complex
#Dont works with string element
# Convert 1D tuple into 2D list and then into array
ArraY2=array([[(45+9j,True,39.69,39)]], dtype=complex) #dtype=complex
print(ArraY2)
print(ArraY2.dtype)
print(type(ArraY2))
print(ndim(ArraY2))
print(size(ArraY2))
print(len(ArraY2))
print(shape(ArraY2)) # 1 array, 1 Row & 4 Columns

[[[45.  +9.j  1.  +0.j 39.69+0.j 39.  +0.j]]]
complex128
<class 'numpy.ndarray'>
3
4
1
(1, 1, 4)

In [47]:
#Creating 2D array from 1 Tuple & convert all elements into complex
#Dont works with string element
# Convert 1D tuple into 2D list and then into array
ARray2=array([[(45+9j,True,39.69,39)]], dtype=complex) #dtype=complex
print(ARray2)
print(ARray2.dtype)
print(type(ARray2))
print(ndim(ARray2))
print(size(ArraY2))
print(len(ArraY2))
print(shape(ArraY2)) # 1 array, 1 Row & 4 Columns

[[[45.  +9.j  1.  +0.j 39.69+0.j 39.  +0.j]]]
complex128
<class 'numpy.ndarray'>
3
4
1
(1, 1, 4)

In [48]:
#Creating 2D array from 2 lists & convert all elements into complex
#No of elements/length of each list should be same
#Dont works with string element
# Create nested lists inside a 2D list & then convert that list into array
Array2=array([[45+9j,True,39.69,39],
              [10.10,10+10j,False,10]], dtype=complex) #Transforming nested list of 2 lists into Array
print(Array2)
print(Array2.dtype)
print(type(Array2))
print(ndim(Array2))          #dtype=complex
print(size(ArraY2))
print(len(ArraY2))
print(shape(ArraY2)) # 1 array, 1 Row & 4 Columns

[[45.   +9.j  1.   +0.j 39.69 +0.j 39.   +0.j]
 [10.1  +0.j 10.  +10.j  0.   +0.j 10.   +0.j]]
complex128
<class 'numpy.ndarray'>
2
4
1
(1, 1, 4)

In [49]:
#Creating 2D array from 2 Tuples & convert elements into complex
#No of elements/length of each Tuple should be same
#Dont works with string element
# Create nested tuple inside a 2D tuple & then convert that tuple into array
Array2=array([((45+9j,True,39.69,39),
              (10.10,10+10j,False,10))], dtype=complex) #Transforming nested tuple of 2 tuples into Array
print(Array2)
print(Array2.dtype)
print(type(Array2))
print(ndim(Array2))              #dtype=complex
print(size(Array2))
print(len(Array2))
print(shape(Array2)) # 1 array, 2 Rows & 4 Columns

[[[45.   +9.j  1.   +0.j 39.69 +0.j 39.   +0.j]
  [10.1  +0.j 10.  +10.j  0.   +0.j 10.   +0.j]]]
complex128
<class 'numpy.ndarray'>
3
8
1
(1, 2, 4)

In [50]:
#Creating 2D array from 2 lists
# No of elements/length of each nested list/tuple should be same
# Create nested list inside a 2D list & then convert that list into array
Array2DL=array([[[45+9j,True,39.69,39,78],
                 (45+9j,True,39.69,39,78)]], dtype=complex) #Transforming nested list of 2 lists into Array
print(Array2DL)
print(Array2DL.dtype)
print(type(Array2DL))
print(ndim(Array2DL))
print(size(Array2DL))
print(len(Array2DL))
print(shape(Array2DL)) # 1 array, 2 Rows & 5 Columns

[[[45.  +9.j  1.  +0.j 39.69+0.j 39.  +0.j 78.  +0.j]
  [45.  +9.j  1.  +0.j 39.69+0.j 39.  +0.j 78.  +0.j]]]
complex128
<class 'numpy.ndarray'>
3
10
1
(1, 2, 5)

In [51]:
#Creating 2D array from 2 lists
# No of elements/length of each nested list/tuple should be same
# Create nested variables inside a 2D list & then convert that list into array
Array2DL=array([[[45+9j,True,39.69,39,78],
                 (45+9j,True,39.69,39,78)]], dtype=complex) #Transforming nested list of 2 lists into Array
print(Array2DL)
print(Array2DL.dtype)
print(type(Array2DL))
print(ndim(Array2DL))
print(size(Array2DL))
print(len(Array2DL))
print(shape(Array2DL)) # 1 array, 2 Rows & 5 Columns

[[[45.  +9.j  1.  +0.j 39.69+0.j 39.  +0.j 78.  +0.j]
  [45.  +9.j  1.  +0.j 39.69+0.j 39.  +0.j 78.  +0.j]]]
complex128
<class 'numpy.ndarray'>
3
10
1
(1, 2, 5)

#Creating 2D array from 2 lists
# No of elements/length of each nested list/tuple should be same
# Create nested list inside a Tuple & then convert that tuple into array
Array2DL=array([([45+9j,True,39.69,39,78],
                 (45+9j,True,39.69,39,78))],dtype=complex) #Transforming nested list of 2 lists into Array
print(Array2DL)
print(Array2DL.dtype)
print(type(Array2DL))
print(ndim(Array2DL))

## arange(start, stop, step) function
Almost like range() variable, for particular data you need to mention dtype=

In [52]:
help(arange)

Help on built-in function arange in module numpy:

arange(...)
    arange([start,] stop[, step,], dtype=None, *, like=None)

    Return evenly spaced values within a given interval.

    Values are generated within the half-open interval ``[start, stop)``
    (in other words, the interval including `start` but excluding `stop`).
    For integer arguments the function is equivalent to the Python built-in
    `range` function, but returns an ndarray rather than a list.

    When using a non-integer step, such as 0.1, the results will often not
    be consistent.  It is better to use `numpy.linspace` for these cases.

    Parameters
    ----------
    start : integer or real, optional
        Start of interval.  The interval includes this value.  The default
        start value is 0.
    stop : integer or real
        End of interval.  The interval does not include this value, except
        in some cases where `step` is not an integer and floating point
        round-off affects the length of `out`.
    step : integer or real, optional
        Spacing between values.  For any output `out`, this is the distance
        between two adjacent values, ``out[i+1] - out[i]``.  The default
        step size is 1.  If `step` is specified as a position argument,
        `start` must also be given.
    dtype : dtype
        The type of the output array.  If `dtype` is not given, infer the data
        type from the other input arguments.
    like : array_like
        Reference object to allow the creation of arrays which are not
        NumPy arrays. If an array-like passed in as ``like`` supports
        the ``__array_function__`` protocol, the result will be defined
        by it. In this case, it ensures the creation of an array object
        compatible with that passed in via this argument.

        .. versionadded:: 1.20.0

    Returns
    -------
    arange : ndarray
        Array of evenly spaced values.

        For floating point arguments, the length of the result is
        ``ceil((stop - start)/step)``.  Because of floating point overflow,
        this rule may result in the last element of `out` being greater
        than `stop`.

    See Also
    --------
    numpy.linspace : Evenly spaced numbers with careful handling of endpoints.
    numpy.ogrid: Arrays of evenly spaced numbers in N-dimensions.
    numpy.mgrid: Grid-shaped arrays of evenly spaced numbers in N-dimensions.

    Examples
    --------
    >>> np.arange(3)
    array([0, 1, 2])
    >>> np.arange(3.0)
    array([ 0.,  1.,  2.])
    >>> np.arange(3,7)
    array([3, 4, 5, 6])
    >>> np.arange(3,7,2)
    array([3, 5])

In [53]:
#This is array created by single range/multiple range unlike List,Tuple
#arange([start,] stop[, step,], dtype=None)

In [54]:
#Creating 1D array from 1 range of complex elements
# start=0 by default
# stop=20
# step=1 by default
Array1=arange(start=0, stop=20, dtype=complex) #From 0 to 19 complex numbers
print(Array1)
print(Array1.dtype)
print(type(Array1))
print(ndim(Array1))
print(size(Array1))
print(len(Array1))
print(shape(Array1))

[ 0.+0.j  1.+0.j  2.+0.j  3.+0.j  4.+0.j  5.+0.j  6.+0.j  7.+0.j  8.+0.j
  9.+0.j 10.+0.j 11.+0.j 12.+0.j 13.+0.j 14.+0.j 15.+0.j 16.+0.j 17.+0.j
 18.+0.j 19.+0.j]
complex128
<class 'numpy.ndarray'>
1
20
20
(20,)

## array.reshape(num1, num2)
* array.dtype option works with array only

In [55]:
#Creating 2D array from 1 range having complex elements
#We will use reshape() function to give the Array2 2D structure
#No of elements/length of each range should be same
#Dont works with string element
# start=1
# stop=21
# step=1
Array2=arange(start=1, stop=21, step=1, dtype=complex).reshape(1,4,5) #4 rows & 5 columns, from 1 to 20 complex numbers
print(Array2)
print(Array2.dtype)
print(type(Array2))
print(ndim(Array2))
print(size(Array2))
print(len(Array2))
print(shape(Array2)) # 1 array, 4 Rows & 5 Columns

[[[ 1.+0.j  2.+0.j  3.+0.j  4.+0.j  5.+0.j]
  [ 6.+0.j  7.+0.j  8.+0.j  9.+0.j 10.+0.j]
  [11.+0.j 12.+0.j 13.+0.j 14.+0.j 15.+0.j]
  [16.+0.j 17.+0.j 18.+0.j 19.+0.j 20.+0.j]]]
complex128
<class 'numpy.ndarray'>
3
20
1
(1, 4, 5)

## zeros() function

In [56]:
help(zeros)

Help on built-in function zeros in module numpy:

zeros(...)
    zeros(shape, dtype=float, order='C', *, like=None)

    Return a new array of given shape and type, filled with zeros.

    Parameters
    ----------
    shape : int or tuple of ints
        Shape of the new array, e.g., ``(2, 3)`` or ``2``.
    dtype : data-type, optional
        The desired data-type for the array, e.g., `numpy.int8`.  Default is
        `numpy.float64`.
    order : {'C', 'F'}, optional, default: 'C'
        Whether to store multi-dimensional data in row-major
        (C-style) or column-major (Fortran-style) order in
        memory.
    like : array_like
        Reference object to allow the creation of arrays which are not
        NumPy arrays. If an array-like passed in as ``like`` supports
        the ``__array_function__`` protocol, the result will be defined
        by it. In this case, it ensures the creation of an array object
        compatible with that passed in via this argument.

        .. versionadded:: 1.20.0

    Returns
    -------
    out : ndarray
        Array of zeros with the given shape, dtype, and order.

    See Also
    --------
    zeros_like : Return an array of zeros with shape and type of input.
    empty : Return a new uninitialized array.
    ones : Return a new array setting values to one.
    full : Return a new array of given shape filled with value.

    Examples
    --------
    >>> np.zeros(5)
    array([ 0.,  0.,  0.,  0.,  0.])

    >>> np.zeros((5,), dtype=int)
    array([0, 0, 0, 0, 0])

    >>> np.zeros((2, 1))
    array([[ 0.],
           [ 0.]])

    >>> s = (2,2)
    >>> np.zeros(s)
    array([[ 0.,  0.],
           [ 0.,  0.]])

    >>> np.zeros((2,), dtype=[('x', 'i4'), ('y', 'i4')]) # custom dtype
    array([(0, 0), (0, 0)],
          dtype=[('x', '<i4'), ('y', '<i4')])

In [57]:
#zeros(shape, dtype=float, order='C')
#zeros() function creates array filled with zeros
#You should mention the shape of the array
#You can mention the data type, otherwise default data type will be Float
#You can mention the multidimentional data storing order but we will ignore it

In [58]:
#Creating 1D zeros Array
from numpy import zeros
Zeros1=zeros((1,1,5),float)   #Zeros Array, containing 5 elements, Float type
print(Zeros1)
print(Zeros1.dtype)
print(type(Zeros1))
print(ndim(Zeros1))
print(size(Zeros1))
print(len(Zeros1))
print(shape(Zeros1)) # 1 array, 1 Row & 5 Columns

[[[0. 0. 0. 0. 0.]]]
float64
<class 'numpy.ndarray'>
3
5
1
(1, 1, 5)

In [59]:
#Creating 1D zeros Array
Zeros1=zeros((1,1,5),complex)   #Zeros Array, containing 5 elements, Complex type
print(Zeros1)
print(Zeros1.dtype)
print(type(Zeros1))
print(ndim(Zeros1))
print(size(Zeros1))
print(len(Zeros1))
print(shape(Zeros1)) # 1 array, 1 Row & 5 Columns

[[[0.+0.j 0.+0.j 0.+0.j 0.+0.j 0.+0.j]]]
complex128
<class 'numpy.ndarray'>
3
5
1
(1, 1, 5)

In [60]:
#Creating 2D zeros Array of tuples
Zeros2=zeros((1,5,4),int) #(5,4) is shape tuple of ints, containing 5*4=20 elements, integer type
print(Zeros2)
print(Zeros2.dtype)
print(type(Zeros2))
print(ndim(Zeros2))
print(size(Zeros2))
print(len(Zeros2))
print(shape(Zeros2)) # 1 array, 5 Rows & 4 Columns

[[[0 0 0 0]
  [0 0 0 0]
  [0 0 0 0]
  [0 0 0 0]
  [0 0 0 0]]]
int32
<class 'numpy.ndarray'>
3
20
1
(1, 5, 4)

In [61]:
#Creating 2D zeros Array of tuples
Zeros2=zeros((1,5,4),complex) #(5,4) is shape tuple of ints, containing 5*4=20 elements, Complex type
print(Zeros2)
print(Zeros2.dtype)
print(type(Zeros2))
print(ndim(Zeros2))
print(size(Zeros2))
print(len(Zeros2))
print(shape(Zeros2)) # 1 array, 5 Rows & 4 Columns

[[[0.+0.j 0.+0.j 0.+0.j 0.+0.j]
  [0.+0.j 0.+0.j 0.+0.j 0.+0.j]
  [0.+0.j 0.+0.j 0.+0.j 0.+0.j]
  [0.+0.j 0.+0.j 0.+0.j 0.+0.j]
  [0.+0.j 0.+0.j 0.+0.j 0.+0.j]]]
complex128
<class 'numpy.ndarray'>
3
20
1
(1, 5, 4)

In [62]:
#Creating 2D zeros Array of tuples
Zeros2=zeros((1,4,5),float) #(4,5) is shape tuple of float, containing 4*5=20 elements, Float type
print(Zeros2)
print(Zeros2.dtype)
print(type(Zeros2))
print(ndim(Zeros2))
print(size(Zeros2))
print(len(Zeros2))
print(shape(Zeros2)) # 1 array, 4 Rows & 5 Columns

[[[0. 0. 0. 0. 0.]
  [0. 0. 0. 0. 0.]
  [0. 0. 0. 0. 0.]
  [0. 0. 0. 0. 0.]]]
float64
<class 'numpy.ndarray'>
3
20
1
(1, 4, 5)

In [63]:
#Creating 2D zeros Array of lists
Zeros2=zeros([1,5,4],int) #[5,4] is shape list of ints, containing 5*4=20 elements, integer type
print(Zeros2)
print(Zeros2.dtype)
print(type(Zeros2))
print(ndim(Zeros2))
print(size(Zeros2))
print(len(Zeros2))
print(shape(Zeros2)) # 1 array, 5 Rows & 4 Columns

[[[0 0 0 0]
  [0 0 0 0]
  [0 0 0 0]
  [0 0 0 0]
  [0 0 0 0]]]
int32
<class 'numpy.ndarray'>
3
20
1
(1, 5, 4)

In [64]:
#Creating 2D zeros Array of lists
Zeros2=zeros([1,4,5],float) #[4,5] is shape list of float, containing 4*5=20 elements, float type
print(Zeros2)
print(Zeros2.dtype)
print(type(Zeros2))
print(ndim(Zeros2))
print(size(Zeros2))
print(len(Zeros2))
print(shape(Zeros2)) # 1 array, 4 Rows & 5 Columns

[[[0. 0. 0. 0. 0.]
  [0. 0. 0. 0. 0.]
  [0. 0. 0. 0. 0.]
  [0. 0. 0. 0. 0.]]]
float64
<class 'numpy.ndarray'>
3
20
1
(1, 4, 5)

## ones() function

In [65]:
help(ones)

Help on function ones in module numpy:

ones(shape, dtype=None, order='C', *, like=None)
    Return a new array of given shape and type, filled with ones.

    Parameters
    ----------
    shape : int or sequence of ints
        Shape of the new array, e.g., ``(2, 3)`` or ``2``.
    dtype : data-type, optional
        The desired data-type for the array, e.g., `numpy.int8`.  Default is
        `numpy.float64`.
    order : {'C', 'F'}, optional, default: C
        Whether to store multi-dimensional data in row-major
        (C-style) or column-major (Fortran-style) order in
        memory.
    like : array_like
        Reference object to allow the creation of arrays which are not
        NumPy arrays. If an array-like passed in as ``like`` supports
        the ``__array_function__`` protocol, the result will be defined
        by it. In this case, it ensures the creation of an array object
        compatible with that passed in via this argument.

        .. versionadded:: 1.20.0

    Returns
    -------
    out : ndarray
        Array of ones with the given shape, dtype, and order.

    See Also
    --------
    ones_like : Return an array of ones with shape and type of input.
    empty : Return a new uninitialized array.
    zeros : Return a new array setting values to zero.
    full : Return a new array of given shape filled with value.


    Examples
    --------
    >>> np.ones(5)
    array([1., 1., 1., 1., 1.])

    >>> np.ones((5,), dtype=int)
    array([1, 1, 1, 1, 1])

    >>> np.ones((2, 1))
    array([[1.],
           [1.]])

    >>> s = (2,2)
    >>> np.ones(s)
    array([[1.,  1.],
           [1.,  1.]])

In [66]:
#ones(shape, dtype=None, order='C')
#ones() function creates array filled with 1
#You should mention the shape of the array
#You can mention the data type, otherwise default data type will be Float
#You can mention the multidimentional data storing order but we will ignore it

In [67]:
#Creating 1D ones Array
Ones1=ones((1,1,5),float)    #Ones Array, containing 5 elements, Float type
print(Ones1)
print(Ones1.dtype)
print(type(Ones1))
print(ndim(Ones1))
print(size(Ones1))
print(len(Ones1))
print(shape(Ones1)) # 1 array, 1 Row & 5 Columns

[[[1. 1. 1. 1. 1.]]]
float64
<class 'numpy.ndarray'>
3
5
1
(1, 1, 5)

In [68]:
#Creating 2D ones Array of tuples
Ones2=ones((1,5,4),int) #(5,4) is tuple of ints, containing 5*4=20 elements, integer type
print(Ones2)
print(Ones2.dtype)
print(type(Ones2))
print(ndim(Ones2))
print(size(Ones2))
print(len(Ones2))
print(shape(Ones2)) # 1 array, 5 Rows & 4 Columns

[[[1 1 1 1]
  [1 1 1 1]
  [1 1 1 1]
  [1 1 1 1]
  [1 1 1 1]]]
int32
<class 'numpy.ndarray'>
3
20
1
(1, 5, 4)

In [69]:
#Creating 2D ones Array of tuples
Ones2=ones((1,4,5),float) #(4,5) is tuple of float, containing 4*5=20 elements, float type
print(Ones2)
print(Ones2.dtype)
print(type(Ones2))
print(ndim(Ones2))
print(size(Ones2))
print(len(Ones2))
print(shape(Ones2)) # 1 array, 4 Rows & 5 Columns

[[[1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]]]
float64
<class 'numpy.ndarray'>
3
20
1
(1, 4, 5)

In [70]:
#Creating 2D ones Array of tuples
Ones2=ones((1,4,5),complex) #(4,5) is tuple of complex, containing 4*5=20 elements, complex type
print(Ones2)
print(Ones2.dtype)
print(type(Ones2))
print(ndim(Ones2))
print(size(Ones2))
print(len(Ones2))
print(shape(Ones2)) # 1 array, 4 Rows & 5 Columns

[[[1.+0.j 1.+0.j 1.+0.j 1.+0.j 1.+0.j]
  [1.+0.j 1.+0.j 1.+0.j 1.+0.j 1.+0.j]
  [1.+0.j 1.+0.j 1.+0.j 1.+0.j 1.+0.j]
  [1.+0.j 1.+0.j 1.+0.j 1.+0.j 1.+0.j]]]
complex128
<class 'numpy.ndarray'>
3
20
1
(1, 4, 5)

In [71]:
#Creating 2D ones Array of lists
Ones2=ones([1,5,4],int) #[5,4] is list of ints, containing 5*4=20 elements, integer type
print(Ones2)
print(Ones2.dtype)
print(type(Ones2))
print(ndim(Ones2))
print(size(Ones2))
print(len(Ones2))
print(shape(Ones2)) # 1 array, 5 Rows & 4 Columns

[[[1 1 1 1]
  [1 1 1 1]
  [1 1 1 1]
  [1 1 1 1]
  [1 1 1 1]]]
int32
<class 'numpy.ndarray'>
3
20
1
(1, 5, 4)

In [72]:
#Creating 2D ones Array of lists
Ones2=ones([1,4,5],float) #[4,5] is list of float, containing 4*5=20 elements, float type
print(Ones2)
print(Ones2.dtype)
print(type(Ones2))
print(ndim(Ones2))
print(size(Ones2))
print(len(Ones2))
print(shape(Ones2)) # 1 array, 4 Rows & 5 Columns

[[[1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]]]
float64
<class 'numpy.ndarray'>
3
20
1
(1, 4, 5)

## linspace() function

In [73]:
#Returns evenly spaced numbers over a specified interval.
#Creates array filled with evenly spaced/sequenced values
#It almost works like arange() function
#With linspace we provide start value, stop value and no of desired elements
#linspace automatically adjusts the step/interval for getting the no of desired elements sequence
#linspace stands for linear-space/interval/step
#In linspace we can include the stop value (optional), unlike range & arange
#We can exclude the stop value by doing endpoint=False
#We can also get the print of space/interval/step by doing retstep=True
#retstep=True it converts the result into Tuple
#.reshape() & array.dtype commands dont works along with retstep=True command
from numpy import linspace
help(linspace)

Help on function linspace in module numpy:

linspace(start, stop, num=50, endpoint=True, retstep=False, dtype=None, axis=0)
    Return evenly spaced numbers over a specified interval.

    Returns `num` evenly spaced samples, calculated over the
    interval [`start`, `stop`].

    The endpoint of the interval can optionally be excluded.

    .. versionchanged:: 1.16.0
        Non-scalar `start` and `stop` are now supported.

    .. versionchanged:: 1.20.0
        Values are rounded towards ``-inf`` instead of ``0`` when an
        integer ``dtype`` is specified. The old behavior can
        still be obtained with ``np.linspace(start, stop, num).astype(int)``

    Parameters
    ----------
    start : array_like
        The starting value of the sequence.
    stop : array_like
        The end value of the sequence, unless `endpoint` is set to False.
        In that case, the sequence consists of all but the last of ``num + 1``
        evenly spaced samples, so that `stop` is excluded.  Note that the step
        size changes when `endpoint` is False.
    num : int, optional
        Number of samples to generate. Default is 50. Must be non-negative.
    endpoint : bool, optional
        If True, `stop` is the last sample. Otherwise, it is not included.
        Default is True.
    retstep : bool, optional
        If True, return (`samples`, `step`), where `step` is the spacing
        between samples.
    dtype : dtype, optional
        The type of the output array.  If `dtype` is not given, the data type
        is inferred from `start` and `stop`. The inferred dtype will never be
        an integer; `float` is chosen even if the arguments would produce an
        array of integers.

        .. versionadded:: 1.9.0

    axis : int, optional
        The axis in the result to store the samples.  Relevant only if start
        or stop are array-like.  By default (0), the samples will be along a
        new axis inserted at the beginning. Use -1 to get an axis at the end.

        .. versionadded:: 1.16.0

    Returns
    -------
    samples : ndarray
        There are `num` equally spaced samples in the closed interval
        ``[start, stop]`` or the half-open interval ``[start, stop)``
        (depending on whether `endpoint` is True or False).
    step : float, optional
        Only returned if `retstep` is True

        Size of spacing between samples.


    See Also
    --------
    arange : Similar to `linspace`, but uses a step size (instead of the
             number of samples).
    geomspace : Similar to `linspace`, but with numbers spaced evenly on a log
                scale (a geometric progression).
    logspace : Similar to `geomspace`, but with the end points specified as
               logarithms.

    Examples
    --------
    >>> np.linspace(2.0, 3.0, num=5)
    array([2.  , 2.25, 2.5 , 2.75, 3.  ])
    >>> np.linspace(2.0, 3.0, num=5, endpoint=False)
    array([2. ,  2.2,  2.4,  2.6,  2.8])
    >>> np.linspace(2.0, 3.0, num=5, retstep=True)
    (array([2.  ,  2.25,  2.5 ,  2.75,  3.  ]), 0.25)

    Graphical illustration:

    >>> import matplotlib.pyplot as plt
    >>> N = 8
    >>> y = np.zeros(N)
    >>> x1 = np.linspace(0, 10, N, endpoint=True)
    >>> x2 = np.linspace(0, 10, N, endpoint=False)
    >>> plt.plot(x1, y, 'o')
    [<matplotlib.lines.Line2D object at 0x...>]
    >>> plt.plot(x2, y + 0.5, 'o')
    [<matplotlib.lines.Line2D object at 0x...>]
    >>> plt.ylim([-0.5, 1])
    (-0.5, 1)
    >>> plt.show()

In [74]:
# Hey you, Check the output result here.. They are inside a 1D List Array
Linspace=linspace(start=5, stop=11, num=3).reshape([1,1,3]) #5 is start, 11 is stop, 3 is no of elements, endpoint=True by default (include endpoint)
print(Linspace)
print(Linspace.dtype)
print(type(Linspace))
print(ndim(Linspace))
print(size(Linspace))
print(len(Linspace))
print(shape(Linspace))  # 1 array, 1 Row & 3 Columns

[[[ 5.  8. 11.]]]
float64
<class 'numpy.ndarray'>
3
3
1
(1, 1, 3)

In [75]:
# Hey you, Check the output result here.. They are inside a 1D List Array
Linspace2=linspace(start=5, stop=11, num=3, endpoint=False).reshape([1,1,3]) #5 is start, 11 is stop, 3 is no of elements, endpoint=False (exclude endpoint)
print(Linspace)
print(Linspace.dtype)
print(type(Linspace))
print(ndim(Linspace))
print(size(Linspace))
print(len(Linspace))
print(shape(Linspace)) # 1 array, 1 Row & 3 Columns    #11 endpoint has been excluded #by default outcomes are in float

[[[ 5.  8. 11.]]]
float64
<class 'numpy.ndarray'>
3
3
1
(1, 1, 3)

In [76]:
#retstep=True it converts the result into a 1D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
#.reshape() command dont works with Tuple Array
#array.dtype commands dont works along with retstep=True command when the output is in Tuple Array
#.reshape() & retstep=True commands never work together at any circumstances of linspace() function
Linspace3=linspace(start=5, stop=11, num=3, retstep=True, dtype=object) #5 is start, 11 is stop, 3 is no of elements, retstep=True will show the step value
print(Linspace3)
# print(Linspace3.dtype)
print(type(Linspace3))
print(ndim(Linspace3))
print(size(Linspace3))
print(len(Linspace3))
print(shape(Linspace3)) #3.0 is Step value     #by default outcomes are in float

(array([5.0, 8.0, 11.0], dtype=object), 3.0)
<class 'tuple'>
1
2
2
(2,)

D:\Anwesh\D_Program_Files\Miniconda3\envs\ML\lib\site-packages\numpy\core\fromnumeric.py:3208: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return asarray(a).size
D:\Anwesh\D_Program_Files\Miniconda3\envs\ML\lib\site-packages\numpy\core\fromnumeric.py:1970: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  result = asarray(a).shape

In [77]:
#Linspace3.dtype this command has been removed
#retstep=True it converts the result into a 1D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
#.reshape() command dont works with Tuple Array
#array.dtype commands dont works along with retstep=True command when the output is in Tuple Array
#.reshape() & retstep=True commands never work together at any circumstances of linspace() function
Linspace3=linspace(5, 11, 3, retstep=True) #5 is start, 11 is stop, 3 is no of elements, retstep=True will show the step value
print(Linspace3)
print(type(Linspace3))
print(ndim(Linspace3))
print(size(Linspace3))
print(len(Linspace3))
print(shape(Linspace3)) #3.0 is Step value     #by default outcomes are in float

(array([ 5.,  8., 11.]), 3.0)
<class 'tuple'>
1
2
2
(2,)

In [78]:
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
#retstep=True it converts the result into a 1D Tuple Array
# Linspace3.dtype this command has been removed
Linspace3=linspace(5, 11, 3, retstep=True) #5 is start, 11 is stop, 3 is no of elements, retstep=True will show the step value
print(Linspace3)
print(type(Linspace3))
print(ndim(Linspace3))
print(size(Linspace3))
print(len(Linspace3))
print(shape(Linspace3))    #3.0 is Step value   #by default outcomes are in float

(array([ 5.,  8., 11.]), 3.0)
<class 'tuple'>
1
2
2
(2,)

In [79]:
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
#retstep=True it converts the result into a 1D Tuple Array
Linspace3=linspace(5, 11, 3, retstep=True) #5 is start, 11 is stop, 3 is no of elements, retstep=True will show the step
print(Linspace3)
print(type(Linspace3))
print(ndim(Linspace3))
print(size(Linspace3))
print(len(Linspace3))
print(shape(Linspace3))    #3.0 is Step, #by default outcomes are in float

(array([ 5.,  8., 11.]), 3.0)
<class 'tuple'>
1
2
2
(2,)

In [80]:
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
#retstep=True it converts the result into a 1D Tuple Array
Linspace4=linspace(5, 11, 3, retstep=True, dtype=int) #5 is start, 11 is stop, 3 is no of elements, retstep=True will show the step
print(Linspace3)
print(type(Linspace4))
print(ndim(Linspace4))
print(size(Linspace4))
print(len(Linspace4))
print(shape(Linspace4))  #Showing 3 integers along with step

(array([ 5.,  8., 11.]), 3.0)
<class 'tuple'>
1
2
2
(2,)

In [81]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#You cant use retstep=True command along with array.dtype command
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
#.reshape() & retstep=True commands never work together at any circumstances of linspace() function
Linspace=linspace([1,11], 5, num=10).reshape([1,10,2])                               #2D linspace array with 2 Lists
print(Linspace)
print(type(Linspace))
print(ndim(Linspace))
print(size(Linspace))
print(len(Linspace))
print(shape(Linspace)) #start=1, stop=5, num=10 for 1st List
                       #start=11, stop=5, num=10 for 2nd List
                       # 1 array, 10 Rows & 2 Columns

[[[ 1.         11.        ]
  [ 1.44444444 10.33333333]
  [ 1.88888889  9.66666667]
  [ 2.33333333  9.        ]
  [ 2.77777778  8.33333333]
  [ 3.22222222  7.66666667]
  [ 3.66666667  7.        ]
  [ 4.11111111  6.33333333]
  [ 4.55555556  5.66666667]
  [ 5.          5.        ]]]
<class 'numpy.ndarray'>
3
20
1
(1, 10, 2)

In [82]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#You cant use retstep=True command along with array.dtype command
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
#.reshape() & retstep=True commands never work together at any circumstances of linspace() function
# By default num=50
Linspace=linspace([1,6], [5,10], num=50).reshape([1, 50, 2])                              #2D linspace array with 2 Lists
print(Linspace)
print(type(Linspace))
print(ndim(Linspace))
print(size(Linspace))
print(len(Linspace))
print(shape(Linspace)) #start=1, stop=5, num=50 for 1st List
                       #start=6, stop=10, num=50 for 2nd List
                       # 1 array, 50 Rows & 2 Columns

[[[ 1.          6.        ]
  [ 1.08163265  6.08163265]
  [ 1.16326531  6.16326531]
  [ 1.24489796  6.24489796]
  [ 1.32653061  6.32653061]
  [ 1.40816327  6.40816327]
  [ 1.48979592  6.48979592]
  [ 1.57142857  6.57142857]
  [ 1.65306122  6.65306122]
  [ 1.73469388  6.73469388]
  [ 1.81632653  6.81632653]
  [ 1.89795918  6.89795918]
  [ 1.97959184  6.97959184]
  [ 2.06122449  7.06122449]
  [ 2.14285714  7.14285714]
  [ 2.2244898   7.2244898 ]
  [ 2.30612245  7.30612245]
  [ 2.3877551   7.3877551 ]
  [ 2.46938776  7.46938776]
  [ 2.55102041  7.55102041]
  [ 2.63265306  7.63265306]
  [ 2.71428571  7.71428571]
  [ 2.79591837  7.79591837]
  [ 2.87755102  7.87755102]
  [ 2.95918367  7.95918367]
  [ 3.04081633  8.04081633]
  [ 3.12244898  8.12244898]
  [ 3.20408163  8.20408163]
  [ 3.28571429  8.28571429]
  [ 3.36734694  8.36734694]
  [ 3.44897959  8.44897959]
  [ 3.53061224  8.53061224]
  [ 3.6122449   8.6122449 ]
  [ 3.69387755  8.69387755]
  [ 3.7755102   8.7755102 ]
  [ 3.85714286  8.85714286]
  [ 3.93877551  8.93877551]
  [ 4.02040816  9.02040816]
  [ 4.10204082  9.10204082]
  [ 4.18367347  9.18367347]
  [ 4.26530612  9.26530612]
  [ 4.34693878  9.34693878]
  [ 4.42857143  9.42857143]
  [ 4.51020408  9.51020408]
  [ 4.59183673  9.59183673]
  [ 4.67346939  9.67346939]
  [ 4.75510204  9.75510204]
  [ 4.83673469  9.83673469]
  [ 4.91836735  9.91836735]
  [ 5.         10.        ]]]
<class 'numpy.ndarray'>
3
100
1
(1, 50, 2)

In [83]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#You cant use retstep=True command along with array.dtype command
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
#.reshape() & retstep=True commands never work together at any circumstances of linspace() function
Linspace=linspace([1,6], [5,10], num=50).reshape([1, 50, 2])                               #2D linspace array with 2 Lists
print(Linspace)
print(type(Linspace))
print(ndim(Linspace))
print(size(Linspace))
print(len(Linspace))
print(shape(Linspace))  #start=1, stop=5, num=50 for 1st List
                        #start=6, stop=10, num=50 for 2nd List
                        # 1 array, 50 Rows & 2 Columns

[[[ 1.          6.        ]
  [ 1.08163265  6.08163265]
  [ 1.16326531  6.16326531]
  [ 1.24489796  6.24489796]
  [ 1.32653061  6.32653061]
  [ 1.40816327  6.40816327]
  [ 1.48979592  6.48979592]
  [ 1.57142857  6.57142857]
  [ 1.65306122  6.65306122]
  [ 1.73469388  6.73469388]
  [ 1.81632653  6.81632653]
  [ 1.89795918  6.89795918]
  [ 1.97959184  6.97959184]
  [ 2.06122449  7.06122449]
  [ 2.14285714  7.14285714]
  [ 2.2244898   7.2244898 ]
  [ 2.30612245  7.30612245]
  [ 2.3877551   7.3877551 ]
  [ 2.46938776  7.46938776]
  [ 2.55102041  7.55102041]
  [ 2.63265306  7.63265306]
  [ 2.71428571  7.71428571]
  [ 2.79591837  7.79591837]
  [ 2.87755102  7.87755102]
  [ 2.95918367  7.95918367]
  [ 3.04081633  8.04081633]
  [ 3.12244898  8.12244898]
  [ 3.20408163  8.20408163]
  [ 3.28571429  8.28571429]
  [ 3.36734694  8.36734694]
  [ 3.44897959  8.44897959]
  [ 3.53061224  8.53061224]
  [ 3.6122449   8.6122449 ]
  [ 3.69387755  8.69387755]
  [ 3.7755102   8.7755102 ]
  [ 3.85714286  8.85714286]
  [ 3.93877551  8.93877551]
  [ 4.02040816  9.02040816]
  [ 4.10204082  9.10204082]
  [ 4.18367347  9.18367347]
  [ 4.26530612  9.26530612]
  [ 4.34693878  9.34693878]
  [ 4.42857143  9.42857143]
  [ 4.51020408  9.51020408]
  [ 4.59183673  9.59183673]
  [ 4.67346939  9.67346939]
  [ 4.75510204  9.75510204]
  [ 4.83673469  9.83673469]
  [ 4.91836735  9.91836735]
  [ 5.         10.        ]]]
<class 'numpy.ndarray'>
3
100
1
(1, 50, 2)

In [84]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
#You cant use retstep=True command along with array.dtype command
#.reshape() & retstep=True commands never work together at any circumstances of linspace() function
Linspace=linspace([1,11], 5, num=10).reshape([1,4,5])     #2D linspace array with 2 Lists
print(Linspace)
print(type(Linspace))
print(ndim(Linspace))    
print(size(Linspace))
print(len(Linspace))
print(shape(Linspace)) #start=1, stop=5, num=10 for 1st List, step value=0.44444444
                       #start=11, stop=5, num=10 for 2nd List, step value=-0.66666667
                       # 1 Array, 4 Rows & 5 Columns

[[[ 1.         11.          1.44444444 10.33333333  1.88888889]
  [ 9.66666667  2.33333333  9.          2.77777778  8.33333333]
  [ 3.22222222  7.66666667  3.66666667  7.          4.11111111]
  [ 6.33333333  4.55555556  5.66666667  5.          5.        ]]]
<class 'numpy.ndarray'>
3
20
1
(1, 4, 5)

In [85]:
# .reshape() command got removed
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
#You cant use retstep=True command along with array.dtype command
#.reshape() & retstep=True commands never work together at any circumstances of linspace() function
Linspace=linspace([1,11], 5, 10, retstep=True)                  #2D linspace array with 2 Lists
print(Linspace)
print(type(Linspace))
print(ndim(Linspace))    
print(size(Linspace))
print(len(Linspace))
print(shape(Linspace)) #start=1, stop=5, num=10 for 1st List, step value=0.44444444
                                                             #start=11, stop=5, num=10 for 2nd List, step value=-0.66666667

(array([[ 1.        , 11.        ],
       [ 1.44444444, 10.33333333],
       [ 1.88888889,  9.66666667],
       [ 2.33333333,  9.        ],
       [ 2.77777778,  8.33333333],
       [ 3.22222222,  7.66666667],
       [ 3.66666667,  7.        ],
       [ 4.11111111,  6.33333333],
       [ 4.55555556,  5.66666667],
       [ 5.        ,  5.        ]]), array([ 0.44444444, -0.66666667]))
<class 'tuple'>
1
2
2
(2,)

In [86]:
# retstep=True command got removed
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
#You cant use retstep=True command along with array.dtype command
#.reshape() & retstep=True commands never work together at any circumstances of linspace() function
Linspace=linspace([1,11], 5, 10).reshape([1,4,5])     #2D linspace array with 2 Lists
print(Linspace)
print(type(Linspace))
print(ndim(Linspace))    
print(size(Linspace))   # 1 Array, 4 Rows & 5 Columns
print(len(Linspace))
print(shape(Linspace)) #start=1, stop=5, num=10 for 1st List, step value=0.44444444
                                                             #start=11, stop=5, num=10 for 2nd List, step value=-0.66666667

[[[ 1.         11.          1.44444444 10.33333333  1.88888889]
  [ 9.66666667  2.33333333  9.          2.77777778  8.33333333]
  [ 3.22222222  7.66666667  3.66666667  7.          4.11111111]
  [ 6.33333333  4.55555556  5.66666667  5.          5.        ]]]
<class 'numpy.ndarray'>
3
20
1
(1, 4, 5)

In [87]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
Linspace=linspace([1,11], 5, 10, retstep=True, dtype=complex) #2D linspace array with 2 Lists, dtype=complex
print(Linspace)
print(type(Linspace))
print(ndim(Linspace))    
print(size(Linspace))
print(len(Linspace))
print(shape(Linspace))                                           #start=1, stop=5, num=10 for 1st List, step value=0.44444444
                                                          #start=11, stop=5, num=10 for 2nd List, step value=-0.66666667

(array([[ 1.        +0.j, 11.        +0.j],
       [ 1.44444444+0.j, 10.33333333+0.j],
       [ 1.88888889+0.j,  9.66666667+0.j],
       [ 2.33333333+0.j,  9.        +0.j],
       [ 2.77777778+0.j,  8.33333333+0.j],
       [ 3.22222222+0.j,  7.66666667+0.j],
       [ 3.66666667+0.j,  7.        +0.j],
       [ 4.11111111+0.j,  6.33333333+0.j],
       [ 4.55555556+0.j,  5.66666667+0.j],
       [ 5.        +0.j,  5.        +0.j]]), array([ 0.44444444, -0.66666667]))
<class 'tuple'>
1
2
2
(2,)

In [88]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
Linspace=linspace((1,11), 5, 10, retstep=True) #2D linspace array with 2 Tuples
print(Linspace)
print(type(Linspace))
print(ndim(Linspace))    
print(size(Linspace))
print(len(Linspace))
print(shape(Linspace))                      #start=1, stop=5, num=10 for 1st Tuple, step value=0.44444444
                                            #start=11, stop=5, num=10 for 2nd Tuple, step value=-0.66666667

(array([[ 1.        , 11.        ],
       [ 1.44444444, 10.33333333],
       [ 1.88888889,  9.66666667],
       [ 2.33333333,  9.        ],
       [ 2.77777778,  8.33333333],
       [ 3.22222222,  7.66666667],
       [ 3.66666667,  7.        ],
       [ 4.11111111,  6.33333333],
       [ 4.55555556,  5.66666667],
       [ 5.        ,  5.        ]]), array([ 0.44444444, -0.66666667]))
<class 'tuple'>
1
2
2
(2,)

In [89]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
Linspace=linspace((1,11), 5, 10, retstep=True) #2D linspace array with 2 Tuples
print(Linspace)
print(type(Linspace))
print(ndim(Linspace))    
print(size(Linspace))
print(len(Linspace))
print(shape(Linspace))                               #start=1, stop=5, num=10 for 1st Tuple, step value=0.44444444
                                            #start=11, stop=5, num=10 for 2nd Tuple, step value=-0.66666667

(array([[ 1.        , 11.        ],
       [ 1.44444444, 10.33333333],
       [ 1.88888889,  9.66666667],
       [ 2.33333333,  9.        ],
       [ 2.77777778,  8.33333333],
       [ 3.22222222,  7.66666667],
       [ 3.66666667,  7.        ],
       [ 4.11111111,  6.33333333],
       [ 4.55555556,  5.66666667],
       [ 5.        ,  5.        ]]), array([ 0.44444444, -0.66666667]))
<class 'tuple'>
1
2
2
(2,)

In [90]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
Linspace=linspace([1,11], 5, 10, dtype=complex).reshape([1,4,5]) #2D linspace array with 2 Lists, dtype=complex
print(Linspace)
print(type(Linspace))
print(ndim(Linspace))    
print(size(Linspace))   # 1 array, 4 Rows & 5 Columns
print(len(Linspace))
print(shape(Linspace))                                            #start=1, stop=5, num=10 for 1st List
                                                          #start=11, stop=5, num=10 for 2nd List
                                                          #4 rows & 5 columns

[[[ 1.        +0.j 11.        +0.j  1.44444444+0.j 10.33333333+0.j
    1.88888889+0.j]
  [ 9.66666667+0.j  2.33333333+0.j  9.        +0.j  2.77777778+0.j
    8.33333333+0.j]
  [ 3.22222222+0.j  7.66666667+0.j  3.66666667+0.j  7.        +0.j
    4.11111111+0.j]
  [ 6.33333333+0.j  4.55555556+0.j  5.66666667+0.j  5.        +0.j
    5.        +0.j]]]
<class 'numpy.ndarray'>
3
20
1
(1, 4, 5)

In [91]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
Linspace=linspace([1,11], 5, 10, retstep=True) #2D linspace array with 2 Lists
print(Linspace)
print(type(Linspace))
print(ndim(Linspace))    
print(size(Linspace))
print(len(Linspace))
print(shape(Linspace))                                            #start=1, stop=5, num=10 for 1st List
                                                         #start=11, stop=5, num=10 for 2nd List
                                                         #4 rows & 5 columns

(array([[ 1.        , 11.        ],
       [ 1.44444444, 10.33333333],
       [ 1.88888889,  9.66666667],
       [ 2.33333333,  9.        ],
       [ 2.77777778,  8.33333333],
       [ 3.22222222,  7.66666667],
       [ 3.66666667,  7.        ],
       [ 4.11111111,  6.33333333],
       [ 4.55555556,  5.66666667],
       [ 5.        ,  5.        ]]), array([ 0.44444444, -0.66666667]))
<class 'tuple'>
1
2
2
(2,)

In [92]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
Linspace=linspace((1,11), 5, 10).reshape([1,4,5]) #2D linspace array with 2 Tuples
print(Linspace)
print(type(Linspace))
print(ndim(Linspace))    
print(size(Linspace))  # 1 array, 4 Rows & 5 Columns
print(len(Linspace))
print(shape(Linspace))                              #start=1, stop=5, num=10 for 1st Tuple
                                            #start=11, stop=5, num=10 for 2nd Tuple
                                            #4 rows & 5 columns

[[[ 1.         11.          1.44444444 10.33333333  1.88888889]
  [ 9.66666667  2.33333333  9.          2.77777778  8.33333333]
  [ 3.22222222  7.66666667  3.66666667  7.          4.11111111]
  [ 6.33333333  4.55555556  5.66666667  5.          5.        ]]]
<class 'numpy.ndarray'>
3
20
1
(1, 4, 5)

In [93]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work

Linspace=linspace([1,11], 5, 10, retstep=True)
print(Linspace)
print(type(Linspace))
print(ndim(Linspace))    
print(size(Linspace))
print(len(Linspace))
print(shape(Linspace))   #Step 0.44444444 for 1st List, Step -0.66666667 for 2nd List

(array([[ 1.        , 11.        ],
       [ 1.44444444, 10.33333333],
       [ 1.88888889,  9.66666667],
       [ 2.33333333,  9.        ],
       [ 2.77777778,  8.33333333],
       [ 3.22222222,  7.66666667],
       [ 3.66666667,  7.        ],
       [ 4.11111111,  6.33333333],
       [ 4.55555556,  5.66666667],
       [ 5.        ,  5.        ]]), array([ 0.44444444, -0.66666667]))
<class 'tuple'>
1
2
2
(2,)

In [94]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
Linspace=linspace((1,11), 5, 10, retstep=True)
print(Linspace)
print(type(Linspace))
print(ndim(Linspace))    
print(size(Linspace))
print(len(Linspace))
print(shape(Linspace))   #Step 0.44444444 for 1st Tuple, Step -0.66666667 for 2nd Tuple

(array([[ 1.        , 11.        ],
       [ 1.44444444, 10.33333333],
       [ 1.88888889,  9.66666667],
       [ 2.33333333,  9.        ],
       [ 2.77777778,  8.33333333],
       [ 3.22222222,  7.66666667],
       [ 3.66666667,  7.        ],
       [ 4.11111111,  6.33333333],
       [ 4.55555556,  5.66666667],
       [ 5.        ,  5.        ]]), array([ 0.44444444, -0.66666667]))
<class 'tuple'>
1
2
2
(2,)

In [95]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
Linspace=linspace((1,11), (11,21), 10, retstep=True)  #2D linspace array with 2 Tuples
print(Linspace)
print(type(Linspace))
print(ndim(Linspace))    
print(size(Linspace))
print(len(Linspace))
print(shape(Linspace))                                      #start=1, stop=11, num=10 for 1st Tuple, step value=1.11111111
                                                   #start=11, stop=21, num=10 for 2nd Tuple, step value=1.11111111

(array([[ 1.        , 11.        ],
       [ 2.11111111, 12.11111111],
       [ 3.22222222, 13.22222222],
       [ 4.33333333, 14.33333333],
       [ 5.44444444, 15.44444444],
       [ 6.55555556, 16.55555556],
       [ 7.66666667, 17.66666667],
       [ 8.77777778, 18.77777778],
       [ 9.88888889, 19.88888889],
       [11.        , 21.        ]]), array([1.11111111, 1.11111111]))
<class 'tuple'>
1
2
2
(2,)

In [96]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
Linspace=linspace((1,11), (11,21), num=10).reshape([1,4,5])  #2D linspace array with 2 Tuples
print(Linspace)
print(type(Linspace))
print(ndim(Linspace))    
print(size(Linspace))  # 1 array, 4 Rows & 5 Columns
print(len(Linspace))
print(shape(Linspace))                                      #start=1, stop=11, num=10 for 1st Tuple, step value=1.11111111
                                                   #start=11, stop=21, num=10 for 2nd Tuple, step value=1.11111111

[[[ 1.         11.          2.11111111 12.11111111  3.22222222]
  [13.22222222  4.33333333 14.33333333  5.44444444 15.44444444]
  [ 6.55555556 16.55555556  7.66666667 17.66666667  8.77777778]
  [18.77777778  9.88888889 19.88888889 11.         21.        ]]]
<class 'numpy.ndarray'>
3
20
1
(1, 4, 5)

In [97]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
Linspace=linspace((1,11), (11,21), num=10).reshape([1,4,5])  #2D linspace array with 2 Tuples
print(Linspace)
print(type(Linspace))
print(ndim(Linspace))    
print(size(Linspace)) # 1 array, 4 Rows & 5 Columns
print(len(Linspace))
print(shape(Linspace))                                     #start=1, stop=11, num=10 for 1st Tuple, step value=1.11111111
                                                   #start=11, stop=21, num=10 for 2nd Tuple, step value=1.11111111
                                                   #4 rows & 5 columns

[[[ 1.         11.          2.11111111 12.11111111  3.22222222]
  [13.22222222  4.33333333 14.33333333  5.44444444 15.44444444]
  [ 6.55555556 16.55555556  7.66666667 17.66666667  8.77777778]
  [18.77777778  9.88888889 19.88888889 11.         21.        ]]]
<class 'numpy.ndarray'>
3
20
1
(1, 4, 5)

In [98]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
Linspace=linspace((1,11), (11,21), num=10).reshape([1,5,4])  #2D linspace array with 2 Tuples
print(Linspace)
print(type(Linspace))
print(ndim(Linspace))    
print(size(Linspace)) # 1 array, 5 Rows & 4 Columns
print(len(Linspace))
print(shape(Linspace))                                     #start=1, stop=11, num=10 for 1st Tuple, step value=1.11111111
                                                   #start=11, stop=21, num=10 for 2nd Tuple, step value=1.11111111
                                                   #4 rows & 5 columns

[[[ 1.         11.          2.11111111 12.11111111]
  [ 3.22222222 13.22222222  4.33333333 14.33333333]
  [ 5.44444444 15.44444444  6.55555556 16.55555556]
  [ 7.66666667 17.66666667  8.77777778 18.77777778]
  [ 9.88888889 19.88888889 11.         21.        ]]]
<class 'numpy.ndarray'>
3
20
1
(1, 5, 4)

In [99]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
Linspace=linspace((1,11), (11,21), num=50).reshape([1,10,10])  #2D linspace array with 2 Tuples
print(Linspace)
print(type(Linspace))
print(ndim(Linspace))    
print(size(Linspace)) # 1 array, 10 Rows & 10 Columns
print(len(Linspace))
print(shape(Linspace))                                     #start=1, stop=11, num=10 for 1st Tuple, step value=1.11111111
                                                   #start=11, stop=21, num=10 for 2nd Tuple, step value=1.11111111
                                                   #4 rows & 5 columns

[[[ 1.         11.          1.20408163 11.20408163  1.40816327
   11.40816327  1.6122449  11.6122449   1.81632653 11.81632653]
  [ 2.02040816 12.02040816  2.2244898  12.2244898   2.42857143
   12.42857143  2.63265306 12.63265306  2.83673469 12.83673469]
  [ 3.04081633 13.04081633  3.24489796 13.24489796  3.44897959
   13.44897959  3.65306122 13.65306122  3.85714286 13.85714286]
  [ 4.06122449 14.06122449  4.26530612 14.26530612  4.46938776
   14.46938776  4.67346939 14.67346939  4.87755102 14.87755102]
  [ 5.08163265 15.08163265  5.28571429 15.28571429  5.48979592
   15.48979592  5.69387755 15.69387755  5.89795918 15.89795918]
  [ 6.10204082 16.10204082  6.30612245 16.30612245  6.51020408
   16.51020408  6.71428571 16.71428571  6.91836735 16.91836735]
  [ 7.12244898 17.12244898  7.32653061 17.32653061  7.53061224
   17.53061224  7.73469388 17.73469388  7.93877551 17.93877551]
  [ 8.14285714 18.14285714  8.34693878 18.34693878  8.55102041
   18.55102041  8.75510204 18.75510204  8.95918367 18.95918367]
  [ 9.16326531 19.16326531  9.36734694 19.36734694  9.57142857
   19.57142857  9.7755102  19.7755102   9.97959184 19.97959184]
  [10.18367347 20.18367347 10.3877551  20.3877551  10.59183673
   20.59183673 10.79591837 20.79591837 11.         21.        ]]]
<class 'numpy.ndarray'>
3
100
1
(1, 10, 10)

In [100]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
Linspace=linspace((1,11), (11,21), num=10).reshape([1,5,4])  #2D linspace array with 2 Tuples
print(Linspace)
print(type(Linspace))
print(ndim(Linspace))    
print(size(Linspace)) # 1 array, 5 Rows & 4 Columns
print(len(Linspace))
print(shape(Linspace))                                     #start=1, stop=11, num=10 for 1st Tuple, step value=1.11111111
                                                   #start=11, stop=21, num=10 for 2nd Tuple, step value=1.11111111
                                                   #4 rows & 5 columns

[[[ 1.         11.          2.11111111 12.11111111]
  [ 3.22222222 13.22222222  4.33333333 14.33333333]
  [ 5.44444444 15.44444444  6.55555556 16.55555556]
  [ 7.66666667 17.66666667  8.77777778 18.77777778]
  [ 9.88888889 19.88888889 11.         21.        ]]]
<class 'numpy.ndarray'>
3
20
1
(1, 5, 4)

In [101]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
Linspace=linspace((1,11), (11,21), num=10, dtype=complex).reshape([1,4,5])  #2D linspace array with 2 Tuples, dtype=complex
print(Linspace)
print(type(Linspace))
print(ndim(Linspace))    
print(size(Linspace)) # 1 array, 4 Rows & 5 Columns
print(len(Linspace))
print(shape(Linspace))                                                   #start=1, stop=11, num=10 for 1st Tuple, step value=1.11111111
                                                                 #start=11, stop=21, num=10 for 2nd Tuple, step value=1.11111111
                                                                 #4 rows & 5 columns

[[[ 1.        +0.j 11.        +0.j  2.11111111+0.j 12.11111111+0.j
    3.22222222+0.j]
  [13.22222222+0.j  4.33333333+0.j 14.33333333+0.j  5.44444444+0.j
   15.44444444+0.j]
  [ 6.55555556+0.j 16.55555556+0.j  7.66666667+0.j 17.66666667+0.j
    8.77777778+0.j]
  [18.77777778+0.j  9.88888889+0.j 19.88888889+0.j 11.        +0.j
   21.        +0.j]]]
<class 'numpy.ndarray'>
3
20
1
(1, 4, 5)

In [102]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
Linspace=linspace(start=[1,11], stop=[11,21], num=10).reshape([1,10,2]) #2D linspace array with 2 Lists
print(Linspace)
print(type(Linspace))
print(ndim(Linspace))    
print(size(Linspace)) # 1 array, 10 Rows & 2 Columns
print(len(Linspace))
print(shape(Linspace))                       #start=1, stop=11, num=10 for 1st List
                                     #start=11, stop=21, num=10 for 2nd List

[[[ 1.         11.        ]
  [ 2.11111111 12.11111111]
  [ 3.22222222 13.22222222]
  [ 4.33333333 14.33333333]
  [ 5.44444444 15.44444444]
  [ 6.55555556 16.55555556]
  [ 7.66666667 17.66666667]
  [ 8.77777778 18.77777778]
  [ 9.88888889 19.88888889]
  [11.         21.        ]]]
<class 'numpy.ndarray'>
3
20
1
(1, 10, 2)

In [103]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
# By default num=50
Linspace=linspace([1,11], [11,21]).reshape([1,10,10])    #2D linspace array with 2 Lists
print(Linspace)
print(type(Linspace))
print(ndim(Linspace))    
print(size(Linspace))  # 1 array, 10 Rows & 10 Columns
print(len(Linspace))
print(shape(Linspace))                       #start=1, stop=11, num=50 for 1st List
                                     #start=11, stop=21, num=50 for 2nd List

[[[ 1.         11.          1.20408163 11.20408163  1.40816327
   11.40816327  1.6122449  11.6122449   1.81632653 11.81632653]
  [ 2.02040816 12.02040816  2.2244898  12.2244898   2.42857143
   12.42857143  2.63265306 12.63265306  2.83673469 12.83673469]
  [ 3.04081633 13.04081633  3.24489796 13.24489796  3.44897959
   13.44897959  3.65306122 13.65306122  3.85714286 13.85714286]
  [ 4.06122449 14.06122449  4.26530612 14.26530612  4.46938776
   14.46938776  4.67346939 14.67346939  4.87755102 14.87755102]
  [ 5.08163265 15.08163265  5.28571429 15.28571429  5.48979592
   15.48979592  5.69387755 15.69387755  5.89795918 15.89795918]
  [ 6.10204082 16.10204082  6.30612245 16.30612245  6.51020408
   16.51020408  6.71428571 16.71428571  6.91836735 16.91836735]
  [ 7.12244898 17.12244898  7.32653061 17.32653061  7.53061224
   17.53061224  7.73469388 17.73469388  7.93877551 17.93877551]
  [ 8.14285714 18.14285714  8.34693878 18.34693878  8.55102041
   18.55102041  8.75510204 18.75510204  8.95918367 18.95918367]
  [ 9.16326531 19.16326531  9.36734694 19.36734694  9.57142857
   19.57142857  9.7755102  19.7755102   9.97959184 19.97959184]
  [10.18367347 20.18367347 10.3877551  20.3877551  10.59183673
   20.59183673 10.79591837 20.79591837 11.         21.        ]]]
<class 'numpy.ndarray'>
3
100
1
(1, 10, 10)

In [104]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
Linspace=linspace((1,11), (11,21), num=10, endpoint=False, retstep=True) #2D linspace array with 2 Tuples
print(Linspace)
print(type(Linspace))
print(ndim(Linspace))    
print(size(Linspace))
print(len(Linspace))
print(shape(Linspace))                                   #start=1, stop=11, num=10 for 1st Tuple, step value=1.
                                                #start=11, stop=21, num=10 for 2nd Tuple, step value=1.
                                                #endpoint=False
                                                #retstep=True

(array([[ 1., 11.],
       [ 2., 12.],
       [ 3., 13.],
       [ 4., 14.],
       [ 5., 15.],
       [ 6., 16.],
       [ 7., 17.],
       [ 8., 18.],
       [ 9., 19.],
       [10., 20.]]), array([1., 1.]))
<class 'tuple'>
1
2
2
(2,)

In [105]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
Linspace=linspace([1,11], [11,21], num=10, endpoint=False, retstep=True) #2D linspace array with 2 Lists
print(Linspace)
print(type(Linspace))
print(ndim(Linspace))    
print(size(Linspace))
print(len(Linspace))
print(shape(Linspace))                                   #start=1, stop=11, num=10 for 1st List, step value=1.
                                                #start=11, stop=21, num=10 for 2nd List, step value=1.
                                                #endpoint=False
                                                #retstep=True

(array([[ 1., 11.],
       [ 2., 12.],
       [ 3., 13.],
       [ 4., 14.],
       [ 5., 15.],
       [ 6., 16.],
       [ 7., 17.],
       [ 8., 18.],
       [ 9., 19.],
       [10., 20.]]), array([1., 1.]))
<class 'tuple'>
1
2
2
(2,)

## eye() function is identity matrix

In [106]:
#Eye() function creates array filled with zeros except in the K-th diagonal, whos values are equal to 1
#First parametre is row, 2nd parametre is column, 3rd parametre is K diagonal value, 4th parametre is data type
#If you dont give column value then it will take the same row value for column
#K positive is upper diagonal, K negative means lower diagonal
#Diagonal always run from Left to right down
from numpy import eye
help(eye)

Help on function eye in module numpy:

eye(N, M=None, k=0, dtype=<class 'float'>, order='C', *, like=None)
    Return a 2-D array with ones on the diagonal and zeros elsewhere.

    Parameters
    ----------
    N : int
      Number of rows in the output.
    M : int, optional
      Number of columns in the output. If None, defaults to `N`.
    k : int, optional
      Index of the diagonal: 0 (the default) refers to the main diagonal,
      a positive value refers to an upper diagonal, and a negative value
      to a lower diagonal.
    dtype : data-type, optional
      Data-type of the returned array.
    order : {'C', 'F'}, optional
        Whether the output should be stored in row-major (C-style) or
        column-major (Fortran-style) order in memory.

        .. versionadded:: 1.14.0
    like : array_like
        Reference object to allow the creation of arrays which are not
        NumPy arrays. If an array-like passed in as ``like`` supports
        the ``__array_function__`` protocol, the result will be defined
        by it. In this case, it ensures the creation of an array object
        compatible with that passed in via this argument.

        .. versionadded:: 1.20.0

    Returns
    -------
    I : ndarray of shape (N,M)
      An array where all elements are equal to zero, except for the `k`-th
      diagonal, whose values are equal to one.

    See Also
    --------
    identity : (almost) equivalent function
    diag : diagonal 2-D array from a 1-D array specified by the user.

    Examples
    --------
    >>> np.eye(2, dtype=int)
    array([[1, 0],
           [0, 1]])
    >>> np.eye(3, k=1)
    array([[0.,  1.,  0.],
           [0.,  0.,  1.],
           [0.,  0.,  0.]])

In [107]:
#eye() function creates 2D Array
Eye=eye(5).reshape([1,5,5])                               #Eye array made of row=5, col=5 
print(Eye)
print(type(Eye))
print(ndim(Eye))    
print(size(Eye)) # 1 array, 5 Rows & 5 Columns
print(len(Eye))
print(shape(Eye))    #Ones are in the main diagonal, diagonally 5 eyes

[[[1. 0. 0. 0. 0.]
  [0. 1. 0. 0. 0.]
  [0. 0. 1. 0. 0.]
  [0. 0. 0. 1. 0.]
  [0. 0. 0. 0. 1.]]]
<class 'numpy.ndarray'>
3
25
1
(1, 5, 5)

In [108]:
#eye() function creates 2D Array
Eye=eye(5, 5, dtype=complex).reshape([1,5,5])            #Eye array made of row=5, col=5, dtype=complex 
print(Eye)
print(type(Eye))
print(ndim(Eye))    
print(size(Eye)) # 1 array, 5 Rows & 5 Columns
print(len(Eye))
print(shape(Eye)) #Ones are in the main diagonal

[[[1.+0.j 0.+0.j 0.+0.j 0.+0.j 0.+0.j]
  [0.+0.j 1.+0.j 0.+0.j 0.+0.j 0.+0.j]
  [0.+0.j 0.+0.j 1.+0.j 0.+0.j 0.+0.j]
  [0.+0.j 0.+0.j 0.+0.j 1.+0.j 0.+0.j]
  [0.+0.j 0.+0.j 0.+0.j 0.+0.j 1.+0.j]]]
<class 'numpy.ndarray'>
3
25
1
(1, 5, 5)

In [109]:
#eye() function creates 2D Array
Eye=eye(5, dtype=complex).reshape([1,5,5])               #Eye array made of row=5, col=5, dtype=complex 
print(Eye)
print(type(Eye))
print(ndim(Eye))    
print(size(Eye)) # 1 array, 5 Rows & 5 Columns
print(len(Eye))
print(shape(Eye)) #Ones are in the main diagonal

[[[1.+0.j 0.+0.j 0.+0.j 0.+0.j 0.+0.j]
  [0.+0.j 1.+0.j 0.+0.j 0.+0.j 0.+0.j]
  [0.+0.j 0.+0.j 1.+0.j 0.+0.j 0.+0.j]
  [0.+0.j 0.+0.j 0.+0.j 1.+0.j 0.+0.j]
  [0.+0.j 0.+0.j 0.+0.j 0.+0.j 1.+0.j]]]
<class 'numpy.ndarray'>
3
25
1
(1, 5, 5)

In [110]:
#eye() function creates 2D Array
Eye=eye(5,4).reshape([1,5,4])                             #Eye array made of row=5, col=4 
print(Eye)
print(type(Eye))
print(ndim(Eye))    
print(size(Eye)) # 1 array, 5 Rows & 4 Columns
print(len(Eye))
print(shape(Eye)) #Ones are in the main diagonal

[[[1. 0. 0. 0.]
  [0. 1. 0. 0.]
  [0. 0. 1. 0.]
  [0. 0. 0. 1.]
  [0. 0. 0. 0.]]]
<class 'numpy.ndarray'>
3
20
1
(1, 5, 4)

In [111]:
#eye() function creates 2D Array
Eye=eye(4,5).reshape([1,4,5])                            #Eye array made of row=4, col=5 
print(Eye)
print(type(Eye))
print(ndim(Eye))    
print(size(Eye))  # 1 array, 4 Rows & 5 Columns
print(len(Eye))
print(shape(Eye)) #Ones are in the main diagonal

[[[1. 0. 0. 0. 0.]
  [0. 1. 0. 0. 0.]
  [0. 0. 1. 0. 0.]
  [0. 0. 0. 1. 0.]]]
<class 'numpy.ndarray'>
3
20
1
(1, 4, 5)

In [112]:
#eye() function creates 2D Array
Eye=eye(5,5).reshape([1,5,5])                             #Eye array made of row=5, col=5 
print(Eye)
print(type(Eye))
print(ndim(Eye))    
print(size(Eye)) # 1 array, 5 Rows & 5 Columns
print(len(Eye))
print(shape(Eye)) #Ones are in the main diagonal

[[[1. 0. 0. 0. 0.]
  [0. 1. 0. 0. 0.]
  [0. 0. 1. 0. 0.]
  [0. 0. 0. 1. 0.]
  [0. 0. 0. 0. 1.]]]
<class 'numpy.ndarray'>
3
25
1
(1, 5, 5)

In [113]:
#eye() function creates 2D Array
Eye=eye(5, dtype=int).reshape([1,5,5])                     #All elements are in integer form
print(Eye)
print(type(Eye))
print(ndim(Eye))    
print(size(Eye)) # 1 array, 5 Rows & 5 Columns
print(len(Eye))
print(shape(Eye)) #Int Ones are in the main diagonal

[[[1 0 0 0 0]
  [0 1 0 0 0]
  [0 0 1 0 0]
  [0 0 0 1 0]
  [0 0 0 0 1]]]
<class 'numpy.ndarray'>
3
25
1
(1, 5, 5)

In [114]:
#eye() function creates 2D Array
Eye=eye(5, 5, k=4, dtype=int).reshape([1,5,5])                 #All elements are in integer form
print(Eye)
print(type(Eye))
print(ndim(Eye))    
print(size(Eye)) # 1 array, 5 Rows & 5 Columns
print(len(Eye))
print(shape(Eye)) #Int Ones are in the main diagonal
                                         #Diagonal value K=4
                                         #5by5 array

[[[0 0 0 0 1]
  [0 0 0 0 0]
  [0 0 0 0 0]
  [0 0 0 0 0]
  [0 0 0 0 0]]]
<class 'numpy.ndarray'>
3
25
1
(1, 5, 5)

In [115]:
#eye() function creates 2D Array
Eye=eye(5, 5, k=0, dtype=int).reshape([1,5,5])                 #All elements are in integer form
print(Eye)
print(type(Eye))
print(ndim(Eye))    
print(size(Eye)) # 1 array, 5 Rows & 5 Columns
print(len(Eye))
print(shape(Eye)) #Int Ones are in the main diagonal
                                         #Diagonal value K=4
                                         #5by5 array

[[[1 0 0 0 0]
  [0 1 0 0 0]
  [0 0 1 0 0]
  [0 0 0 1 0]
  [0 0 0 0 1]]]
<class 'numpy.ndarray'>
3
25
1
(1, 5, 5)

In [116]:
#eye() function creates 2D Array
Eye=eye(5, 5, k=-4, dtype=int).reshape([1,5,5])                 #All elements are in integer form
print(Eye)
print(type(Eye))
print(ndim(Eye))    
print(size(Eye))  # 1 array, 5 Rows & 5 Columns
print(len(Eye))
print(shape(Eye)) #Int Ones are in the main diagonal
                  #Diagonal value K=4
                  #5by5 array

[[[0 0 0 0 0]
  [0 0 0 0 0]
  [0 0 0 0 0]
  [0 0 0 0 0]
  [1 0 0 0 0]]]
<class 'numpy.ndarray'>
3
25
1
(1, 5, 5)

## identity() function, always creates 2D square array

In [117]:
#identity() function creates 2D square array, rest of the things are just like eye() function
#Its kind of Square Array of eye() function
from numpy import identity
help(identity)

Help on function identity in module numpy:

identity(n, dtype=None, *, like=None)
    Return the identity array.

    The identity array is a square array with ones on
    the main diagonal.

    Parameters
    ----------
    n : int
        Number of rows (and columns) in `n` x `n` output.
    dtype : data-type, optional
        Data-type of the output.  Defaults to ``float``.
    like : array_like
        Reference object to allow the creation of arrays which are not
        NumPy arrays. If an array-like passed in as ``like`` supports
        the ``__array_function__`` protocol, the result will be defined
        by it. In this case, it ensures the creation of an array object
        compatible with that passed in via this argument.

        .. versionadded:: 1.20.0

    Returns
    -------
    out : ndarray
        `n` x `n` array with its main diagonal set to one,
        and all other elements 0.

    Examples
    --------
    >>> np.identity(3)
    array([[1.,  0.,  0.],
           [0.,  1.,  0.],
           [0.,  0.,  1.]])

In [118]:
#identity() function creates 2D square array
Identity=identity(5).reshape([1,5,5])  #Square array made of row=5, col=5
print(Identity)
print(type(Identity))
print(ndim(Identity))    
print(size(Identity)) # 1 array, 5 Rows & 5 Columns
print(len(Identity))
print(shape(Identity))      #Ones are in the main diagonal

[[[1. 0. 0. 0. 0.]
  [0. 1. 0. 0. 0.]
  [0. 0. 1. 0. 0.]
  [0. 0. 0. 1. 0.]
  [0. 0. 0. 0. 1.]]]
<class 'numpy.ndarray'>
3
25
1
(1, 5, 5)

In [119]:
#identity() function creates 2D square array
Identity=identity(5, dtype=int).reshape([1,5,5]) #All elements are in integer form
print(Identity)
print(type(Identity))
print(ndim(Identity))    
print(size(Identity)) # 1 array, 5 Rows & 5 Columns
print(len(Identity))
print(shape(Identity))                 #Int Ones are in the main diagonal
                               #Square array made of row=5, col=5

[[[1 0 0 0 0]
  [0 1 0 0 0]
  [0 0 1 0 0]
  [0 0 0 1 0]
  [0 0 0 0 1]]]
<class 'numpy.ndarray'>
3
25
1
(1, 5, 5)

In [120]:
#identity() function creates 2D square array
Identity=identity(5, dtype=int).reshape([1,5,5]) #All elements are in integer form
print(Identity)
print(type(Identity))
print(ndim(Identity))    
print(size(Identity)) # 1 array, 5 Rows & 5 Columns
print(len(Identity))
print(shape(Identity))                 #Int Ones are in the main diagonal
                               #Diagonal value K=4
                               #5by5 array

[[[1 0 0 0 0]
  [0 1 0 0 0]
  [0 0 1 0 0]
  [0 0 0 1 0]
  [0 0 0 0 1]]]
<class 'numpy.ndarray'>
3
25
1
(1, 5, 5)

In [121]:
#identity() function creates 2D square array
Identity=identity(5, dtype=complex).reshape([1,5,5]) #All elements are in complex form
print(Identity)
print(type(Identity))
print(ndim(Identity))    
print(size(Identity)) # 1 array, 5 Rows & 5 Columns
print(len(Identity))
print(shape(Identity))                    #Int Ones are in the main diagonal
                                  #Diagonal value K=4
                                  #5by5 array

[[[1.+0.j 0.+0.j 0.+0.j 0.+0.j 0.+0.j]
  [0.+0.j 1.+0.j 0.+0.j 0.+0.j 0.+0.j]
  [0.+0.j 0.+0.j 1.+0.j 0.+0.j 0.+0.j]
  [0.+0.j 0.+0.j 0.+0.j 1.+0.j 0.+0.j]
  [0.+0.j 0.+0.j 0.+0.j 0.+0.j 1.+0.j]]]
<class 'numpy.ndarray'>
3
25
1
(1, 5, 5)

## random() function
1. rand()
2. randn()
3. randint()
4. ranf()

In [122]:
#When we want to create an array with Random elements then we use random()
#Used for random no generation
#rand() always gives values between 0 & 1

In [123]:
from numpy import random
Random=random.rand(1,1,5) #1D random array
print(Random)
print(type(Random))
print(ndim(Random))    
print(size(Random)) # 1 array, 1 Row & 5 Columns
print(len(Random))
print(shape(Random)) #rand() always gives values between 0 & 1
                     #5 random values between 0 & 1

[[[0.74415781 0.23175812 0.97004154 0.23986385 0.53343476]]]
<class 'numpy.ndarray'>
3
5
1
(1, 1, 5)

In [124]:
from numpy import random
Random=random.rand(1,1,5) #1D random array
print(Random)
print(type(Random))
print(ndim(Random))    
print(size(Random)) # 1 array, 1 Row & 5 Columns
print(len(Random))
print(shape(Random)) #rand() always gives values between 0 & 1
                     #5 random values between 0 & 1

[[[0.0844064  0.89840587 0.06251219 0.415324   0.16720865]]]
<class 'numpy.ndarray'>
3
5
1
(1, 1, 5)

In [125]:
Random=random.rand(1,3,5)                              #2D random array 3by5
print(Random)
print(type(Random))
print(ndim(Random))    
print(size(Random)) # 1 array, 3 Rows & 5 Columns
print(len(Random))
print(shape(Random)) #3*5=15 random values between 0 & 1

[[[0.06639374 0.12273696 0.74881913 0.68534476 0.9932415 ]
  [0.02508096 0.63008142 0.13905106 0.36479038 0.0817908 ]
  [0.78603568 0.4228516  0.45291958 0.01171536 0.80486903]]]
<class 'numpy.ndarray'>
3
15
1
(1, 3, 5)

In [126]:
Random=random.rand(1,5,5)                              #2D random array 3by5
print(Random)
print(type(Random))
print(ndim(Random))    
print(size(Random)) # 1 array, 5 Rows & 5 Columns
print(len(Random))
print(shape(Random)) #3*5=15 random values between 0 & 1

[[[0.57125363 0.62620172 0.10026293 0.21566564 0.10532789]
  [0.18474514 0.58575872 0.98757909 0.02831933 0.29223199]
  [0.05553069 0.09739266 0.16722078 0.60396374 0.09232765]
  [0.48563558 0.95050394 0.01652956 0.07210459 0.41708713]
  [0.06862514 0.57660525 0.58965295 0.27787615 0.76396455]]]
<class 'numpy.ndarray'>
3
25
1
(1, 5, 5)

In [127]:
# array.dtype doesn't work with randint()
#The randint() method returns an integer number selected element from the specified range.
Random=random.randint(low=-5, high=5, size=12).reshape([1,4,3])             #1D random array start=3, stop(upper bound)=10
print(Random)
print(type(Random))
print(ndim(Random))    
print(size(Random)) # 1 array, 4 Rows & 3 Columns
print(len(Random))
print(shape(Random)) #Any single Random integer between 3 & 10

[[[ 1 -4 -3]
  [-3 -5  2]
  [-3  0 -3]
  [ 3  4 -1]]]
<class 'numpy.ndarray'>
3
12
1
(1, 4, 3)

In [128]:
# array.dtype doesn't work with randint()
#The randint() method returns an integer number selected element from the specified range.
Random=random.randint(low=-5, high=5, size=12).reshape([1,4,3])             #1D random array start=3, stop(upper bound)=10
print(Random)
print(type(Random))
print(ndim(Random))    
print(size(Random)) # 1 array, 4 Rows & 3 Coloumns
print(len(Random))
print(shape(Random)) #Any single Random integer between 3 & 10

[[[-4 -5  2]
  [ 0 -5  3]
  [-4  3  4]
  [ 4  1 -2]]]
<class 'numpy.ndarray'>
3
12
1
(1, 4, 3)

In [129]:
# array.dtype doesn't work with randint()
#The randint() method returns an integer number selected element from the specified range.
#Return any 10 Random integers between 1 & 100
Random=random.randint(low=-100, high=100, size=10).reshape(1,1,10)         #1D random array start=1, stop(upper bound)=100
print(Random)
print(type(Random))
print(ndim(Random))    
print(size(Random)) # 1 array, 1 Row & 10 Columns
print(len(Random))
print(shape(Random)) #Any 10 Random integers between 1 & 100

[[[-11  51 -69 -79 -55  87 -22  83  85  62]]]
<class 'numpy.ndarray'>
3
10
1
(1, 1, 10)

In [130]:
# array.dtype doesn't work with randint()
#The randint() method returns an integer number selected element from the specified range.
#Return any 10 Random integers between 1 & 100
Random=random.randint(low=-100, high=100, size=100).reshape(1,10,10)         #1D random array start=1, stop(upper bound)=100
print(Random)
print(type(Random))
print(ndim(Random))    
print(size(Random)) # 1 array, 10 Rows & 10 Columns
print(len(Random))
print(shape(Random)) #Any 10 Random integers between 1 & 100

[[[ 72  -3  85  16  78   6 -56  89  -8  48]
  [ 53 -13  76 -69 -43 -90 -41  67  82 -86]
  [-21  78 -14  20  73 -96 -86 -99 -42  85]
  [-29   0  49 -34  47 -44  54 -18 -87 -87]
  [ 20 -27  -8 -43  65 -87 -76 -69  -9  17]
  [ 66 -36  19 -47  68 -99  39  52  26 -14]
  [-27  33  73 -79 -85  57 -95  82  98  73]
  [-46   9 -46  -2 -31  43  44  61 -78   7]
  [-32 -13 -59  67  42  45 -70  82  86 -42]
  [ 31  90 -41 -97  74 -82  50  67 -44  63]]]
<class 'numpy.ndarray'>
3
100
1
(1, 10, 10)

In [131]:
Random=random.randn(1,1,5)                 #1D random array
print(Random)
print(type(Random))
print(ndim(Random))    
print(size(Random)) # 1 array, 1 Row & 5 Columns
print(len(Random))
print(shape(Random)) #5 random float values between +1 & -1

[[[-0.27815668 -1.70494558 -0.82353173 -0.06098386  0.4650686 ]]]
<class 'numpy.ndarray'>
3
5
1
(1, 1, 5)

In [132]:
Random=random.randn(1,3,5)               #2D random array, made of row=3, col=5
print(Random)
print(type(Random))
print(ndim(Random))    
print(size(Random)) # 1 array, 3 Rows & 5 Columns
print(len(Random))
print(shape(Random)) #3*5=15 random float values between +1 & -1

[[[-0.09786286  0.13965953 -0.59946469  1.24831203  0.84572412]
  [ 0.87435179 -1.13048073 -1.35787244  0.72678059  0.12890181]
  [ 0.00229088  1.86614157 -0.3139753   0.92306548  1.45271512]]]
<class 'numpy.ndarray'>
3
15
1
(1, 3, 5)

In [133]:
Random=random.randn(1,10,10)               #2D random array, made of row=3, col=5
print(Random)
print(type(Random))
print(ndim(Random))    
print(size(Random)) # 1 array, 10 Rows & 10 Columns
print(len(Random))
print(shape(Random)) #3*5=15 random float values between +1 & -1
print(Random.shape)

[[[-0.22429576  1.33569865  0.87995035  0.20937419  1.10752145
    1.29047578  0.82430751 -0.63463255  1.26907033  1.0416258 ]
  [-0.07059116  0.94293382  0.35200107 -0.09671827  0.52138471
   -1.38559224  0.84540246  0.45640603  0.21940135 -1.76723441]
  [ 0.94785936  0.09613776 -0.24120052  0.50428208 -0.13888633
    1.16611194  0.92440147  0.12397537  1.37665694  0.86459263]
  [-0.38135523  0.84858926  1.03478829 -1.31270648 -0.23405444
    1.11956648 -0.36101434  0.64527316 -0.35762334 -1.82054668]
  [ 1.80336549 -0.58732432  1.84661147 -0.3128744   0.02613633
    2.03403206  0.1906652  -1.64884066  1.54285907 -2.77044453]
  [ 0.37934371  0.20304675  1.63693526 -1.36559132  0.26505866
   -0.55062293 -0.59560394 -1.07299242  1.12449434  1.02904074]
  [ 1.14812497 -0.63092523  0.46796055 -0.47660112 -1.2395375
   -1.38281213 -0.20082411  1.06094544  0.18295528 -1.14637313]
  [-0.03616101  1.06260903 -0.66063458 -0.97021245 -0.26043467
    0.60363562  1.28100328  0.6399587  -1.0302101   0.40465111]
  [ 0.39270404 -1.7377281   0.05357505 -0.24626089 -1.88540847
   -1.39365225 -0.98445899 -1.24083045 -0.1277321  -1.67830608]
  [-0.10916618  0.85910327  1.29972863  0.88132376 -0.14438988
   -0.42295298  0.11089657 -0.84679038  0.37360449 -1.59275942]]]
<class 'numpy.ndarray'>
3
100
1
(1, 10, 10)
(1, 10, 10)

## Attributes of Array
1. ndim() #Tells the dimention
2. shape() #no of rows & no of cols
3. reshape() #edit the no of rows & no of cols
4. size() #Tells total no of elements
5. itemsize() #Tells the memory consumed

In [134]:
#1. ndim() #Tells the dimention
#2. shape() #no of rows & no of cols
#3. reshape() #edit the no of rows & no of cols
#4. size() #Tells total no of elements
#5. itemsize() #Tells the memory consumed

In [135]:
#To check the Dimention of an Array, we use ndim() function

In [136]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
Linspace1=linspace(start=(1,11,21), stop=(11,21,31), num=10).reshape([1,10,3]) #2D linspace array with 3 Tuples
print(Linspace1)
print(type(Linspace1))
print(ndim(Linspace1))    
print(size(Linspace1)) # 1 array, 10 Rows & 3 Columns
print(len(Linspace1))
print(shape(Linspace1))                             #start=1, stop=11, num=10 for 1st Tuple
                                            #start=11, stop=21, num=10 for 2nd Tuple
                                            #start=21, stop=31, num=10 for 2nd Tuple

[[[ 1.         11.         21.        ]
  [ 2.11111111 12.11111111 22.11111111]
  [ 3.22222222 13.22222222 23.22222222]
  [ 4.33333333 14.33333333 24.33333333]
  [ 5.44444444 15.44444444 25.44444444]
  [ 6.55555556 16.55555556 26.55555556]
  [ 7.66666667 17.66666667 27.66666667]
  [ 8.77777778 18.77777778 28.77777778]
  [ 9.88888889 19.88888889 29.88888889]
  [11.         21.         31.        ]]]
<class 'numpy.ndarray'>
3
30
1
(1, 10, 3)

In [137]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
Linspace2=linspace(start=(1,11,21), stop=(11,21,31), num=10, retstep=True, dtype=object) #2D linspace array with 3 Tuples
print(Linspace2)
print(type(Linspace2))
print(ndim(Linspace2))    
print(size(Linspace2))
print(len(Linspace2))
print(shape(Linspace2))                                          #start=1, stop=11, num=10 for 1st Tuple, step value=1.11111111
                                                         #start=11, stop=21, num=10 for 2nd Tuple, step value=1.11111111
                                                         #start=21, stop=31, num=10 for 2nd Tuple, step value=1.11111111

(array([[1.0, 11.0, 21.0],
       [2.111111111111111, 12.11111111111111, 22.11111111111111],
       [3.2222222222222223, 13.222222222222221, 23.22222222222222],
       [4.333333333333334, 14.333333333333334, 24.333333333333332],
       [5.444444444444445, 15.444444444444445, 25.444444444444443],
       [6.555555555555555, 16.555555555555557, 26.555555555555557],
       [7.666666666666667, 17.666666666666668, 27.666666666666668],
       [8.777777777777779, 18.77777777777778, 28.77777777777778],
       [9.88888888888889, 19.88888888888889, 29.88888888888889],
       [11.0, 21.0, 31.0]], dtype=object), array([1.11111111, 1.11111111, 1.11111111]))
<class 'tuple'>
1
2
2
(2,)

In [138]:
# Hey you, Check the output result here.. They are inside a 2D List Array
#retstep=True it converts the result into a 2D Tuple Array
#If you provide retstep=True command, .reshape() & array.dtype commands don't work
Linspace2=linspace(start=(1,11,21), stop=(11,21,31), num=10, retstep=True) #2D linspace array with 3 Tuples
print(Linspace2)
print(type(Linspace2))
print(ndim(Linspace2))    
print(size(Linspace2))
print(len(Linspace2))
print(shape(Linspace2))                                          #start=1, stop=11, num=10 for 1st Tuple, step value=1.11111111
                                                         #start=11, stop=21, num=10 for 2nd Tuple, step value=1.11111111
                                                         #start=21, stop=31, num=10 for 2nd Tuple, step value=1.11111111

(array([[ 1.        , 11.        , 21.        ],
       [ 2.11111111, 12.11111111, 22.11111111],
       [ 3.22222222, 13.22222222, 23.22222222],
       [ 4.33333333, 14.33333333, 24.33333333],
       [ 5.44444444, 15.44444444, 25.44444444],
       [ 6.55555556, 16.55555556, 26.55555556],
       [ 7.66666667, 17.66666667, 27.66666667],
       [ 8.77777778, 18.77777778, 28.77777778],
       [ 9.88888889, 19.88888889, 29.88888889],
       [11.        , 21.        , 31.        ]]), array([1.11111111, 1.11111111, 1.11111111]))
<class 'tuple'>
1
2
2
(2,)

In [139]:
Array3D = array([[[5 for k in range(3)]for j in range(3)]for i in range(3)])
print(Array3D)
print(type(Array3D))
print(ndim(Array3D))    
print(size(Array3D))    # 3 arrays, 3 Rows & 3 Columns
print(len(Array3D))
print(shape(Array3D))  #Total 27 elements,#shape=3 Arrays, 3 rows, 3 cols

[[[5 5 5]
  [5 5 5]
  [5 5 5]]

 [[5 5 5]
  [5 5 5]
  [5 5 5]]

 [[5 5 5]
  [5 5 5]
  [5 5 5]]]
<class 'numpy.ndarray'>
3
27
3
(3, 3, 3)

In [140]:
#Creating 3D zeros Array of tuples
Zeros3D=zeros((4,3,5), dtype=int) #(4,3,5) is shape tuple of ints
print(Zeros3D)
print(type(Zeros3D))
print(ndim(Zeros3D))    
print(size(Zeros3D)) # 4 arrays, 3 Rows & 5 Columns
print(len(Zeros3D))
print(shape(Zeros3D))             #4 arrays, 3 rows, 5 cols
                                  #Total 4*3*5=60 elements

[[[0 0 0 0 0]
  [0 0 0 0 0]
  [0 0 0 0 0]]

 [[0 0 0 0 0]
  [0 0 0 0 0]
  [0 0 0 0 0]]

 [[0 0 0 0 0]
  [0 0 0 0 0]
  [0 0 0 0 0]]

 [[0 0 0 0 0]
  [0 0 0 0 0]
  [0 0 0 0 0]]]
<class 'numpy.ndarray'>
3
60
4
(4, 3, 5)

In [141]:
#Creating 3D zeros Array of Lists
Zeros3D=zeros([4,3,5], dtype=int) #(4,3,5) is shape Lists of ints
print(Zeros3D)
print(type(Zeros3D))
print(ndim(Zeros3D))    
print(size(Zeros3D)) # 4 arrays, 3 Rows & 5 Columns
print(len(Zeros3D))
print(shape(Zeros3D))             #4 arrays, each having 3 rows & 5 cols
#Total 60 elements

[[[0 0 0 0 0]
  [0 0 0 0 0]
  [0 0 0 0 0]]

 [[0 0 0 0 0]
  [0 0 0 0 0]
  [0 0 0 0 0]]

 [[0 0 0 0 0]
  [0 0 0 0 0]
  [0 0 0 0 0]]

 [[0 0 0 0 0]
  [0 0 0 0 0]
  [0 0 0 0 0]]]
<class 'numpy.ndarray'>
3
60
4
(4, 3, 5)

## How to change data type elements of an Numpy Array by using astype() function extension, Array.astype(datatype)

In [142]:
#Creating 2D array from 2 ranges having complex elements
#No of elements/length of each range should be same
#Dont works with string element
Array2=arange(start=1, stop=21, dtype=complex).reshape(1,4,5) #4 rows & 5 columns
print(Array2)
print(type(Array2))
print(ndim(Array2))    
print(size(Array2)) # 1 array, 4 Rows & 5 Columns
print(len(Array2))
print(shape(Array2))

[[[ 1.+0.j  2.+0.j  3.+0.j  4.+0.j  5.+0.j]
  [ 6.+0.j  7.+0.j  8.+0.j  9.+0.j 10.+0.j]
  [11.+0.j 12.+0.j 13.+0.j 14.+0.j 15.+0.j]
  [16.+0.j 17.+0.j 18.+0.j 19.+0.j 20.+0.j]]]
<class 'numpy.ndarray'>
3
20
1
(1, 4, 5)

In [143]:
# We can change data type elements of an Array by using astype() function
Array2.astype(int)
print(Array2)
print(type(Array2))
print(ndim(Array2))    
print(size(Array2))
print(len(Array2))
print(shape(Array2))

[[[ 1.+0.j  2.+0.j  3.+0.j  4.+0.j  5.+0.j]
  [ 6.+0.j  7.+0.j  8.+0.j  9.+0.j 10.+0.j]
  [11.+0.j 12.+0.j 13.+0.j 14.+0.j 15.+0.j]
  [16.+0.j 17.+0.j 18.+0.j 19.+0.j 20.+0.j]]]
<class 'numpy.ndarray'>
3
20
1
(1, 4, 5)

C:\Users\Morphine-691\AppData\Local\Temp\ipykernel_9400\2242523684.py:2: ComplexWarning: Casting complex values to real discards the imaginary part
  Array2.astype(int)

## Indexing operation in Numpy Array

In [144]:
#By using indexing you can access any single element from an Array
#Basic indexing only gives you the view of the data

In [145]:
#Creating 1D array from 1 list
Array1=array(["KESHAV",45+9j,True,39.69,39]) #Convert the 1D list into array
print(Array1)
print(type(Array1))
print(ndim(Array1))    
print(size(Array1))
print(len(Array1))
print(shape(Array1))

['KESHAV' '(45+9j)' 'True' '39.69' '39']
<class 'numpy.ndarray'>
1
5
5
(5,)

### Indexing in 1D Array is Array[ : ] and Array[ [0, 1, 2, 3, 4] ]
### Array[ : ] means all elements

In [146]:
#Creating 1D array from 1 list
Array1=array(["KESHAV",45+9j,True,39.69,39]) #Convert the 1D list into array
print(Array1)
print(type(Array1))
print(ndim(Array1))    
print(size(Array1))
print(len(Array1))
print(shape(Array1))

['KESHAV' '(45+9j)' 'True' '39.69' '39']
<class 'numpy.ndarray'>
1
5
5
(5,)

In [147]:
#Indexing in 1D Array is Array[]
print(Array1[[3,4]]) #Shows the 3rd & 4th index element of the Array

['39.69' '39']

In [148]:
#Indexing in 1D Array is Array[]
print(Array1[3]) #Shows the 3rd index element of the Array

39.69

In [149]:
print(Array1[-2]) #Shows the 2nd index element from RHS

39.69

In [150]:
print(Array1[0]) #Shows the 0th index element of the Array

KESHAV

In [151]:
print(Array1[-5]) #Shows the 5th index element from RHS

KESHAV

In [152]:
Tuple="KESHAV",45+9j,True,39.69,39

In [153]:
#Indexing in Tuple
print(Tuple[0]) #Shows the 0th index element

KESHAV

In [154]:
print(Tuple[0][3]) #Shows the 3rd index element of the 0th index element ("KESHAV"), ie letter H

H

In [155]:
List=["KESHAV",45+9j,True,39.69,39]

In [156]:
#Indexing in List
print(List[0]) #Shows the 0th index element

KESHAV

In [157]:
print(List[0][3]) #Shows the 3rd index element of the 0th index element ("KESHAV"), ie letter H

H

In [158]:
#Creating 2D array from 2 nested lists
#No of elements/length of each list should be same
#Create 2D list using 2 nested lists & then convert that list into array
Array2D=array([["KESHAV",45+9j,True,39.69,39],[10.10,'Prashant',10+10j,False,10]]) #Transforming nested list of 2 lists into Array
print(Array2D)
print(type(Array2D))
print(ndim(Array2D))    
print(size(Array2D))
print(len(Array2D))
print(shape(Array2D))

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]
<class 'numpy.ndarray'>
2
10
2
(2, 5)

In [159]:
#Creating 2D array from 2 lists
#No of elements/length of each list should be same
#Create 2D list using 2 nested lists & then convert that list into array
Array2D=array([["KESHAV",45+9j,True,39.69,39],[10.10,'Prashant',10+10j,False,10]]) #Transforming nested list of 2 lists into Array
print(Array2D)
print(type(Array2D))
print(ndim(Array2D))    
print(size(Array2D))
print(len(Array2D))
print(shape(Array2D))

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]
<class 'numpy.ndarray'>
2
10
2
(2, 5)

In [160]:
print(Array2D[1,1]) # 1st row & then 1st index element of that row
print()
print(Array2D[1][1])
print()
print(Array2D[1,[1]])

Prashant

Prashant

['Prashant']

In [161]:
print(Array2D[:,1:3]) # all rows & then column indexes from 1 to 3
print()
print(Array2D[:,[1,2]]) # all rows & then column indexes 1 & 2
print()
print(Array2D[:,[1]]) # all rows & then column indexe 1
print()

[['(45+9j)' 'True']
 ['Prashant' '(10+10j)']]

[['(45+9j)' 'True']
 ['Prashant' '(10+10j)']]

[['(45+9j)']
 ['Prashant']]

In [162]:
Array3D=array([[["Faluda",49+9j,False,99.69,69],
                ["Madhav",48+9j,True,39.68,39]],
               [[10.10,'Prashant',10+10j,False,10],
                [10.12,'Pramod',19+10j,True,19]]])
print(Array3D)
print(type(Array3D))
print(ndim(Array3D))    
print(size(Array3D))
print(len(Array3D))
print(shape(Array3D)) # Array[:, :, :] all array, all rows, all columns

[[['Faluda' '(49+9j)' 'False' '99.69' '69']
  ['Madhav' '(48+9j)' 'True' '39.68' '39']]

 [['10.1' 'Prashant' '(10+10j)' 'False' '10']
  ['10.12' 'Pramod' '(19+10j)' 'True' '19']]]
<class 'numpy.ndarray'>
3
20
2
(2, 2, 5)

In [163]:
print(Array3D[1,0,1]) # 1st index array then 0th index row the 1st index element

Prashant

In [164]:
print(Array3D[:,:,2]) # All arrays then all rows then column index 2

[['False' 'True']
 ['(10+10j)' '(19+10j)']]

In [165]:
print(Array3D[:,0,1:3]) # All arrays then 0th index rows of all arrays then column index range 1 to 3

[['(49+9j)' 'False']
 ['Prashant' '(10+10j)']]

In [166]:
print(Array3D[:,[0,1],1:3]) # All arrays then 0th & 1st index rows of all arrays then column index range 1 to 3

[[['(49+9j)' 'False']
  ['(48+9j)' 'True']]

 [['Prashant' '(10+10j)']
  ['Pramod' '(19+10j)']]]

In [167]:
print(Array3D[:,0:2,1:3]) # All arrays then 0th to 2nd index range rows of all arrays then column index range 1 to 3

[[['(49+9j)' 'False']
  ['(48+9j)' 'True']]

 [['Prashant' '(10+10j)']
  ['Pramod' '(19+10j)']]]

In [168]:
print(Array3D[:,0,:]) # All arrays then 0th row index of all arrays then all columns

[['Faluda' '(49+9j)' 'False' '99.69' '69']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

In [169]:
print(Array3D[:,1,:]) # All arrays then 1st row index of all arrays then all columns

[['Madhav' '(48+9j)' 'True' '39.68' '39']
 ['10.12' 'Pramod' '(19+10j)' 'True' '19']]

In [170]:
Array3D=array([[["KESHAV",45+9j,True,39.69,39]],[[10.10,'Prashant',10+10j,False,10]]]) #Transforming nested list of 3 lists into Array
print(Array3D)
print(type(Array3D))
print(ndim(Array3D))    
print(size(Array3D))
print(len(Array3D))
print(shape(Array3D))

[[['KESHAV' '(45+9j)' 'True' '39.69' '39']]

 [['10.1' 'Prashant' '(10+10j)' 'False' '10']]]
<class 'numpy.ndarray'>
3
10
2
(2, 1, 5)

In [171]:
print(Array3D[1,0,1]) # 1st array then 0th row index then 1st index element

Prashant

In [172]:
print(Array3D[:,:,2]) # all arrays then all rows then 2nd column index

[['True']
 ['(10+10j)']]

In [173]:
Array3D=array([[["KESHAV",45+9j,True,39.69,39],[10.10,'Prashant',10+10j,False,10]]]) #Transforming nested list of 3 lists into Array
print(Array3D)
print(type(Array3D))
print(ndim(Array3D))    
print(size(Array3D))
print(len(Array3D))
print(shape(Array3D))

[[['KESHAV' '(45+9j)' 'True' '39.69' '39']
  ['10.1' 'Prashant' '(10+10j)' 'False' '10']]]
<class 'numpy.ndarray'>
3
10
1
(1, 2, 5)

In [174]:
print(Array3D[0,1,1]) # 0th index array then 1st row index then 1st column index

Prashant

In [175]:
print(Array3D[:,:,[2]]) # all arrays then all rows then 2nd index column

[[['True']
  ['(10+10j)']]]

In [176]:
Array2D=array([["KESHAV",45+9j,True,39.69,39],[10.10,'Prashant',10+10j,False,10]]) #Transforming nested list of 3 lists into Array
print(Array2D)
print(type(Array2D))
print(ndim(Array2D))    
print(size(Array2D))
print(len(Array2D))
print(shape(Array2D))

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]
<class 'numpy.ndarray'>
2
10
2
(2, 5)

In [177]:
print(Array2D[1,1]) # 1st row index then 1st index element

Prashant

In [178]:
print(Array2D[:,[2]]) # all rows then 2nd column index

[['True']
 ['(10+10j)']]

### Indexingin in 2D array is Array2D[row index][col index]
### Array[ : , : ] means all rows & all columns

In [179]:
Array2D=array([["KESHAV",45+9j,True,39.69,39],[10.10,'Prashant',10+10j,False,10]]) #Transforming nested list of 3 lists into Array
print(Array2D)
print(type(Array2D))
print(ndim(Array2D))    
print(size(Array2D))
print(len(Array2D))
print(shape(Array2D))
print(Array2D[1][2]) # 1st Row index & 2nd Column index intersect
print(Array2D[1,2]) # 1st Row index & 2nd Column index intersect

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]
<class 'numpy.ndarray'>
2
10
2
(2, 5)
(10+10j)
(10+10j)

In [180]:
Array2D[1,2] # 1st Row index then 2nd Column index

'(10+10j)'

In [181]:
print(Array2D[:]) # all rows
print()
print(Array2D[:,:]) # all rows & all columns
print()
print(Array2D[0:2,:]) # row index range from 0 to 2 & then all columns
print()
print(Array2D[[0,1],:]) # row index 0 & 1 & then all columns
print()
print(Array2D[[0,1],0:5]) # row index 0 & 1 & then column index range from 0 to 5
print()
print(Array2D[[0,1]]) # row index 0 & 1
print()
print(Array2D[[0,1]]) #Shows 0th Row & 1st Row for Array2D
print()
print(Array2D[[0,1],]) #Shows 0th Row & 1st Row for Array2D
print()
print(Array2D[:,[0,1,2,3,4]]) #Shows all Rows & 0th,1st,2nd,3rd & 4th cols

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

In [182]:
print(Array2D[[0,1],[2,3]]) #0th Row index with 2nd element, True
                            #1st Row index with 3rd element, False
print()
print(Array2D[:, 2:]) # all rows then columns range from 2 to till end
print()
print(Array2D[:, [2,3,4]]) # all rows then columns are 2, 3 & 4
print()

['True' 'False']

[['True' '39.69' '39']
 ['(10+10j)' 'False' '10']]

[['True' '39.69' '39']
 ['(10+10j)' 'False' '10']]

In [183]:
print(Array2D[0:2,2:4]) # 0 to 2 row index range & then 2 to 4 columns index range
                 #here 2nd is upper boundary of Row index & 4th is upper boundary of Column index
print()
print(Array2D[0:2,[2,3]]) # 0 to 2 row index range & then column index 2 & 3
print()
print(Array2D[[0,1],2:4]) # 0 & 1 row index & then 2 to 4 columns index range
print()

[['True' '39.69']
 ['(10+10j)' 'False']]

[['True' '39.69']
 ['(10+10j)' 'False']]

[['True' '39.69']
 ['(10+10j)' 'False']]

In [184]:
print(Array2D[[0,1],2:3]) #0th & 1st row index & then column index range from 2 to 3
print()
print(Array2D[:,[2]]) # all rows then 2nd column index

[['True']
 ['(10+10j)']]

[['True']
 ['(10+10j)']]

In [185]:
print(Array2D[[0,1],[2]]) # 0th row then 2nd index element & 1st row then 2nd index element
print()
print(Array2D[[0,1],2]) # 0th & 1st row index & then 2nd column index
print()
print(Array2D[:,2]) # all rows & then 2nd column index
print()
print(Array2D[:,[2]]) # all rows & then 2nd column index

['True' '(10+10j)']

['True' '(10+10j)']

['True' '(10+10j)']

[['True']
 ['(10+10j)']]

In [186]:
print(Array2D[[0,1],0:5]) # 0th & 1st row index & then 0 to 5 column index range
print()
print(Array2D[0:2,0:5]) # 0 to 2 row index range & then 0 to 5 column index range
                        #2nd is Row index upper boundary & 5th is Column index upper boundary
print()
print(Array2D[0:2,[0,1,2,3,4]]) # 0 to 2 row index range & then 0,1,2,3 & 4 column indexes
print()
print(Array2D[:,0:5]) # all rows & then 0 to 5 column index range

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

In [187]:
print(Array2D[:,[2,3]]) # all rows & then 2 & 3 column indexes
print()
print(Array2D[:, 2:4]) # all rows & then 2 to 4 column indexes range

[['True' '39.69']
 ['(10+10j)' 'False']]

[['True' '39.69']
 ['(10+10j)' 'False']]

In [188]:
print(Array2D[:,[0,4]]) # all rows then 0 & 4 column indexes
print()
print(Array2D[[0,1],0:5:4]) # Rows indexes 0 & 1 and then 0 to 5 column indexes range with step 4

[['KESHAV' '39']
 ['10.1' '10']]

[['KESHAV' '39']
 ['10.1' '10']]

In [189]:
print(Array2D[:,4:5]) # all rows & then column indexes range from 4 to 5

[['39']
 ['10']]

In [190]:
print(Array2D[:,[4]]) # all rows & then 4th column index

[['39']
 ['10']]

In [191]:
print(Array2D[1][-3]) # 1st row index & then -3 index element

(10+10j)

In [192]:
print(Array2D[[1],[-3]]) # 1st row index & then -3 index element

['(10+10j)']

In [193]:
print(Array2D[1,-3]) # 1st row index & then -3 index element

(10+10j)

In [194]:
print(Array2D[-1][2]) # last row index & then 2nd index element

(10+10j)

In [195]:
print(Array2D[[-1],[2]]) # last row index & then 2nd index element

['(10+10j)']

In [196]:
print(Array2D[-1,2]) # last row index & then 2nd index element

(10+10j)

In [197]:
print(Array2D[-1][-3]) # last row index & then -3 index element ie last 3rd element form RHS

(10+10j)

In [198]:
print(Array2D[[-1],[-3]]) # last row index & then -3 index element ie last 3rd element form RHS

['(10+10j)']

In [199]:
print(Array2D[-1,-3]) # last row index & then -3 index element ie last 3rd element form RHS

(10+10j)

### Indexing in 3D Array is Array3D[array index][row index][col index] and
### Array[ : , : , : ] means all arrays, all rows & all columns

In [200]:
#Creating 3D Array of Lists
Array3D=array([[["KESHAV",45+9j,True,39.69,39],[10.10,'Prashant',10+10j,False,10]],[["RAGHAV",49+9j,True,36.69,36],[10.16,'Prashant',19+10j,False,17]]])
print(Array3D)
print(type(Array3D))
print(ndim(Array3D))    
print(size(Array3D))
print(len(Array3D))
print(shape(Array3D))

[[['KESHAV' '(45+9j)' 'True' '39.69' '39']
  ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

 [['RAGHAV' '(49+9j)' 'True' '36.69' '36']
  ['10.16' 'Prashant' '(19+10j)' 'False' '17']]]
<class 'numpy.ndarray'>
3
20
2
(2, 2, 5)

In [201]:
print(Array3D[1][1][2]) # 1st array then 1st row then 2nd index element
print()
print(Array3D[1,1,2]) # 1st array then 1st row then 2nd index element
print()
print(Array3D[1,1,[4]]) # 1st array then 1st row then 4th index element

(19+10j)

(19+10j)

['17']

In [202]:
Array3D[[0,1]] # 0th array index & 1st array index

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39'],
        ['10.1', 'Prashant', '(10+10j)', 'False', '10']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36'],
        ['10.16', 'Prashant', '(19+10j)', 'False', '17']]], dtype='<U64')

In [203]:
Array3D[[0,1],:,:] # 0th array index & 1st array index then all rows & all coloumns

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39'],
        ['10.1', 'Prashant', '(10+10j)', 'False', '10']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36'],
        ['10.16', 'Prashant', '(19+10j)', 'False', '17']]], dtype='<U64')

In [204]:
Array3D[0:2] # 0 to 2 array index range

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39'],
        ['10.1', 'Prashant', '(10+10j)', 'False', '10']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36'],
        ['10.16', 'Prashant', '(19+10j)', 'False', '17']]], dtype='<U64')

In [205]:
Array3D[0:2,:,:] # 0 to 2 array index range then all rows & all coloumns

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39'],
        ['10.1', 'Prashant', '(10+10j)', 'False', '10']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36'],
        ['10.16', 'Prashant', '(19+10j)', 'False', '17']]], dtype='<U64')

In [206]:
Array3D[0,1] #0th array index & then 1st row index

array(['10.1', 'Prashant', '(10+10j)', 'False', '10'], dtype='<U64')

In [207]:
Array3D[0,0] #0th Array index & 0th Row index of it

array(['KESHAV', '(45+9j)', 'True', '39.69', '39'], dtype='<U64')

In [208]:
Array3D[1,1] #1st Array index & 1st Row index of it

array(['10.16', 'Prashant', '(19+10j)', 'False', '17'], dtype='<U64')

In [209]:
Array3D[1,0] #1st Array index & 0th Row index of it

array(['RAGHAV', '(49+9j)', 'True', '36.69', '36'], dtype='<U64')

In [210]:
Array3D[:,:,[2,3]] # all arrays & all rows & then 2 & 3 column indexes

array([[['True', '39.69'],
        ['(10+10j)', 'False']],

       [['True', '36.69'],
        ['(19+10j)', 'False']]], dtype='<U64')

In [211]:
Array3D[:,0:2] # all arrays & then 0 to 2 row indexes range

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39'],
        ['10.1', 'Prashant', '(10+10j)', 'False', '10']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36'],
        ['10.16', 'Prashant', '(19+10j)', 'False', '17']]], dtype='<U64')

In [212]:
Array3D[:,0:2,:] # all arrays & then 0 to 2 row indexes range & then all columns

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39'],
        ['10.1', 'Prashant', '(10+10j)', 'False', '10']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36'],
        ['10.16', 'Prashant', '(19+10j)', 'False', '17']]], dtype='<U64')

In [213]:
Array3D[:,[0,1],:] # all arrays then 0 & 1 row indexes of them & then all coloumns

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39'],
        ['10.1', 'Prashant', '(10+10j)', 'False', '10']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36'],
        ['10.16', 'Prashant', '(19+10j)', 'False', '17']]], dtype='<U64')

In [214]:
Array3D[:,:,[0,4]] #all arrays then all rows & then 0 & 4 column indexes of them

array([[['KESHAV', '39'],
        ['10.1', '10']],

       [['RAGHAV', '36'],
        ['10.16', '17']]], dtype='<U64')

In [215]:
Array3D[:,[0]] # all arrays & then 0th row index of them

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36']]], dtype='<U64')

In [216]:
Array3D[:,0] # all arrays & then 0th row index of them

array([['KESHAV', '(45+9j)', 'True', '39.69', '39'],
       ['RAGHAV', '(49+9j)', 'True', '36.69', '36']], dtype='<U64')

In [217]:
Array3D[:,1] # all arrays & then 1st row index of them

array([['10.1', 'Prashant', '(10+10j)', 'False', '10'],
       ['10.16', 'Prashant', '(19+10j)', 'False', '17']], dtype='<U64')

In [218]:
Array3D[:,[1]] # all arrays & then 1st row index of them

array([[['10.1', 'Prashant', '(10+10j)', 'False', '10']],

       [['10.16', 'Prashant', '(19+10j)', 'False', '17']]], dtype='<U64')

In [219]:
Array3D[:,:,0:5] # all arrays then all rows & then column index range from 0 to 5

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39'],
        ['10.1', 'Prashant', '(10+10j)', 'False', '10']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36'],
        ['10.16', 'Prashant', '(19+10j)', 'False', '17']]], dtype='<U64')

In [220]:
Array3D[:,:,3:4] # # all arrays then all rows & then column index range from 3 to 4

array([[['39.69'],
        ['False']],

       [['36.69'],
        ['False']]], dtype='<U64')

In [221]:
Array3D[:,:,[3]] # all arrays then all rows & then 3rd column index of them

array([[['39.69'],
        ['False']],

       [['36.69'],
        ['False']]], dtype='<U64')

In [222]:
Array3D[:,:,[3,4]] # all arrays then all rows & then 3rd & 4th column index of them

array([[['39.69', '39'],
        ['False', '10']],

       [['36.69', '36'],
        ['False', '17']]], dtype='<U64')

In [223]:
Array3D[[0,1],[0,1],[2,3]] #0th index Array then 0th index row then 2nd index element, True
                           #1st index Array then 1st index row then 3rd index element, False

array(['True', 'False'], dtype='<U64')

In [224]:
Array3D[[0,1],[0,1],0:5] #0th Array index with 0th Row index of it & from 0th col to 4th col index range
                         #1st Array index with 1st Row index of it & from 0th col to 4th col index range

array([['KESHAV', '(45+9j)', 'True', '39.69', '39'],
       ['10.16', 'Prashant', '(19+10j)', 'False', '17']], dtype='<U64')

In [225]:
Array3D[[1],[1],[2]] #1st Array index with 1st Row index with 2nd col index

array(['(19+10j)'], dtype='<U64')

In [226]:
Array3D[1,1,2] #1st Array index with 1st Row index with 2nd col index

'(19+10j)'

In [227]:
Array3D[1,1,2]

'(19+10j)'

In [228]:
Array3D[-1][-1][-3] # last index array then last row index & then 3rd last element

'(19+10j)'

In [229]:
Array3D[[-1],[-1],[-3]] # last index array then last row index & then 3rd last element

array(['(19+10j)'], dtype='<U64')

In [230]:
Array3D[-1,-1,-3] # last index array then last row index & then 3rd last element

'(19+10j)'

In [231]:
Array3D[1][-1][2] # 1st index array then last row then 2nd index element

'(19+10j)'

In [232]:
Array3D[[1],[-1],[2]] # 1st index array then last row then 2nd index element

array(['(19+10j)'], dtype='<U64')

In [233]:
Array3D[1,-1,2] # 1st index array then last row then 2nd index element

'(19+10j)'

In [234]:
Array3D[-1][1][-3] # last index array then 1st row then 3rd last index element

'(19+10j)'

In [235]:
Array3D[[-1],[1],[-3]] # last index array then 1st row then 3rd last index element

array(['(19+10j)'], dtype='<U64')

In [236]:
Array3D[-1,1,-3] # last index array then 1st row then 3rd last index element

'(19+10j)'

In [237]:
print(Array3D[1][1][2],Array3D[[1],[1],[2]],Array3D[1,1,2],Array3D[-1][-1][-3],Array3D[[-1],[-1],[-3]],Array3D[-1,-1,-3],Array3D[1][-1][2],Array3D[[1],[-1],[2]],Array3D[1,-1,2],Array3D[-1][1][-3],Array3D[[-1],[1],[-3]],Array3D[-1,1,-3])

(19+10j) ['(19+10j)'] (19+10j) (19+10j) ['(19+10j)'] (19+10j) (19+10j) ['(19+10j)'] (19+10j) (19+10j) ['(19+10j)'] (19+10j)

In [238]:
#Creating 3D Array of Tuples
Array3D=array(((("KESHAV",45+9j,True,39.69,39),(10.10,'Prashant',10+10j,False,10)),(("RAGHAV",49+9j,True,36.69,36),(10.16,'Prashant',19+10j,False,17))))
print(Array3D)
print(type(Array3D))
print(ndim(Array3D))    
print(size(Array3D))
print(len(Array3D))
print(shape(Array3D))

[[['KESHAV' '(45+9j)' 'True' '39.69' '39']
  ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

 [['RAGHAV' '(49+9j)' 'True' '36.69' '36']
  ['10.16' 'Prashant' '(19+10j)' 'False' '17']]]
<class 'numpy.ndarray'>
3
20
2
(2, 2, 5)

In [239]:
Array3D[1][1][2] # 1st index array then 1st row index then 2nd index element

'(19+10j)'

In [240]:
Array3D[[0,1]] # 0th array & 1st array

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39'],
        ['10.1', 'Prashant', '(10+10j)', 'False', '10']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36'],
        ['10.16', 'Prashant', '(19+10j)', 'False', '17']]], dtype='<U64')

In [241]:
Array3D[0:2] # from 0 to 2 array index range

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39'],
        ['10.1', 'Prashant', '(10+10j)', 'False', '10']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36'],
        ['10.16', 'Prashant', '(19+10j)', 'False', '17']]], dtype='<U64')

In [242]:
Array3D[0,1] #0th index array then 1st row index

array(['10.1', 'Prashant', '(10+10j)', 'False', '10'], dtype='<U64')

In [243]:
Array3D[0,0] #0th index array then 0th row index

array(['KESHAV', '(45+9j)', 'True', '39.69', '39'], dtype='<U64')

In [244]:
Array3D[1,1] #1st Array index & 1st Row index of it

array(['10.16', 'Prashant', '(19+10j)', 'False', '17'], dtype='<U64')

In [245]:
Array3D[1,0] #1st Array index & 0th Row index of it

array(['RAGHAV', '(49+9j)', 'True', '36.69', '36'], dtype='<U64')

In [246]:
Array3D[:,:,[2,3]] # all arrays then all rows then column indexes 2 & 3

array([[['True', '39.69'],
        ['(10+10j)', 'False']],

       [['True', '36.69'],
        ['(19+10j)', 'False']]], dtype='<U64')

In [247]:
Array3D[:,0:2] # All arrays then rows index range 0 to 2 for all of them

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39'],
        ['10.1', 'Prashant', '(10+10j)', 'False', '10']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36'],
        ['10.16', 'Prashant', '(19+10j)', 'False', '17']]], dtype='<U64')

In [248]:
Array3D[:,0:2,:] #All arrays then rows indexes range 0 to 2 then all columns

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39'],
        ['10.1', 'Prashant', '(10+10j)', 'False', '10']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36'],
        ['10.16', 'Prashant', '(19+10j)', 'False', '17']]], dtype='<U64')

In [249]:
Array3D[:,[1],:] #all arrays then 1st row index of them then all columns

array([[['10.1', 'Prashant', '(10+10j)', 'False', '10']],

       [['10.16', 'Prashant', '(19+10j)', 'False', '17']]], dtype='<U64')

In [250]:
Array3D[:,1,:] #all arrays then 1st row index of them then all columns

array([['10.1', 'Prashant', '(10+10j)', 'False', '10'],
       ['10.16', 'Prashant', '(19+10j)', 'False', '17']], dtype='<U64')

In [251]:
Array3D[:,[0],:] #all arrays then 0th row index of them then all columns

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36']]], dtype='<U64')

In [252]:
Array3D[:,[0,1],:] #all arrays then 0th & 1st row indexes of them then all columns

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39'],
        ['10.1', 'Prashant', '(10+10j)', 'False', '10']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36'],
        ['10.16', 'Prashant', '(19+10j)', 'False', '17']]], dtype='<U64')

In [253]:
Array3D[:, :, :] # all arrays then all rows then all columns

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39'],
        ['10.1', 'Prashant', '(10+10j)', 'False', '10']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36'],
        ['10.16', 'Prashant', '(19+10j)', 'False', '17']]], dtype='<U64')

In [254]:
Array3D[:,:,[0,4]] # all arrays then all rows then column indexes 0th & 4th

array([[['KESHAV', '39'],
        ['10.1', '10']],

       [['RAGHAV', '36'],
        ['10.16', '17']]], dtype='<U64')

In [255]:
Array3D[:,:,[4]] #all arrays then all rows then 4th column index

array([[['39'],
        ['10']],

       [['36'],
        ['17']]], dtype='<U64')

In [256]:
Array3D[:,[0]] #all arrays then 0th row index of them

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36']]], dtype='<U64')

In [257]:
Array3D[:,:,0:5] #all arrays then all rows then column indexes range from 0 to 5

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39'],
        ['10.1', 'Prashant', '(10+10j)', 'False', '10']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36'],
        ['10.16', 'Prashant', '(19+10j)', 'False', '17']]], dtype='<U64')

In [258]:
Array3D[:,:,[0, 1, 2, 3, 4]] #all arrays then all rows then column indexes 0, 1, 2, 3 & 4

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39'],
        ['10.1', 'Prashant', '(10+10j)', 'False', '10']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36'],
        ['10.16', 'Prashant', '(19+10j)', 'False', '17']]], dtype='<U64')

In [259]:
Array3D[:,:,[0,4]] ##all arrays then all rows then column indexes 0 & 4

array([[['KESHAV', '39'],
        ['10.1', '10']],

       [['RAGHAV', '36'],
        ['10.16', '17']]], dtype='<U64')

In [260]:
Array3D[:, :, ::4] #all arrays then all rows then column indexes range by step 4

array([[['KESHAV', '39'],
        ['10.1', '10']],

       [['RAGHAV', '36'],
        ['10.16', '17']]], dtype='<U64')

In [261]:
Array3D[:,[0],:] #all arrays then 0th row index then all columns

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36']]], dtype='<U64')

In [262]:
Array3D[:,0,:] #all arrays then 0th row index then all columns

array([['KESHAV', '(45+9j)', 'True', '39.69', '39'],
       ['RAGHAV', '(49+9j)', 'True', '36.69', '36']], dtype='<U64')

In [263]:
Array3D[:,:,3:4] #all arrays then all rows then column indexes range from 3 to 4

array([[['39.69'],
        ['False']],

       [['36.69'],
        ['False']]], dtype='<U64')

In [264]:
Array3D[:,:,[3,4]] #all arrays then all rows then column indexes 3 & 4

array([[['39.69', '39'],
        ['False', '10']],

       [['36.69', '36'],
        ['False', '17']]], dtype='<U64')

In [265]:
Array3D[[0,1],[0,1],[2,3]] #0th Array index with 0th Row index with 2nd index element, True
                           #1st Array index with 1st Row index with 3rd index element, False

array(['True', 'False'], dtype='<U64')

In [266]:
Array3D[[1],[1],[2]] # 1st array then 1st row then 2nd index element

array(['(19+10j)'], dtype='<U64')

In [267]:
Array3D[1,1,2] # 1st array then 1st row then 2nd index element

'(19+10j)'

In [268]:
Array3D[[0,1]] # 0th index Array & 1st index Array

array([[['KESHAV', '(45+9j)', 'True', '39.69', '39'],
        ['10.1', 'Prashant', '(10+10j)', 'False', '10']],

       [['RAGHAV', '(49+9j)', 'True', '36.69', '36'],
        ['10.16', 'Prashant', '(19+10j)', 'False', '17']]], dtype='<U64')

In [269]:
Array3D[-1][-1][-3] # last array index then last row index then 3rd last index element

'(19+10j)'

In [270]:
Array3D[[-1],[-1],[-3]] # last array index then last row index then 3rd last index element

array(['(19+10j)'], dtype='<U64')

In [271]:
Array3D[-1,-1,-3] # last array index then last row index then 3rd last index element

'(19+10j)'

In [272]:
Array3D[1][-1][2] # 1st array then last row index then 2nd index element

'(19+10j)'

In [273]:
Array3D[[1],[-1],[2]] # 1st array then last row index then 2nd index element

array(['(19+10j)'], dtype='<U64')

In [274]:
Array3D[1,-1,2] # 1st array then last row index then 2nd index element

'(19+10j)'

In [275]:
Array3D[-1][1][-3] # last array then 1st row index then 3rd last index element

'(19+10j)'

In [276]:
Array3D[[-1],[1],[-3]] # last array then 1st row index then 3rd last index element

array(['(19+10j)'], dtype='<U64')

In [277]:
Array3D[-1,1,-3] # last array then 1st row index then 3rd last index element

'(19+10j)'

In [278]:
print(Array3D[1][1][2],Array3D[[1],[1],[2]],Array3D[1,1,2],Array3D[-1][-1][-3],Array3D[[-1],[-1],[-3]],Array3D[-1,-1,-3],Array3D[1][-1][2],Array3D[[1],[-1],[2]],Array3D[1,-1,2],Array3D[-1][1][-3],Array3D[[-1],[1],[-3]],Array3D[-1,1,-3])

(19+10j) ['(19+10j)'] (19+10j) (19+10j) ['(19+10j)'] (19+10j) (19+10j) ['(19+10j)'] (19+10j) (19+10j) ['(19+10j)'] (19+10j)

### Slicing operation in Numpy Array

In [279]:
#By using Slicing you can access multiple elements from an Array

### Slicing 1D Array

In [280]:
#Slicing 1D Array
Array1[1:5:1] #index1 to index4, step1, 5 is upper bound
# index element range 1 to 5 with step 1

array(['(45+9j)', 'True', '39.69', '39'], dtype='<U64')

In [281]:
#Slicing 1D Array
Array1[1:5:2] #index1 to index4, step1, 5 is upper bound
# index element range 1 to 5 with step 2

array(['(45+9j)', '39.69'], dtype='<U64')

In [282]:
Array1[0:5] #index1 to index4, 5 is upper bound
# index element range 0 to 5

array(['KESHAV', '(45+9j)', 'True', '39.69', '39'], dtype='<U64')

In [283]:
#Slicing 1D Array
Array1[1::1] #From index1 to end index, step1
# index element range 1 to last with step 1

array(['(45+9j)', 'True', '39.69', '39'], dtype='<U64')

In [284]:
Array1[1::2] #From index1 to end index, step2
# index element range 1 to last with step 2

array(['(45+9j)', '39.69'], dtype='<U64')

In [285]:
Array1[0::2] #From index0 to end index, step2
# index element range 0 to last with step 2

array(['KESHAV', 'True', '39'], dtype='<U64')

In [286]:
Array1[::2] #From index0 to end index, step2
# index element range 0 to last with step 2

array(['KESHAV', 'True', '39'], dtype='<U64')

### Slicing 2D Array

In [287]:
#Creating 2D array from 2 lists
#No of elements/length of each list should be same
Array2D=array([["KESHAV",45+9j,True,39.69,39],[10.10,'Prashant',10+10j,False,10]]).reshape(1,2,5) #Transforming nested list of 2 lists into Array
print(Array2D)
print(type(Array2D))
print(ndim(Array2D))    
print(size(Array2D)) # 1 array, 2 Rows & 5 Columns
print(len(Array2D))
print(shape(Array2D))

[[['KESHAV' '(45+9j)' 'True' '39.69' '39']
  ['10.1' 'Prashant' '(10+10j)' 'False' '10']]]
<class 'numpy.ndarray'>
3
10
1
(1, 2, 5)

In [288]:
Array2D=array([["KESHAV",45+9j,True,39.69,39],[10.10,'Prashant',10+10j,False,10]]) #Transforming nested list of 2 lists into Array
print(Array2D)
print(type(Array2D))
print(ndim(Array2D))    
print(size(Array2D)) # 2 Rows & 5 Columns
print(len(Array2D))
print(shape(Array2D))

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]
<class 'numpy.ndarray'>
2
10
2
(2, 5)

In [289]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[0:,2:3] #Rows index range from 0 to last then column index range from 2 to 3

array([['True'],
       ['(10+10j)']], dtype='<U64')

In [290]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[0:,[2]] #rows index range from 0 to last & then 2nd cloumn index

array([['True'],
       ['(10+10j)']], dtype='<U64')

In [291]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[0:,[2]] ##rows index range from 0 to last & then 2nd cloumn index

array([['True'],
       ['(10+10j)']], dtype='<U64')

In [292]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[[0,1],[2]] #Row index 0th & 1st and then 2nd column index

array(['True', '(10+10j)'], dtype='<U64')

In [293]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[[0,1],2] #Shows only 2nd col index along with All Rows

array(['True', '(10+10j)'], dtype='<U64')

In [294]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[0,1][3] # 0th row then 1st index element and then 3rd index charecter

'+'

In [295]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[0][1][3] # 0th row then 1st index element and then 3rd index charecter

'+'

In [296]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[[0,1],2] #0th row & 1st row then 2nd index column

array(['True', '(10+10j)'], dtype='<U64')

In [297]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[0:,[3,4]] # from 0th to last rows index range and then columns 3 & 4

array([['39.69', '39'],
       ['False', '10']], dtype='<U64')

In [298]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[0][2:3] # 0th Row index and then row elements range from 2 to 3

array(['True'], dtype='<U64')

In [299]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[0][0:] #0th index row and then row elements range from 0 to last index

array(['KESHAV', '(45+9j)', 'True', '39.69', '39'], dtype='<U64')

In [300]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[[0,1],2:3] #0th row index & 1st row index and then columns index range from 2 to 3

array([['True'],
       ['(10+10j)']], dtype='<U64')

In [301]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[[0,1],[2]] #0th row index & 1st row index and then 2nd column index

array(['True', '(10+10j)'], dtype='<U64')

In [302]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[[0,1],2] #0th row index & 1st row index and then 2nd column index

array(['True', '(10+10j)'], dtype='<U64')

In [303]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[0][2] # 0th row index and then 2nd element

'True'

In [304]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[0][0:5] # 0th row index and then index elements range from 0 to 5

array(['KESHAV', '(45+9j)', 'True', '39.69', '39'], dtype='<U64')

In [305]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[0,1][0:] # 0th row index and it's 1st index element then its charecters range from 0 to last index

'(45+9j)'

In [306]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[0,0:5] #0th row index and then elements range from 0 to 5

array(['KESHAV', '(45+9j)', 'True', '39.69', '39'], dtype='<U64')

In [307]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[[0][0:5]] #0th row index and then elements range from 0 to 5

array([['KESHAV', '(45+9j)', 'True', '39.69', '39']], dtype='<U64')

In [308]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[[0],0:5] #0th row index and then elements range from 0 to 5

array([['KESHAV', '(45+9j)', 'True', '39.69', '39']], dtype='<U64')

In [309]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[[0,1],0:5] #0th row index & 1st row index then columns index range from 0 to 5

array([['KESHAV', '(45+9j)', 'True', '39.69', '39'],
       ['10.1', 'Prashant', '(10+10j)', 'False', '10']], dtype='<U64')

In [310]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[:,2:3] # All rows then column indexes range from 2 to 3

array([['True'],
       ['(10+10j)']], dtype='<U64')

In [311]:
#Array2D[row(start:stop:step),col(start:stop:step)]
Array2D[:,[2]] # # All rows then 2nd column index

array([['True'],
       ['(10+10j)']], dtype='<U64')

In [312]:
#Creating 3D Array of Tuples
Array3D=array(((("KESHAV",45+9j,True,38.69,34),(10.10,"Prashant",10+10j,False,18)),(("RAGHAV",49+9j,True,37.69,36),(10.16,"Pushkar",19+10j,False,17))))
print(Array3D)
print(type(Array3D))
print(ndim(Array3D))    
print(size(Array3D)) # 2 array, 2 Rows & 5 Columns
print(len(Array3D))
print(shape(Array3D))

[[['KESHAV' '(45+9j)' 'True' '38.69' '34']
  ['10.1' 'Prashant' '(10+10j)' 'False' '18']]

 [['RAGHAV' '(49+9j)' 'True' '37.69' '36']
  ['10.16' 'Pushkar' '(19+10j)' 'False' '17']]]
<class 'numpy.ndarray'>
3
20
2
(2, 2, 5)

In [313]:
#Array3D[array(start:stop:step),row(start:stop:step),col(start:stop:step)]
Array3D[:,:,2:3] # All arrays then all rows then column indexes range from 2 to 3

array([[['True'],
        ['(10+10j)']],

       [['True'],
        ['(19+10j)']]], dtype='<U64')

In [314]:
#Array3D[array(start:stop:step),row(start:stop:step),col(start:stop:step)]
Array3D[:,:,2] # all arrays then all rows then 2nd column index

array([['True', '(10+10j)'],
       ['True', '(19+10j)']], dtype='<U64')

In [315]:
#Array3D[array(start:stop:step),row(start:stop:step),col(start:stop:step)]
Array3D[:,:,[2]] # all arrays then all rows then 2nd column index

array([[['True'],
        ['(10+10j)']],

       [['True'],
        ['(19+10j)']]], dtype='<U64')

## Advanced indexing Techniques in  Numpy Array
Advanced indexing works with Array only, neither with Tuple nor with List or any other Variables

### Integer Indexing

In [316]:
#Creating 1D array from 1 list
Array1=array(["KESHAV",45+9j,True,39.69,39]) #Convert the 1D list into array
print(Array1)
print(shape(Array1))
print(ndim(Array1))
print()

['KESHAV' '(45+9j)' 'True' '39.69' '39']
(5,)
1

### Indexing from 1D Array

In [317]:
#Indexing from 1D Array
#Array1[[mention indexes]]
Array1[[0,1,2]] #Accessing index 0th,1st,2nd elements

array(['KESHAV', '(45+9j)', 'True'], dtype='<U64')

In [318]:
Array1[[1,3]] #Accessing index 1st,3rd elements

array(['(45+9j)', '39.69'], dtype='<U64')

In [319]:
#Creating 2D array from 2 lists
#No of elements/length of each list should be same
Array2D=array([["KESHAV",45+9j,True,39.69,39],[10.10,'Prashant',10+10j,False,10]]) #Transforming nested list of 2 lists into Array
print(Array2D)
print(ndim(Array2D))
print(shape(Array2D)) # 1 array, 2 Rows & 5 Columns

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]
2
(2, 5)

In [320]:
#Array2D[[mention rows],[mention cols]]
Array2D[[1],[1]] #1st row index then 1st index element

array(['Prashant'], dtype='<U64')

In [321]:
Array2D[1,1] #1st row index then 1st index element

'Prashant'

In [322]:
Array2D[1][1] #1st row index then 1st index element

'Prashant'

In [323]:
Array2D[[0,1],[1,4]] # 0th row then 1st index element & 1st row then 4th index element

array(['(45+9j)', '10'], dtype='<U64')

In [324]:
Array2D[[0,1]] #0th Row & 1st Row of Array2D

array([['KESHAV', '(45+9j)', 'True', '39.69', '39'],
       ['10.1', 'Prashant', '(10+10j)', 'False', '10']], dtype='<U64')

In [325]:
#Creating 3D Array of Tuples
Array3D=array(((("KESHAV",45+9j,True,39.69,39),(10.10,'Prashant',10+10j,False,10)),(("RAGHAV",49+9j,True,36.69,36),(10.16,'Prashant',19+10j,False,17))))
print(Array3D)

[[['KESHAV' '(45+9j)' 'True' '39.69' '39']
  ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

 [['RAGHAV' '(49+9j)' 'True' '36.69' '36']
  ['10.16' 'Prashant' '(19+10j)' 'False' '17']]]

In [326]:
Array3D[[0,1],[1,0],[4,2]] #0th Array then 1st row then 4th index element & then 1st array then 0th row then 2nd index element

array(['10', 'True'], dtype='<U64')

In [327]:
Array3D[[0,1],[0,1],[4,2]] #0th Array then 0th row then 4th index element & then 1st array then 1st row then 2nd index element

array(['39', '(19+10j)'], dtype='<U64')

In [328]:
Array3D[[1,0],[1,0],[4,2]] #1st Array then 1st row then 4th index element & then 0th array then 0th row then 2nd index element

array(['17', 'True'], dtype='<U64')

### Boolean Indexing

In [329]:
#Creating 3D Array of Tuples
Array3D=array((((12,31+10j,29,-66.69,39),(-10.10,-89,-76,100,10)),((45,54,11-9j,-36.69,32),(-10.16,29,19,-12,17))))
print(Array3D)
print(type(Array3D))
print(Array3D.dtype)
print(shape(Array3D)) # 2 arrays, 2 Rows & 5 Columns
print(size(Array3D))
print(len(Array3D))
print(ndim(Array3D))

[[[ 12.   +0.j  31.  +10.j  29.   +0.j -66.69 +0.j  39.   +0.j]
  [-10.1  +0.j -89.   +0.j -76.   +0.j 100.   +0.j  10.   +0.j]]

 [[ 45.   +0.j  54.   +0.j  11.   -9.j -36.69 +0.j  32.   +0.j]
  [-10.16 +0.j  29.   +0.j  19.   +0.j -12.   +0.j  17.   +0.j]]]
<class 'numpy.ndarray'>
complex128
(2, 2, 5)
20
2
3

In [330]:
Array3D[Array3D>0] #Shows the elements greater then 0

array([ 12. +0.j,  31.+10.j,  29. +0.j,  39. +0.j, 100. +0.j,  10. +0.j,
        45. +0.j,  54. +0.j,  11. -9.j,  32. +0.j,  29. +0.j,  19. +0.j,
        17. +0.j])

In [331]:
Array3D[Array3D<0] #Shows the elements lesser then 0

array([-66.69+0.j, -10.1 +0.j, -89.  +0.j, -76.  +0.j, -36.69+0.j,
       -10.16+0.j, -12.  +0.j])

In [332]:
#Creating 3D Array of Tuples
Array3D=array((((12,31,29,-66.69,39),(-10.10,-89,-76,100,10)),((45,54,11,-36.69,32),(-10.16,29,19,-12,17))))
print(Array3D)

[[[ 12.    31.    29.   -66.69  39.  ]
  [-10.1  -89.   -76.   100.    10.  ]]

 [[ 45.    54.    11.   -36.69  32.  ]
  [-10.16  29.    19.   -12.    17.  ]]]

In [333]:
Array3D[Array3D>0]

array([ 12.,  31.,  29.,  39., 100.,  10.,  45.,  54.,  11.,  32.,  29.,
        19.,  17.])

In [334]:
Array3D[Array3D<0]

array([-66.69, -10.1 , -89.  , -76.  , -36.69, -10.16, -12.  ])

## Airthmatic Operations in Numpy Array
1. At the time of performing Airthmatic operation there shouldn't be any String element
2. Using Scalars
3. B/W Arrays

In [335]:
#1. At the time of performing Airthmatic operation there shouldn't be any String element
#2. Using Scalars
#3. B/W Arrays

### Using Scalars

In [336]:
#Creating 1D array from 1 list
# There is no "STRING" element present in the Array1D
# So all elements got converted into Complex by default
Array1D=array([45+9j,True,39.69,39]) #Convert the 1D list into array
print(Array1D)
print(type(Array1D))
print(ndim(Array1D))    
print(size(Array1D))
print(len(Array1D))
print(shape(Array1D))

[45.  +9.j  1.  +0.j 39.69+0.j 39.  +0.j]
<class 'numpy.ndarray'>
1
4
4
(4,)

In [337]:
#Creating 2D array from 4 lists
# There is no "STRING" element present in the Array2D
# So by default all elements of this 2D Array got converted into Complex
Array2D=array([[[45+9j,True,39.69,39],[10.10,10+10j,False,10],[1,2,3,4],[6,7,8,9]]])
print(Array2D)
print(type(Array2D))
print(ndim(Array2D))    
print(size(Array2D)) # 1 array, 4 Rows & 4 Columns
print(len(Array2D))
print(shape(Array2D))
#4 rows & 5 coloumns
#Total 20 elements

[[[45.   +9.j  1.   +0.j 39.69 +0.j 39.   +0.j]
  [10.1  +0.j 10.  +10.j  0.   +0.j 10.   +0.j]
  [ 1.   +0.j  2.   +0.j  3.   +0.j  4.   +0.j]
  [ 6.   +0.j  7.   +0.j  8.   +0.j  9.   +0.j]]]
<class 'numpy.ndarray'>
3
16
1
(1, 4, 4)

In [338]:
Array1D+8 #All Complex elements of Array1D got increased by 8

array([53.  +9.j,  9.  +0.j, 47.69+0.j, 47.  +0.j])

In [339]:
Array1D*8 #All Complex elements of Array1D got multiplied by 8

array([360.  +72.j,   8.   +0.j, 317.52 +0.j, 312.   +0.j])

In [340]:
Array2D*8 #All Complex elements of Array2D got multiplied by 8

array([[[360.  +72.j,   8.   +0.j, 317.52 +0.j, 312.   +0.j],
        [ 80.8  +0.j,  80.  +80.j,   0.   +0.j,  80.   +0.j],
        [  8.   +0.j,  16.   +0.j,  24.   +0.j,  32.   +0.j],
        [ 48.   +0.j,  56.   +0.j,  64.   +0.j,  72.   +0.j]]])

In [341]:
Array2D+8 #All Complex elements of Array2D got increased by 8

array([[[53.   +9.j,  9.   +0.j, 47.69 +0.j, 47.   +0.j],
        [18.1  +0.j, 18.  +10.j,  8.   +0.j, 18.   +0.j],
        [ 9.   +0.j, 10.   +0.j, 11.   +0.j, 12.   +0.j],
        [14.   +0.j, 15.   +0.j, 16.   +0.j, 17.   +0.j]]])

In [342]:
Array1D**8 #All Complex elements of Array1D got powered by 8

array([-1.64610661e+11+1.96706296e+13j,  1.00000000e+00+0.00000000e+00j,
        6.15812913e+12+0.00000000e+00j,  5.35200926e+12+0.00000000e+00j])

In [343]:
#Creating 3D Array of Tuples
#All elements of Array3D got converted to float by default
Array3D=array((((12,31,29,-66.69,39),(-10.10,-89,-76,100,10)),((45,54,11,-36.69,32),(-10.16,29,19,-12,17))))
print(Array3D)
print(type(Array3D))
print(ndim(Array3D))    
print(size(Array3D))
print(len(Array3D))
print(shape(Array3D)) # 2 arrays, 2 Rows & 5 Columns

[[[ 12.    31.    29.   -66.69  39.  ]
  [-10.1  -89.   -76.   100.    10.  ]]

 [[ 45.    54.    11.   -36.69  32.  ]
  [-10.16  29.    19.   -12.    17.  ]]]
<class 'numpy.ndarray'>
3
20
2
(2, 2, 5)

In [344]:
Array3D*5 #All float elements of Array3D got multiplied by 5

array([[[  60.  ,  155.  ,  145.  , -333.45,  195.  ],
        [ -50.5 , -445.  , -380.  ,  500.  ,   50.  ]],

       [[ 225.  ,  270.  ,   55.  , -183.45,  160.  ],
        [ -50.8 ,  145.  ,   95.  ,  -60.  ,   85.  ]]])

In [345]:
Array3D**5 #All float elements of Array3D got powered by 5

array([[[ 2.48832000e+05,  2.86291510e+07,  2.05111490e+07,
         -1.31917857e+09,  9.02241990e+07],
        [-1.05101005e+05, -5.58405945e+09, -2.53552538e+09,
          1.00000000e+10,  1.00000000e+05]],

       [[ 1.84528125e+08,  4.59165024e+08,  1.61051000e+05,
         -6.64872788e+07,  3.35544320e+07],
        [-1.08260129e+05,  2.05111490e+07,  2.47609900e+06,
         -2.48832000e+05,  1.41985700e+06]]])

### B/W Arrays
add(a,b), substract(a,b), multiply(a,b), divide(a,b), mod(a,b), power(a,b)

In [346]:
# Array1D got added through all the Rows of Array3D
Array1D=array([45+9j,True,39.69,39])
Array3D=array([[[45+9j,True,39.69,39],
               [10.10,10+10j,False,10],
               [1,2,3,4],
               [6,7,8,9]]])
AddArray=Array1D+Array3D #Addition of 2 complex Arrays
print(AddArray)
print(len(AddArray))
print(type(AddArray))
print(size(AddArray))
print(shape(AddArray)) # 1 array, 4 Rows & 4 Columns
print(AddArray.ndim)
print(AddArray.dtype)

[[[90.  +18.j  2.   +0.j 79.38 +0.j 78.   +0.j]
  [55.1  +9.j 11.  +10.j 39.69 +0.j 49.   +0.j]
  [46.   +9.j  3.   +0.j 42.69 +0.j 43.   +0.j]
  [51.   +9.j  8.   +0.j 47.69 +0.j 48.   +0.j]]]
1
<class 'numpy.ndarray'>
16
(1, 4, 4)
3
complex128

## Brodcasting
1. When we can't perform airthmatic operation b/W Arrays of different size or shape
2. Size of each dimention should be same
3. Size of one of the dimention should be 1

In [347]:
#1. When we can't perform airthmatic operation b/W Arrays of different size or shape
#2. Size of each dimention should be same
#3. Size of one of the dimention should be 1

In [348]:
#2D Array made by 3 Lists
Array2D=array([[1,2],
               [3,4],
               [5,6]])
print(Array2D)
print(shape(Array2D))

[[1 2]
 [3 4]
 [5 6]]
(3, 2)

In [349]:
# 1D Array
Array1D=array([10,20])

In [350]:
Array1D+Array2D #Array1D has been added through all the Rows of Array2D

array([[11, 22],
       [13, 24],
       [15, 26]])

In [351]:
Array1D*Array2D #Array1D has been multiplied through all the Rows of Array2D

array([[ 10,  40],
       [ 30,  80],
       [ 50, 120]])

## Array Manupulation
1. Reshaping Array
2. Array Flattening
3. Dimention Shuffling
4. Joining Arrays
5. Spilitting Arrays
6. Add/Remove elements to/from Array

## Reshaping Array
1. array.reshape() this don't changes the actual array
2. resize(array,()) this don't changes the actual array, filling is always 1 directional Row wise
3. array.resize() this changes the actual array, filling is always 1 directional Row wise
4. Reshaping contains three things... Array, Shape, Order

In [352]:
from numpy import reshape
help(reshape)

Help on function reshape in module numpy:

reshape(a, newshape, order='C')
    Gives a new shape to an array without changing its data.

    Parameters
    ----------
    a : array_like
        Array to be reshaped.
    newshape : int or tuple of ints
        The new shape should be compatible with the original shape. If
        an integer, then the result will be a 1-D array of that length.
        One shape dimension can be -1. In this case, the value is
        inferred from the length of the array and remaining dimensions.
    order : {'C', 'F', 'A'}, optional
        Read the elements of `a` using this index order, and place the
        elements into the reshaped array using this index order.  'C'
        means to read / write the elements using C-like index order,
        with the last axis index changing fastest, back to the first
        axis index changing slowest. 'F' means to read / write the
        elements using Fortran-like index order, with the first index
        changing fastest, and the last index changing slowest. Note that
        the 'C' and 'F' options take no account of the memory layout of
        the underlying array, and only refer to the order of indexing.
        'A' means to read / write the elements in Fortran-like index
        order if `a` is Fortran *contiguous* in memory, C-like order
        otherwise.

    Returns
    -------
    reshaped_array : ndarray
        This will be a new view object if possible; otherwise, it will
        be a copy.  Note there is no guarantee of the *memory layout* (C- or
        Fortran- contiguous) of the returned array.

    See Also
    --------
    ndarray.reshape : Equivalent method.

    Notes
    -----
    It is not always possible to change the shape of an array without
    copying the data. If you want an error to be raised when the data is copied,
    you should assign the new shape to the shape attribute of the array::

     >>> a = np.zeros((10, 2))

     # A transpose makes the array non-contiguous
     >>> b = a.T

     # Taking a view makes it possible to modify the shape without modifying
     # the initial object.
     >>> c = b.view()
     >>> c.shape = (20)
     Traceback (most recent call last):
        ...
     AttributeError: Incompatible shape for in-place modification. Use
     `.reshape()` to make a copy with the desired shape.

    The `order` keyword gives the index ordering both for *fetching* the values
    from `a`, and then *placing* the values into the output array.
    For example, let's say you have an array:

    >>> a = np.arange(6).reshape((3, 2))
    >>> a
    array([[0, 1],
           [2, 3],
           [4, 5]])

    You can think of reshaping as first raveling the array (using the given
    index order), then inserting the elements from the raveled array into the
    new array using the same kind of index ordering as was used for the
    raveling.

    >>> np.reshape(a, (2, 3)) # C-like index ordering
    array([[0, 1, 2],
           [3, 4, 5]])
    >>> np.reshape(np.ravel(a), (2, 3)) # equivalent to C ravel then C reshape
    array([[0, 1, 2],
           [3, 4, 5]])
    >>> np.reshape(a, (2, 3), order='F') # Fortran-like index ordering
    array([[0, 4, 3],
           [2, 1, 5]])
    >>> np.reshape(np.ravel(a, order='F'), (2, 3), order='F')
    array([[0, 4, 3],
           [2, 1, 5]])

    Examples
    --------
    >>> a = np.array([[1,2,3], [4,5,6]])
    >>> np.reshape(a, 6)
    array([1, 2, 3, 4, 5, 6])
    >>> np.reshape(a, 6, order='F')
    array([1, 4, 2, 5, 3, 6])

    >>> np.reshape(a, (3,-1))       # the unspecified value is inferred to be 2
    array([[1, 2],
           [3, 4],
           [5, 6]])

In [353]:
#Creating 2D array from 2 lists
#No of elements/length of each list should be same
Array2D=array([["KESHAV",45+9j,True,39.69,39],[10.10,'Prashant',10+10j,False,10]]) #Transforming nested list of 2 lists into Array
print(Array2D)
print(type(Array2D))
print(ndim(Array2D))    
print(size(Array2D))
print(len(Array2D))
print(shape(Array2D)) #2 rows & 5 cols

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]
<class 'numpy.ndarray'>
2
10
2
(2, 5)

In [354]:
#Creating 2D array from 2 lists
#No of elements/length of each list should be same
Array2D=array([[["KESHAV",45+9j,True,39.69,39],[10.10,'Prashant',10+10j,False,10]]]) #Transforming nested list of 2 lists into Array
print(Array2D)
print(type(Array2D))
print(ndim(Array2D))    
print(size(Array2D))
print(len(Array2D))
print(shape(Array2D)) #1 array, 2 rows & 5 cols

[[['KESHAV' '(45+9j)' 'True' '39.69' '39']
  ['10.1' 'Prashant' '(10+10j)' 'False' '10']]]
<class 'numpy.ndarray'>
3
10
1
(1, 2, 5)

In [355]:
# reshape to 5 rows & 2 cols
Array2D.reshape(5,2) #Row wise filling

array([['KESHAV', '(45+9j)'],
       ['True', '39.69'],
       ['39', '10.1'],
       ['Prashant', '(10+10j)'],
       ['False', '10']], dtype='<U64')

In [356]:
# reshape to 5 rows & 2 cols
Array2D.reshape(5,2,order="F") #Colwise filling

array([['KESHAV', '(10+10j)'],
       ['10.1', '39.69'],
       ['(45+9j)', 'False'],
       ['Prashant', '39'],
       ['True', '10']], dtype='<U64')

In [357]:
# reshape to 5 rows & 2 cols
Array2D.reshape(5,2,order="A") #Row wise filling

array([['KESHAV', '(45+9j)'],
       ['True', '39.69'],
       ['39', '10.1'],
       ['Prashant', '(10+10j)'],
       ['False', '10']], dtype='<U64')

In [358]:
# reshape to 5 rows & 2 cols
Array2D.reshape(5,2,order="C") #Row wise filling

array([['KESHAV', '(45+9j)'],
       ['True', '39.69'],
       ['39', '10.1'],
       ['Prashant', '(10+10j)'],
       ['False', '10']], dtype='<U64')

In [359]:
# resize to 5 rows & 4 cols, 5*4=20 elements
# While filling, Array elements get repeated if Row*Col > size(Array)
# resize(array,()) this function always do Row wise filling
# You can't change the filling process, always 1 directional filling
from numpy import resize
resize(Array2D,(5,4)) #Row wise filling, Order facility doesn't exist here with resize() function

array([['KESHAV', '(45+9j)', 'True', '39.69'],
       ['39', '10.1', 'Prashant', '(10+10j)'],
       ['False', '10', 'KESHAV', '(45+9j)'],
       ['True', '39.69', '39', '10.1'],
       ['Prashant', '(10+10j)', 'False', '10']], dtype='<U64')

In [360]:
# resize to 5 rows & 2 cols, 5*2=10 elements
Array2D.resize(5,2)
Array2D  # Permanent shape change of Array2D

array([['KESHAV', '(45+9j)'],
       ['True', '39.69'],
       ['39', '10.1'],
       ['Prashant', '(10+10j)'],
       ['False', '10']], dtype='<U64')

In [361]:
#Creating 2D array from 2 lists
#No of elements/length of each list should be same
New2D=array([["KESHAV",45+9j,True,39.69,39],[10.10,'Prashant',10+10j,False,10]]) #Transforming nested list of 2 lists into Array
print(New2D),New2D.dtype,shape(New2D),size(New2D),ndim(New2D) #2 rows & 5 cols

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

(None, dtype('<U64'), (2, 5), 10, 2)

In [362]:
# resize to 5 rows & 2 cols, 5*2=10 elements
New2D.resize(5,2) #This kind of reshape always changes the original Array permanently
print(New2D)      #Row wise filling

[['KESHAV' '(45+9j)']
 ['True' '39.69']
 ['39' '10.1']
 ['Prashant' '(10+10j)']
 ['False' '10']]

## Array Flattening to 1D by using flatten() & ravel()
1. Array Flattening by using flatten() & ravel()
2. Flattening means Dimention convertion of Array
3. From 4D, 3D, 2D to 1D conversion
4. Flatten method creates a copy of the Original Array
5. Ravel method just gives you a temporary view
6. You can't write flatten() as this format because this is not a function
7. You can write ravel() as this format, because this is an function

In [363]:
#Creating 2D array from 2 lists
#No of elements/length of each list should be same
New2D=array([["KESHAV",45+9j,True,39.69,39],[10.10,'Prashant',10+10j,False,10]]) #Transforming nested list of 2 lists into Array
print(New2D)
print(type(New2D))
print(ndim(New2D))    
print(size(New2D))
print(len(New2D))
print(shape(New2D)) # 2 Rows & 5 Columns

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]
<class 'numpy.ndarray'>
2
10
2
(2, 5)

In [364]:
# Row wise 2D to 1D conversion
print(New2D.flatten()) #Row wise flatten
print(ndim(New2D.flatten()))
print(shape(New2D.flatten()))

['KESHAV' '(45+9j)' 'True' '39.69' '39' '10.1' 'Prashant' '(10+10j)'
 'False' '10']
1
(10,)

In [365]:
# Col wise 2D to 1D conversion
print(New2D.flatten(order="F")) #Col wise flatten
print(ndim(New2D.flatten(order="F")))
print(shape(New2D.flatten(order="F")))

['KESHAV' '10.1' '(45+9j)' 'Prashant' 'True' '(10+10j)' '39.69' 'False'
 '39' '10']
1
(10,)

In [366]:
#Creating 3D Array of Tuples
Array3D=array(((("KESHAV",45+9j,True,39.69,39),(10.10,'Prashant',10+10j,False,10)),(("RAGHAV",49+9j,True,36.69,36),(10.16,'Prashant',19+10j,False,17))))
print(Array3D)

[[['KESHAV' '(45+9j)' 'True' '39.69' '39']
  ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

 [['RAGHAV' '(49+9j)' 'True' '36.69' '36']
  ['10.16' 'Prashant' '(19+10j)' 'False' '17']]]

In [367]:
# Row wise 3D to 1D conversion
print(Array3D.flatten()) #Row wise flatten
print(ndim(Array3D.flatten()))
print(shape(Array3D.flatten()))

['KESHAV' '(45+9j)' 'True' '39.69' '39' '10.1' 'Prashant' '(10+10j)'
 'False' '10' 'RAGHAV' '(49+9j)' 'True' '36.69' '36' '10.16' 'Prashant'
 '(19+10j)' 'False' '17']
1
(20,)

In [368]:
# Col wise 3D to 1D conversion
print(Array3D.flatten(order="F")) #Col wise flatten
print(ndim(Array3D.flatten(order="F")))
print(shape(Array3D.flatten(order="F")))

['KESHAV' 'RAGHAV' '10.1' '10.16' '(45+9j)' '(49+9j)' 'Prashant'
 'Prashant' 'True' 'True' '(10+10j)' '(19+10j)' '39.69' '36.69' 'False'
 'False' '39' '36' '10' '17']
1
(20,)

In [369]:
# Row wise 3D to 1D conversion
from numpy import ravel
print(Array3D.ravel(order="c")) #Row wise flatten
print(shape(Array3D.ravel(order="c")))
print(ndim(Array3D.ravel(order="c")))

['KESHAV' '(45+9j)' 'True' '39.69' '39' '10.1' 'Prashant' '(10+10j)'
 'False' '10' 'RAGHAV' '(49+9j)' 'True' '36.69' '36' '10.16' 'Prashant'
 '(19+10j)' 'False' '17']
(20,)
1

In [370]:
# Col wise 3D to 1D conversion
print(Array3D.ravel(order="F")) #Col wise flatten
print(shape(Array3D.ravel(order="F")))
print(ndim(Array3D.ravel(order="F")))

['KESHAV' 'RAGHAV' '10.1' '10.16' '(45+9j)' '(49+9j)' 'Prashant'
 'Prashant' 'True' 'True' '(10+10j)' '(19+10j)' '39.69' '36.69' 'False'
 'False' '39' '36' '10' '17']
(20,)
1

In [371]:
# Row wise 3D to 1D conversion
print(Array3D.ravel(order="A")) #Row wise flatten
print(shape(Array3D.ravel(order="A")))
print(ndim(Array3D.ravel(order="A")))

['KESHAV' '(45+9j)' 'True' '39.69' '39' '10.1' 'Prashant' '(10+10j)'
 'False' '10' 'RAGHAV' '(49+9j)' 'True' '36.69' '36' '10.16' 'Prashant'
 '(19+10j)' 'False' '17']
(20,)
1

In [372]:
# Row wise 3D to 1D conversion
print(Array3D.ravel()) #Row wise flatten
print(shape(Array3D.ravel()))
print(ndim(Array3D.ravel()))

['KESHAV' '(45+9j)' 'True' '39.69' '39' '10.1' 'Prashant' '(10+10j)'
 'False' '10' 'RAGHAV' '(49+9j)' 'True' '36.69' '36' '10.16' 'Prashant'
 '(19+10j)' 'False' '17']
(20,)
1

In [373]:
# Row wise 3D to 1D conversion
print(Array3D.ravel(order="c")) #Row wise flatten
print(shape(Array3D.ravel(order="c")))
print(ndim(Array3D.ravel(order="c")))

['KESHAV' '(45+9j)' 'True' '39.69' '39' '10.1' 'Prashant' '(10+10j)'
 'False' '10' 'RAGHAV' '(49+9j)' 'True' '36.69' '36' '10.16' 'Prashant'
 '(19+10j)' 'False' '17']
(20,)
1

In [374]:
# Col wise 3D to 1D conversion
print(Array3D.ravel(order="F")) #Col wise flatten
print(shape(Array3D.ravel(order="F")))
print(ndim(Array3D.ravel(order="F")))

['KESHAV' 'RAGHAV' '10.1' '10.16' '(45+9j)' '(49+9j)' 'Prashant'
 'Prashant' 'True' 'True' '(10+10j)' '(19+10j)' '39.69' '36.69' 'False'
 'False' '39' '36' '10' '17']
(20,)
1

In [375]:
# Row wise 3D to 1D conversion
print(Array3D.ravel(order="A")) #Row wise flatten
print(shape(Array3D.ravel(order="A")))
print(ndim(Array3D.ravel(order="A")))

['KESHAV' '(45+9j)' 'True' '39.69' '39' '10.1' 'Prashant' '(10+10j)'
 'False' '10' 'RAGHAV' '(49+9j)' 'True' '36.69' '36' '10.16' 'Prashant'
 '(19+10j)' 'False' '17']
(20,)
1

## Dimension Shuffling by using Transpose and Swapaxes
* transpose() function, works with all Axises/Dimensions
* swapaxes() function, works with any two Axises/Dimensions
* For 2D rowAxis=0, colAxis=1
* For 3D ArrayAxis=0, RowAxis=1, colAxis=2

In [376]:
#transpose() function, works with all Axises/Dimensions
#swapaxes() function, works with any two Axises/Dimensions
#For 2D rowAxis=0, colAxis=1
#For 3D ArrayAxis=0, RowAxis=1, colAxis=2

### transpose(Array, axes=none) & ArrayAxis=0, RowAxis=1, colAxis=2

In [377]:
#Creating 3D Array of Tuples
Array3D=array(((("KESHAV",45+9j,True,39.69,39),(10.10,'Prashant',10+10j,False,10)),(("RAGHAV",49+9j,True,36.69,36),(10.16,'Prashant',19+10j,False,17))))
print(Array3D)
print(type(Array3D))
print(ndim(Array3D))    
print(size(Array3D))
print(len(Array3D))
print(shape(Array3D)) # 2 Arrays, 2 Rows & 5 Columns

[[['KESHAV' '(45+9j)' 'True' '39.69' '39']
  ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

 [['RAGHAV' '(49+9j)' 'True' '36.69' '36']
  ['10.16' 'Prashant' '(19+10j)' 'False' '17']]]
<class 'numpy.ndarray'>
3
20
2
(2, 2, 5)

In [378]:
#5 Arrays, 2 rows, 2 cols
#For 3D ArrayAxis=0, RowAxis=1, colAxis=2
from numpy import transpose
print(Array3D.transpose())
print(transpose(Array3D)) #Reverse the Dimention of Array3D
                   #By using transpose() function we can interchange all the axises
# print(transpose(Array3D))
print(type(transpose(Array3D)))
print(ndim(transpose(Array3D)))    
print(size(transpose(Array3D)))
print(len(transpose(Array3D)))
print(shape(transpose(Array3D))) # 5 arrays, 2 Rows & 2 Columns
print(shape(Array3D.T)) # 5 arrays, 2 Rows & 2 Columns

[[['KESHAV' 'RAGHAV']
  ['10.1' '10.16']]

 [['(45+9j)' '(49+9j)']
  ['Prashant' 'Prashant']]

 [['True' 'True']
  ['(10+10j)' '(19+10j)']]

 [['39.69' '36.69']
  ['False' 'False']]

 [['39' '36']
  ['10' '17']]]
[[['KESHAV' 'RAGHAV']
  ['10.1' '10.16']]

 [['(45+9j)' '(49+9j)']
  ['Prashant' 'Prashant']]

 [['True' 'True']
  ['(10+10j)' '(19+10j)']]

 [['39.69' '36.69']
  ['False' 'False']]

 [['39' '36']
  ['10' '17']]]
<class 'numpy.ndarray'>
3
20
5
(5, 2, 2)
(5, 2, 2)

In [379]:
#For 3D ArrayAxis=0, RowAxis=1, colAxis=2
Array3D.transpose  #Reverse the Dimention of Array3D
                   #By using transpose() function we can interchange all the axises

In [380]:
#5 Arrays, 2 rows, 2 cols
#For 3D ArrayAxis=0, RowAxis=1, colAxis=2
print(Array3D.transpose()) #Reverse the Dimention of Array3D
                    #By using transpose() function we can interchange all the axises

[[['KESHAV' 'RAGHAV']
  ['10.1' '10.16']]

 [['(45+9j)' '(49+9j)']
  ['Prashant' 'Prashant']]

 [['True' 'True']
  ['(10+10j)' '(19+10j)']]

 [['39.69' '36.69']
  ['False' 'False']]

 [['39' '36']
  ['10' '17']]]

In [381]:
#5 Arrays, 2 rows, 2 cols
#For 3D ArrayAxis=0, RowAxis=1, colAxis=2
transpose(Array3D).shape #Reverse the Dimention of Array3D
                         #By using transpose() function we can interchange all the axises

(5, 2, 2)

In [382]:
#5 Arrays, 2 rows, 2 cols
transpose(Array3D).shape #Reverse the Dimention of Array3D
                         #By using transpose() function we can interchange all the axeses
                         #For 3D ArrayAxis=0, RowAxis=1, colAxis=2

(5, 2, 2)

In [383]:
#2 Arrays, 5 rows, 2 cols
#The transpose axeses always need be put inside extra ()
#You need to mention axeses inside a Tuple
# ArrayAxis 0 : 2, RowAxis 1 : 2, colAxis 2 : 5
print(shape(Array3D)) # 2 arrays, 2 Rows & 5 Columns
transpose(Array3D,(1,2,0)) #For 3D ArrayAxis=0, RowAxis=1, colAxis=2

print(shape(transpose(Array3D,(1,2,0))))

(2, 2, 5)
(2, 5, 2)

In [384]:
#2 Arrays, 5 rows, 2 cols
#The transpose axeses always need be put inside extra ()
#You need to mention axeses inside a Tuple
transpose(Array3D,axes=(1,2,0)) #No need to write axes seperately

array([[['KESHAV', 'RAGHAV'],
        ['(45+9j)', '(49+9j)'],
        ['True', 'True'],
        ['39.69', '36.69'],
        ['39', '36']],

       [['10.1', '10.16'],
        ['Prashant', 'Prashant'],
        ['(10+10j)', '(19+10j)'],
        ['False', 'False'],
        ['10', '17']]], dtype='<U64')

In [385]:
#For 2D rowAxis=0, colAxis=1
#Creating 2D array from 2 lists
#No of elements/length of each list should be same
New2D=array([["KESHAV",45+9j,True,39.69,39],[10.10,'Prashant',10+10j,False,10]]) #Transforming nested list of 2 lists into Array
print(New2D)
print(shape(New2D)) # 2 Rows & 5 Columns
print(size(New2D))
print(len(New2D))
print(ndim(New2D))
print(New2D.dtype)

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]
(2, 5)
10
2
2
<U64

In [386]:
# 5 rows, 2 cols
transpose(New2D),New2D.transpose,New2D.transpose(),transpose(New2D).shape    #For 2D rowAxis=0, colAxis=1

(array([['KESHAV', '10.1'],
        ['(45+9j)', 'Prashant'],
        ['True', '(10+10j)'],
        ['39.69', 'False'],
        ['39', '10']], dtype='<U64'),
 <function ndarray.transpose>,
 array([['KESHAV', '10.1'],
        ['(45+9j)', 'Prashant'],
        ['True', '(10+10j)'],
        ['39.69', 'False'],
        ['39', '10']], dtype='<U64'),
 (5, 2))

In [387]:
# 5 rows, 2 cols
#The transpose axeses always need be put inside extra ()
#You need to mention axeses inside a Tuple
transpose(New2D,(1,0)) #1,0 is same as reverse
                       #For 2D rowAxis=0, colAxis=1

array([['KESHAV', '10.1'],
       ['(45+9j)', 'Prashant'],
       ['True', '(10+10j)'],
       ['39.69', 'False'],
       ['39', '10']], dtype='<U64')

In [388]:
# 5 rows, 2 cols
#The transpose axeses always need be put inside extra ()
#You need to mention axeses inside a Tuple
transpose(New2D,axes=(1,0)) #no need to mention axes seperately
                            #For 2D rowAxis=0, colAxis=1

array([['KESHAV', '10.1'],
       ['(45+9j)', 'Prashant'],
       ['True', '(10+10j)'],
       ['39.69', 'False'],
       ['39', '10']], dtype='<U64')

In [389]:
# 2 rows, 5 cols
#The transpose axeses always need be put inside extra ()
#You need to mention axeses inside a Tuple
transpose(New2D,(0,1)) #For 2D rowAxis=0, colAxis=1

array([['KESHAV', '(45+9j)', 'True', '39.69', '39'],
       ['10.1', 'Prashant', '(10+10j)', 'False', '10']], dtype='<U64')

In [390]:
# 2 rows, 5 cols
#The transpose axeses always need be put inside extra ()
#You need to mention axeses inside a Tuple
transpose(New2D,axes=(0,1)) #don't need to mention axes
                            #For 2D rowAxis=0, colAxis=1

array([['KESHAV', '(45+9j)', 'True', '39.69', '39'],
       ['10.1', 'Prashant', '(10+10j)', 'False', '10']], dtype='<U64')

### swapaxes() means row to column and column to row
* you can swap any two axes at a time for a 3D array

In [391]:
#swapaxes()
#You can interchange any two axis of given array... Array|Row  Array|Col  Row|Col
#In the swapaxes() function we can interchange any 2 axis
#Just mention the two axeses by giving comma... dont think about which axis to put first

In [392]:
#1D Array
Ar1=array([1,2,3])
print(Ar1)
print(shape(Ar1)) # 3 columns
print(ndim(Ar1))

[1 2 3]
(3,)
1

In [393]:
#2D Array
Ar2=array([[1,2,3]])
print(Ar2) #1Row, 3col
print(shape(Ar2)) # 1 Row & 3 Columns
print(ndim(Ar2))

[[1 2 3]]
(1, 3)
2

In [394]:
# 3 rows, 1 col
#For swap you dont need to mention the 2 axeses in a Tuple
from numpy import swapaxes
print(Ar2)
print(shape(Ar2))
print(swapaxes(Ar2,1,0)) #3rows, 1col
                  #For 2D rowAxis=0, colAxis=1
                  #Row and Col have been swapped
print(shape(swapaxes(Ar2,1,0)))
print(Ar2.T)
print(shape(Ar2.T))

[[1 2 3]]
(1, 3)
[[1]
 [2]
 [3]]
(3, 1)
[[1]
 [2]
 [3]]
(3, 1)

In [395]:
# 3 row, 1 cols
#For swap you dont need to mention the 2 axeses in a Tuple
print(swapaxes(Ar2,0,1)) #3rows, 1col
                  #For 2D rowAxis=0, colAxis=1
                  #Here also Row & Col have been swapped
print(swapaxes(Ar2,1,0))
print(Ar2)

[[1]
 [2]
 [3]]
[[1]
 [2]
 [3]]
[[1 2 3]]

In [396]:
#Creating 3D Array made of 4 Tuples
#For 3D ArrayAxis=0, RowAxis=1, colAxis=2
Array3D=array(((("KESHAV",45+9j,True,39.69,39),(10.10,'Prashant',10+10j,False,10)),(("RAGHAV",49+9j,True,36.69,36),(10.16,'Prashant',19+10j,False,17))))
print(Array3D)
print(shape(Array3D)) # 2 Arrays(0), 2 Rows(1) & 5 Columns(2)

[[['KESHAV' '(45+9j)' 'True' '39.69' '39']
  ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

 [['RAGHAV' '(49+9j)' 'True' '36.69' '36']
  ['10.16' 'Prashant' '(19+10j)' 'False' '17']]]
(2, 2, 5)

In [397]:
#For swap you dont need to mention the 2 axeses in a Tuple
#For 3D ArrayAxis=0, RowAxis=1, colAxis=2
#If you want to interchange any two axes of 3D array or 4D array or more you will use swapaxes() function
#As there is only 2 axeses you can swap, you don't need to put extra () inside
swapaxes(Array3D,2,1).shape #2 Arrays, 5 rows, 2 cols, row & col have been shuffled
                            #Only Rows & Columns got shuffled here

(2, 5, 2)

In [398]:
#For swap you dont need to mention the 2 axeses in a Tuple
#For 3D ArrayAxis=0, RowAxis=1, colAxis=2
#If you want to interchange any two axes of 3D array or 4D array or more you will use swapaxes() function
#As there is only 2 axeses you can swap, you don't need to put extra () inside
swapaxes(Array3D,1,2).shape #2 Arrays, 5 rows, 2 cols, row & col have been shuffled
                            #Here also we can see row & col have been shuffled, shape in same as b4

(2, 5, 2)

In [399]:
swapaxes(Array3D,0,1).shape

(2, 2, 5)

In [400]:
swapaxes(Array3D,1,0).shape

(2, 2, 5)

In [401]:
swapaxes(Array3D,0,2).shape

(5, 2, 2)

In [402]:
swapaxes(Array3D,2,0).shape

(5, 2, 2)

## Splitting & Joining Multiple Arrays
* concatenate([ArrayX, ArrayY], axis=0) Row wise concatination
* concatenate([ArrayX, ArrayY], axis=1) Column wise concatination
* vstack([ArrayX, ArrayY])
* hstack([ArrayX, ArrayY])
* Append=append(Array2D, (12,21), axis=0) add to the last Row
* Append=append(Array2D, (12,21), axis=1) add to the last Column

In [403]:
# You can't join arrays of different dimention While joining dimention of the arrays should be same
#1. concatenete()
#2. hstack()
#3. vstack()

In [404]:
from numpy import concatenate
help(concatenate)

Help on function concatenate in module numpy:

concatenate(...)
    concatenate((a1, a2, ...), axis=0, out=None, dtype=None, casting="same_kind")

    Join a sequence of arrays along an existing axis.

    Parameters
    ----------
    a1, a2, ... : sequence of array_like
        The arrays must have the same shape, except in the dimension
        corresponding to `axis` (the first, by default).
    axis : int, optional
        The axis along which the arrays will be joined.  If axis is None,
        arrays are flattened before use.  Default is 0.
    out : ndarray, optional
        If provided, the destination to place the result. The shape must be
        correct, matching that of what concatenate would have returned if no
        out argument were specified.
    dtype : str or dtype
        If provided, the destination array will have this dtype. Cannot be
        provided together with `out`.

        .. versionadded:: 1.20.0

    casting : {'no', 'equiv', 'safe', 'same_kind', 'unsafe'}, optional
        Controls what kind of data casting may occur. Defaults to 'same_kind'.

        .. versionadded:: 1.20.0

    Returns
    -------
    res : ndarray
        The concatenated array.

    See Also
    --------
    ma.concatenate : Concatenate function that preserves input masks.
    array_split : Split an array into multiple sub-arrays of equal or
                  near-equal size.
    split : Split array into a list of multiple sub-arrays of equal size.
    hsplit : Split array into multiple sub-arrays horizontally (column wise).
    vsplit : Split array into multiple sub-arrays vertically (row wise).
    dsplit : Split array into multiple sub-arrays along the 3rd axis (depth).
    stack : Stack a sequence of arrays along a new axis.
    block : Assemble arrays from blocks.
    hstack : Stack arrays in sequence horizontally (column wise).
    vstack : Stack arrays in sequence vertically (row wise).
    dstack : Stack arrays in sequence depth wise (along third dimension).
    column_stack : Stack 1-D arrays as columns into a 2-D array.

    Notes
    -----
    When one or more of the arrays to be concatenated is a MaskedArray,
    this function will return a MaskedArray object instead of an ndarray,
    but the input masks are *not* preserved. In cases where a MaskedArray
    is expected as input, use the ma.concatenate function from the masked
    array module instead.

    Examples
    --------
    >>> a = np.array([[1, 2], [3, 4]])
    >>> b = np.array([[5, 6]])
    >>> np.concatenate((a, b), axis=0)
    array([[1, 2],
           [3, 4],
           [5, 6]])
    >>> np.concatenate((a, b.T), axis=1)
    array([[1, 2, 5],
           [3, 4, 6]])
    >>> np.concatenate((a, b), axis=None)
    array([1, 2, 3, 4, 5, 6])

    This function will not preserve masking of MaskedArray inputs.

    >>> a = np.ma.arange(3)
    >>> a[1] = np.ma.masked
    >>> b = np.arange(2, 5)
    >>> a
    masked_array(data=[0, --, 2],
                 mask=[False,  True, False],
           fill_value=999999)
    >>> b
    array([2, 3, 4])
    >>> np.concatenate([a, b])
    masked_array(data=[0, 1, 2, 2, 3, 4],
                 mask=False,
           fill_value=999999)
    >>> np.ma.concatenate([a, b])
    masked_array(data=[0, --, 2, 2, 3, 4],
                 mask=[False,  True, False, False, False, False],
           fill_value=999999)

In [405]:
#Creating 1D array from 1 list
ArrayX=array(["KESHAV",45+9j,True,39.69,39]) #Convert the list into array
print(ArrayX)

['KESHAV' '(45+9j)' 'True' '39.69' '39']

In [406]:
ArrayY=array(["ROOBAL",39+9j,False,30.69,32]) #Convert the list into array
print(ArrayY)

['ROOBAL' '(39+9j)' 'False' '30.69' '32']

In [407]:
#You need to mention Arrays in a Tuple by giving comma
from numpy import concatenate
ArrayXY=concatenate([ArrayX,ArrayY]) #One dimentional Arrays contain only 1 axis so no need to mention
print(ArrayXY)
print(shape(ArrayXY)) # 10 columns

['KESHAV' '(45+9j)' 'True' '39.69' '39' 'ROOBAL' '(39+9j)' 'False' '30.69'
 '32']
(10,)

In [408]:
#You need to mention Arrays in a Tuple by giving comma
from numpy import hstack
ArrayXY=hstack([ArrayX,ArrayY]) #One dimentional Arrays contain only 1 axis so no need to mention
print(ArrayXY)
print(shape(ArrayXY)) # 10 columns

['KESHAV' '(45+9j)' 'True' '39.69' '39' 'ROOBAL' '(39+9j)' 'False' '30.69'
 '32']
(10,)

In [409]:
from numpy import append
ArrayXY=append(ArrayX,ArrayY)
print(ArrayXY)
print()
ArrayZ = array(['Biku', 78-6j, False, 4.6, 52])
ArrayXYZ=append(ArrayX,[ArrayY, ArrayZ])
print(ArrayXYZ)
print(shape(ArrayXYZ)) # 10 columns

['KESHAV' '(45+9j)' 'True' '39.69' '39' 'ROOBAL' '(39+9j)' 'False' '30.69'
 '32']

['KESHAV' '(45+9j)' 'True' '39.69' '39' 'ROOBAL' '(39+9j)' 'False' '30.69'
 '32' 'Biku' '(78-6j)' 'False' '4.6' '52']
(15,)

In [410]:
ArrayXY=append(ArrayX,ArrayY)
ArrayXY

array(['KESHAV', '(45+9j)', 'True', '39.69', '39', 'ROOBAL', '(39+9j)',
       'False', '30.69', '32'], dtype='<U64')

In [411]:
#out= where to store the result of the concatenation
ArrayZ=array(["BHOOMI",29+9j,True,29.69,56,1,2,3,4,5])
ArrayZ

array(['BHOOMI', '(29+9j)', 'True', '29.69', '56', '1', '2', '3', '4',
       '5'], dtype='<U64')

In [412]:
concatenate([ArrayX,ArrayY], out=ArrayZ) #We can store the concatination Result into Another Array having similar shape
print(ArrayZ)

['KESHAV' '(45+9j)' 'True' '39.69' '39' 'ROOBAL' '(39+9j)' 'False' '30.69'
 '32']

In [413]:
print(ArrayZ) #Elements of ArrayZ got changed by concatenated ArrayX & ArrayY

['KESHAV' '(45+9j)' 'True' '39.69' '39' 'ROOBAL' '(39+9j)' 'False' '30.69'
 '32']

In [414]:
#Now we will join 2D Arrays
#Creating 2D array from 1 list
Array2DX=array([["KESHAV",45+9j,True,39.69,39]]) #Convert the 1D list into 2D & then into array
print(Array2DX)
print(ndim(Array2DX))

[['KESHAV' '(45+9j)' 'True' '39.69' '39']]
2

In [415]:
#For 2D rowAxis=0, colAxis=1
#Creating 2D array from 2 lists
#No of elements/length of each list should be same
Array2DY=array([["KESHAV",45+9j,True,39.69,39],[10.10,'Prashant',10+10j,False,10]]) #Transforming nested list of 2 lists into Array
print(Array2DY)

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]

In [416]:
XY=concatenate([Array2DX,Array2DY],axis=0) #Row wise concatenation
print(XY)                                  #Array2DX will come to the top place of Rows if place b4 comma (Array2DX,Array2DY)
print(type(XY))
print(shape(XY))

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]
<class 'numpy.ndarray'>
(3, 5)

In [417]:
XY=append(Array2DX,Array2DY,axis=0) #Row wise concatenation
print(XY)
print(type(XY))
print(shape(XY))

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]
<class 'numpy.ndarray'>
(3, 5)

In [418]:
#Creating 2D array from 1 list, having 3 elements
New2D=array([["KESHAV",45+9j,True]])

In [419]:
New=concatenate([New2D.T,XY],axis=1) #Col wise concatenation has been done, after Transposing New2D
print(New)                            #New2D.T will come to the first place of cols if place b4 comma (New2D.T,Concat)

[['KESHAV' 'KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['(45+9j)' 'KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['True' '10.1' 'Prashant' '(10+10j)' 'False' '10']]

In [420]:
change = append(XY,New2D.T,axis=1)
print(change)

[['KESHAV' '(45+9j)' 'True' '39.69' '39' 'KESHAV']
 ['KESHAV' '(45+9j)' 'True' '39.69' '39' '(45+9j)']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10' 'True']]

In [421]:
Array2 = array([[[1,2,3,4],[5,6,7,8]],[[9,10,11,12],[13,14,15,16]]])
print(Array2)
print(shape(Array2)) # 2 arrays, 2 Rows & 4 Columns

[[[ 1  2  3  4]
  [ 5  6  7  8]]

 [[ 9 10 11 12]
  [13 14 15 16]]]
(2, 2, 4)

In [422]:
Array1 = array([[[17,18,19,20],[21,22,23,24]]])
print(Array1)
print(shape(Array1)) # 1 array, 2 Rows & 4 Columns

[[[17 18 19 20]
  [21 22 23 24]]]
(1, 2, 4)

In [423]:
Array3 = concatenate([Array1, Array2], axis=0) # array axis=0 concatenate
print(Array3)
print(shape(Array3)) # 3 Arrays, 2 Rows & 4 Columns

[[[17 18 19 20]
  [21 22 23 24]]

 [[ 1  2  3  4]
  [ 5  6  7  8]]

 [[ 9 10 11 12]
  [13 14 15 16]]]
(3, 2, 4)

In [424]:
Array3 = append(Array1, Array2, axis=0) # array axis=0 append
print(Array3)
print(shape(Array3)) # 3 Arrays, 2 Rows & 4 Columns

[[[17 18 19 20]
  [21 22 23 24]]

 [[ 1  2  3  4]
  [ 5  6  7  8]]

 [[ 9 10 11 12]
  [13 14 15 16]]]
(3, 2, 4)

In [425]:
from numpy import vstack
Array3 = vstack([Array1, Array2]) # array axis=0 append
print(Array3)
print(shape(Array3)) # 3 Arrays, 2 Rows & 4 Columns

[[[17 18 19 20]
  [21 22 23 24]]

 [[ 1  2  3  4]
  [ 5  6  7  8]]

 [[ 9 10 11 12]
  [13 14 15 16]]]
(3, 2, 4)

In [426]:
col4 = array([[['alpha'], ['beta']], [['gamma'], ['theta']], [['sigma'], ['xeta']]])
print(col4)
print(shape(col4)) # 3 Arrays, 2 Rows & 1 Columns

[[['alpha']
  ['beta']]

 [['gamma']
  ['theta']]

 [['sigma']
  ['xeta']]]
(3, 2, 1)

In [427]:
# using concatenate()
col5 = concatenate([Array3, col4], axis=2)
print(col5)
print(shape(col5)) # 3 Arrays, 2 Rows & 5 Columns

[[['17' '18' '19' '20' 'alpha']
  ['21' '22' '23' '24' 'beta']]

 [['1' '2' '3' '4' 'gamma']
  ['5' '6' '7' '8' 'theta']]

 [['9' '10' '11' '12' 'sigma']
  ['13' '14' '15' '16' 'xeta']]]
(3, 2, 5)

In [428]:
# using append()
col5 = append(Array3, col4, axis=2)
print(col5)
print(shape(col5)) # 3 Arrays, 2 Rows & 5 Columns

[[['17' '18' '19' '20' 'alpha']
  ['21' '22' '23' '24' 'beta']]

 [['1' '2' '3' '4' 'gamma']
  ['5' '6' '7' '8' 'theta']]

 [['9' '10' '11' '12' 'sigma']
  ['13' '14' '15' '16' 'xeta']]]
(3, 2, 5)

In [429]:
Mixed = array([[['alpha','neon',78,67+9j],
                ['beta',88,'element',89-8j]],
               [['gamma','canon','nikon','sony'],
                ['theta',69,96,100-5j]],
               [['sigma','puma',98,61-8j],
                ['xeta','neon','pixar',81]]])
print(Mixed)
print(shape(Mixed)) # 3 Arrays, 2 Rows & 4 Columns

[[['alpha' 'neon' '78' '(67+9j)']
  ['beta' '88' 'element' '(89-8j)']]

 [['gamma' 'canon' 'nikon' 'sony']
  ['theta' '69' '96' '(100-5j)']]

 [['sigma' 'puma' '98' '(61-8j)']
  ['xeta' 'neon' 'pixar' '81']]]
(3, 2, 4)

In [430]:
# using vstack()
Hybrid = vstack([Array3, Mixed])
print(Hybrid)
print(shape(Hybrid))

[[['17' '18' '19' '20']
  ['21' '22' '23' '24']]

 [['1' '2' '3' '4']
  ['5' '6' '7' '8']]

 [['9' '10' '11' '12']
  ['13' '14' '15' '16']]

 [['alpha' 'neon' '78' '(67+9j)']
  ['beta' '88' 'element' '(89-8j)']]

 [['gamma' 'canon' 'nikon' 'sony']
  ['theta' '69' '96' '(100-5j)']]

 [['sigma' 'puma' '98' '(61-8j)']
  ['xeta' 'neon' 'pixar' '81']]]
(6, 2, 4)

In [431]:
# using concatenate(), Array wise concat
Hybrid = concatenate([Array3, Mixed], axis=0)
print(Hybrid)
print(shape(Hybrid))

[[['17' '18' '19' '20']
  ['21' '22' '23' '24']]

 [['1' '2' '3' '4']
  ['5' '6' '7' '8']]

 [['9' '10' '11' '12']
  ['13' '14' '15' '16']]

 [['alpha' 'neon' '78' '(67+9j)']
  ['beta' '88' 'element' '(89-8j)']]

 [['gamma' 'canon' 'nikon' 'sony']
  ['theta' '69' '96' '(100-5j)']]

 [['sigma' 'puma' '98' '(61-8j)']
  ['xeta' 'neon' 'pixar' '81']]]
(6, 2, 4)

In [432]:
# using concatenate(), Row wise concat
Hybrid = concatenate([Array3, Mixed], axis=1)
print(Hybrid)
print(shape(Hybrid))

[[['17' '18' '19' '20']
  ['21' '22' '23' '24']
  ['alpha' 'neon' '78' '(67+9j)']
  ['beta' '88' 'element' '(89-8j)']]

 [['1' '2' '3' '4']
  ['5' '6' '7' '8']
  ['gamma' 'canon' 'nikon' 'sony']
  ['theta' '69' '96' '(100-5j)']]

 [['9' '10' '11' '12']
  ['13' '14' '15' '16']
  ['sigma' 'puma' '98' '(61-8j)']
  ['xeta' 'neon' 'pixar' '81']]]
(3, 4, 4)

In [433]:
# using concatenate(), Column wise concat
Hybrid = concatenate([Array3, Mixed], axis=2)
print(Hybrid)
print(shape(Hybrid))

[[['17' '18' '19' '20' 'alpha' 'neon' '78' '(67+9j)']
  ['21' '22' '23' '24' 'beta' '88' 'element' '(89-8j)']]

 [['1' '2' '3' '4' 'gamma' 'canon' 'nikon' 'sony']
  ['5' '6' '7' '8' 'theta' '69' '96' '(100-5j)']]

 [['9' '10' '11' '12' 'sigma' 'puma' '98' '(61-8j)']
  ['13' '14' '15' '16' 'xeta' 'neon' 'pixar' '81']]]
(3, 2, 8)

In [434]:
# using append(), Array wise append
Hybrid = append(Array3, Mixed, axis=0)
print(Hybrid)
print(shape(Hybrid))

[[['17' '18' '19' '20']
  ['21' '22' '23' '24']]

 [['1' '2' '3' '4']
  ['5' '6' '7' '8']]

 [['9' '10' '11' '12']
  ['13' '14' '15' '16']]

 [['alpha' 'neon' '78' '(67+9j)']
  ['beta' '88' 'element' '(89-8j)']]

 [['gamma' 'canon' 'nikon' 'sony']
  ['theta' '69' '96' '(100-5j)']]

 [['sigma' 'puma' '98' '(61-8j)']
  ['xeta' 'neon' 'pixar' '81']]]
(6, 2, 4)

In [435]:
# using append(), Row wise append
Hybrid = append(Array3, Mixed, axis=1)
print(Hybrid)
print(shape(Hybrid))

[[['17' '18' '19' '20']
  ['21' '22' '23' '24']
  ['alpha' 'neon' '78' '(67+9j)']
  ['beta' '88' 'element' '(89-8j)']]

 [['1' '2' '3' '4']
  ['5' '6' '7' '8']
  ['gamma' 'canon' 'nikon' 'sony']
  ['theta' '69' '96' '(100-5j)']]

 [['9' '10' '11' '12']
  ['13' '14' '15' '16']
  ['sigma' 'puma' '98' '(61-8j)']
  ['xeta' 'neon' 'pixar' '81']]]
(3, 4, 4)

In [436]:
# using append(), Column wise append
Hybrid = append(Array3, Mixed, axis=2)
print(Hybrid)
print(shape(Hybrid))

[[['17' '18' '19' '20' 'alpha' 'neon' '78' '(67+9j)']
  ['21' '22' '23' '24' 'beta' '88' 'element' '(89-8j)']]

 [['1' '2' '3' '4' 'gamma' 'canon' 'nikon' 'sony']
  ['5' '6' '7' '8' 'theta' '69' '96' '(100-5j)']]

 [['9' '10' '11' '12' 'sigma' 'puma' '98' '(61-8j)']
  ['13' '14' '15' '16' 'xeta' 'neon' 'pixar' '81']]]
(3, 2, 8)

In [437]:
from numpy import vstack
help(vstack) #Row wise concatenation, axis=0

Help on function vstack in module numpy:

vstack(tup)
    Stack arrays in sequence vertically (row wise).

    This is equivalent to concatenation along the first axis after 1-D arrays
    of shape `(N,)` have been reshaped to `(1,N)`. Rebuilds arrays divided by
    `vsplit`.

    This function makes most sense for arrays with up to 3 dimensions. For
    instance, for pixel-data with a height (first axis), width (second axis),
    and r/g/b channels (third axis). The functions `concatenate`, `stack` and
    `block` provide more general stacking and concatenation operations.

    Parameters
    ----------
    tup : sequence of ndarrays
        The arrays must have the same shape along all but the first axis.
        1-D arrays must have the same length.

    Returns
    -------
    stacked : ndarray
        The array formed by stacking the given arrays, will be at least 2-D.

    See Also
    --------
    concatenate : Join a sequence of arrays along an existing axis.
    stack : Join a sequence of arrays along a new axis.
    block : Assemble an nd-array from nested lists of blocks.
    hstack : Stack arrays in sequence horizontally (column wise).
    dstack : Stack arrays in sequence depth wise (along third axis).
    column_stack : Stack 1-D arrays as columns into a 2-D array.
    vsplit : Split an array into multiple sub-arrays vertically (row-wise).

    Examples
    --------
    >>> a = np.array([1, 2, 3])
    >>> b = np.array([4, 5, 6])
    >>> np.vstack((a,b))
    array([[1, 2, 3],
           [4, 5, 6]])

    >>> a = np.array([[1], [2], [3]])
    >>> b = np.array([[4], [5], [6]])
    >>> np.vstack((a,b))
    array([[1],
           [2],
           [3],
           [4],
           [5],
           [6]])

In [438]:
#When we apply vstack() on 1D Array, it joins 1D Arrays Row wise(axis=0) and Creates a 2D array
from numpy import vstack
ArrayX=array(["KESHAV",45+9j,True,39.69,39])
ArrayY=array(["ROOBAL",39+9j,False,30.69,32])
Vstack=vstack([ArrayX,ArrayY])
print(Vstack) #2 1D arrays have been concatenated row wise(axis=0) into a 2D Array
print(shape(Vstack)) # 2 Rows & 5 Columns

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['ROOBAL' '(39+9j)' 'False' '30.69' '32']]
(2, 5)

In [439]:
#Creating 2D array from 1 list
Array2DX=array([["KESHAV",45+9j,True,39.69,39]]) #Convert the list into array
print(Array2DX)
print(shape(Array2DX)) # 1 Row & 5 Columns

[['KESHAV' '(45+9j)' 'True' '39.69' '39']]
(1, 5)

In [440]:
#For 2D rowAxis=0, colAxis=1
#Creating 2D array from 2 lists
#No of elements/length of each list should be same
Array2DY=array([["RAMAN",47+9j,True,37.69,37],[10.10,'Prashant',10+10j,False,10]]) #Transforming nested list of 2 lists into Array
print(Array2DY)
print(shape(Array2DY)) # 2 Rows & 5 Columns

[['RAMAN' '(47+9j)' 'True' '37.69' '37']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]
(2, 5)

In [441]:
Vstack1=vstack([Array2DX,Array2DY]) #Both the 2D Arrays have been concatenated Row wise(axis=0) by using vstack()
print(Vstack1)
print(shape(Vstack1)) # 3 Rows & 5 Columns

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['RAMAN' '(47+9j)' 'True' '37.69' '37']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]
(3, 5)

In [442]:
from numpy import hstack
help(hstack) #Col wise concatenation, axis=1

Help on function hstack in module numpy:

hstack(tup)
    Stack arrays in sequence horizontally (column wise).

    This is equivalent to concatenation along the second axis, except for 1-D
    arrays where it concatenates along the first axis. Rebuilds arrays divided
    by `hsplit`.

    This function makes most sense for arrays with up to 3 dimensions. For
    instance, for pixel-data with a height (first axis), width (second axis),
    and r/g/b channels (third axis). The functions `concatenate`, `stack` and
    `block` provide more general stacking and concatenation operations.

    Parameters
    ----------
    tup : sequence of ndarrays
        The arrays must have the same shape along all but the second axis,
        except 1-D arrays which can be any length.

    Returns
    -------
    stacked : ndarray
        The array formed by stacking the given arrays.

    See Also
    --------
    concatenate : Join a sequence of arrays along an existing axis.
    stack : Join a sequence of arrays along a new axis.
    block : Assemble an nd-array from nested lists of blocks.
    vstack : Stack arrays in sequence vertically (row wise).
    dstack : Stack arrays in sequence depth wise (along third axis).
    column_stack : Stack 1-D arrays as columns into a 2-D array.
    hsplit : Split an array into multiple sub-arrays horizontally (column-wise).

    Examples
    --------
    >>> a = np.array((1,2,3))
    >>> b = np.array((4,5,6))
    >>> np.hstack((a,b))
    array([1, 2, 3, 4, 5, 6])
    >>> a = np.array([[1],[2],[3]])
    >>> b = np.array([[4],[5],[6]])
    >>> np.hstack((a,b))
    array([[1, 4],
           [2, 5],
           [3, 6]])

In [443]:
#When we apply hstack() on 1D Array, it joins 1D Arrays col wise
from numpy import hstack
ArrayX=array(["KESHAV",45+9j,True,39.69,39])
ArrayY=array(["ROOBAL",39+9j,False,30.69,32])
Hstack1D=hstack([ArrayX,ArrayY])
print(Hstack1D) #Both the 1D arrays have been concatenated col wise(axis=1)
print(shape(Hstack1D)) # 10 Columns

['KESHAV' '(45+9j)' 'True' '39.69' '39' 'ROOBAL' '(39+9j)' 'False' '30.69'
 '32']
(10,)

In [444]:
#When we apply hstack() on 1D Array, it joins 1D Arrays col wise(axis=1)
ArrayX=array(["KESHAV",45+9j,True,39.69,39])
ArrayY=array(["ROOBAL",39+9j,False,30.69,32])
Hstack1TD=hstack([ArrayX.T,ArrayY.T])        #hstack of ArrayX.T,ArrayY.T
                                             #Transpose of 1D Arrays doesn't make any sense
print(Hstack1TD) #Both the 1D arrays have been concatenated col wise(axis=1)
print(shape(Hstack1TD))

['KESHAV' '(45+9j)' 'True' '39.69' '39' 'ROOBAL' '(39+9j)' 'False' '30.69'
 '32']
(10,)

In [445]:
print(ArrayX.T,ArrayY.T)

['KESHAV' '(45+9j)' 'True' '39.69' '39'] ['ROOBAL' '(39+9j)' 'False' '30.69' '32']

In [446]:
#For 2D rowAxis=0, colAxis=1
#Creating 2D array from 2 lists
#No of elements/length of each list should be same
Array2DX=array([["KESHAV",45+9j,True,39.69,39],[10.10,'Prashant',10+10j,False,10]]) #Transforming nested list of 2 lists into Array
print(Array2DX)
print(shape(Array2DX)) # 2 Rows & 5 Columns

[['KESHAV' '(45+9j)' 'True' '39.69' '39']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]
(2, 5)

In [447]:
#Creating 2D array from 1 list
Array2DY=array([["KESHAV",45+9j,True,39.69,39]]) #Convert the list into array
print(Array2DY)
print(ndim(Array2DY))
print(shape(Array2DY))

[['KESHAV' '(45+9j)' 'True' '39.69' '39']]
2
(1, 5)

In [448]:
#For 2D rowAxis=0, colAxis=1
#Creating 2D array from 2 lists
#No of elements/length of each list should be same
New2D=array([["RAMAN",47+9j,True,37.69,37],[10.10,'Prashant',10+10j,False,10]]) #Transforming nested list of 2 lists into Array
print(New2D)
print(shape(New2D))

[['RAMAN' '(47+9j)' 'True' '37.69' '37']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]
(2, 5)

In [449]:
HstackT2D=hstack([Array2DX.T,New2D.T,Array2DY.T]) #All transpose of Arrays have been concatenated Col wise(axis=1) by using hstack()
print(HstackT2D)
print(shape(HstackT2D))

[['KESHAV' '10.1' 'RAMAN' '10.1' 'KESHAV']
 ['(45+9j)' 'Prashant' '(47+9j)' 'Prashant' '(45+9j)']
 ['True' '(10+10j)' 'True' '(10+10j)' 'True']
 ['39.69' 'False' '37.69' 'False' '39.69']
 ['39' '10' '37' '10' '39']]
(5, 5)

## Splitting of an Array into multiple seperate Arrays
* split() function
1. Row wise split axis=0
2. Col wise split axis=1
3. split=no of split
4. vsplit() is axis=0, Row wise split
5. hsplit() is axis=1, Col wise split

In [450]:
from numpy import split
help(split)

Help on function split in module numpy:

split(ary, indices_or_sections, axis=0)
    Split an array into multiple sub-arrays as views into `ary`.

    Parameters
    ----------
    ary : ndarray
        Array to be divided into sub-arrays.
    indices_or_sections : int or 1-D array
        If `indices_or_sections` is an integer, N, the array will be divided
        into N equal arrays along `axis`.  If such a split is not possible,
        an error is raised.

        If `indices_or_sections` is a 1-D array of sorted integers, the entries
        indicate where along `axis` the array is split.  For example,
        ``[2, 3]`` would, for ``axis=0``, result in

          - ary[:2]
          - ary[2:3]
          - ary[3:]

        If an index exceeds the dimension of the array along `axis`,
        an empty sub-array is returned correspondingly.
    axis : int, optional
        The axis along which to split, default is 0.

    Returns
    -------
    sub-arrays : list of ndarrays
        A list of sub-arrays as views into `ary`.

    Raises
    ------
    ValueError
        If `indices_or_sections` is given as an integer, but
        a split does not result in equal division.

    See Also
    --------
    array_split : Split an array into multiple sub-arrays of equal or
                  near-equal size.  Does not raise an exception if
                  an equal division cannot be made.
    hsplit : Split array into multiple sub-arrays horizontally (column-wise).
    vsplit : Split array into multiple sub-arrays vertically (row wise).
    dsplit : Split array into multiple sub-arrays along the 3rd axis (depth).
    concatenate : Join a sequence of arrays along an existing axis.
    stack : Join a sequence of arrays along a new axis.
    hstack : Stack arrays in sequence horizontally (column wise).
    vstack : Stack arrays in sequence vertically (row wise).
    dstack : Stack arrays in sequence depth wise (along third dimension).

    Examples
    --------
    >>> x = np.arange(9.0)
    >>> np.split(x, 3)
    [array([0.,  1.,  2.]), array([3.,  4.,  5.]), array([6.,  7.,  8.])]

    >>> x = np.arange(8.0)
    >>> np.split(x, [3, 5, 6, 10])
    [array([0.,  1.,  2.]),
     array([3.,  4.]),
     array([5.]),
     array([6.,  7.]),
     array([], dtype=float64)]

In [451]:
# hsplit : Split array into multiple sub-arrays horizontally (column-wise).
# vsplit : Split array into multiple sub-arrays vertically (row wise).
# dsplit : Split array into multiple sub-arrays along the 3rd axis (depth).

#For 2D rowAxis=0, colAxis=1
#Creating 2D array from 2 lists
#No of elements/length of each list should be same
New2D=array([["RAMAN",47+9j,True,37.69,37],[10.10,'Prashant',10+10j,False,10]]) #Transforming nested list of 2 lists into Array
print(New2D)
print(shape(New2D))

[['RAMAN' '(47+9j)' 'True' '37.69' '37']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10']]
(2, 5)

In [452]:
New1D=array([[67,80]])

In [453]:
Array2D=concatenate([New2D,New1D.T],axis=1) #Colwise concatination, axis=1
print(Array2D)                              #New1D will come at last Column, position after comma (New2D,New1D.T)

[['RAMAN' '(47+9j)' 'True' '37.69' '37' '67']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10' '80']]

In [454]:
Array2D=hstack([New2D,New1D.T]) #Colwise concatination(axis=1), #hstack of New2D,New1D.T
print(Array2D)                  #New1D will come at last Column, position after comma (New2D,New1D.T)

[['RAMAN' '(47+9j)' 'True' '37.69' '37' '67']
 ['10.1' 'Prashant' '(10+10j)' 'False' '10' '80']]

In [455]:
New3D=Array2D.reshape(3,2,2) #Arrays 3, Rows 2, cols 2 by using reshape()
New3D

array([[['RAMAN', '(47+9j)'],
        ['True', '37.69']],

       [['37', '67'],
        ['10.1', 'Prashant']],

       [['(10+10j)', 'False'],
        ['10', '80']]], dtype='<U64')

In [456]:
from numpy import resize
New3D=resize(Array2D,(3,2,2)) #Arrays 3, Rows 2, cols 2 by using resize(array,())
New3D

array([[['RAMAN', '(47+9j)'],
        ['True', '37.69']],

       [['37', '67'],
        ['10.1', 'Prashant']],

       [['(10+10j)', 'False'],
        ['10', '80']]], dtype='<U64')

In [457]:
shape(New3D) #Arrays 3, Rows 2, cols 2
             #3*2*2=12 elements

(3, 2, 2)

In [458]:
from numpy import split
split(New3D,3) #axis=0, Row wise split, section=3 Sub Arrays, Row wise filling
               #3*2*2=12 elements, Each Sub Array will get 4 elements

[array([[['RAMAN', '(47+9j)'],
         ['True', '37.69']]], dtype='<U64'),
 array([[['37', '67'],
         ['10.1', 'Prashant']]], dtype='<U64'),
 array([[['(10+10j)', 'False'],
         ['10', '80']]], dtype='<U64')]

In [459]:
split(New3D,3,axis=0) #Don't need to mention axis=0 seperately
                      #axis=0, Row wise split, section=3 Sub Arrays, Row wise filling
                      #3*2*2=12 elements, Each Sub Array will get 4 elements

[array([[['RAMAN', '(47+9j)'],
         ['True', '37.69']]], dtype='<U64'),
 array([[['37', '67'],
         ['10.1', 'Prashant']]], dtype='<U64'),
 array([[['(10+10j)', 'False'],
         ['10', '80']]], dtype='<U64')]

In [460]:
from numpy import vsplit
vsplit(New3D,3) #Vertical split, axis=0, Row wise split, section=3 Sub Arrays, Row wise filling
                #3*2*2=12 elements, Each Sub Array will get 4 elements

[array([[['RAMAN', '(47+9j)'],
         ['True', '37.69']]], dtype='<U64'),
 array([[['37', '67'],
         ['10.1', 'Prashant']]], dtype='<U64'),
 array([[['(10+10j)', 'False'],
         ['10', '80']]], dtype='<U64')]

In [461]:
split(New3D,2,axis=1) #Need to mention axis=1 seperately
                      #axis=1, Array wise split, section=2 Sub Arrays, Row wise filling
                      #3*2*2=12 elements, Each Sub Array will get 6 elements

[array([[['RAMAN', '(47+9j)']],

        [['37', '67']],

        [['(10+10j)', 'False']]], dtype='<U64'),
 array([[['True', '37.69']],

        [['10.1', 'Prashant']],

        [['10', '80']]], dtype='<U64')]

In [462]:
from numpy import hsplit
hsplit(New3D,2) #Horizontal split, axis=1, Array wise split, section=2 Sub Arrays, Row wise filling
                #3*2*2=12 elements, Each Sub Array will get 6 elements

[array([[['RAMAN', '(47+9j)']],

        [['37', '67']],

        [['(10+10j)', 'False']]], dtype='<U64'),
 array([[['True', '37.69']],

        [['10.1', 'Prashant']],

        [['10', '80']]], dtype='<U64')]

In [463]:
New3D

array([[['RAMAN', '(47+9j)'],
        ['True', '37.69']],

       [['37', '67'],
        ['10.1', 'Prashant']],

       [['(10+10j)', 'False'],
        ['10', '80']]], dtype='<U64')

In [464]:
split(New3D,2,axis=2) #Need to mention axis=2 seperately
                      #axis=2, Col wise split, section=2 Sub Arrays, Col wise filling
                      #3*2*2=12 elements, Each Sub Array will get 6 elements

[array([[['RAMAN'],
         ['True']],

        [['37'],
         ['10.1']],

        [['(10+10j)'],
         ['10']]], dtype='<U64'),
 array([[['(47+9j)'],
         ['37.69']],

        [['67'],
         ['Prashant']],

        [['False'],
         ['80']]], dtype='<U64')]

In [465]:
print(shape(split(New3D,2,axis=2))) # 2 array, each having 3 sub arrays, each sub array having 2 Rows & 1 Column

(2, 3, 2, 1)

In [466]:
from numpy import dsplit
# dsplit is 
dsplit(New3D,2) #axis=2, Col wise split, section=2 Sub Arrays, Col wise filling
                #3*2*2=12 elements, Each Sub Array will get 6 elements

[array([[['RAMAN'],
         ['True']],

        [['37'],
         ['10.1']],

        [['(10+10j)'],
         ['10']]], dtype='<U64'),
 array([[['(47+9j)'],
         ['37.69']],

        [['67'],
         ['Prashant']],

        [['False'],
         ['80']]], dtype='<U64')]

In [467]:
print(shape(dsplit(New3D,2))) # 2 array, each having 3 sub arrays, each sub array having 2 Rows & 1 Column

(2, 3, 2, 1)

In [468]:
help(hsplit),help(vsplit)

Help on function hsplit in module numpy:

hsplit(ary, indices_or_sections)
    Split an array into multiple sub-arrays horizontally (column-wise).

    Please refer to the `split` documentation.  `hsplit` is equivalent
    to `split` with ``axis=1``, the array is always split along the second
    axis regardless of the array dimension.

    See Also
    --------
    split : Split an array into multiple sub-arrays of equal size.

    Examples
    --------
    >>> x = np.arange(16.0).reshape(4, 4)
    >>> x
    array([[ 0.,   1.,   2.,   3.],
           [ 4.,   5.,   6.,   7.],
           [ 8.,   9.,  10.,  11.],
           [12.,  13.,  14.,  15.]])
    >>> np.hsplit(x, 2)
    [array([[  0.,   1.],
           [  4.,   5.],
           [  8.,   9.],
           [12.,  13.]]),
     array([[  2.,   3.],
           [  6.,   7.],
           [10.,  11.],
           [14.,  15.]])]
    >>> np.hsplit(x, np.array([3, 6]))
    [array([[ 0.,   1.,   2.],
           [ 4.,   5.,   6.],
           [ 8.,   9.,  10.],
           [12.,  13.,  14.]]),
     array([[ 3.],
           [ 7.],
           [11.],
           [15.]]),
     array([], shape=(4, 0), dtype=float64)]

    With a higher dimensional array the split is still along the second axis.

    >>> x = np.arange(8.0).reshape(2, 2, 2)
    >>> x
    array([[[0.,  1.],
            [2.,  3.]],
           [[4.,  5.],
            [6.,  7.]]])
    >>> np.hsplit(x, 2)
    [array([[[0.,  1.]],
           [[4.,  5.]]]),
     array([[[2.,  3.]],
           [[6.,  7.]]])]

Help on function vsplit in module numpy:

vsplit(ary, indices_or_sections)
    Split an array into multiple sub-arrays vertically (row-wise).

    Please refer to the ``split`` documentation.  ``vsplit`` is equivalent
    to ``split`` with `axis=0` (default), the array is always split along the
    first axis regardless of the array dimension.

    See Also
    --------
    split : Split an array into multiple sub-arrays of equal size.

    Examples
    --------
    >>> x = np.arange(16.0).reshape(4, 4)
    >>> x
    array([[ 0.,   1.,   2.,   3.],
           [ 4.,   5.,   6.,   7.],
           [ 8.,   9.,  10.,  11.],
           [12.,  13.,  14.,  15.]])
    >>> np.vsplit(x, 2)
    [array([[0., 1., 2., 3.],
           [4., 5., 6., 7.]]), array([[ 8.,  9., 10., 11.],
           [12., 13., 14., 15.]])]
    >>> np.vsplit(x, np.array([3, 6]))
    [array([[ 0.,  1.,  2.,  3.],
           [ 4.,  5.,  6.,  7.],
           [ 8.,  9., 10., 11.]]), array([[12., 13., 14., 15.]]), array([], shape=(0, 4), dtype=float64)]

    With a higher dimensional array the split is still along the first axis.

    >>> x = np.arange(8.0).reshape(2, 2, 2)
    >>> x
    array([[[0.,  1.],
            [2.,  3.]],
           [[4.,  5.],
            [6.,  7.]]])
    >>> np.vsplit(x, 2)
    [array([[[0., 1.],
            [2., 3.]]]), array([[[4., 5.],
            [6., 7.]]])]

(None, None)

## Insert or Delete single or multiple elements from given multi dimentional Array
* insert(Array, index, 'new element')
* Append=append(Array2D,(12,21))

In [469]:
from numpy import insert
help(insert)

Help on function insert in module numpy:

insert(arr, obj, values, axis=None)
    Insert values along the given axis before the given indices.

    Parameters
    ----------
    arr : array_like
        Input array.
    obj : int, slice or sequence of ints
        Object that defines the index or indices before which `values` is
        inserted.

        .. versionadded:: 1.8.0

        Support for multiple insertions when `obj` is a single scalar or a
        sequence with one element (similar to calling insert multiple
        times).
    values : array_like
        Values to insert into `arr`. If the type of `values` is different
        from that of `arr`, `values` is converted to the type of `arr`.
        `values` should be shaped so that ``arr[...,obj,...] = values``
        is legal.
    axis : int, optional
        Axis along which to insert `values`.  If `axis` is None then `arr`
        is flattened first.

    Returns
    -------
    out : ndarray
        A copy of `arr` with `values` inserted.  Note that `insert`
        does not occur in-place: a new array is returned. If
        `axis` is None, `out` is a flattened array.

    See Also
    --------
    append : Append elements at the end of an array.
    concatenate : Join a sequence of arrays along an existing axis.
    delete : Delete elements from an array.

    Notes
    -----
    Note that for higher dimensional inserts `obj=0` behaves very different
    from `obj=[0]` just like `arr[:,0,:] = values` is different from
    `arr[:,[0],:] = values`.

    Examples
    --------
    >>> a = np.array([[1, 1], [2, 2], [3, 3]])
    >>> a
    array([[1, 1],
           [2, 2],
           [3, 3]])
    >>> np.insert(a, 1, 5)
    array([1, 5, 1, ..., 2, 3, 3])
    >>> np.insert(a, 1, 5, axis=1)
    array([[1, 5, 1],
           [2, 5, 2],
           [3, 5, 3]])

    Difference between sequence and scalars:

    >>> np.insert(a, [1], [[1],[2],[3]], axis=1)
    array([[1, 1, 1],
           [2, 2, 2],
           [3, 3, 3]])
    >>> np.array_equal(np.insert(a, 1, [1, 2, 3], axis=1),
    ...                np.insert(a, [1], [[1],[2],[3]], axis=1))
    True

    >>> b = a.flatten()
    >>> b
    array([1, 1, 2, 2, 3, 3])
    >>> np.insert(b, [2, 2], [5, 6])
    array([1, 1, 5, ..., 2, 3, 3])

    >>> np.insert(b, slice(2, 4), [5, 6])
    array([1, 1, 5, ..., 2, 3, 3])

    >>> np.insert(b, [2, 2], [7.13, False]) # type casting
    array([1, 1, 7, ..., 2, 3, 3])

    >>> x = np.arange(8).reshape(2, 4)
    >>> idx = (1, 3)
    >>> np.insert(x, idx, 999, axis=1)
    array([[  0, 999,   1,   2, 999,   3],
           [  4, 999,   5,   6, 999,   7]])

In [470]:
#Syntax is insert(arr, obj, values, axis=None)
#1. arr is array name
#2. obj is desired index place
#3. values is mention the datas
#4. axis=None is mentioning 0,1,2

In [471]:
#Creating 1D Array
Array1D=array(["KESHAV",45+9j,True,39.69,39]) # convert 1D list into array

In [472]:
from numpy import insert
Insert=insert(Array1D, 2, "ANWESH", axis=0) #"ANWESH" has been inserted at the place of index 2(True)
print(Insert)                       # element True got shifted to 3rd index position/location
                                    # element True got the new 3rd index location/position
                                    #As there is mixed type of data elements in the Array1D So "ANWESH" remained "string"

['KESHAV' '(45+9j)' 'ANWESH' 'True' '39.69' '39']

In [473]:
InSert=insert(Array1D, 2, "ANWESH") # Don't need to mention 0 for 1D Array
print(InSert)                     #"ANWESH" has been inserted at the place of index 2(True)
                                  # element True got shifted to 3rd index position/location
                                  # element True got the new 3rd index location/position
                                  #As there is mixed type of data elements in the Array1D So "ANWESH" remained "string"

['KESHAV' '(45+9j)' 'ANWESH' 'True' '39.69' '39']

In [474]:
Innsert=insert(Insert, 2, 33-7j, axis=0) # 33-7j has been inserted at the place of index 2("ANWESH")
print(Innsert)                   # element "ANWESH" got shifted to 3rd index position/location
                                 # element "ANWESH" got the new 3rd index location/position
                                 #As there is mixed type of data elements in the Array1D So "ANWESH" remained "string"

['KESHAV' '(45+9j)' '(33-7j)' 'ANWESH' 'True' '39.69' '39']

In [475]:
ArrayInt=array([1,2,3,4,5]) #1D Array made of ints
ArrayInt

array([1, 2, 3, 4, 5])

insert(ArrayInt,3,"ANWESH") #Error because all other elements are integers so string "ANWESH" not going

In [476]:
Intinsert=insert(ArrayInt,3,44.44) # 44.44 has been inserted at the place of index 3(4)
                                   # element 4 got shifted to 4th index position/location
                                   # element 4 got the new 4th index location/position
                                   # Along with all other integer elements, 44.44 will be taken as int 44
print(Intinsert)                   # data will be placed at 3rd index location in the Array

[ 1  2  3 44  4  5]

In [477]:
Complex=array([1,2,3,4,5], dtype=complex) #1D Array of Complex Format
print(Complex)

[1.+0.j 2.+0.j 3.+0.j 4.+0.j 5.+0.j]

In [478]:
CompInsert=insert(Complex,3,44) # 44 has been inserted at the place of index 3(4.+0.j)
                                # element 4.+0.j got shifted to 4th index position/location
                                # element 4.+0.j got the new 4th index location/position
                                # 44 will be taken as complex along with all other complex elements
print(CompInsert)               # data will be placed at 3rd index location in the Array

[ 1.+0.j  2.+0.j  3.+0.j 44.+0.j  4.+0.j  5.+0.j]

In [479]:
#Insert a value in multiple indexes at a time
Array1D=array((1,2,3,4,5))
Multinsert=insert(Array1D,[0,4],10) #0th index & 4th index has been taken by 10
print(Multinsert)

[10  1  2  3  4 10  5]

In [480]:
#Insert multiple values in multiple indexes at a time
Array1D=array((1,2,3,4,5))
Multi=insert(Array1D,(0,5),(10,15)) #0th index has taken by 10 & after 5th index has taken by 15 value   
print(Multi)

[10  1  2  3  4  5 15]

In [481]:
Array2D=array([[33,37],[76,67]])
print(Array2D)
print(shape(Array2D)) # 2 Rows & 2 Columns

[[33 37]
 [76 67]]
(2, 2)

In [482]:
Rowinsert=insert(Array2D,1,(23,32),axis=0) #Here axis=0, 1st index Row wise insert values 23 & 32
print(Rowinsert)                      #Inserting Tuple(23,32) in 1st row index

[[33 37]
 [23 32]
 [76 67]]

In [483]:
Rowinsert=insert(Array2D,1,(99,101),axis=1) #Here axis=1, 1st index Column wise insert values 99 & 101
print(Rowinsert)                      #Inserting Tuple(99,101) in 1st row index

[[ 33  99  37]
 [ 76 101  67]]

In [484]:
Rowinsert=insert(Array2D,1,[32,23],axis=0) #Here axis=0, 1st index Row wise insert values 32 & 23
print(Rowinsert)                      #Inserting Tuple(23,32) in 1st row index

[[33 37]
 [32 23]
 [76 67]]

In [485]:
Colinsert=insert(Rowinsert,2,(38,50,90),axis=1) #Here axis=1, 2nd index Col wise insert values 38,50 & 90
print(Colinsert)                           #Inserting Tuple(38,50,90) in 2nd col index

[[33 37 38]
 [32 23 50]
 [76 67 90]]

In [486]:
Colinsert=insert(Rowinsert,2,[83,52,92],axis=1) #Here axis=1, 2nd index Col wise insert values 83,52 & 92
print(Colinsert)                           #Inserting Tuple(38,50,90) in 2nd col index

[[33 37 83]
 [32 23 52]
 [76 67 92]]

In [487]:
Colinsert=insert(Array2D,2,(38,50),axis=1) #Here axis=1, 2nd index Col wise insert values 38 & 50
print(Colinsert)                      #Inserting Tuple(38,50) in 2nd col index

[[33 37 38]
 [76 67 50]]

In [488]:
from numpy import append
help(append)

Help on function append in module numpy:

append(arr, values, axis=None)
    Append values to the end of an array.

    Parameters
    ----------
    arr : array_like
        Values are appended to a copy of this array.
    values : array_like
        These values are appended to a copy of `arr`.  It must be of the
        correct shape (the same shape as `arr`, excluding `axis`).  If
        `axis` is not specified, `values` can be any shape and will be
        flattened before use.
    axis : int, optional
        The axis along which `values` are appended.  If `axis` is not
        given, both `arr` and `values` are flattened before use.

    Returns
    -------
    append : ndarray
        A copy of `arr` with `values` appended to `axis`.  Note that
        `append` does not occur in-place: a new array is allocated and
        filled.  If `axis` is None, `out` is a flattened array.

    See Also
    --------
    insert : Insert elements into an array.
    delete : Delete elements from an array.

    Examples
    --------
    >>> np.append([1, 2, 3], [[4, 5, 6], [7, 8, 9]])
    array([1, 2, 3, ..., 7, 8, 9])

    When `axis` is specified, `values` must have the correct shape.

    >>> np.append([[1, 2, 3], [4, 5, 6]], [[7, 8, 9]], axis=0)
    array([[1, 2, 3],
           [4, 5, 6],
           [7, 8, 9]])
    >>> np.append([[1, 2, 3], [4, 5, 6]], [7, 8, 9], axis=0)
    Traceback (most recent call last):
        ...
    ValueError: all the input arrays must have same number of dimensions, but
    the array at index 0 has 2 dimension(s) and the array at index 1 has 1
    dimension(s)

In [489]:
# append() function always add elements at the end of the 1D array
# If 2D Array and axis=0 then adds one extra array row at the last
# If 2D Array and axis=1 then adds one extra array col at the last
# If 3D Array and axis=0 then adds extra Array,if axis=1 then add extra Row,if axis=2 then adds extra col
# If axis=None then it flattens all Array dimention to 1D and then adds elements

In [490]:
Array2D=array([[33,37],[76,67]])
print(Array2D)
ndim(Array2D)

[[33 37]
 [76 67]]

2

In [491]:
from numpy import append
Append=append(Array2D,(12,21)) #It will flatten the 2D Array and make it 1D
ndim(Append)                   #Array2D got flattened and 12,21 got added to the end
print(Append)

[33 37 76 67 12 21]

In [492]:
Append2D=append(Array2D,[(12,21)],axis=0) #Insert 2D tuple Row wise, insert the tuple at the last row
print(Append2D)

[[33 37]
 [76 67]
 [12 21]]

In [493]:
Append2D=append(Array2D,[[12,21]],axis=0) #Insert 2D List Array Row wise, insert the tuple at the last row
print(Append2D)

[[33 37]
 [76 67]
 [12 21]]

In [494]:
Array2D=array([[33,37],[76,67]])
print(Array2D)
ndim(Array2D)

[[33 37]
 [76 67]]

2

In [495]:
Array2D=array(((33,37),(76,67)))
print(Array2D)
ndim(Array2D)

[[33 37]
 [76 67]]

2

In [496]:
Append2D=append(Array2D,[[99],[100]],axis=1) #Insert 2D List col Array col wise
print(Append2D)

[[ 33  37  99]
 [ 76  67 100]]

In [497]:
Append2D=append(Array2D,[[69,109]],axis=0) #Insert 2D List Array Row wise
print(Append2D)

[[ 33  37]
 [ 76  67]
 [ 69 109]]

In [498]:
from numpy import delete
help(delete)

Help on function delete in module numpy:

delete(arr, obj, axis=None)
    Return a new array with sub-arrays along an axis deleted. For a one
    dimensional array, this returns those entries not returned by
    `arr[obj]`.

    Parameters
    ----------
    arr : array_like
        Input array.
    obj : slice, int or array of ints
        Indicate indices of sub-arrays to remove along the specified axis.

        .. versionchanged:: 1.19.0
            Boolean indices are now treated as a mask of elements to remove,
            rather than being cast to the integers 0 and 1.

    axis : int, optional
        The axis along which to delete the subarray defined by `obj`.
        If `axis` is None, `obj` is applied to the flattened array.

    Returns
    -------
    out : ndarray
        A copy of `arr` with the elements specified by `obj` removed. Note
        that `delete` does not occur in-place. If `axis` is None, `out` is
        a flattened array.

    See Also
    --------
    insert : Insert elements into an array.
    append : Append elements at the end of an array.

    Notes
    -----
    Often it is preferable to use a boolean mask. For example:

    >>> arr = np.arange(12) + 1
    >>> mask = np.ones(len(arr), dtype=bool)
    >>> mask[[0,2,4]] = False
    >>> result = arr[mask,...]

    Is equivalent to `np.delete(arr, [0,2,4], axis=0)`, but allows further
    use of `mask`.

    Examples
    --------
    >>> arr = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])
    >>> arr
    array([[ 1,  2,  3,  4],
           [ 5,  6,  7,  8],
           [ 9, 10, 11, 12]])
    >>> np.delete(arr, 1, 0)
    array([[ 1,  2,  3,  4],
           [ 9, 10, 11, 12]])

    >>> np.delete(arr, np.s_[::2], 1)
    array([[ 2,  4],
           [ 6,  8],
           [10, 12]])
    >>> np.delete(arr, [1,3,5], None)
    array([ 1,  3,  5,  7,  8,  9, 10, 11, 12])

In [499]:
# delete() function always delete elements as per mentioned indexes
# If 2D Array and axis=0 then deletes Row wise
# If 2D Array and axis=1 then deletes col wise
# If 3D Array and axis=0 then deletes Array,if axis=1 then deletes Row wise,if axis=2 then deletes col wise
# If axis=None then it flattens all Array dimention to 1D and then deletes the mentioned indexes

In [500]:
Array1D=array((1,2,3,4,5)) #Array of list #Convert the tuple into Array
print(Array1D)

[1 2 3 4 5]

In [501]:
Array1D=array([1,2,3,4,5]) #Array of list #Convert the tuple into Array
print(Array1D)

[1 2 3 4 5]

In [502]:
from numpy import delete
delete(Array1D,3) #Delete 3rd index element

array([1, 2, 3, 5])

In [503]:
delete(Array1D,(2,4)) #Delete 2nd & 4th index element

array([1, 2, 4])

In [504]:
Array2D=array([[33,37],[76,67]])
print(Array2D)
ndim(Array2D)

[[33 37]
 [76 67]]

2

In [505]:
delete(Array2D,1,axis=0) #Delete entire 1st Row index
                         #Row 76,67 got deleted

array([[33, 37]])

In [506]:
delete(Array2D,1,axis=1) #Delete the entire 1st index col
                         #Col 37,67 got deleted

array([[33],
       [76]])

In [507]:
delete(Array2D,1,axis=None) #As axis=None, 1st index element 37 got deleted
                            #Array2D has been flatten to 1D

array([33, 76, 67])

In [508]:
delete(Array2D,3,axis=None) #As axis=None, 3rd index element 67 got deleted
                            #Array2D has been flatten to 1D

array([33, 37, 76])

## Matrix in Numpy (2D Arrays are Called Matrix)

In [509]:
#1. Matrix is nothing but the Rectangular arrangement of data elements.
#2. It is a rectangualar Array of Data containing Rows and cols
#3. In python we can create this kind of Arrangements by using Nested List/Tuple, Numpy Arrays & Matrix
#4. Arithmatic operations With Matrix (Array addition & Matrix addition are Same, Array Multiplication & Matrix Multiplication are different)
#5. Transpose of A Matrix
#6. We can perform Matrix Multiplication between arrays by using dot() function

In [510]:
Array3D=array([[[11,24],[34,89]],[[15,90],[80,100]]])
print(Array3D)
print(type(Array3D))
print(size(Array3D))
print(len(Array3D))
print(Array3D.dtype)
print(shape(Array3D)) # 2 Arrays, 2 Rows & 2 Columns
print(ndim(Array3D))

[[[ 11  24]
  [ 34  89]]

 [[ 15  90]
  [ 80 100]]]
<class 'numpy.ndarray'>
8
2
int32
(2, 2, 2)
3

In [511]:
Array2D=array([[33,29],[78,89]])
print(Array2D)
ndim(Array2D),shape(Array2D)

[[33 29]
 [78 89]]

(2, (2, 2))

In [512]:
New2D=array([[5,10]])
print(New2D)
ndim(New2D),shape(New2D)

[[ 5 10]]

(2, (1, 2))

In [513]:
#Performing Matrix Addition/Array Addition
Array2D+New2D #New2D has been added to all the rows of Array2D

array([[38, 39],
       [83, 99]])

In [514]:
#Performing Matrix Addition/Array Addition
Array3D+Array2D+New2D

array([[[ 49,  63],
        [117, 188]],

       [[ 53, 129],
        [163, 199]]])

In [515]:
#Performing Matrix Multiplication between arrays by using dot() function
#First row will go through all the cols and adds multiplied value for each col
#Second row will go through all the cols and adds multiplied value for each col
#Third row will go through all the cols and adds multiplied value for each col

In [516]:
#Performing Matrix Multiplication between 2 Arrays by using dot() function
from numpy import dot
dot(Array3D,Array2D) #Shape should be exactly same, 3D*2D

array([[[ 2235,  2455],
        [ 8064,  8907]],

       [[ 7515,  8445],
        [10440, 11220]]])

In [517]:
#Performing Matrix Multiplication between 2 Arrays by using dot() function
dot(Array2D,Array3D) #Shape should be exactly same, 2D*3D

array([[[ 1349,  3373],
        [ 2815,  5870]],

       [[ 3884,  9793],
        [ 8290, 15920]]])

In [518]:
#Performing Matrix Multiplication between 2 Arrays by using dot() function
dot(New2D,Array2D) #Shape should be exactly same

array([[ 945, 1035]])

#Performing Matrix Multiplication between 2 Arrays by using dot() function
dot(Array2D,New2D) #Shape should be exactly same

#Performing Matrix Multiplication between 2 Arrays by using dot() function
dot(Array1D,New2D) #Shape should be exactly same

#Performing Matrix Multiplication between 2 Arrays by using dot() function
dot(New2D,Array1D)

In [519]:
ArraY3D=array([[[11,24],[34,89]],[[15,90],[80,100]]])
print(ArraY3D)
print(ndim(ArraY3D))
print(shape(ArraY3D)) # 2 Arrays, 2 Rows & 2 Columns

[[[ 11  24]
  [ 34  89]]

 [[ 15  90]
  [ 80 100]]]
3
(2, 2, 2)

In [520]:
#Performing Matrix Multiplication between 2 Arrays by using dot() function
dot(Array3D,ArraY3D) #Here the shape is same so dot() will get performed

array([[[[  937,  2400],
         [ 2085,  3390]],

        [[ 3400,  8737],
         [ 7630, 11960]]],


       [[[ 3225,  8370],
         [ 7425, 10350]],

        [[ 4280, 10820],
         [ 9200, 17200]]]])

### Matrix Class in Numpy

In [521]:
# How to create Matrix without using predefined functions
#1. Matrix objects are always 2D Array
#2. Matrix can be created using String notation, in Array you can't do the same
#3. We can use * symbol in Matrix multiplication
#4. To perform Matrix multiplication between 2 Arrays we use dot() function

In [522]:
# Creating 2D Matrix from 4 int lists
from numpy import matrix
Matrix1st=matrix([[11,24],[34,89],[15,90],[80,100]])
print(Matrix1st)
ndim(Matrix1st),shape(Matrix1st)

[[ 11  24]
 [ 34  89]
 [ 15  90]
 [ 80 100]]

(2, (4, 2))

In [523]:
# Creating 2D Matrix from 2 int lists
Matrix2nd=matrix([[33,29],[78,89]])
print(Matrix2nd)
ndim(Matrix2nd),shape(Matrix2nd)

[[33 29]
 [78 89]]

(2, (2, 2))

In [524]:
# Creating 2D Matrix from 1 int lists
Matrix3rd=matrix([[5,10]])
print(Matrix3rd)
ndim(Matrix3rd),shape(Matrix3rd)

[[ 5 10]]

(2, (1, 2))

In [525]:
#Performing Matrix Addition
Matrix1st+Matrix3rd #Row of Matrix3rd has been added through all rows of Matrix1st

matrix([[ 16,  34],
        [ 39,  99],
        [ 20, 100],
        [ 85, 110]])

In [526]:
#Performing Matrix Addition
Matrix3rd+Matrix1st #Row of Matrix1st has been added through all rows of Matrix3rd

matrix([[ 16,  34],
        [ 39,  99],
        [ 20, 100],
        [ 85, 110]])

In [527]:
#Performing Matrix Addition
Matrix2nd+Matrix3rd #Row of Matrix3rd has been added through all rows of Matrix2nd

matrix([[38, 39],
        [83, 99]])

In [528]:
#Performing Matrix Addition
Matrix3rd+Matrix2nd #Row of Matrix2nd has been added through all rows of Matrix3rd

matrix([[38, 39],
        [83, 99]])

In [529]:
#Performing Matrix Multiplication
#First row of Matrix1st will go through all the cols of Matrix2nd and adds multiplied values for each col
#Second row of Matrix1st will go through all the cols of Matrix2nd and adds multiplied values for each col
#Third row of Matrix1st will go through all the cols of Matrix2nd and adds multiplied values for each col
#Multiplication will go on like this
Matrix1st*Matrix2nd

matrix([[ 2235,  2455],
        [ 8064,  8907],
        [ 7515,  8445],
        [10440, 11220]])

In [530]:
#Performing Matrix Multiplication
#First row of Matrix1st will go through all the cols of Matrix2nd and adds multiplied values for each col
#Second row of Matrix1st will go through all the cols of Matrix2nd and adds multiplied values for each col
#Third row of Matrix1st will go through all the cols of Matrix2nd and adds multiplied values for each col
#Multiplication will go on like this
dot(Matrix1st,Matrix2nd)

matrix([[ 2235,  2455],
        [ 8064,  8907],
        [ 7515,  8445],
        [10440, 11220]])

#Performing Matrix Multiplication
Matrix2nd*Matrix1st #Shape should be exactly same

dot(Matrix2nd,Matrix1st)

In [531]:
MultiMat=Matrix1st*Matrix2nd

In [532]:
print(MultiMat) #4 Rows, 2 cols

[[ 2235  2455]
 [ 8064  8907]
 [ 7515  8445]
 [10440 11220]]

In [562]:
Transpose=transpose(MultiMat)
print(Transpose) #2 Rows & 4 cols

[[ 2235  8064  7515 10440]
 [ 2455  8907  8445 11220]]

### Inverse of A Matrix & Linear Algebra

In [563]:
# help(linalg)
# using linalg we will do
#1. Invert of Matrix (for square matrix only)
#2. Power of Matrix
#3. Linear equation
#4. Determinants

In [564]:
# Create a 4by4 2D square Matrix by using 4 int lists
SquareMat=matrix([[11,24,56,89],[34,89,99,54],[15,90,76,72],[80,100,63,36]]) #4by4 2D square Matrix
print(SquareMat)
print(ndim(SquareMat))
print(shape(SquareMat))

[[ 11  24  56  89]
 [ 34  89  99  54]
 [ 15  90  76  72]
 [ 80 100  63  36]]
2
(4, 4)

In [565]:
from scipy import linalg
Inverse=linalg.inv(SquareMat) #Inverse of the 4by4 squere matrix
print(Inverse)

[[ 0.00927926 -0.0004937  -0.01855657  0.01491328]
 [-0.01296349 -0.01341465  0.02465484  0.00286092]
 [ 0.0016098   0.03094397 -0.0204266  -0.00954255]
 [ 0.01257194 -0.01579191  0.0084977   0.0033896 ]]

In [566]:
import numpy
Power=numpy.linalg.matrix_power(SquareMat,2) #Matrix way Muliply, Only Works with Square Matrix
print(Power)                           #SquareMat**2

[[ 8897 16340 12855  9511]
 [ 9205 23047 21641 16904]
 [10125 22410 20062 14259]
 [ 8105 20090 21436 18352]]

In [567]:
SquareMat**2

matrix([[ 8897, 16340, 12855,  9511],
        [ 9205, 23047, 21641, 16904],
        [10125, 22410, 20062, 14259],
        [ 8105, 20090, 21436, 18352]])

In [568]:
Dot=dot(SquareMat,SquareMat) #Matrix way Multiply
print(Dot)

[[ 8897 16340 12855  9511]
 [ 9205 23047 21641 16904]
 [10125 22410 20062 14259]
 [ 8105 20090 21436 18352]]

In [569]:
MultiSquare=SquareMat*SquareMat #Direct Multiply * because of Matrix
print(MultiSquare)

[[ 8897 16340 12855  9511]
 [ 9205 23047 21641 16904]
 [10125 22410 20062 14259]
 [ 8105 20090 21436 18352]]

### Linear Algebra

In [570]:
help(linalg.solve)

Help on function solve in module scipy.linalg.basic:

solve(a, b, sym_pos=False, lower=False, overwrite_a=False, overwrite_b=False, debug=None, check_finite=True, assume_a='gen', transposed=False)
    Solves the linear equation set ``a * x = b`` for the unknown ``x``
    for square ``a`` matrix.

    If the data matrix is known to be a particular type then supplying the
    corresponding string to ``assume_a`` key chooses the dedicated solver.
    The available options are

    ===================  ========
     generic matrix       'gen'
     symmetric            'sym'
     hermitian            'her'
     positive definite    'pos'
    ===================  ========

    If omitted, ``'gen'`` is the default structure.

    The datatype of the arrays define which solver is called regardless
    of the values. In other words, even when the complex array entries have
    precisely zero imaginary parts, the complex solver will be called based
    on the data type of the array.

    Parameters
    ----------
    a : (N, N) array_like
        Square input data
    b : (N, NRHS) array_like
        Input data for the right hand side.
    sym_pos : bool, optional
        Assume `a` is symmetric and positive definite. This key is deprecated
        and assume_a = 'pos' keyword is recommended instead. The functionality
        is the same. It will be removed in the future.
    lower : bool, optional
        If True, only the data contained in the lower triangle of `a`. Default
        is to use upper triangle. (ignored for ``'gen'``)
    overwrite_a : bool, optional
        Allow overwriting data in `a` (may enhance performance).
        Default is False.
    overwrite_b : bool, optional
        Allow overwriting data in `b` (may enhance performance).
        Default is False.
    check_finite : bool, optional
        Whether to check that the input matrices contain only finite numbers.
        Disabling may give a performance gain, but may result in problems
        (crashes, non-termination) if the inputs do contain infinities or NaNs.
    assume_a : str, optional
        Valid entries are explained above.
    transposed: bool, optional
        If True, ``a^T x = b`` for real matrices, raises `NotImplementedError`
        for complex matrices (only for True).

    Returns
    -------
    x : (N, NRHS) ndarray
        The solution array.

    Raises
    ------
    ValueError
        If size mismatches detected or input a is not square.
    LinAlgError
        If the matrix is singular.
    LinAlgWarning
        If an ill-conditioned input a is detected.
    NotImplementedError
        If transposed is True and input a is a complex matrix.

    Examples
    --------
    Given `a` and `b`, solve for `x`:

    >>> a = np.array([[3, 2, 0], [1, -1, 0], [0, 5, 1]])
    >>> b = np.array([2, 4, -1])
    >>> from scipy import linalg
    >>> x = linalg.solve(a, b)
    >>> x
    array([ 2., -2.,  9.])
    >>> np.dot(a, x) == b
    array([ True,  True,  True], dtype=bool)

    Notes
    -----
    If the input b matrix is a 1-D array with N elements, when supplied
    together with an NxN input a, it is assumed as a valid column vector
    despite the apparent size mismatch. This is compatible with the
    numpy.dot() behavior and the returned result is still 1-D array.

    The generic, symmetric, Hermitian and positive definite solutions are
    obtained via calling ?GESV, ?SYSV, ?HESV, and ?POSV routines of
    LAPACK respectively.

In [571]:
# linalg.solve(a,b) here a is the coefficients of independent variables and b is the constant values
# This function will solve the linear matrix equation or the system of linear scalar equation
# We will take the equation in matrix form and will find out the unknown variables

In [572]:
#Linear Equations
# 3X+Y=9
# X+2Y=8
Acoeffs=array([[3,1],[1,2]]) #2D
Bconstants=array([9,8]) #1D
linalg.solve(Acoeffs,Bconstants) # X=2 & Y=3

array([2., 3.])

In [573]:
# 6X+2Y-5Z=13
# 3X+3Y-2Z=13
# 7X+5Y-3Z=26
Acoeffs=array([[6,2,-5],[3,3,-2],[7,5,-3]]) #2D
Bconstants=array([13,13,26]) #1D
linalg.solve(Acoeffs,Bconstants) # X=2, Y=3 & Z=1

array([2., 3., 1.])

### Determinant of a Matrix

In [574]:
# All kind of 2D Arrays are called Matrix
# We can create Matrix by using array() & matrix() function

In [575]:
# Create a 4by4 2D square Matrix by using 4 int lists
SquareMat=matrix([[11,24,56,89],[34,89,99,54],[15,90,76,72],[80,100,63,36]]) #4by4 square Matrix

In [576]:
linalg.det(SquareMat)

13753244.999999996

In [577]:
int(linalg.det(SquareMat)) #Make the answer integer

13753244

In [578]:
round(linalg.det(SquareMat)) #Make the answer Round

13753245

## Universal Array Functions
Numpy comes with many universal array functions, which are essentially just mathematical operations you can use to perform the operation across the array. Let's show some common ones:

In [579]:
# Create a 4by4 2D square Matrix by using 4 int lists
SquareMat=matrix([[11,24,56,89],[34,89,99,54],[15,90,76,72],[80,100,63,36]]) #4by4 square Matrix
SquareMat

matrix([[ 11,  24,  56,  89],
        [ 34,  89,  99,  54],
        [ 15,  90,  76,  72],
        [ 80, 100,  63,  36]])

In [580]:
#Taking Square Roots of SquareMat
from numpy.lib.scimath import sqrt
sqrt(SquareMat)

array([[ 3.31662479,  4.89897949,  7.48331477,  9.43398113],
       [ 5.83095189,  9.43398113,  9.94987437,  7.34846923],
       [ 3.87298335,  9.48683298,  8.71779789,  8.48528137],
       [ 8.94427191, 10.        ,  7.93725393,  6.        ]])

In [581]:
#Calcualting exponential (e^) of SquareMat
from numpy import exp
exp(SquareMat)

matrix([[5.98741417e+04, 2.64891221e+10, 2.09165950e+24, 4.48961282e+38],
        [5.83461743e+14, 4.48961282e+38, 9.88903032e+42, 2.83075330e+23],
        [3.26901737e+06, 1.22040329e+39, 1.01480039e+33, 1.85867175e+31],
        [5.54062238e+34, 2.68811714e+43, 2.29378316e+27, 4.31123155e+15]])

In [582]:
# Shows the element in SquareMat which has maximum value
SquareMat.max()

100

In [583]:
#Shows sin degree value of each element
from numpy import sin
sin(SquareMat)

matrix([[-0.99999021, -0.90557836, -0.521551  ,  0.86006941],
        [ 0.52908269,  0.86006941, -0.99920683, -0.55878905],
        [ 0.65028784,  0.89399666,  0.56610764,  0.25382336],
        [-0.99388865, -0.50636564,  0.1673557 , -0.99177885]])

In [584]:
#Shows log value of each element
from numpy.lib.scimath import log
log(SquareMat)

array([[2.39789527, 3.17805383, 4.02535169, 4.48863637],
       [3.52636052, 4.48863637, 4.59511985, 3.98898405],
       [2.7080502 , 4.49980967, 4.33073334, 4.27666612],
       [4.38202663, 4.60517019, 4.14313473, 3.58351894]])

In [585]:
# TASK: Create a numpy array called myarray which consists of 101 evenly linearly spaced points between 0 and 10.
# MAKE SURE TO READ THE FULL INSTRUCTIONS ABOVE CAREFULLY, AS THE EVALUATION SCRIPT IS VERY STRICT.
# Link to Solution: https://gist.github.com/Pierian-Data/ea9c4d2fc6c98ac74af18134cd924867
# import ?
# myarray = ?
myarray=linspace(start=0, stop=10, num=101)
print(myarray)
print(len(myarray))
print(size(myarray))

[ 0.   0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8  0.9  1.   1.1  1.2  1.3
  1.4  1.5  1.6  1.7  1.8  1.9  2.   2.1  2.2  2.3  2.4  2.5  2.6  2.7
  2.8  2.9  3.   3.1  3.2  3.3  3.4  3.5  3.6  3.7  3.8  3.9  4.   4.1
  4.2  4.3  4.4  4.5  4.6  4.7  4.8  4.9  5.   5.1  5.2  5.3  5.4  5.5
  5.6  5.7  5.8  5.9  6.   6.1  6.2  6.3  6.4  6.5  6.6  6.7  6.8  6.9
  7.   7.1  7.2  7.3  7.4  7.5  7.6  7.7  7.8  7.9  8.   8.1  8.2  8.3
  8.4  8.5  8.6  8.7  8.8  8.9  9.   9.1  9.2  9.3  9.4  9.5  9.6  9.7
  9.8  9.9 10. ]
101
101

In [586]:
# TASK: Use numpy to check how many rolls were greater than 2. For example if dice_rolls=[1,2,3] then the answer is 1.
# NOTE: Many different ways to do this! Your final answer should be an integer.
# MAKE SURE TO READ THE FULL INSTRUCTIONS ABOVE CAREFULLY, AS THE EVALUATION SCRIPT IS VERY STRICT.
# Link to Solution: https://gist.github.com/Pierian-Data/ea3121efac5dd3338c280ff10068f9c8


dice_rolls = array([3, 1, 5, 2, 5, 1, 1, 5, 1, 4, 2, 1, 4, 5, 3, 4, 5, 2, 4, 2, 6, 6, 3, 6, 2, 3, 5, 6, 5])

total_rolls_over_two = size(dice_rolls[dice_rolls > 2])

print(total_rolls_over_two)

19

In [587]:
# TASK: Use numpy to check the total remaining in the account after the series of transactions.
# NOTE: Many different ways to do this! 
# MAKE SURE TO READ THE FULL INSTRUCTIONS ABOVE CAREFULLY, AS THE EVALUATION SCRIPT IS VERY STRICT.
# Link to Solution: https://gist.github.com/Pierian-Data/225a449484e12e0535fbbac2231b426b


account_transactions = array([100,-200,300,-400,100,100,-230,450,500,2000])

account_total = sum(account_transactions)

print(account_total)

2720

# NumPy Exercises

Now that we've learned about NumPy let's test your knowledge. We'll start off with a few simple tasks and then you'll be asked some more complicated questions.

<div class="alert alert-danger" style="margin: 10px"><strong>IMPORTANT NOTE!</strong> Make sure you don't run the cells directly above the example output shown, <br>otherwise you will end up writing over the example output!</div>

#### 1. Import NumPy as np

#### 2. Create an array of 10 zeros

In [588]:
# CODE HERE